
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1299px) {
}

@media only screen and (max-width: 1199px) {
	.home-header-banner .h-copy h2{
	    font-size: 35px;
    line-height: 45px;
}	
.home-bottom-team-section .content-div {
	margin-top: 50px;
}
.courses-div {
	padding: 0;
}
}

@media only screen and (max-width:991px) {
.home-bottom-team-section .content-div {
	margin-top: 10px;
}
	.filter-div .search-div{
		margin-bottom: 10px;
	}
	.myCalendar-listView .page-content-block .block-head-div .right-div{
		margin-top: 5px;
	}
	.myCalendar-listView .page-content-block .block-head-div .btn{
		margin-bottom: 10px;
	}
	.myCalendar-listView .tab-menu{
		vertical-align: top;
		margin-bottom: 10px;
	}
	.notifications-section .page-content-block .block-head-div .btn{
		margin-bottom: 10px;
	}
	.course-info-unsubscribed .select-batch .head-t .row{
		display: block;
	}
	.course-info-unsubscribed .select-batch .user-div{
		margin-left: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.course-info-unsubscribed .select-batch  .text-right{
		text-align: left;
		
	}
}

@media only screen and (max-width: 767px) {
	.tbl2-div table{
	width: 700px;
}
	.pagination-bottom-div .per-page{
		text-align: center;
	}
	.pagination-div .number-div{
		margin-top: 10px;
	}
	.pagination-div{
		text-align: center;
	}
	.notifications-list li{
		padding-right: 93px;
	}
	.myCalendar-listView .page-content-block .block-head-div .right-div{
		text-align: left;
	}
	.myCalendar-listView .tab-menu.right{
		margin-left: 0;
		margin-top: 10px;
	}
	.courses-listing .right-video{
		float: none;
		max-width: 300px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.filter-div .table-div{
		margin-bottom: 10px;
	}
	.courses-listing>li{
		padding: 20px 15px;
	}
	.fc-panel .right-content-div .bottom-div .pull-right{
		float: none !important;
		margin-top: 15px;
	}
	.courses-listing .bottom-div .btn{
		margin-bottom: 10px;
	}
	.courses-listing .bottom-div .user-div .btn{
		margin-bottom: 0;
	}
	.home-header-banner .h-copy{
		min-height: 480px;
	}
.home-header-banner .h-copy h2{
	    font-size: 30px;
    line-height: 40px;
}	
	
.home-header-banner .h-copy h2 br{
	display: none;
}
	
	.home-header-banner .h-copy{
		font-size: 20px;
	}
	
	.tsb-panel .heading-div .profile-info .media-body{
		display: block;
	}	
	.batch-mates .dashed-list li .row{
		display: block;
	}
	.evaluation-report .s-list li .row{
		display: block;
	}
	.list-style1 .row>div{
		margin: 10px 0;
	}
	.tab-menu-ul{
		margin-top: 10px;
	}
.page-content-block .block-head-div .right-div table {
	width: 100%;
}
.page-content-block .block-head-div .right-div table td {
	padding: 5px;
}
.teache-profile-section .page-content-block .block-head-div .teacher-name h3 {
	margin-bottom: 10px;
}
.c-padding20 {
	padding: 10px;
}
.teache-profile-panel .bottom-green-box table td {
	display: block
}
.teache-profile-panel .bottom-green-box .btn-td {
	padding-bottom: 10px;
}
.teache-profile-panel .right-panel .block-div .heading h3 {
	margin-bottom: 10px;
}
.teache-profile-panel .right-panel .block-div .dashed-list li .row {
	display: block;
}
.page-content-block .heading-div h3 {
	font-size: 16px;
}
.teacher-chat-list li h3 {
	font-size: 16px;
}
.teacher-chat-list li {
	padding: 10px 15px;
}
.teacher-messaging-block ul {
	padding: 0 15px;
}
.teacher-messaging-block .type-box {
	margin: 0 15px;
	margin-bottom: 20px;
}
.messaging-teacher-section .block-head-div .left-teacher h3 {
	font-size: 20px;
}
.teacher-chat-list {
	height: 250px;
	position: relative;
}
.dropdown.head-right-dropdown .dropdown-menu {
	left: auto;
	right: 0
}
.dropdown.head-right-dropdown {
	width: auto;
	font-size: 12px;
}
.dropdown.head-right-dropdown button img {
	width: 35px;
	height: 35px;
}
.heading-div .equal-div h3 {
	margin-bottom: 10px;
}
.header-banner .swiper-slide {
	padding: 20px 25px;
}
.header-banner h2 {
	font-size: 25px;
}
.header-banner h3 {
	font-size: 16px;
}
.header-banner h4 {
	font-size: 14px;
	margin-bottom: 8px;
}
.header-banner p {
	font-size: 12px;
}
.header-banner .bottom-btn .btn {
	margin-bottom: 15px;
}
.heading-div .equal-div {
	display: block;
}
.list-style1 li .session {
	margin-left: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	display: block;
	border: none;
	padding: 0;
}
.list-style1 li .right-btn,  .list-style1 li {
	text-align: center;
}
.list-style1 li .row {
	display: block;
}
.block-design1 {
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.testimonials-section {
	padding: 50px 0;
}
.testimonials-section .swiper-container .swiper-slide {
	padding: 0 15px;
}
.testimonials-section .swiper-button-prev,  .testimonials-section .swiper-button-next {
	width: 35px;
	height: 35px;
}
.testimonials-section .swiper-button-next:after {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid white;
}
.testimonials-section .swiper-button-prev:after {
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid white;
}
.testimonials-section .swiper-container .content-div {
	padding: 40px 20px;
	font-size: 14px;
}
.home-3-block-icon .icon-box {
	margin-bottom: 30px;
}
.home-3-block-icon .icon-box .icon-circle {
	margin-bottom: 20px;
}
.home-3-block-icon {
	padding: 50px 0;
}
.home-bottom-team-section {
	margin-top: 50px;
}
.home-bottom-team-section .content-div {
	margin-top: 0;
	margin-bottom: 30px;
}
.display-table .table-cell, .display-table {
	display: block;
}
.main-menu {
	padding: 0 15px;
}
.navbar-toggle {
	margin-right: 0;
	margin: 0;
	background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	background: #333;
	color: #000;
}
.navbar-collapse {
	border-bottom: 1px solid #fff;
}
.navbar-default .navbar-brand {
	display: block;
	width: 114px;
	margin-bottom: 15px;
	margin-left: 45px;
}
.main_nav {
	margin-right: 0;
	position: relative;
	z-index: 12;
}
.main_nav .navbar-toggle {
	margin-right: 0;
	margin-top: 33px;
	background: none !important;
	border: none !important;
	outline: none !important;
}
.main_nav .navbar-brand {
	margin-right: 0;
	max-width: 137px;
}
.main_nav .navbar-default .navbar-toggle .icon-bar {
	background: #f17598;
}
.main_nav .navbar-nav {
	margin-top: 17px;
}
.main_nav .navbar-collapse {
	border-color: #f17598 !important
}
.main_nav .nav > li {
	margin: 0;
	margin-bottom: 10px;
}
	
	
}

@media only screen and (max-width: 576px) {
	.sign-up-form .inner-block{
		padding: 20px;
	}
.page-content-block .block-head-div {
	padding: 15px;
}
.teacher-messaging-block .type-box {
	padding-right: 0;
	padding-bottom: 40px;
}
.teacher-messaging-block .type-box .btn {
	top: auto;
	bottom: 0;
}
	.white-block .inner-padding{
		padding: 20px 15px;
	}
	.notifications-list li{
		padding-right: 0;
	}
	.notifications-list li .time-div{
		position: static;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 450px) {
}

@media only screen and (max-width: 320px) {
}
