<section class="user-dashboard-banner marketplace-banner">
	<div class="header">
		<i class="sci-graphic-design text-white"></i>
		<h2 class="title text-white">BEGIN USING THE SIXCLOUDS SIXTEEN</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		JUST ONE MORE STEP AND YOU'RE DONE!
	</div>
</section>
<section class="progaram-section">
	<div class="container">
		<div class="progaram">
			<h2 class="title">SIX CLOUDS REWARD PROGRAM</h2>
			<div class="box-list">
				<div class="box">
					<div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">INVITE</div>
					<p>your friends &amp; family and get a Referral when they join</p>
				</div>
				<div class="box">
					<div class="icon"><span class="sci-earn"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">EARN </div>
					<p>credits when a friend you referred signs up for the first time</p>
				</div>
				<div class="box">
					<div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">REDEEM</div>
					<p>your earned credits while buying subscription plans, to get your document proof read or to post a job in Marketplace</p>
				</div>
			</div>
			<div class="after-signup marketplace">
				<div class="user-content">
					<div class="training">
						<div class="box inline-block">
							<div class="sub-header">Sixteen For seller</div>
							<form class="ng-pristine ng-valid">
								<div class="margin-bt40">
									<label class="control-label label-large">You're registering as:</label>
									<div class="margin-tp20 form-group label-large">
										<label class="radio-inline radio-button">
											<input type="radio" name="optradio" value="0">
											<div class="radio-checked"></div>
											<i class="icon">
											<span class="sci-designer"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span></span>
											</i>
											<span class="name">
												<span class="label-large">
												A Designer</span>
												<br>(looking for work)
											</span>
										</label>
										<label class="radio-inline radio-button">
											<input type="radio" name="optradio" value="0">
											<div class="radio-checked"></div>
											<i class="icon">
											<span class="sci-contractor"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
											</i>
											<span class="name">
												<span class="label-large">
												A Contractor</span>
												<br>(looking for sellers)
											</span>
										</label>
									</div>
								</div>
								<div class="form">
									<label class="control-label label-large">Please provide your academic details:</label>
									<div class="margin-tp20">
										<div class="form-group">
											<div class="row">
												<label class="col-sm-3 control-label">School Name:</label>
												<div class="col-sm-9">
													<div class="select-dropdown">
														<select class="form-control">
															<option value="volvo" selected="">Select</option>
															<option value="saab">School 1</option>
															<option value="mercedes">School 1</option>
															<option value="audi">School 1</option>
														</select>
														<span class="caret"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<label class="col-sm-3 control-label">
													ID Number:
												</label>
												<div class="col-sm-9">
													<input type="" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group input-label margin-zero">
											<div class="row">
												<label class="col-sm-3 control-label">Design Capabilities:</label>
												<div class="col-sm-12">
													<ul class="list-inline list-unstyled margin-tp15">
														<li>
															Logo Design
														</li>
														<li>
															Banner Design
														</li>
														<li>
															Brochure Design
														</li>
														<li>
															Flyer Design
														</li>
														<li>
															Poster Design
														</li>
														<li>
															Packaging Design
														</li>
														<li>
															Mobile App Design
														</li>
														<li>
															Web Design
														</li>
														<li>
															Custom Calligraphy
														</li>
														<li>
															3D Modelling
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="label-large">
											<a class="btn" href="#/mp-job-list">
												<i class="sci-Submit"></i> &nbsp; Submit
											</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>