<article class="my-case-page">
  <section class="c-file-upload-section">
    <div class="container">
      <h2 class="title-section">New Case</h2>
      <!-- <div>
        <form action="/assets/images/file-upload" class="dropzone" id="myCase" id="fileuploader">
        <form action="/assets/images/file-upload" class="dropzone " id="fileuploader"></form>
      </div> -->
      <ul class="list-unstyled">
        <div class="file-upload-div">
          <li class="back-light-gray text-center drop-files" id="fileuploader">
            <span class="sub-header"> DROP FILE(S) TO SUBMIT NEW CASES</span>
          </li>
        </div>
        <li class="li-border new-cases-services package-table">
          <div class="media">
            <div class="media-left">
              <div class="icon">
                <span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
              </div>
            </div>
            <div class="media-body case-dec">
              <div class="left-side">
                <div class="sub-header text-black margin-zero">[[uploadedFileDetails.case_original_file_name]]</div>
                <div>
                  Size: [[uploadedFileDetails.case_file_size | number]] KB
                  <span class="total">
                    Total Words:
                    <span class="">[[uploadedFileDetails.total_words]]</span>
                  </span>
                </div>
              </div>
              <div class="new-cases-details">
                <div class="sub-header text-black">Select from the below Services </div>
                <table class="table margin-zero" width="100%">
                  <thead width="100%">
                    <tr>
                      <th width="33%" class="text-center">Target</th>
                      <th width="33%" class="text-center">Standard Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH language."></i>
                      </th>
                      <th width="33%" class="text-center">Premium Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH & MANDARIN languages."></i></th>
                    </tr>
                  </thead>
                  <tbody width="100%">
                    <tr id="tr_[[$index]]" ng-repeat="package in uploadedFileDetails.packages">
                      <td class="hours" align="center">
                        <a class="">[[package.service_package]] hours</a>
                      </td>
                      <td align="center">
                        <label class="radio-inline radio-button">
                          <input type="radio" name="optradio" ng-click="radio_standard_price($index,package.standard_price * uploadedFileDetails.total_words,package.service_package,package.id,1)" >
                          <div class="radio-checked"></div>
                          &yen; [[package.standard_price * uploadedFileDetails.total_words | number]]
                        </label>
                      </td>
                      <td align="center">
                        <label class="radio-inline radio-button">
                          <input type="radio" name="optradio" ng-click="radio_premium_price($index,package.premium_price * uploadedFileDetails.total_words,package.service_package,package.id,2)">
                          <div class="radio-checked"></div>
                          &yen; [[package.premium_price * uploadedFileDetails.total_words | number]]
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <span class="icon-dd">
                <button class="btn bg-green accept_file" ng-click="accept_file(uploadedFileDetails)"><i class="sci-accept"></i> Accept</button>
                <a class="btn text-white reject_file" ng-click="reject_file(uploadedFileDetails.case_file_name)"><i class="sci-reject"></i> Reject </a>
              </span>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </section>
  <section class="cases-detail-section">
    <div class="container">
      <h2 class="title-section">New Cases</h2>
      <ul class="cases-list">
        <li class="[[case.case_class]]" ng-repeat="case in cases">
          <div class="head-div"> <a href="javascript:void(0)" ng-click="openCase(case.id)" id="case_[[case.id]]" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                <td><div class="row">
                    <div class="col-sm-8">
                      <h5>[[case.case_original_file_name]]</h5>
                      <p>Current Status: [[case.case_status_to_string]]</p>
                      <p ng-if="case.case_status!=4">Time Remaining: <span class="counter-timer" countdown="" date="[[case.deadline]]"></span></p>
                    </div>
                    <div class="col-sm-4 right-btn"><button ng-if="case.case_status == 3 || case.case_status == 4" id="download-accessed_[[$index]]" class="btn btn-green download-accessed" ng-click="download(case,$index,1)"><i class="sci-download text-white"></i> Download file</button></div>
                  </div></td>
              </tr>
            </table>
          </div>
          <div class="expand-content" id="case-details_[[case.id]]">
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-xs-6 col-sm-3 dot-status red">
                  <div class="box01">
                    <div>
                      <h4>[[case.document_submitted_at]]</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div ng-if="case.accessor_one_time" class="col-xs-6 col-sm-3 dot-status blue">
                  <div class="box01">
                    <div>
                      <h4>[[case.accessor_one_time]]</h4>
                      1st Level Accessment Completed </div>
                  </div>
                </div>
                <div ng-if="!case.accessor_one_time" class="col-xs-6 col-sm-3 dot-status gray">
                  <div class="box01">

                  </div>
                </div>
                <div ng-if="case.accessor_two_time" class="col-xs-6 col-sm-3 dot-status yellow">
                  <div class="box01">
                    <div>
                      <h4>[[case.accessor_two_time]]</h4>
                      2nd Level Accessment Completed </div>
                  </div>
                </div>
                <div ng-if="!case.accessor_two_time" class="col-xs-6 col-sm-3 dot-status gray">
                  <div class="box01">
                    
                  </div>
                </div>
                <div ng-if="case.case_status==4" class="col-xs-6 col-sm-3 dot-status green">
                  <div class="box01">
                    <div> [[case.file_downloaded]]</div>
                  </div>
                </div>
                <div ng-if="case.case_status!=4" class="col-xs-6 col-sm-3 dot-status gray">
                  <div class="box01">
                    <div class="timeline-details">
                        <i class="icon">
                          <span class="sci-Time-And-file"></span>
                        </i>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Details</h6>
            <ul class="case-d-list">
              <li>Case ID: [[case.id]]</li>
              <li>Total Words: [[case.total_words]]</li>
              <li>Total Fee: ¥ [[case.total_price]]</li>
              <li>Language: [[case.file_language]]</li>
              <li>File Size: [[case.case_file_size]] KB</li>
            </ul>
            <div class="bottom-btn"> 
              <!-- <a href="javascript:;" class="btn btn-dark-gray">Original File</a>  -->
              <button class="btn btn-dark-gray" ng-click="download(case,$index)" id="download_o_[[$index]]" ><i class="sci-download text-white"></i> Original file</button>
              <a id="download_file_[[case.id]]" download="[[case.case_original_file_name]]"></a>
              <button ng-if="case.case_status == 3 || case.case_status == 4" class="btn btn-green download-accessed" id="download-accessed_[[$index]]" ng-click="download(case,$index,1)"><i class="sci-download text-white"></i> Download file</button>
              <a id="download_accessed_file_[[case.id]]" download></a>
              <!-- <a href="javascript:;" class="btn btn-green">Download File</a> </div> -->
          </div>
        </li>
        <!-- <li class="blue">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                <td><div class="row">
                    <div class="col-sm-8">
                      <h5>Final Semester Thesis 2017.docx</h5>
                      <p>Current Status: Document Submitted</p>
                      <p>Document Submitted: 11:32 Hours To Go</p>
                    </div>
                    <div class="col-sm-4 right-btn"> </div>
                  </div></td>
              </tr>
            </table>
          </div>
          <div class="expand-content">
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-xs-6 col-sm-3 dot-status red">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 4:45 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status blue">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 10:25 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status yellow">
                  <div class="box01">
                    <div>
                      <h4>13 Apr, 7:00 am</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status green">
                  <div class="box01">
                    <div> File not yet<br />
                      downloaded </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Details</h6>
            <ul class="case-d-list">
              <li>Case ID: 4342</li>
              <li>Total Words: 442</li>
              <li>Total Fee: ¥ 75.00</li>
              <li>Language: English</li>
              <li>File Size: 204.3 KB</li>
            </ul>
            <div class="bottom-btn"> <a href="javascript:;" class="btn btn-dark-gray">Original File</a> <a href="javascript:;" class="btn btn-green">Download File</a> </div>
          </div>
        </li>
        <li class="yellow">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                <td><div class="row">
                    <div class="col-sm-8">
                      <h5>Final Semester Thesis 2017.docx</h5>
                      <p>Current Status: Document Submitted</p>
                      <p>Document Submitted: 11:32 Hours To Go</p>
                    </div>
                    <div class="col-sm-4 right-btn"></div>
                  </div></td>
              </tr>
            </table>
          </div>
          <div class="expand-content">
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-xs-6 col-sm-3 dot-status red">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 4:45 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status blue">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 10:25 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status yellow">
                  <div class="box01">
                    <div>
                      <h4>13 Apr, 7:00 am</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status green">
                  <div class="box01">
                    <div> File not yet<br />
                      downloaded </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Details</h6>
            <ul class="case-d-list">
              <li>Case ID: 4342</li>
              <li>Total Words: 442</li>
              <li>Total Fee: ¥ 75.00</li>
              <li>Language: English</li>
              <li>File Size: 204.3 KB</li>
            </ul>
            <div class="bottom-btn"> <a href="javascript:;" class="btn btn-dark-gray">Original File</a> <a href="javascript:;" class="btn btn-green">Download File</a> </div>
          </div>
        </li>
        <li class="green">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                <td><div class="row">
                    <div class="col-sm-8">
                      <h5>Final Semester Thesis 2017.docx</h5>
                      <p>Current Status: Document Submitted</p>
                      <p>Document Submitted: 11:32 Hours To Go</p>
                    </div>
                    <div class="col-sm-4 right-btn"> <a href="javascript:;" class="btn btn-green dwn-btn">Download File</a></div>
                  </div></td>
              </tr>
            </table>
          </div>
          <div class="expand-content">
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-xs-6 col-sm-3 dot-status red">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 4:45 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status blue">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 10:25 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status yellow">
                  <div class="box01">
                    <div>
                      <h4>13 Apr, 7:00 am</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status green">
                  <div class="box01">
                    <div> File not yet<br />
                      downloaded </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Details</h6>
            <ul class="case-d-list">
              <li>Case ID: 4342</li>
              <li>Total Words: 442</li>
              <li>Total Fee: ¥ 75.00</li>
              <li>Language: English</li>
              <li>File Size: 204.3 KB</li>
            </ul>
            <div class="bottom-btn"> <a href="javascript:;" class="btn btn-dark-gray">Original File</a> <a href="javascript:;" class="btn btn-green">Download File</a> </div>
          </div>
        </li>
        <li class="green">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                <td><div class="row">
                    <div class="col-sm-8">
                      <h5>Final Semester Thesis 2017.docx</h5>
                      <p>Current Status: Document Submitted</p>
                      <p>Document Submitted: 11:32 Hours To Go</p>
                    </div>
                    <div class="col-sm-4 right-btn"> <a href="javascript:;" class="btn btn-green dwn-btn">Download File</a></div>
                  </div></td>
              </tr>
            </table>
          </div>
          <div class="expand-content">
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-xs-6 col-sm-3 dot-status red">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 4:45 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status blue">
                  <div class="box01">
                    <div>
                      <h4>12 Apr, 10:25 pm</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status yellow">
                  <div class="box01">
                    <div>
                      <h4>13 Apr, 7:00 am</h4>
                      Document Submitted </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-3 dot-status green">
                  <div class="box01">
                    <div> File not yet<br />
                      downloaded </div>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Details</h6>
            <ul class="case-d-list">
              <li>Case ID: 4342</li>
              <li>Total Words: 442</li>
              <li>Total Fee: ¥ 75.00</li>
              <li>Language: English</li>
              <li>File Size: 204.3 KB</li>
            </ul>
            <div class="bottom-btn"> <a href="javascript:;" class="btn btn-dark-gray">Original File</a> <a href="javascript:;" class="btn btn-green">Download File</a> </div>
          </div>
        </li> -->
      </ul>
    </div>
  </section>
</article>
