<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-abc"></i>
		<h2 class="title text-white">ENGLISH LEARNING TRAINING</h2>
		<span class="sub-header text-white">Training Videos</span>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		SECTION 2: PARTS OF SPEECH, Video #2
	</div>
</section>
<section class="video-details course-contents">
	<div class="container">
		<div class="videos">
			<div class="content-box">
				<img src="assets/images/video-viewing.jpg">
				<div class="margin-tp15">
					<span class="sub-header text-black">Learning Pronouns</span>
					<span class="pull-right"><i class="sci-time icon"></i> 21:33</span>
				</div>
				<div>
					<span class="left-side">43,665 Views</span>
					<span class="pull-right">
						<a href="" class="btn btn-default" role="button" data-toggle="popover" rel="popover" id="example" data-content="" data-placement="bottom" tabindex="1" data-trigger="focus"><i class="sci-share"></i> Share</a>
						<div id="popover_content_wrapper" class="popover-details" style="display: none">
							<div class="share-icon">
								<ul class="list-unstyled list-inline margin-zero">
									<li>
										<a href="javascript:void(0)" class="renren"><i class="sci-renren"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" class="weibo"><i class="sci-weibo"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" class="tencent"><i class="sci-tencent"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" class="baidu"><i class="sci-baidu"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" class="douban"><i class="sci-douban"></i></a>
									</li>
									<li>
										<a href="javascript:void(0)" class="whatsapp"><i class="sci-whatsapp"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</span>
				</div>
				<div class="more">
					It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.,editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
				</div>
			</div>
			<div class="content-box">
				<div class="sub-header text-black">Your Notes on this video</div>
				<form>
					<textarea rows="5" placeholder="Add New Note" class="form-control comments margin-zero"></textarea>
				</form>
				<div class="submit-btn">
					<a class="btn"><i class="sci-Submit"></i> Submit</a>
				</div>
				<ul class="list-unstyled">
					<li>
						<div class="comments">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...., content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							<div class="delete">
								<span>27/05/2017 4:30 PM</span>
								<span class="pull-right"><a href="" class="text-red icon sci-Delete-Icon"></a></span>
							</div>
						</div>
					</li>
					<li>
						<div class="comments">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...., content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							<div class="delete">
								<span>27/05/2017 4:30 PM</span>
								<span class="pull-right"><a href="" class="text-red icon sci-Delete-Icon"></a></span>
							</div>
						</div>
					</li>
					<li>
						<div class="comments">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...., content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							<div class="delete">
								<span>27/05/2017 4:30 PM</span>
								<span class="pull-right"><a href="" class="text-red icon sci-Delete-Icon"></a></span>
							</div>
						</div>
					</li>
					<li>
						<div class="comments">
							It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here...., content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
							<div class="delete">
								<span>27/05/2017 4:30 PM</span>
								<span class="pull-right"><a href="" class="text-red icon sci-Delete-Icon"></a></span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="next-videos">
			<div class="content-box">
				<div class="sub-header text-black">Next Training Video</div>
				<div class="img">
					<img src="assets/images/next-video.jpg">
					<span>
						<i class="sci-play-circle"></i>
					</span>
				</div>
				<div class="margin-tp10">
					<span class="">All about Adjectives</span>
					<span class="pull-right"><i class="sci-time icon"></i> 21:33</span>
				</div>
			</div>
		</div>
	</div>
</section>