<section class="banner pd-zero">
	<div class="container">
		<div class="team-img">
			<img src="assets/images/team.png">
		</div>
		<div class="img-bg">
			<img src="assets/images/img-bg.png">
		</div>
		<div class="student">
			<img src="assets/images/student.png">
		</div>
	</div>
	<div class="strip">
		<div class="container">
			<span>ENGLISH TRAINING & LEARNING VIDEOS</span>
		</div>
	</div>
</section>
<section class="progaram-section">
	<div class="container">
		<div class="progaram">
			<h2 class="title">SIX CLOUDS REWARD PROGRAM</h2>
			<div class="box-list">
				<div class="box">
					<div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">INVITE</div>
					<p>your friends & family and get a Referral when they join</p>
				</div>
				<div class="box">
					<div class="icon"><span class="sci-earn"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">EARN </div>
					<p>credits when a friend you referred signs up for the first time</p>
				</div>
				<div class="box">
					<div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
					<div class="text">REDEEM</div>
					<p>your earned credits while buying subscription plans, to get your document proof read or to post a job in [['lbl_marketplace'|translate]]</p>
				</div>
			</div>
			<div class="program-label">
				<h2 class="margin-bt0">100+ VIDEOS & A LOT MORE</h2>
				<span>TO HELP YOU WITH YOUR ENGLISH LEARNING</span>
			</div>
		</div>
	</div>
</section>
<section class="bg-red video">
	<div class="container">
		<div class="dec-students">
			<div class="img">
				<div class="img-box">
					<img src="assets/images/students-video.jpg">
					<span>
						<i class="sci-play-circle"></i>
					</span>
				</div>
			</div>
			<div class="description text-white">
				<h2 class="title margin-bt10">TRUSTED BY OVER 2000 STUDENTS</h2>
				<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</section>
<section class="course-contents">
	<div class="container">
		<div class="course-title text-center">
			<h2 class="title margin-bt10">COURSE CONTENTS</h2>
			<span>The videos are categorized into 7 sections as follows:</span>
		</div>
		<div class="content-list margin-tp40">
			<ul class="list-unstyled panel-group accordion " id="accordion3">
				<li class="panel">
					<div class="box-list panel-heading">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							SECTION #1
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							INTRODUCTION AND HISTORY
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_1" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_1" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td width="10%" class="text-center">
											2
										</td>
										<td width="35%">
											Adjectives
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											3
										</td>
										<td width="35%">
											Verbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											4
										</td>
										<td width="35%">
											Adverbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											5
										</td>
										<td width="35%">
											Pronouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											6
										</td>
										<td width="35%">
											Conjunctions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											7
										</td>
										<td width="35%">
											Prepositions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							SECTION #2
						</a> 
						<a class=" box name text-black  accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							Part of speech
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_2" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_2" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td width="10%" class="text-center">
											2
										</td>
										<td width="35%">
											Adjectives
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											3
										</td>
										<td width="35%">
											Verbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											4
										</td>
										<td width="35%">
											Adverbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											5
										</td>
										<td width="35%">
											Pronouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											6
										</td>
										<td width="35%">
											Conjunctions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											7
										</td>
										<td width="35%">
											Prepositions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							SECTION #3
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							Fingres of speech
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_3" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_3" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td width="10%" class="text-center">
											2
										</td>
										<td width="35%">
											Adjectives
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											3
										</td>
										<td width="35%">
											Verbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											4
										</td>
										<td width="35%">
											Adverbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											5
										</td>
										<td width="35%">
											Pronouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											6
										</td>
										<td width="35%">
											Conjunctions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											7
										</td>
										<td width="35%">
											Prepositions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							SECTION #4
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							English composition & vocabulary
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_4" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_4" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td width="10%" class="text-center">
											2
										</td>
										<td width="35%">
											Adjectives
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											3
										</td>
										<td width="35%">
											Verbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											4
										</td>
										<td width="35%">
											Adverbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											5
										</td>
										<td width="35%">
											Pronouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											6
										</td>
										<td width="35%">
											Conjunctions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											7
										</td>
										<td width="35%">
											Prepositions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
					<li class="panel">
					<div class="box-list panel-heading" data-toggle="collapse" data-target="#content-details">
						<a class=" box section accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							SECTION #5
						</a> 
						<a class=" box name text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							IDIOMS & Phrases
						</a>
						<a class="box video-time text-black accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="javascript:void(0)#collapse_3_5" aria-expanded="false">
							<div class="box-list">
								<span class="box left">
									<i class="sci-video-player"></i> 7 VIDEOS
								</span>
								<span class="box right">
									<i class="sci-time"></i> 36:00
								</span>
							</div>
						</a>
					</div>
					<div  id="collapse_3_5" class="panel-collapse collapse" aria-expanded="false">
						<div class="divider"></div>
						<p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
						<div class="table-responsive">
							<table width="100%" class="table table-striped table-bordered">
								<tbody>
									<tr class="border-g">
										<td width="10%" class="text-center">
											1
										</td>
										<td width="35%">
											Nouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-g">
										<td width="10%" class="text-center">
											2
										</td>
										<td width="35%">
											Adjectives
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											3
										</td>
										<td width="35%">
											Verbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											4
										</td>
										<td width="35%">
											Adverbs
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											5
										</td>
										<td width="35%">
											Pronouns
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											6
										</td>
										<td width="35%">
											Conjunctions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
									<tr class="border-r">
										<td width="10%" class="text-center">
											7
										</td>
										<td width="35%">
											Prepositions
										</td>
										<td width="20%">
											<i class="sci-video-player"></i> Watch Video
										</td>
										<td width="15%">
											<i class="sci-time"></i> 05:50
										</td>
										<td class="15%">
											<i class="sci-music-folder"></i> 34 MBs
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>	
			</ul>
		</div>
	</div>
</section>
<section class="subscribe">
	<div class="container">
		<div class="text-center">
			<div class="left-side">
				<div class="sub-header">
					SUBSCRIBE NOW! YEARLY PLANS START FROM RMB100
				</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been there.</p>
				<div class="margin-tp40 text-center">
					<a href="#after-signup" class="btn"><i class="sci-view"></i> View Plans </a>
					<span class="text-red"> OR </span>
					<a href="#after-signup" class="btn"><i class="sci-subscribe-now"></i> Subscribe Now </a>
				</div>
			</div>
			<!-- <div class="box">
				<div class="sub-header">
					GET YOUR FREE TRIAL! CHECKOUT OUR FREE VIDEOS
				</div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been there.</p>
				<div class="content-list">
					<ul class="list-unstyled">
						<li>
							<div class="box-list">
								<a href="" class="box section">
									SECTION #1
								</a>
								<a href="" class="box name text-black">
									Nouns
								</a>
								<a href="" class="box video-time text-black">
									<span><i class="sci-video-player"></i> <span class="w-n">Watch Now</span></span>
								</a>
							</div>
						</li>
						<li>
							<div class="box-list">
								<a href="" class="box section">
									SECTION #2
								</a>
								<a href="" class="box name text-black">
									Simile & Metaphors
								</a>
								<a href="" class="box video-time text-black">
									<span><i class="sci-video-player"></i> <span class="w-n">Watch Now</span></span>
								</a>
							</div>
						</li>
						<li>
							<div class="box-list">
								<a href="" class="box section">
									SECTION #3
								</a>
								<a href="" class="box name text-black">
									Flash Cards 1-500
								</a>
								<a href="" class="box video-time text-black">
									<span><i class="sci-video-player"></i> <span class="w-n">Watch Now</span></span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div> -->
		</div>
	</div>
</section>