<section class="user-dashboard-banner marketplace-banner">
	<div class="header">
		<i class="sci-graphic-design text-white"></i>
		<h2 class="title text-white">[['lbl_design_marketplace'|translate]]</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		POST NEW JOB
	</div>
</section>
<section class="progaram-section">
	<div class="container">
		<div class="progaram">
			<div class="after-signup marketplace post-job">
				<div class="user-content">
					<div class="training">
						<div class="box inline-block">
							<form>
								<div class="form">
									<div class="divider">
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<label class="control-label">Job Title :</label>
													<div class="">
														<input type="" name="" class="form-control">
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<label class="control-label">Description :</label>
													<div class="">
														<textarea rows="4" class="inline-block form-control"></textarea>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<label class="control-label">Select:</label>
													<div class="">
														<label class="radio-inline radio-button">
															<input type="radio" name="optradio" value="0">
															<div class="radio-checked"></div>	
															<span class="name">
																<span class="">
																All Designes</span>																
															</span>
														</label>
														<label class="radio-inline radio-button">
															<input type="radio" name="optradio" value="0">
															<div class="radio-checked"></div>
															<span class="name">
																<span class="">
																One to One</span>
															</span>
														</label>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<label class="control-label">Designer's Name :</label>
													<div class="">
														 <input type="text" class="form-control">
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Budget :</label>
													<div class="">
														<div class="input-with-label border-radius-20 padding-zero">
										                  <span class="input-group-addon border-radius-20 label-default text-black ">
										                  	¥
										                  </span>
										                  <input type="text" class="form-control">
										                </div>
													</div>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="form-group">
													<label class="control-label">Entries Deadline :</label>
													<div class="">
														<div class="date form-control input-circle" data-provide="datepicker">
															<input type="text" name="singledate-picker" value="10/24/1984" class="form-control border-0">
															<i class="sci-calendar"></i>
														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-12">
												<div class="form-group">
													<div class="row">
														<label class="col-sm-3 col-md-2 control-label">Attachment :</label>
														<div class="col-sm-9 col-md-10">
															<span class="">
																<div class="fileinput fileinput-new" data-provides="fileinput">
																	<span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Upload File</span><span class="fileinput-exists">Change</span><input type="hidden"><input type="file" name="..."></span>
																	<span class="fileinput-filename"></span>
																	<a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
																</div>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group input-label margin-bt15 divider">
										<div class="row">
											<label class="col-sm-3 control-label">Categories :</label>
											<div class="col-sm-12">
												<ul class="list-inline list-unstyled margin-tp15">
													<li>
														Logo Design
													</li>
													<li>
														Banner Design
													</li>
													<li>
														Brochure Design
													</li>
													<li>
														Flyer Design
													</li>
													<li>
														Poster Design
													</li>
													<li>
														Packaging Design
													</li>
													<li>
														Mobile App Design
													</li>
													<li>
														Web Design
													</li>
													<li>
														Custom Calligraphy
													</li>
													<li>
														3D Modelling
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="label-large">
										<a class="btn bg-green"><i class="sci-accept"></i>  Create Job</a>
										<a class="btn text-white "><i class="sci-cancel"></i> Cancel</a>
										
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>