<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-graphic-design"></i>
		<h2 class="title text-white">DESIGN MARKETPLACE</h2>
		
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero text-uppercase">
		<span>
			2346 Currently open jobs
		</span>
		&nbsp;&nbsp; 
		<span class="v-divider">
		    My Jobs 
			<span class="badge badge-circle text-red back-white btn-circle">
				6
			</span> 
		</span>
	</div>
	
</section>
<section class=" course-contents partition-content">
	<div class="container">
		<div class=" main-content-box">
			<div class="content-box ">
				<div class=" job-info">	
				 <h3 class="content-title">
				 	Desgin a logo for a pharma company
				 	<span class="pull-right text-uppercase">Job id: 5477</span>
				 </h3>
				<div class="desc">
					<p>I want some one who can desgin and build a website  as beautiful as (url removed  login to view) and  with same functionality only that the wallet.
					</p>
					<p>I want some one who can desgin and build a website  as beautiful.
				    </p>
				    <p>I want some one who can desgin and build a website  as beautiful as (url removed  login to view).</p>
				</div>
				<div class="skill-details">
					<div class="select-list-item edit-select-list-item">
						<ul class="list-unstled list-inline">
							<li class="">
								<span class="checkbox-btn">
									<input type="checkbox">
									<span class="check-box name"> Human Resource</span>
								</span>
								
							</li>
							<li>
								<span class="checkbox-btn">
									<input type="checkbox">
									<span class="check-box name"> Procpment</span>
								</span>
								
							</li>
							<li>
								<span class="checkbox-btn">
									<input type="checkbox">
									<span class="check-box name"> Assitant Accountant</span>
								</span>				
							</li>
							<li>
								<span class="checkbox-btn">
									<input type="checkbox">			
									<span class="check-box name "> Drivers</span>
								</span>
							</li>
						</ul>
					</div>				
				</div>
				<div class="job-details text-uppercase">
		    		<span>
		    			<label>05d 12h</label><br>
		    			<span>Time Left</span	>
		    		</span>	
		    		<span>
		    			<label>05</label><br>
		    			<span>Total Bids</span>
		    		</span>
		    		<span>
		    			<label>&yen; 500</label><br>
		    			<span>Budget</span>
		    		</span>
		    	</div>
			  </div>
			</div>


			<div class="content-box">
				<div class="sub-header text-black text-uppercase">Participate</div>
					<form class="form-horizontal">
						
						 <div class="form-group">
						 	<label class="col-sm-2">Bid Amount</label>
						 	<div class="col-sm-10">
						 		
						 		<div class="input-with-label border-radius-20 padding-zero">
				                  <span class="input-group-addon border-radius-20 label-default text-black ">
				                  	&yen;
				                  </span>
				                  <input type="text" class="form-control">
				                </div>
						 	</div>
						 </div>
						 <div class="form-group">
						 	<label class="col-sm-2 ">Your Message</label>
						 	<div class="col-sm-10">
						 		<textarea rows="5" class="form-control comments margin-zero"></textarea>
						 	</div>
						 </div>	
						 <div class="submit-btn upload-file-name col-sm-offset-2">
						    <span>
							    <div class="fileinput fileinput-new" data-provides="fileinput">
									<span class="btn btn-default btn-file"><span class="fileinput-new"><i class="sci-attache"></i> Attach File</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
									<span class="fileinput-filename"></span>
									 <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
								</div>
						    </span>
							<button class="btn">
							<i class="sci-Submit"></i> submit</button>
						</div>	
							
					</form>	
					<div class="divider margin-tp30 margin-bt30"></div>					
						<div class="chat margin-tp10">
							<ul class="list-unstyled">	
								<li class="sender">
									<h4 class="margin-bt20"><span class="label label-default text-black ">Bid Amount : &yen 850.00</span></h4>
									<p>Hey there!</p>
									<p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
									<p>Thanks</p>	
									<div class="box-gallery gallery justify-normal">
										<div class="box">
											<img src="assets/images/project.jpg" class="img-responsive">
										</div>
										<div class="box">
											<img src="assets/images/project2.jpg" class="img-responsive">
										</div>
										<div class="box">
											<img src="assets/images/project3.jpg" class="img-responsive">
										</div>
									</div>	
									<div class="info-date margin-tp5">
										<label>10/06/2017 1:30PM</label>
									</div>
								</li>
							</ul>
						</div>	
					</div>
		</div>	
		<div class="sidebar-content">
				<div class="content-box client-dl-info">
					<div class="sub-header text-black text-center">Client Info</div>
					<div class="img text-center">						
						<img src="assets/images/chinese-tutor.jpg" class="img-circle img-responsive">
					</div>
					<div class="margin-tp20 text-center">
						<label>Lucinda Leonard</label><br>
						<span class="">Singapore , United Kingdom</span>
					</div>
					<div class="text-center margin-tp10">
						<label>12 Job Posted</label><br>
						<a href="" class="btn"> <i class="fa fa-user text-white"></i> View Profile</a>
					</div>
				</div>
		</div>
	</div>
</section>