<section class="user-dashboard-banner">
	<div class="header">
		<i class="sci-graphic-design"></i>
		<h2 class="title text-white">MY Account</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero text-uppercase">
		<span>
			Joseph
		</span>		
	</div>	
</section>
<section class=" course-contents partition-content">
	<div class="container">
			<div class="tab-section">
			 	<ul class="nav nav-tabs">
				  <li class="active">
				  	<a data-toggle="tab" href="javascript:void(0)#portfolio">ELT & PR</a>
				  </li>
				  <li>
				  	<a data-toggle="tab" href="javascript:void(0)#jobs">[['lbl_marketplace'|translate]]</a>
				  </li>		 
				</ul>
				<div class="tab-content">
				   <div id="portfolio" class="tab-pane fade in active">				   
				   		<div class=" partition-content">
				   			<div class=" main-content-box">
					   			<div>
						   			<div class="sub-title text-red text-uppercase margin-bt20"> 
						   				English Learning & Training 
						   			</div>
							   		<div class="table-responsive training-price">
							    		<table class="table back-white">
									    <tr>
											<td class="transaction-details text-center" width="15%">
												<label>Basic</label>
											</td>
											<td> 
												<label class="">¥ 1000</label><br>
												<span class="text-uppercase">Per Year</span> 
											</td>
											<td>
												<label>Credit Card</label>
											</td>
											<td>
												<label>02 Aug 2017</label>
											</td>
											<td>
												<label class="text-green">Successful</label>
											</td>
										</tr>
										<tr>
											<td class="transaction-details text-center" >
												<label>Basic</label>
											</td>
											<td> 
													<label class="">¥ 5200</label><br>
													<span class="text-uppercase">Per Year</span> 
											</td>
											<td>
												<label>AliPay</label>
											</td>
											<td>
												<label>02 Aug 2017</label>
											</td>
											<td>
												<label class="text-red">Failed</label>
											</td>
										</tr>
										<tr>
											<td class="transaction-details text-center" >
												<label>Basic</label>
											</td>
											<td> 
													<label class="">¥ 3600</label><br>
													<span class="text-uppercase">Per Year</span> 
											</td>
											<td>
												<label>Credit Card</label>
											</td>
											<td>
												<label>02 Aug 2017</label>
											</td>
											<td>
												<label class="text-green">Successful</label>
											</td>
										</tr>				
										</table>
									</div>
								</div>
								<div class="margin-tp40">
						   			<div class="sub-title text-red text-uppercase margin-bt20"> Proof Reading </div>
							   		  <div class="table-responsive training-price pr-table-price">
							    	  <table class="table back-white">
									    <tr>
											<td  width="50%">
												<label>English Assignment11.docx</label><br>
												<span>500 Words</span>
											</td>
											<td> 
												<label class="">¥ 7500</label><br>
												<span class="text-uppercase">Credit Card</span> 
											</td>								
											<td>
												<label class="text-green">Successful</label><br>
												<span>02 Aug 2017</span>
											</td>
										</tr>		
										<tr>
											<td  width="50%">
												<label>English Assignment9.docx</label><br>
												<span>800 Words</span>
											</td>
											<td> 
												<label class="">¥ 9500</label><br>
												<span class="text-uppercase">Credit Card</span> 
											</td>
										
											<td>
												<label class="text-red">Failed</label><br>
												<span>02 Aug 2017</span>
											</td>
										</tr>	
										<tr>
											<td  width="50%">
												<label>English Assignment5.docx</label><br>
												<span>300 Words</span>
											</td>
											<td> 
												<label class="">¥ 5500</label><br>
												<span class="text-uppercase">Credit Card</span> 
											</td>
										
											<td>
												<label class="text-green">Successful</label><br>
												<span>02 Jul 2017</span>
											</td>
										</tr>	
										<tr>
											<td  width="50%">
												<label>English Assignment11.docx</label><br>
												<span>500 Words</span>
											</td>
											<td> 
												<label class="">¥ 7500</label><br>
												<span class="text-uppercase">Credit Card</span> 
											</td>
										
											<td>
												<label class="text-red">Failed</label><br>
												<span>02 Aug 2017</span>
											</td>
										</tr>										
									  </table>
								    </div>
								</div>
							</div>
							<div class="sidebar-content">
								<div class="text-right margin-bt10">
									<a href="#/edit-profile" class="btn ">
										<i class="sci-Edit-icon icon-white"></i> 
										Edit Profile	
									</a>
								</div>
								<div class="content-box client-dl-info">
										<div class="img text-center">
											<img src="assets/images/chinese-tutor.jpg" 
											class="img-circle img-responsive">
										</div>
										<div class="margin-tp20 text-center">
												<label>73 Jobs Completed</label>
												<span class="clearfix"></span>
												<span class="rating">
													<i class="fa fa-star"></i>
													 4.2/5(66 Reviews)
												</span>
											</div>	
								</div>
								<div class="content-box designer-info">
										<div class=" ">
											<h4 class="sidebar-title">General Information</h4> 
										</div>
										<div>
											<label class="control-label">Name</label><br>
											<span>Jim Ho Chang</span>
										</div>				
									
										<div>
											<label class="control-label">Location</label><br>
											<span>Shanghai, China</span>
										</div>
										<div>
											<label class="control-label">Study</label><br>
											<span>Shanghai Institute of Visual Art</span>
										</div>
										<div>
											<label class="control-label">Skill</label><br>
											<div class="skill">
												<span>Logo Design ,</span>
												<span>Mobile App Design ,</span>
												<span>Web Design</span>
											</div>
										</div>
										<div>
											<label class="control-label">ID Number</label><br>
											<span>243464</span>
										</div>			
										<div>
											<label class="control-label">Joioning Date &amp; Time</label><br>
											<span>23, July 2017 4:45 PM</span>
										</div>
								</div>
								<div class="content-box team-info history">
										<div class="">
											<h4 class="sidebar-title">Referral History</h4>
										</div>
										<div class="">
											<label class="text-uppercase">10 jul</label>
											<a href="">Eva Chang</a>
										</div>
										<div class="">
											<label class="text-uppercase">18 jun</label>
											<a href="">Jason Lin</a>
										</div>
										<div class="">
											<label class="text-uppercase">09 jun</label>
											<a href="">Pete Jin Tao</a>
										</div>
										<div class="">
											<label class="text-uppercase">21 may</label>
											<a href="">Alice Tan</a>
										</div>
										<div class="text-center">
											Remaining Credits: Y 350.43
										</div>
								</div>
								<div class="content-box client-dl-info">
										<div class="sub-header text-black text-center margin-bt15">User Referal QR Code</div>
										<div class="img text-center">
											<span class="sci-barcode icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span><span class="path30"></span><span class="path31"></span><span class="path32"></span><span class="path33"></span><span class="path34"></span><span class="path35"></span><span class="path36"></span><span class="path37"></span><span class="path38"></span><span class="path39"></span><span class="path40"></span><span class="path41"></span><span class="path42"></span><span class="path43"></span><span class="path44"></span><span class="path45"></span><span class="path46"></span><span class="path47"></span><span class="path48"></span><span class="path49"></span><span class="path50"></span><span class="path51"></span><span class="path52"></span><span class="path53"></span><span class="path54"></span><span class="path55"></span><span class="path56"></span><span class="path57"></span><span class="path58"></span><span class="path59"></span><span class="path60"></span><span class="path61"></span><span class="path62"></span><span class="path63"></span><span class="path64"></span><span class="path65"></span><span class="path66"></span><span class="path67"></span><span class="path68"></span><span class="path69"></span><span class="path70"></span><span class="path71"></span></span>
										</div>
										<div class="margin-tp20 text-center team-info">
											<label>Referal ID:<span>abcr123</span></label><br>
											<a href="javascript:void(0)" class="">http:/refer.sixclouds.com/joseph</a><br>
											<label>Click to copy URL & ID</label>

										</div>
										<div class="text-center margin-tp10">
											<div>
												<a href="" class="btn btn-sm"><i class="sci-My-Account"></i> Joseph</a>
											</div>					
										</div>
								</div>
							</div>
						</div>	
					</div>
					<div id="jobs" class="tab-pane fade">
						<div class=" partition-content">
				   			<div class=" main-content-box">
								<div>
											   			<div class="sub-title text-red text-uppercase margin-bt20"> Work History (03) </div>
												   		<div class="reviews-list">
																<ul class="list-unstyled">
																	
																	<li>
																	 <div class="reviewer-content">
																	 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
																	 	<div class="reviews-detils">
																	 		<span>
																	 			<i class="sci-calendar"></i> 23, July 2017
																	 		</span>
																	 		
																	 		<span>
																	 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3 Shortlisted
																	 		</span>
																	 		<span>
																	 			<i class="sci-time" aria-hidden="true"></i> 3 Days 12 Hours
																	 		</span>
																	 		<span>
																	 			¥ 2,325
																	 		</span>
																	 	</div>
																	 	<div class="reviews-msg">
																	 		<div class="msg-img">
																	 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
																	 		</div>
																	 		<div class="reviews-msg-content">
																	 			<div class="name"><span>Jhon Tiang</span> <span class="address">
																	 				Shanghai, China
																	 			</span></div>
																	 			<div class="rating">
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>						 				
																	 			</div>
																	 			<div class="description">
																	 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
																	 			</div>
																	 		</div>
																	 	</div>
																	 </div>

																	</li>
																		<li>
																	 <div class="reviewer-content">
																	 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
																	 	<div class="reviews-detils">
																	 		<span>
																	 			<i class="sci-calendar"></i> 23, July 2017
																	 		</span>
																	 		
																	 		<span>
																	 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3 Shortlisted
																	 		</span>
																	 		<span>
																	 			<i class="sci-time" aria-hidden="true"></i> 3 Days 12 Hours
																	 		</span>
																	 		<span>
																	 			¥ 2,325
																	 		</span>
																	 	</div>
																	 	<div class="reviews-msg">
																	 		<div class="msg-img">
																	 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
																	 		</div>
																	 		<div class="reviews-msg-content">
																	 			<div class="name"><span>Jhon Tiang</span> <span class="address">
																	 				Shanghai, China
																	 			</span></div>
																	 			<div class="rating">
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>						 				
																	 			</div>
																	 			<div class="description">
																	 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
																	 			</div>
																	 		</div>
																	 	</div>
																	 </div>

																	</li>
																		<li>
																	 <div class="reviewer-content">
																	 	<div class="reviewer-heading">Design a logo for a pharma company(ID: 4456)</div>
																	 	<div class="reviews-detils">
																	 		<span>
																	 			<i class="sci-calendar"></i> 23, July 2017
																	 		</span>
																	 		
																	 		<span>
																	 			<i class="fa fa-users" aria-hidden="true"></i> 45 Entries | 3 Shortlisted
																	 		</span>
																	 		<span>
																	 			<i class="sci-time" aria-hidden="true"></i> 3 Days 12 Hours
																	 		</span>
																	 		<span>
																	 			¥ 2,325
																	 		</span>
																	 	</div>
																	 	<div class="reviews-msg">
																	 		<div class="msg-img">
																	 			<img src="assets/images/chinese-tutor.jpg" alt="Reviews img" class="img-responsive">	
																	 		</div>
																	 		<div class="reviews-msg-content">
																	 			<div class="name"><span>Jhon Tiang</span> <span class="address">
																	 				Shanghai, China
																	 			</span></div>
																	 			<div class="rating">
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>
																	 				<i class="fa fa-star"></i>						 				
																	 			</div>
																	 			<div class="description">
																	 				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
																	 			</div>
																	 		</div>
																	 	</div>
																	 </div>

																	</li>
																
																</ul>
															</div>
								</div>
								<div class="margin-tp40">
											   			<div class="sub-title text-red text-uppercase margin-bt20"> Portfolio </div>
											   			<div class="project-list">
													    		<ul class="list-unstyled">
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project4.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project2.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project3.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project4.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    			<li>
													    			  	<div class="project-content">
													    			  		<div class="img">
													    			  			<img src="assets/images/project.jpg" class="img-responsive">
													    			  		</div>
													    			  		
													    			  	</div>
													    			</li>
													    		</ul>
													    </div>

													 </div>
													 <div class="">
														 <div class="sub-title text-red text-uppercase margin-bt20"> Payment History </div>   
												   		<div class="table-responsive training-price pr-table-price">
												    	<table class="table back-white">
														    <tr>
																<td  width="50%">
																	<label>Complete of JOB ID:3244</label><br>
																	<span>Date: 11 July,4:45 PM</span>
																</td>
																<td> 
																	<label class="">¥ 1000</label>
																
																</td>
															
																<td>
																		<label class="text-red">Failed</label>
																	
																</td>
															</tr>	
															 <tr>
																<td  width="50%">
																	<label>Complete of JOB ID:3255</label><br>
																	<span>Date: 11 July,4:45 PM</span>
																</td>
																<td> 
																	<label class="">¥ 2500</label>
																
																</td>
															
																<td>
																		<label class="text-red">Successful</label>
																	
																</td>
															</tr>		
															 <tr>
																<td  width="50%">
																	<label>Complete of JOB ID:3255</label><br>
																	<span>Date: 11 July,4:45 PM</span>
																</td>
																<td> 
																	<label class="">¥ 3000</label>									
																</td>
															
																<td>
																		<label class="text-red">Successful</label>
																	
																</td>
															</tr>	
															<tr>
																<td  width="50%">
																	<label>Complete of JOB ID:3244</label><br>
																	<span>Date: 11 July,4:45 PM</span>
																</td>
																<td> 
																	<label class="">¥ 1000</label>
																</td>
															
																<td>
																	<label class="text-red">Failed</label>
																</td>
															</tr>					
														</table>
														</div>
								</div>
							</div>
							<div class="sidebar-content">

									<div class="text-right margin-bt10">
										<a href="#/edit-profile" class="btn ">
											<i class="sci-Edit-icon icon-white"></i> 
											Edit Profile	
										</a>
									</div>
									<div class="content-box client-dl-info ">
									<div class="img text-center">
										<img src="assets/images/chinese-tutor.jpg" class="img-circle img-responsive">
										
									</div>
									<div class="margin-tp20 text-center">
										<label>73 Jobs Completed</label>
										<div>
											<i class="sci-Star star"></i> 4.2/5 (66 Reviews)
										</div>
									</div>
														</div>
									<div class="content-box designer-info">
									<div class=" ">
										<h4 class="sidebar-title">General Information</h4> 
										
									</div>
									<div>
										<label class="control-label">Name</label><br>
										<span>Jim Ho Chang</span>
									</div>				
								
									<div>
										<label class="control-label">Location</label><br>
										<span>Shanghai, China</span>
									</div>
									<div>
										<label class="control-label">Study</label><br>
										<span>Shanghai Institute of Visual Art</span>
									</div>
									<div>
										<label class="control-label">Skill</label><br>
										<div class="skill">
											<span>Logo Design ,</span>
											<span>Mobile App Design ,</span>
											<span>Web Design</span>
										</div>
									</div>
									<div>
										<label class="control-label">ID Number</label><br>
										<span>243464</span>
									</div>			
									<div>
										<label class="control-label">Joioning Date &amp; Time</label><br>
										<span>23, July 2017 4:45 PM</span>
									</div>
									</div>
									<div class="content-box  designer-jobs-info">
											<div class=" ">
												<h4 class="sidebar-title">Jobs Info</h4>
											</div>
											<div>
												<label class="control-label">Total Jobs Applied</label><br>
												<span>119</span>
											</div>
											<div>
												<label class="control-label">Total Jobs Shortlisted</label><br>
												<span>97</span>
											</div>
											<div>
												<label class="control-label">Total Jobs Completed</label><br>
												<span>73</span>
											</div>
											<div>
												<label class="control-label">Total Assignments Completed</label><br>
												<span>12</span>
											</div>
											<div class="divider margin-tp10"></div>
											<div>
												<label class="control-label">Minimum Project Value</label><br>
												<span class="sidebar-title">¥ 500</span>
											</div>
											<div>
												<label class="control-label">Lifetime Earnings</label><br>
												<span class="sidebar-title">¥ 768,345</span>
											</div>
									</div>
									<div class="content-box team-info history">
										<div class="">
											<h4 class="sidebar-title">Referral History</h4>
										</div>
										<div class="">
											<label class="text-uppercase">10 jul</label>
											<a href="">Eva Chang</a>
										</div>
										<div class="">
											<label class="text-uppercase">18 jun</label>
											<a href="">Jason Lin</a>
										</div>
										<div class="">
											<label class="text-uppercase">09 jun</label>
											<a href="">Pete Jin Tao</a>
										</div>
										<div class="">
											<label class="text-uppercase">21 may</label>
											<a href="">Alice Tan</a>
										</div>
										<div class="text-center">
											Remaining Credits: Y 350.43
										</div>
										</div>
										<div class="content-box">
										<div class="">
											<h4 class="sidebar-title">Preferred Payment Mode</h4>
										</div>
										<div class="title uppercase text-black margin-tp10 margin-bt10">
											AliPay
										</div>
										<div>
											<label class="control-label">Account Email Address</label><br>
											<span>jim.chang@qqmail.com</span>
										</div>
										<div>
											<label class="control-label">Account Phone Number</label><br>
											<span>+86 10 8404 1430</span>
										</div>
									</div>
									<div class="content-box client-dl-info">
										<div class="sub-header text-black text-center margin-bt15">User Referal QR Code</div>
												<div class="img text-center">
													<span class="sci-barcode icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span><span class="path21"></span><span class="path22"></span><span class="path23"></span><span class="path24"></span><span class="path25"></span><span class="path26"></span><span class="path27"></span><span class="path28"></span><span class="path29"></span><span class="path30"></span><span class="path31"></span><span class="path32"></span><span class="path33"></span><span class="path34"></span><span class="path35"></span><span class="path36"></span><span class="path37"></span><span class="path38"></span><span class="path39"></span><span class="path40"></span><span class="path41"></span><span class="path42"></span><span class="path43"></span><span class="path44"></span><span class="path45"></span><span class="path46"></span><span class="path47"></span><span class="path48"></span><span class="path49"></span><span class="path50"></span><span class="path51"></span><span class="path52"></span><span class="path53"></span><span class="path54"></span><span class="path55"></span><span class="path56"></span><span class="path57"></span><span class="path58"></span><span class="path59"></span><span class="path60"></span><span class="path61"></span><span class="path62"></span><span class="path63"></span><span class="path64"></span><span class="path65"></span><span class="path66"></span><span class="path67"></span><span class="path68"></span><span class="path69"></span><span class="path70"></span><span class="path71"></span></span>
												</div>
												<div class="margin-tp20 text-center team-info">
													<label>Referal ID:<span>abcr123</span></label><br>
													<a href="javascript:void(0)" class="">http:/refer.sixclouds.com/joseph</a><br>
													<label>Click to copy URL & ID</label>

												</div>
												<div class="text-center margin-tp10">
													<div>
														<a href="" class="btn btn-sm"><i class="sci-My-Account"></i> Joshep</a>
													</div>					
												</div>
									</div>
							</div>
						</div>		
					</div>		
				</div>
			</div>
		</div>
			
	</div>
</section>