<section class="user-dashboard-banner pr-my-cases without-bt-head-title">
	<div class="header">
		<i class="sci-abc"></i>
		<h2 class="title text-white">ENGLISH & CHINESE DOCUMENT PROOF READING SERVICE</h2>
	</div>
	<div class="overlay"></div>
</section>
<section class="cases back-white">
	<div class="container">
		<div class="new-cases my-cases">
			<div class="sub-title">
				New Case(s)
			</div>
			<ul class="list-unstyled">
				<li class="back-light-gray text-center drop-files">
					<span class="icon">
						<span class="sci-upload"><span class="path1"></span><span class="path2"></span></span>
					</span>
					<span class="sub-header">DROP FILE(S) TO SUBMIT NEW CASES</span>
				</li>
				<li class="li-border">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Eng-assignment09.docx</div>
								<div>Size: 2.4 MB</div>
							</div>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
							<span class="icon-dd">
								<a class="btn text-white"><i class="sci-cancel"></i> Cancel</a>
							</span>
						</div>
					</div>
				</li>
				<li class="li-border new-cases-services">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">CasualComposition</div>
								<div>
									Size: 2.4 MB
									<span class="total">
										Total Words:
										<span class="">476</span>
									</span>
								</div>
							</div>
							<div class="new-cases-details">
								<div class="sub-header text-black">Select from the below Services </div>
								<table class="table margin-zero" width="100%">
									<thead width="100%">
										<tr>
											<th width="33%" class="text-center">Target</th>
											<th width="33%" class="text-center">Standard Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH language."></i>
											</th>
											<th width="33%" class="text-center">Premium Fees <i class="sci-notice icon" data-toggle="tooltip" title="The comments on the proof read documents will be in ENGLISH & MANDARIN languages."></i></th>
										</tr>
									</thead>
									<tbody width="100%">
										<tr>
											<td class="hours" align="center">
												<a class="">24 hours</a>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
										</tr>
										<tr>
											<td class="hours" align="center">
												<a>48 hours</a>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
										</tr>
										<tr>
											<td class="hours" align="center">
												<a>72 hours</a>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
											<td align="center">
												<label class="radio-inline radio-button">
													<input type="radio" name="optradio" value="0">
													<div class="radio-checked"></div>
													&yen; 40
												</label>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<span class="icon-dd">
								<a class="btn bg-green"><i class="sci-accept"></i> Accept</a>
								<a class="btn text-white"><i class="sci-reject"></i> Reject</a>
							</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases">
			<div class="sub-title">
				My Cases
			</div>
			<ul class="list-unstyled panel-group accordion" id="accordion1">
				<li class="back-lr panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Current Status: <span> Document Submitted </span></div>
								<div>Document Submitted: <span> 11:32 Hours To Go </span></div>
							</div>
							<span class="icon-dd">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_1" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="collapse_1" class="panel-collapse collapse collapse-section" aria-expanded="false">
						<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 text-black margin-zero text-left">Case Details</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID: <span>4342</span></div>
							</li>
							<li class="">
								<div>Total Words: <span>442</span></div>
							</li>
							<li class="">
								<div>Total Fee: <span>$75.00</span></div>
							</li>
							<li class="">
								<div>Language: <span>English</span></div>
							</li>
							<li class="">
								<div>File Size: <span>204.3 KB</span></div>
							</li>
						</ul>
						<div class="group-btn">
							<a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
						</div>
					</div>
				</li>
				<li class="back-lb panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Current Status: <span> 1st Level Accessment Completed </span></div>
								<div>Document Submitted: <span> 11:32 Hours To Go </span></div>
							</div>
							<span class="icon-dd">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_2" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
							
						</div>
					</div>
					<div id="collapse_2" class="panel-collapse collapse collapse-section" aria-expanded="false">
						<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 text-black margin-zero text-left">Case Details</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID: <span>4342</span></div>
							</li>
							<li class="">
								<div>Total Words: <span>442</span></div>
							</li>
							<li class="">
								<div>Total Fee: <span>$75.00</span></div>
							</li>
							<li class="">
								<div>Language: <span>English</span></div>
							</li>
							<li class="">
								<div>File Size: <span>204.3 KB</span></div>
							</li>
						</ul>
						<div class="group-btn">
							<a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
						</div>
					</div>
				</li>
				<li class="back-ly panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">政改起經定了叫似復車情水量灣運入社已施件金因.docx</div>
								<div>Current Status: <span> 2st Level Accessment Completed </span></div>
								<div>Document Submitted: <span> 13:03 Hours To Go </span></div>
							</div>
							<span class="icon-dd">
								<a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#case-details3">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details3" class="collapse panel-collapse collapse-section">
						<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-yellow"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>2nd Level Accessment Completed</div>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-gray"></span>
								<div class="timeline-details">
									<i class="icon">
									<span class="sci-Time-And-file"></span>
									</i>
								</div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 text-black margin-zero text-left">Case Details</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID: <span>4342</span></div>
							</li>
							<li class="">
								<div>Total Words: <span>442</span></div>
							</li>
							<li class="">
								<div>Total Fee: <span>$75.00</span></div>
							</li>
							<li class="">
								<div>Language: <span>English</span></div>
							</li>
							<li class="">
								<div>File Size: <span>204.3 KB</span></div>
							</li>
						</ul>
						<div class="group-btn">
							<a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
						</div>
					</div>
				</li>
				<li class="pd-zero add panel">
					<a href="">
						<img src="assets/images/Add-1.png">
					</a>
				</li>
				<li class="back-lg panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Current Status: <span> Completed </span></div>
								<div>Document Submitted: <span> 11:32 Hours To Go </span></div>
							</div>
							<span class="icon-dd">
								<a class="btn text-white dwnld-file back-green"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#case-details">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
							
						</div>
					</div>
					<div id="case-details" class="collapse panel-collapse collapse-section">
						<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-yellow"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>2nd Level Accessment Completed</div>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-green"></span>
								<div class="timeline-details">
									<b>12 Apr, 5:00 pm</b>
									<div>File downloaded</div>
								</div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 text-black margin-zero text-left">Case Details</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID: <span>4342</span></div>
							</li>
							<li class="">
								<div>Total Words: <span>442</span></div>
							</li>
							<li class="">
								<div>Total Fee: <span>$75.00</span></div>
							</li>
							<li class="">
								<div>Language: <span>English</span></div>
							</li>
							<li class="">
								<div>File Size: <span>204.3 KB</span></div>
							</li>
						</ul>
						<div class="group-btn">
							<a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
							<a class="btn text-white dwnld-file back-green"><i class="sci-download text-white "></i> Download file</a>
						</div>
					</div>
				</li>
				<li class="back-lg panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Current Status: <span> Completed & Downloaded </span></div>
								<div>Document Submitted: <span> 11:32 Hours To Go </span></div>
							</div>
							<span class="icon-dd">
								<a class="btn text-white dwnld-file back-green"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#case-details-2">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
							
						</div>
					</div>
					<div id="case-details-2" class="collapse panel-collapse collapse-section">
						<div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-yellow"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>2nd Level Accessment Completed</div>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-green"></span>
								<div class="timeline-details">
									<b>12 Apr, 5:00 pm</b>
									<div>File downloaded</div>
								</div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 text-black margin-zero text-left">Case Details</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID: <span>4342</span></div>
							</li>
							<li class="">
								<div>Total Words: <span>442</span></div>
							</li>
							<li class="">
								<div>Total Fee: <span>$75.00</span></div>
							</li>
							<li class="">
								<div>Language: <span>English</span></div>
							</li>
							<li class="">
								<div>File Size: <span>204.3 KB</span></div>
							</li>
						</ul>
						<div class="group-btn">
							<a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
							<a class="btn text-white dwnld-file back-green"><i class="sci-download text-white"></i> Download file</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>