<section class="user-dashboard-banner PR-banner">
	<div class="header">
		<i class="sci-Search"></i>
		<h2 class="title text-white">ENGLISH & CHINESE DOCUMENT PROOF READING SERVICE</h2>
	</div>
	<div class="overlay"></div>
	<div class="banner-header sub-header margin-zero">
		GET THE BEST PROOF READING SERVICES IN THE INDUSTRY WITH A 2-STEP ACCESSMENT!
	</div>
</section>
<section class="progaram-section back-white new-case">
	<div class="container">
		<div class="progaram">
			<div class="box-list">
				<div class="box">
				<div class="icon">
					<span class="sci-vetted-accessors"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span></span>
					</div>
					<div class="text">1.VETTED ACCESSORS</div>
					<p>All our accessors are carefully chosen after a rigorous vetting process to ensure quality.</p>
				</div>
				<div class="box">
					<div class="icon">
					<span class="sci-step-assignment"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span></span>
					</div>
					<div class="text">2.STEP ACCESSMENT </div>
					<p>A unique 2-step accessment process gives us a unique advantage in the industry.</p>
				</div>
				<div class="box">
					<div class="icon"><span class="sci-QUICKEST-TURNAROUND"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span></div>
					<div class="text">3.QUICKEST TURNAROUND</div>
					<p>Our well-strcutred process ensures that you get the proof-read document in the quickest amount of time.</p>
				</div>
			</div>
			<div class="program-label">
				<span class="label-large">Check out our proof reading services by uploading your first case document.</span>
				<div class="margin-tp40">
				<a class="btn" href="#my-cases"> <i class="sci-Upload"></i> Upload New Case</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-red video">
	<div class="container">
		<div class="dec-students">
			<div class="img">
				<div class="img-box">
					<img src="assets/images/students-video.jpg">
				</div>
			</div>
			<div class="description text-white">
				<h2 class="title margin-bt10">TRUSTED BY OVER 2000 STUDENTS</h2>
				<p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
	</div>
</section>
<section class="back-white our-process">
	<div class="container">
		<h2 class="title">OUR PROCESS</h2>
		<div class="process">
			<div class="process-modal">
				<div class="step step-1 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
					<div class="media">
						<div class="media-left center-sm">
							<span class="icon">
							<span class="sci-appoinment"><span class="path1"></span><span class="path2"></span></span>
							</span>
						</div>
						<div class="media-body">
							<div class="sub-header margin-zero"> STEP #1
							</div>
							<b>Submit your document(s) to us that you wish to proof read.</b>
						</div>
					</div>
				</div>
				<div class="step step-2 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
					<div class="media">
						<div class="media-left center-sm">
							<span class="icon">
							<span class="sci-send-to-user"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span></span>
							</span>
						</div>
						<div class="media-body">
							<div class="sub-header margin-zero"> STEP #2
							</div>
							<b>We select an accessor from our pool of available accessors and assign your document to him.</b>
						</div>
					</div>
				</div>
				<div class="step step-3 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1.5s">
					<div class="media">
						<div class="media-left center-sm">
							<span class="icon">
							<span class="sci-info"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
							</span>
						</div>
						<div class="media-body">
							<div class="sub-header margin-zero"> STEP #3
							</div>
							<b> Once that accessor is done proof reading your document, we pass it on to a senior accessor who does the 2nd level accessment. </b>
						</div>
					</div>
				</div>
				<div class="step step-4 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2s">
					<div class="media">
						<div class="media-left center-sm left-sm">
							<span class="icon">
							<span class="sci-workplace"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
							</span>
						</div>
						<div class="media-body right-sm">
							<div class="sub-header margin-zero"> STEP #4
							</div>
							<b>After the document gets cleared from the 2nd level accessor it is submitted back to you.</b>
						</div>
						
					</div>
				</div>
				<div class="step step-5 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="2.5s">
					<div class="media">
						<div class="media-left center-sm left-sm">
							<span class="icon">
							<span class="sci-work-done"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
							</span>
						</div>
						<div class="media-body right-sm">
							<div class="sub-header margin-zero"> STEP #5
							</div>
							<b>Success! You can now download the document.</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="pricing-turnaround">
	<div class="container">
		<h2 class="title">PRICING & TURNAROUND TIME</h2>
		<div class="box-list">
			<div class="box">
				<div class="sub-header">English Document Proof Reading</div>
				<ul class="list-unstyled">
					<li>
						Charging fee: &yen;5 per word.
					</li>
					<li>
						Minimum document size: 50 words
					</li>
					<li>
						Turn around time: 24-72 hours <br>(depending on the document size).
					</li>
				</ul>
			</div>
			<div class="box">
				<div class="sub-header">Chinese Document Proof Reading</div>
				<ul class="list-unstyled">
					<li>
						Charging fee: &yen;7 per word.
					</li>
					<li>
						Minimum document size: 50 words
					</li>
					<li>
						Turn around time: 24-72 hours <br>(depending on the document size).
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>