<section class="user-dashboard-banner pr-my-cases">
    <div class="header">
        <i class="sci-abc"></i>
        <h2 class="title text-white">ENGLISH & CHINESE DOCUMENT PROOF READING SERVICE</h2>
    </div>
    <div class="overlay"></div>
</section>
<section class="cases back-white">
    <div class="container">
        <div class="my-cases">
            <div class="title">
                My Cases
            </div>
            <ul class="panel-group accordion list-unstyled" id="accordion1">
                <li class="panel back-lr">
                    <div class="media">
                        <div class="media-left">
                            <div class="icon">
                                <span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
                            </div>
                        </div>
                        <div class="media-body case-dec">
                            <div class="left-side">
                                <div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
                                <div>Current Status: <span> Document Submitted </span></div>
                                <div>Document Submitted: <span> 11:32 Hours To Go </span></div>
                            </div>
                            <span class="icon-dd">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_1" aria-expanded="false">
                                    <i class="sci-down-arrow down"></i>
                                    <i class="sci-down-up up"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div id="collapse_1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="sub-header pd-tp10 text-black margin-zero">Case Timeline</div>
                        <ul class="list-unstyled list-inline progress-indicator">
                            <li class="submitted">
                                <span class="bubble back-red"></span>
                                <div class="timeline-details">
                                    <b>12 Apr, 4:45 pm</b>
                                    <div>Document Submitted</div>
                                </div>
                            </li>
                            <li class="completed-1">
                                <span class="bubble back-gray"></span>
                                <div class="timeline-details">
                                    <i class="icon">
                                    <span class="sci-Time-And-file"></span>
                                    </i>
                                </div>
                            </li>
                            <li class="completed-2">
                                <span class="bubble back-gray"></span>
                                <div class="timeline-details">
                                    <i class="icon">
                                    <span class="sci-Time-And-file"></span>
                                    </i>
                                </div>
                            </li>
                            <li class="download">
                                <span class="bubble back-gray"></span>
                                <div class="timeline-details">
                                    <i class="icon">
                                    <span class="sci-Time-And-file"></span>
                                    </i>
                                </div>
                            </li>
                        </ul>
                        <div class="sub-header pd-tp10 text-black margin-zero">Case Details</div>
                        <ul class="list-unstyled list-inline case-list">
                            <li class="">
                                <div>Case ID: <span>4342</span></div>
                            </li>
                            <li class="">
                                <div>Total Words: <span>442</span></div>
                            </li>
                            <li class="">
                                <div>Total Fee: <span>$75.00</span></div>
                            </li>
                            <li class="">
                                <div>Language: <span>English</span></div>
                            </li>
                            <li class="">
                                <div>File Size: <span>204.3 KB</span></div>
                            </li>
                        </ul>
                        <div class="group-btn">
                            <a class="btn text-white back-gray dwnld-file"><i class="sci-download text-white"></i> Original File</a>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_2" aria-expanded="false"> Collapsible Group Item #2 </a>
                        </h4>
                    </div>
                    <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body" style="height:200px; overflow-y:auto;">
                            <p> 111111Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. </p>
                            <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. </p>
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. </p>
                            <p>
                                <a class="btn blue" href="ui_tabs_accordions_navs.html#collapse_2" target="_blank"> Activate this section via URL </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_3" aria-expanded="false"> Collapsible Group Item #3 </a>
                        </h4>
                    </div>
                    <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor. </p>
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. </p>
                            <p>
                                <a class="btn green" href="ui_tabs_accordions_navs.html#collapse_3" target="_blank"> Activate this section via URL </a>
                            </p>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="javascript:void(0)#collapse_4" aria-expanded="true"> Collapsible Group Item #4 </a>
                        </h4>
                    </div>
                    <div id="collapse_4" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. </p>
                            <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                            eiusmod. Brunch 3 wolf moon tempor. </p>
                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut. </p>
                            <p>
                                <a class="btn red" href="ui_tabs_accordions_navs.html#collapse_4" target="_blank"> Activate this section via URL </a>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>