div#multiformpopup {width: 80%;}
div#jsst-header div#jsst-header-heading{width: 100%;}
a.js-ticket-header-links{width: 100%;}
div#jsst-header div#jsst-tabs-wrp{width: 100%;}
div#jsst-header span.jsst-header-tab{width: calc(100% / 2 - 10px);margin: 5px 5px;}
div#jsst-header span.jsst-header-tab a.js-cp-menu-link{width: 100%;}
div#js-total-count-cp a.js-ticket-count-wrp{width: calc(100% - 10px);margin-bottom: 10px;}
a.js-ticket-dash-menu{width: 100%;}
div.js-ticket-latest-ticket-header-wrp{display: none !important;}
div.js-ticket-latest-tickets-wrp {}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left{width: 100%;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left div.js-ticket-ticket-subject{width: 100%;text-align: center;padding: 0;}
div.js-ticket-latest-ticket-heading{display: inline-block;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-second-left{width: 100%;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-third-left{width: 100%;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-fourth-left{width: 100%;padding: 20px 0 10px;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left div.js-ticket-user-img-wrp{width: 100%;margin: 25px 0;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-fourth-left div.js-ticket-priorty{width: auto;display: inline-block;min-width: 102px;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left div.js-ticket-ticket-subject div.js-ticket-data-row {padding-bottom: 15px;}
div.js-cp-main-wrp div.js-cp-left {width: 100%;padding-right: 0;padding-bottom: 20px;}
div.js-cp-main-wrp div.js-cp-right {width: 100%;}
.js-ticket-count div.js-ticket-link {width: calc(100% / 2);}
.js-support-ticket-cont .js-support-ticket-box {width: 100%;margin: 0 0 20px;}
.js-support-ticket-cont .js-support-ticket-box:last-child {margin-bottom: 0px;}
div.js-ticket-haeder div.js-ticket-header-txt {width: 100%;}
div.js-ticket-haeder a.js-ticket-header-link {float: left;margin: 10px 0;}
.js-ticket-data-list .js-ticket-data {text-align: center;}
.js-ticket-data-list .js-ticket-data .js-ticket-data-image {width: 100%;}
.js-ticket-data-list .js-ticket-data .js-ticket-data-tit {width: 100%;}
.js-ticket-data-list .js-ticket-data .js-ticket-data-btn {float: none;display: inline-block;margin: 10px 0;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-first-left {width: 100%;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-second-left {width: 100%;}
div.js-ticket-latest-tickets-wrp div.js-ticket-row div.js-ticket-third-left {width: 100%;padding: 0;} div.js-ticket-checkstatus-wrp div.js-ticket-checkstatus-field-wrp{width: calc(100% / 1 - 50px); } div.js-ticket-add-form-wrapper div.js-ticket-from-field-wrp{width: calc(100% / 1 - 10px);}
div.js-ticket-select-user-field{width: 65%;}
div.js-ticket-select-user-btn{width: 35%;}
span#premade{width: 100%;}
span#premade select#premadeid{background: url(//www.sixclouds.net/beta/wp-content/plugins/js-support-ticket/includes/images/selecticon.png) 96% / 4% no-repeat;width: 100%;}
span.js-ticket-apend-radio-btn{margin: 10px 0px 0px 0px;}
div.tk_attachment_value_wrapperform span.tk_attachment_value_text{width: calc(100% / 1 - 10px);} div.js-ticket-search-top div.js-ticket-search-left{width: 100%;}
div.js-ticket-search-top div.js-ticket-search-left div.js-ticket-search-fields-wrp input.js-ticket-search-input-fields{width: calc(100% / 1 - 10px);margin-bottom: 10px;}
div.js-ticket-search-top div.js-ticket-search-right{width: calc(60% - 5px);margin-left: 5px;}
span.js-ticket-sub-fields{width: 100%;margin-bottom: 10px;}
span.tk_attachments_addform{display: inline-block;padding:5px 10px;margin-top:10px;margin-right: 0px; left: 10px;position: relative;} div.js-myticket-link{padding-bottom: 10px;width: calc(100% / 1);}
div.js-myticket-link a.js-myticket-link{min-width: 0px;width: 100%;}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-wrapper div.js-filter-form-fields-wrp{width: 100%;}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp {float: left;width: 100%;padding: 10px 5px;}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp .js-search-filter-btn {width: 100%;margin: 0 0 10px;}
div#js-filter-wrapper-toggle-btn{width: calc(100% - 85% - 5px);}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-search-btn{margin: 0 0 10px;width: 100%;}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div.js-filter-button-wrp input.js-ticket-reset-btn{margin: 0;width: 100%;}
div.js-ticket-search-wrp div.js-ticket-form-wrp form.js-filter-form div#js-filter-wrapper-toggle-area div.js-filter-field-wrp{width: calc(100% / 1);padding: 5px;}
div.js-ticket-sorting span.js-ticket-sorting-link{padding-right: 0px;padding-left: 0px;width: calc(100% / 2);display: inline-block;float: left;}
div.js-ticket-wrapper div.js-ticket-pic {width: 100%;}
div.js-ticket-wrapper div.js-ticket-data {width: 100%;padding: 20px;text-align: center;}
div.js-ticket-wrapper div.js-ticket-data span.js-ticket-status {position: unset;margin: 10px 0;}
div.js-ticket-wrapper div.js-ticket-data span.js-ticket-status img.ticketstatusimage.one {left: auto;top: auto;right: 70px;bottom: 30px;}
span.js-ticket-wrapper-textcolor {position: unset;margin-top: 15px;}
div.js-ticket-wrapper div.js-ticket-data1 {width: 100%;padding: 30px 20px;text-align: center;}
span.js-ticket-title{float: none !important; }
div.js-filter-wrapper div.js-filter-value{padding-bottom: 10px;}
div.js-filter-wrapper {margin-top: 0px;}
div.js-filter-wrapper-position{margin-top: 10px;}
div.js-ticket-wrapper:hover div.js-ticket-pic{border: none !important;}
div.js-ticket-wrapper div.js-ticket-pic{border: none !important;}
div#popupforinternalnote {width: 90%;}
div.jsst-popup-wrapper {width: 90%;} div.js-ticket-detail-wrapper{padding: 5px 0px;}
.js-tkt-det-user .js-tkt-det-user-image {width: 100%;margin: 25px 0;}
.js-tkt-det-usr-tkt-list .js-tkt-det-user .js-tkt-det-user-image {width: 100%;margin: 25px 0;}
.js-tkt-det-user .js-tkt-det-user-cnt {width: 100% !important;padding: 0;text-align: center;}
.js-tkt-det-user .js-tkt-det-user-cnt .js-tkt-det-user-data {padding-bottom: 15px;}
.js-tkt-det-usr-tkt-list .js-tkt-det-prty {float: none;display: inline-block;}
.js-tkt-det-usr-tkt-list .js-tkt-det-status {float: none;display: inline-block;}
div.js-ticket-edit-options-wrp a.js-button {float: right;}
.js-ticket-thread .js-ticket-thread-image {width: 100%;}
.js-ticket-thread .js-ticket-thread-cnt {width: 100%;padding: 20px;text-align: center;}
.js-ticket-thread .js-ticket-thread-cnt .js-ticket-thread-data .js-ticket-thread-person {float: none;display: inline-block;width: 100%;}
.js-ticket-thread .js-ticket-thread-cnt .js-ticket-thread-data .js-ticket-thread-email {float: none;display: inline-block;width: 100%;}
.js-ticket-thread .js-ticket-thread-cnt .js-ticket-thread-data .js-ticket-thread-time {float: none;display: inline-block;width: 100%;}
div.js-ticket-detail-box div.js-ticket-detail-left{width: 100%;padding: 10px;}
div.js-ticket-detail-box div.js-ticket-detail-right{width: 100%;}
div.js-ticket-detail-box div.js-ticket-detail-right div.js-ticket-rows-wrp{padding: 20px;text-align: center;min-height: auto !important;}
div.js-ticket-detail-box div.js-ticket-detail-right{border-top: 1px solid #DEDFE0;border-left:none !important;}
div.js-ticket-detail-right div.js-ticket-openclosed-box{top: 66%;}
div.jsst-ticket-detail-timer-wrapper div.timer-left{padding: 10px 10px 0px;width: 100%;text-align: center;}
.jsst-ticket-detail-timer-wrapper .timer-total-time {float: none;display: inline-block;padding-bottom: 10px;}
div.jsst-ticket-detail-timer-wrapper div.timer-right{float: left;width: 100%;}
div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-total-time{float: left;width: 100%;text-align: center;padding: 0px 0px 0px 0px; }
div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer{padding: 0px 0px 10px 0px; }
div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-buttons{width: 100%;text-align: center;}
div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer-buttons span.timer-button{float: none;}
div.js-ticket-premade-msg-wrp{margin-top: 10px;}
select#premadeid {width: 100%;background: url(//www.sixclouds.net/beta/wp-content/plugins/js-support-ticket/includes/images/selecticon.png) 96% / 4% no-repeat;}
div.js-ticket-append-signature-wrp{width: calc(100% / 1);margin-right:0px;}
div.js-ticket-append-signature-wrp div.js-ticket-signature-radio-box{width: 100%;margin: 0 0 10px;}
div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select#departmentid{background: url(//www.sixclouds.net/beta/wp-content/plugins/js-support-ticket/includes/images/selecticon.png) 96% / 4% no-repeat}
div.js-ticket-premade-msg-wrp div.js-ticket-premade-field-wrp select#staffid{background: url(//www.sixclouds.net/beta/wp-content/plugins/js-support-ticket/includes/images/selecticon.png) 96% / 4% no-repeat}
div#userpopupforchangepriority{width: 90%;}
div#userpopupforchangepriority div.js-ticket-priorty-fields-wrp div.js-ticket-select-priorty select#priority{width: 90%;}
span.js-ticket-thread-time{display: inline-block;float: left;padding: 10px 0 0px 0px;}
div.js-ticket-attachments-wrp div.js_ticketattachment{width: calc(100% / 1 - 10px);}
div.js-ticket-closeonreply-wrp div.js-form-title-position-reletive-left{width: auto;}
div#userpopup {width: 90%;}
.js-tkt-det-left {width: 100%;padding-right: 0;padding-bottom: 20px;}
.js-tkt-det-right {width: 100%;}
div#usercredentailspopup {width: 90%;}
div#popupforagenttransfer {width: 90%;}
div#popupfordepartmenttransfer {width: 90%;} div.js-merge-ticket{margin:15px 0px;}
span.js-merge-ticket-left{width: 100%;}
span.js-img-wrp{margin: auto;width: 80px;height: 80px;float: none;}
span.js-merge-ticket-right{width: 100%;}
span.js-ticket-det-left{width: 70%;}
span.js-ticket-det-right{width: 30%;}
div.js-merge-form-wrp{width: 100%;}
div.js-merge-form-value{width: 100%;}
div.js-merge-form-btn-wrp{width: 50%;margin: auto;float: none;}
div.js-view-last-tickets{margin-top: 20px !important;}
span.js-heading-text{padding-bottom: 20px !important;} div.js-ticket-search-heading-wrp div.js-ticket-heading-left{width: 100%;}
div.js-ticket-search-heading-wrp div.js-ticket-heading-right{width: 100%;text-align: left;}
div.js-ticket-fields-wrp div.js-ticket-form-field-download-search{width: 100%;}
div.js-ticket-search-form-btn-wrp-download{width: 100%;margin-top: 10px;}
div.js-ticket-search-form-btn-wrp-download input.js-search-button{margin:auto 5px;}
div.js-ticket-search-form-btn-wrp-download input.js-reset-button{margin:auto 5px;mb}
span.js-ticket-roles-section-heading-right{width: 100%;margin-top: 10px;}
div.js-ticket-role-wrp div.js-ticket-add-role-field-wrp{width: calc(100% / 1 - 10px);margin-bottom: 10px;} div.js-ticket-fields-wrp div.js-ticket-form-field{width: calc(100% / 1 - 10px);margin-bottom: 10px;}
div.js-ticket-margin-top-select{margin-top: 0px !important;}
div.js-ticket-table-wrp div.js-ticket-table-header{display: none;}
span.js-ticket-display-block{display: block;float: left;min-width: 120px;padding-right: 10px;text-align: left;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col:first-child{width: 100%;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col{text-align: left;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col{border-right: none !important; border-bottom:1px solid #DEDFE0;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col:nth-child(3) {width: 100%;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col:first-child{border-top:1px solid #DEDFE0;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col:last-child{border-bottom:none!important;}
div.js-ticket-table-body div.js-ticket-data-row{margin-bottom: 15px;}
div.js-ticket-table-body div.js-ticket-data-row div.js-ticket-table-body-col{width: 100%;}
div.js-ticket-search-form-btn-wrp {width: 100%;}
div.js-ticket-fields-wrp {width: 100%;} div.js-ticket-table-heading-wrp div.js-ticket-table-heading-left {width: 100%;}
div.js-ticket-table-heading-wrp div.js-ticket-table-heading-right {width: 100%;text-align: left;}
div.js-ticket-downloads-content div.js-ticket-download-box div.js-ticket-download-right{width: 100%;}
div.js-ticket-download-btn{padding-top: 15px;border-top: 1px solid #eee;width: 100%;text-align: center;}
div#js-ticket-main-popup {width: 90%;}
div.js-ticket-attached-files-wrp {width: 100%;} div.js-ticket-announcement-wrapper div.js-ticket-search-heading-wrp div.js-ticket-heading-left{width: 100%;}
div.js-ticket-announcement-wrapper div.js-ticket-search-heading-wrp div.js-ticket-heading-right{width: auto;float: right;}
span.js-ticket-title{float: left;width: calc(100% - 120px);}
div.js-ticket-categories-content div.js-ticket-category-box{width: calc(100% / 2 - 10px);}
div.js-ticket-downloads-content div.js-ticket-download-box div.js-ticket-download-left{width: 100%;} div.js-ticket-download-wrapper div.js-ticket-search-heading-wrp div.js-ticket-heading-left{width: 100%;}
div.js-ticket-download-wrapper div.js-ticket-search-heading-wrp div.js-ticket-heading-right{width: auto;float: right;}
div.js-ticket-knowledgebase-wrapper div.js-ticket-search-heading-wrp div.js-ticket-heading-left{width: 100%;} div.js-ticket-mails-btn-wrp div.js-ticket-mail-btn{width: calc(100% / 1 - 10px);margin-bottom: 10px;} div.js-admin-report-box-wrapper div.js-admin-box{width: calc(100% / 2 - 10px); margin-left: 5px;margin-right: 5px; float: left;margin-bottom: 10px;}
div.js-admin-staff-wrapper .nopadding{text-align: center;}
div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-image{text-align: center;}
div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-content div.js-admin-box-content-number{text-align: center;}
div.js-admin-report-box-wrapper div.js-admin-box div.js-admin-box-content div.js-admin-box-content-label{text-align: center;}
div.js-admin-staff-wrapper div.js-col-md-2.js-col-md-offset-1.js-admin-report-box.box1{width: calc(100% / 2 - 10px); margin-left: 5px;margin-right: 5px; float: left;margin-bottom: 10px;}
div.js-admin-staff-wrapper div.js-admin-report-box{width: calc(100% / 2 - 10px); margin-left: 5px;margin-right: 5px; float: left;margin-bottom: 10px;}
div.js-admin-staff-wrapper div.js-report-staff-image-wrapper{display: inline-block;}
div.js-col-md-8.nopadding{width: 100%;}
div.js-admin-staff-wrapper.js-departmentlist div.jsposition-reletive{padding: 15px 0px;}
div.jsst-ticket-detail-timer-wrapper div.timer-right div.timer{width: 100%;}
div#records div.js-popup-row-wrapper span{width:100%;border-right:none !important;}
div#action-div div.js-row{width:100%;margin:0px;}
div#action-div div.js-row div.js-col-md-6{display: inline-block;width:60%;float: left;}
div#action-div div.js-row div.js-col-md-6 select{width:100%;background: url(//www.sixclouds.net/beta/wp-content/plugins/js-support-ticket/includes/images/selecticon.png) 96% / 4% no-repeat #eee;}
div#action-div div.js-row div.js-col-md-4{display: inline-block;width:40%;float: left;}
table.js-admin-report-tickets tr.js-det-rpt-heading{display:none;}
table.js-admin-report-tickets tr{display:inline-block;width: 100%;float: left;border-bottom:1px solid #000000;margin-bottom:10px;}
table.js-admin-report-tickets tr td{display:inline-block;width: 100%;float: left;text-align: left;padding-top:0px;padding-bottom:0px;}
table.js-admin-report-tickets tr td span.js-responsive-heading{display:inline-block;padding-right:8px;}
div.js-festaffreport-img {padding-bottom: 20px !important;width: 100% !important;}
div.js-admin-staff-wrapper div.js-report-staff-cnt-wrapper {text-align: left;}
div.js-admin-staff-wrapper div.js-report-staff-cnt {text-align: left;}
div.js-admin-staff-wrapper div.js-festaffreport-data {width: 100%;}
.latst-ancmts .js-ticket-data-list .js-ticket-data .js-ticket-data-tit {width: 100%;}
.latst-kb .js-ticket-data-list .js-ticket-data .js-ticket-data-tit {width: 100%;}
.latst-faqs .js-ticket-data-list .js-ticket-data .js-ticket-data-tit {width: 100%;} div.jsst-feedback-det-wrp div.jsst-feedback-det-list div.jsst-feedback-det-list-top div.jsst-feedback-det-list-data-wrp div.jsst-feedback-det-list-data-btm{width: calc(100% / 1);}
div.jsst-feedback-det-list-data-wrp {width: 100%;}
div.jsst-feedback-det-list-data-wrp div.jsst-feedback-det-list-data-left {width: 100%;padding-bottom: 20px;}
div.jsst-feedback-det-list-data-wrp div.jsst-feedback-det-list-data-right {width: 100%;} div.js-ticket-profile-wrp div.js-ticket-profile-left{width: 100%;}
div.js-ticket-profile-wrp div.js-ticket-profile-right{width: 100%; margin:10px 0px; } span.js-ticket-user-login-btn-wrp a.js-ticket-login-btn{width: 100%;margin-bottom: 10px;}
span.js-ticket-user-login-btn-wrp a.js-ticket-register-btn{width: 100%;} form#loginform-custom p.login-username {width: 100%;margin-right: 0 !important;}
form#loginform-custom p.login-password {width: 100%;margin-top: 0;} div.js-ticket-downloads-content div.js-ticket-download-box div.js-ticket-download-left a.js-ticket-download-title {text-align: center;}
div.js-ticket-downloads-content div.js-ticket-download-box div.js-ticket-download-left a.js-ticket-download-title img.js-ticket-download-icon {float: none;display: inline-block;}
div.js-ticket-downloads-content div.js-ticket-download-box div.js-ticket-download-left a.js-ticket-download-title span.js-ticket-download-name {width: 100%;margin: 20px 0 10px;}
#js-ticket-main-popup div.js-ticket-download-btn {text-align: center;padding: 20px 0 10px;}