<section class="all-jobs-section">
    <div class="white-panel-div">
        <div class="page-heading">
            <h2>
                All Projects
            </h2>
            <div class="row">
                <div class="col-sm-9">
                    <div class="tab-div">
                        <button class="btn tablinks" id="defaultOpen" ng-click="changeTabs($event, 'OpenJobsTab',category,sort,search,price,timeleft,1)">
                            Open
                            <span class="alert-span">
                                [[openLength]]
                            </span>
                        </button>
                        <button class="btn tablinks" ng-click="changeTabs($event, 'EscrowTab',category,sort,search,price,timeleft,5)">
                            Escrow Pending
                            <span class="alert-span">
                                [[escrowLength]]
                            </span>
                        </button>
                        <button class="btn tablinks" ng-click="changeTabs($event, 'ActiveJobsTab',category,sort,search,price,timeleft,2)">
                            Active
                            <span class="alert-span">
                                [[activeLength]]
                            </span>
                        </button>
                        <button class="btn tablinks" ng-click="changeTabs($event, 'CompletedJobsTab',category,sort,search,price,timeleft,3)">
                            Completed
                            <span class="alert-span">
                                [[completeLength]]
                            </span>
                        </button>
                        <button class="btn tablinks" ng-click="changeTabs($event, 'CancelledTab',category,sort,search,price,timeleft,4)">
                            Cancelled
                            <span class="alert-span">
                                [[cancelledLength]]
                            </span>
                        </button>
                        
                    </div>
                </div>
                <div class="col-sm-3" ng-if="dispute_count > 0">
                    <button class="btn tablinks Disputeslinks" ng-click="changeTabs($event, 'DisputesTab',category,sort,search,price,timeleft,6)">
                        Disputes
                        <span class="alert-span blue-bg">
                            [[dispute_count]]
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Filer Div-->
    <div class="white-panel-div mb10">
        <div class="filter-div">
            <div class="row">
                <div class="col-sm-4 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="120">
                                <label>
                                    Select Category
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1"  ng-model="category">
                                    <option value="all">
                                        All
                                    </option>
                                    <option ng-repeat="category in categories" value="[[category.id]]">
                                        [[category.skill_name]]
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="70">
                                <label>
                                    Sort By Date
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1"  ng-model="sort">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="desc">
                                        Decending Order
                                    </option>
                                    <option value="asc">
                                        Ascending Order
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <div class="f-search-div">
                                    <span class="search-icon">
                                        <i aria-hidden="true" class="fa fa-search">
                                        </i>
                                    </span>
                                    <input class="form-control" ng-model="search" placeholder="Search" type="text"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--  <div class="col-sm-12 col-lg-5 lg-clearfix">
                    <div class="f-search-div">
                        <span class="search-icon">
                            <i aria-hidden="true" class="fa fa-search">
                            </i>
                        </span>
                        <input class="form-control" ng-model="search" placeholder="Search" type="text"/>
                    </div>
                </div> -->
            </div>
            <div class="row margin-between-row">
                <div class="col-sm-4 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="120">
                                <label>
                                    Sort By Price
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1"  ng-model="price">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="desc">
                                        High to low
                                    </option>
                                    <option value="asc">
                                        Low to high
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="120">
                                <label>
                                    Sort By Time Left
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1"  ng-model="timeleft">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="desc">
                                        High to low
                                    </option>
                                    <option value="asc">
                                        Low to high
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table> 
                </div>
            </div>
            <div class="all-jobs-btn-div">
                <!-- <button class="btn btn-purple" ng-click="filterData(category,sort,search,price,timeleft)"></button> -->
                <table cellpadding="0" cellspacing="0" class="pull-left" width="50%">
                    <tr>
                        <td class="pull-left">
                            <label>
                                Export To
                            </label>
                        </td>
                        <td class="pull-left">
                            <select class="form-control custom-class-exportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                                <option value="">
                                    Select Export Type
                                </option>
                                <option value="1">
                                    Excel
                                </option>
                                <option value="2">
                                    CSV
                                </option>
                            </select>
                        </td>
                        <td class="pull-left">
                            <button class="btn btn-purple custom-class-exportbutton" ng-click="Exportdata(Exportvalue)">
                                <i aria-hidden="true" class="fa fa-download">
                                </i>
                            </button>
                        </td>
                    </tr>
                </table>
                <button class="btn btn-purple" ng-click="filterData(category,sort,search,price,timeleft)">
                    Submit
                </button>
                <button class="btn btn-purple" ng-click="resetData()">
                    Reset
                </button>
            </div>
        </div>
        <!-- <div class="row ">
            <div class="col-sm-3 col-md-2 ">
                <a class="btn btn-purple btn-derect" href="#" ng-click="searchData(category,sort,search)">
                    submit
                </a>
            </div>
            <div class="col-sm-3 col-md-2 ">
                <a class="btn btn-purple btn-derect" href="#" ng-click="resetData()">
                    reset
                </a>
            </div>
        </div> -->
    </div>
    <!--Filer Div End-->
    <!-- Tab links -->
    <div class="tabcontent" id="OpenJobsTab">
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <div class="col-sm-9 col-md-6 col-lg-5">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]  [[ job.project_number ? "(" + job.project_number + ")": '']]
                        </a>
                    </h4>
                    <p>
                        Client Name
                        <!-- <a class="cName" href="javascript"> -->
                        [[job.project_creator_name]]
                        <!-- </a> -->
                        (No inviitations)
                    </p>
                    <p class="date-time-p">
                        [[job.project_created_at]]
                        <span class="time-div">
                        </span>
                    </p>
                </div>
                <!-- <div class="col-sm-3 col-md-2">
                    <a class="btn btn-purple btn-derect">
                        Direct
                    </a>
                </div> -->
                <div class="col-md-clearfix col-md-4 col-lg-5">
                    <ul class="post-info-list">
                        <li>
                            <i class="ci icon-logo-design">
                            </i>
                            [[job.project_category]]
                            <span ng-if="job.skill_count > 0">
                                + [[job.skill_count]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Days
                            <span>
                                [[job.project_timeline]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price
                            <span class="price">
                                
                            </span>
                            <span>
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-suggetions">
                            </i>
                            Suggestions
                            <span>
                                + [[job.suggestions]]
                            </span>
                        </li>

                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span>
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>    
            </div>
        </div>
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
    </div>
    <div class="tabcontent" id="EscrowTab">
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <div class="col-sm-9 col-md-4 col-lg-5">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <p>
                        Client Name
                        <a class="cName" href="javascript">
                            [[job.project_creator_name]]
                        </a>
                        (No inviitations)
                    </p>
                    <p class="date-time-p">
                        [[job.project_created_at]]
                        <span class="time-div">
                        </span>
                    </p>
                </div>
                <!-- <div class="col-sm-3 col-md-2">
                    <a class="btn btn-purple btn-derect">
                        Direct
                    </a>
                </div> -->
                <div class="col-md-clearfix col-md-6 col-lg-5">
                    <ul class="post-info-list">
                        <li>
                            <i class="ci icon-logo-design">
                            </i>
                            [[job.project_category]]
                            <span>
                                + [[job.skill_count]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Days
                            <span>
                                [[job.project_timeline]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price
                            <span>
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-suggetions">
                            </i>
                            Suggestions
                            <span>
                                + [[job.suggestions]]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span>
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
    </div>
    
    <div class="tabcontent" id="ActiveJobsTab">
        <!--Head Info-->
        <!-- <div class="white-panel-div mb10">
            <ul class="active-job-head">
                <li>
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Total Projects
                                    <br>
                                        Completed
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-total_projects_completed">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        [[total_completed_project]]
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Avg Project
                                    <br>
                                        Budget
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-budget">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        3,255
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Avg Project
                                    <br>
                                        Duration
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-avg_project_duration">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        3,255
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Total Project
                                    <br>
                                        Cancellations
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-project-cancellations">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        [[total_cancelled_project]]
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li>
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Projects Completed
                                    <br>
                                        This Month
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-projects_completed_This_Month">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        [[total_completed_project_month]]
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="green-box">
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Total Earnings
                                    <br>
                                        This Month
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa icon-earnings">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        3,255
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="green-box">
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    Gallery Sales
                                    <br>
                                        This Month
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa fa-calendar">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        3,255
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-up">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="red-box">
                    <div class="inner-div">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    IB Sales
                                    <br>
                                        This Month
                                    </br>
                                </td>
                                <td class="icon-td" width="55">
                                    <i aria-hidden="true" class="fa fa-calendar">
                                    </i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>
                                        3,255
                                    </h3>
                                </td>
                                <td class="right-sm-text">
                                    <i aria-hidden="true" class="fa fa-arrow-down">
                                    </i>
                                    12%
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
                <div class="clearfix">
                </div>
            </ul>
        </div> -->
        <!--Head Info End-->
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <p class="date-time-p">
                        [[job.project_creator_name]]
                        <span class="time-div">
                        </span>
                    </p>
                    <p class="date-time-p">
                        [[job.project_created_at]]
                        <span class="time-div">
                        </span>
                    </p>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 b-left">
                    <p>
                        Designer:
                        <!-- <a class="cName" href="javascript"> -->
                        <span class="designer-name">  [[job.assigned_designer_name]] </span>
                        <!-- </a> -->
                    </p>
                </div>
                <div class="col-md-clearfix col-md-6 col-lg-5">
                    <ul class="post-info-list even-list">
                        <li>
                            <i class="ci icon-logo-design">
                            </i>
                            [[job.project_category]]
                            <span ng-if="job.skill_count > 0">
                                + [[job.skill_count]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Days
                            <span>
                                + [[job.project_timeline]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price
                            <span class="price">
                                
                            </span>
                            <span>
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-suggetions">
                            </i>
                            Suggestions
                            <span>
                                + [[job.suggestions]]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span>
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
    </div>
    <div class="tabcontent" id="CompletedJobsTab">
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <div class="col-sm-9 col-md-4 col-lg-5">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <p>
                        Client Name
                        <!-- <a class="cName" href="javascript"> -->
                        [[job.project_creator_name]]
                        <!-- </a> -->
                        (No inviitations)
                    </p>
                    <p class="date-time-p">
                        [[job.project_created_at]]
                        <span class="time-div">
                        </span>
                    </p>
                </div>
                <!-- <div class="col-sm-3 col-md-2">
                    <a class="btn btn-purple btn-derect">
                        Direct
                    </a>
                </div> -->
                <div class="col-md-clearfix col-md-6 col-lg-5">
                    <ul class="post-info-list">
                        <li>
                            <i class="ci icon-logo-design">
                            </i>
                            [[job.project_category]]
                            <span ng-if="job.skill_count > 0">
                                + [[job.skill_count]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Days
                            <span>
                                [[job.project_timeline]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price
                            <span class="price">
                                
                            </span>
                            <span>
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-suggetions">
                            </i>
                            Suggestions
                            <span>
                                + [[job.suggestions]]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span>
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
    </div>
    <div class="tabcontent" id="CancelledTab">
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <div class="col-sm-9 col-md-4 col-lg-5">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <p>
                        Client Name
                        <!-- <a class="cName" href="javascript"> -->
                        [[job.project_creator_name]]
                        <!-- </a> -->
                        (No invitations)
                    </p>
                    <p class="date-time-p">
                        [[job.project_created_at]]
                        <span class="time-div">
                        </span>
                    </p>
                </div>
                <!-- <div class="col-sm-3 col-md-2">
                    <a class="btn btn-purple btn-derect">
                        Direct
                    </a>
                </div> -->
                <div class="col-md-clearfix col-md-6 col-lg-5">
                    <ul class="post-info-list">
                        <li>
                            <i class="ci icon-logo-design">
                            </i>
                            [[job.project_category]]
                            <span ng-if="job.skill_count > 0">
                                + [[job.skill_count]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Days
                            <span>
                                [[job.project_timeline]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price
                            <span class="price">
                                
                            </span>
                            <span>
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-suggetions">
                            </i>
                            Suggestions
                            <span>
                                + [[job.suggestions]]
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span>
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
    </div>
    
    <div class="tabcontent" id="DisputesTab">
        <div class="white-panel-div mb10" ng-repeat="job in allJobs">
            <div class="row">
                <!-- <div class="col-sm-6 col-md-3 col-lg-3">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                Client Name:
                                
                                    [[job.project_creator_name]]
                                
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 b-left">
                            <p>
                                Designer:
                                
                                   [[job.admin_project_designer.designer_details.first_name]]

                                   [[job.admin_project_designer.designer_details.last_name]]
                               
                            </p>
                        </div>
                    </div>
                </div> -->
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <h4>
                        <a href="manage/sixteen/project-details/[[job.slug]]">
                            [[job.project_title]]
                        </a>
                    </h4>
                    <p class="date-time-p">
                        Client Name:
                        [[job.project_creator_name]]
                        <span class="time-div">
                        </span>
                    </p>

                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 b-left">
                    <p >
                        Designer:
                        <span class="designer-name">[[job.admin_project_designer.designer_details.first_name]]
                        [[job.admin_project_designer.designer_details.last_name]]</span>
                    </p>
                </div>
                <div class="col-md-clearfix col-md-6 col-lg-5">
                    <ul class="post-info-list">
                        <li>
                            <i class="ci icon-reported">
                            </i>
                            Reported By:
                            <span class="data-display">
                                [[job.reportdispute.reportedby.first_name]] [[job.reportdispute.reportedby.last_name]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Started:
                            <span  class="data-display">
                                [[job.project_created_at]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-price">
                            </i>
                            Price:
                            <span  class="data-display">
                                ¥ [[job.project_budget]]
                            </span>
                        </li>
                        <li>
                            <i aria-hidden="true" class="ci icon-disputed">
                            </i>
                            Disputed:
                            <span  class="data-display">
                                [[job.days_ago]] 
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-clearfix col-md-2 col-lg-2">
                    <ul class="post-info-list time">
                        <li>
                            <i aria-hidden="true" class="ci icon-days">
                            </i>
                            Time Left
                            <span  class="data-display">
                                [[job.days_remaining]]
                            </span>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
        <!--pagination start-->
        <default-pagination currentpage="currentJobPaging" like="Getalljobsdata(category,sort,search,price,timeleft,page,status)" paginate="paginate" range="rangeJobpage">
        </default-pagination>
        <!--pagination End-->
    </div>
</section>
