<section class="categories-section">
    <div class="white-panel-div mb10">
        <div class="page-heading">
            <h2>
                CATEGORIES
            </h2>
        </div>
    </div>
    <div class="white-panel-div mb10" ng-if='displaydelete==0 && displaydeletedinscategory==0'>
        <div class="row cat-heading">
            <div class="col-sm-7">
                <h3>
                    PROJECT CATEGORIES: [[totalSkillCategory]]
                </h3>
            </div>
            <div class="col-sm-5 text-right">
                <button class="btn btn-purple" ng-click="addEditCategory()">
                    Add New
                </button>
                <button class="btn btn-purple" ng-click="showDeletedCategories()">
                    Deleted Categories
                </button>
            </div>
        </div>
        <div class="tbl-listing">
            <table cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <th>
                        Category Name
                    </th>
                    <th width="300">
                        Total Completed Projects
                    </th>
                    <th width="200">
                        Average Budget
                    </th>
                    <th class="text-center" width="100">
                        Actions
                    </th>
                </thead>
                <tbody>
                    <tr  ng-repeat="skills in skillcategories">
                        <td>
                            [[skills.skill_name]]
                        </td>
                        <td>
                            [[skills.adminskills_count]]
                        </td>
                        <td>
                            ¥ [[skills.average_budget | number : 2]]
                        </td>
                        <td class="action">
                            <a class="btn" href="javascript:" ng-click="updateCategory(skills)">
                                <i aria-hidden="true" class="fa fa-pencil-square-o">
                                </i>
                            </a>
                            <a class="btn" href="javascript:" ng-click="deleteCategory(skills)"> 
                                <i aria-hidden="true" class="fa fa-trash-o">
                                </i>
                            </a> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <default-pagination currentpage="currentSkillPaging" like="Getskillcategorydata({'status':1},page)" paginate="paginate" range="rangeSkillpage">
        </default-pagination>
    </div>
    <!-- <div class="white-panel-div mb10">
      <div class="row cat-heading">
         <div class="col-sm-8">
            <h3>GALLERY CATEGacORIES: 27 <span class="sm-text">(New User Requests: <span class="no">2</span> <a href="#">VIEW</a>)</span></h3>
         </div>
         <div class="col-sm-4 text-right">
            <a href="#" class="btn btn-purple">Add New</a>
         </div>
      </div>
      <div class="tbl-listing">
         <table cellpadding="0" cellspacing="0" width="100%">
            <thead>
               <th>Category Name</th>
               <th width="300">Total Products (Paid/Free)</th>
               <th  width="240">Total Units SoldDownloaded</th>
               <th  width="180">Average Price</th>
               <th width="100" class="text-center">Actions</th>
            </thead>
            <tbody>
               <tr>
                  <td>Mobile UI Design</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Web UI Design</td>
                 <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Logo Design</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Branding,</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>3D Modelling</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Icon Designing</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Font Creation</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
               <tr>
                  <td>Banner Design</td>
                  <td>230 (200/30)</td>
                  <td>233/2432</td>
                  <td>&yen; 867.23, </td>
                  <td class="action">
                     <a href="#" class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                     <a href="#" class="btn"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination-div text-right">
         Showing 10 of 55 items
         <div class="number-div">
            <ul>
               <li class="prev"><a href="javascript:;"><span>←</span></a></li>
               <li><a href="javascript:;">1</a></li>
               <li class="active"><a href="javascript:;">2</a></li>
               <li><a href="javascript:;">3</a></li>
               <li><a href="javascript:;">4</a></li>
               <li class="next">  <a href="javascript:;" class=""><span>→</span></a> </li>
            </ul>
         </div>
      </div>
   </div> -->
    <div class="white-panel-div mb10" ng-if='displaydelete==0 && displaydeletedinscategory==0'>
        <div class="row cat-heading">
            <div class="col-sm-7">
                <h3>
                    INSPIRATION BANK CATEGORIES: [[totalInsCategory]]
                </h3>
            </div>
            <div class="col-sm-5 text-right">
                <button class="btn btn-purple" ng-click="addEditInsCategory()">
                    Add New
                </button>
                <button class="btn btn-purple" ng-click="showDeletedInsCategories()">
                    Deleted Categories
                </button> 
            </div>
        </div>
        <div class="tbl-listing">
            <table cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <th>
                        Category Name
                    </th>
                    <th width="300">
                        Total Uploads 
                    </th>
                    <th width="240">
                        Total Downloads
                    </th>
                    <th class="text-center" width="100">
                        Actions
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="category in insCategories">
                        <td>
                            [[category.category_name_en]]
                        </td>
                        <td>
                            [[category.uploads_count]]
                        </td>
                        <td>
                            [[category.total_download_count]]
                        </td>
                        <td class="action">
                            <a class="btn" href="#">
                                <i aria-hidden="true" class="fa fa-pencil-square-o" ng-click="updateInsCategory(category)">
                                </i>
                            </a>
                            <a class="btn" href="#">
                                <i aria-hidden="true" class="fa fa-trash-o" ng-click="deleteInsCategory(category)">
                                </i>
                            </a> 
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <default-pagination currentpage="currentInsPaging" like="Getinspirationcategorydata({'status':1},page)" paginate="paginateIns" range="rangeInspage">
        </default-pagination>
    </div>

    <div class="white-panel-div mb10" ng-if='displaydelete==1 && displaydeletedinscategory==0'>
        <div class="row cat-heading">
            <div class="col-sm-8">
                <h3>
                    DELETED SKILLS: [[totalDeletedSkillCategory]]
                </h3>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-purple" ng-click="showCategories()">
                    Show Categories
                </button>
            </div>
        </div>
        <div class="tbl-listing">
            <table cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <th>
                        Category Name
                    </th>
                    <th width="300">
                        Total Completed Projects
                    </th>
                    <th width="200">
                        Average Budget
                    </th>
                    <th class="text-center" width="100">
                        Actions
                    </th>
                </thead>
                <tbody>
                    <tr  ng-repeat="skills in skilldeletedcategories">
                        <td>
                            [[skills.skill_name]]
                        </td>
                        <td>
                            [[skills.adminskills_count]]
                        </td>
                        <td>
                            ¥ [[skills.average_budget | number : 2]]
                        </td>
                        <td >
                            <button class="btn btn-purple" ng-click="enableCategory(skills)">
                                Enable 
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <default-pagination currentpage="currentDeletedSkillPaging" like="Getskillcategorydata({'status':2},page)" paginate="paginateDeleteSkill" range="rangeDeletedSkillpage">
        </default-pagination>
    </div>

    <div class="white-panel-div mb10" ng-if='displaydeletedinscategory==1 && displaydelete==0'>
        <div class="row cat-heading">
            <div class="col-sm-8">
                <h3>
                    DELETED INSPIRATION BANK CATEGORIES: [[totalDeletedInsCategory]]
                </h3>
            </div>
            <div class="col-sm-4 text-right">
                <button class="btn btn-purple" ng-click="showInsCategories()">
                    Show Categories
                </button>
            </div>
        </div>
        <div class="tbl-listing">
            <table cellpadding="0" cellspacing="0" width="100%">
                <thead>
                    <th>
                        Category Name
                    </th>
                    <th width="300">
                        Total Uploads 
                    </th>
                    <th width="240">
                        Total Downloads
                    </th>
                    <th class="text-center" width="100">
                        Actions
                    </th>
                </thead>
                <tbody>
                    <tr  ng-repeat="category in insDeletedCategories">
                        <td>
                            [[category.category_name_en]]
                        </td>
                        <td>
                            [[category.uploads_count]]
                        </td>
                        <td>
                            [[category.total_download_count]]
                        </td>
                        <td>
                            <button class="btn btn-purple" ng-click="enableInsCategory(category)">
                                Enable 
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <default-pagination currentpage="currentDeletedInsPaging" like="Getinspirationcategorydata({'status':2},page)" paginate="paginateDeletedIns" range="rangeDeletedInspage">
        </default-pagination>
    </div>

</section>
<div class="modal fade" id="add_edit_category" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="addEditCategoryForm" name="addEditCategoryForm" name="addEditCategoryForm" ng-submit="addEditCategoryForm.addEditCategoryData()" novalidate="">
                    <div class="modal-body">
                        <input type="hidden" name="skill_id" ng-model="skill_id" value="[[skill_id]]">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" name="category_name_en" ng-model="category_name_en" placeholder="Category Name English">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" name="category_name_chi" ng-model="category_name_chi" placeholder="Category Name Chinese">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn btn-sm" ng-click="addEditCategoryData()" ng-disabled="!category_name_en || !category_name_chi" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add_edit_ins_category" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="addEditInsCategoryForm" name="addEditInsCategoryForm" name="addEditInsCategoryForm" ng-submit="addEditInsCategoryForm.addEditInsCategoryData()" novalidate="">
                    <div class="modal-body">
                        <input type="hidden" name="ins_cat_id" ng-model="ins_cat_id" value="[[ins_cat_id]]">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" name="ins_category_name_en" ng-model="ins_category_name_en" placeholder="Category Name English">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn btn-sm" ng-click="addEditInsCategoryData()" ng-disabled="!ins_category_name_en" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
