<div class="white-panel-div mb10">
        <ul class="active-job-head">
            <li>
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Total Projects
                                <br>
                                    Completed
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-total_projects_completed">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    [[total_completed_project]]
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Avg Project
                                <br>
                                    Budget
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-budget">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    3,255
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Avg Project
                                <br>
                                    Duration
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-avg_project_duration">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    3,255
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Total Project
                                <br>
                                    Cancellations
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-project-cancellations">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    [[total_cancelled_project]]
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Projects Completed
                                <br>
                                    This Month
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-projects_completed_This_Month">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    [[total_completed_project_month]]
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li class="green-box">
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Total Earnings
                                <br>
                                    This Month
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa icon-earnings">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    3,255
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <!-- <li class="green-box">
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Gallery Sales
                                <br>
                                    This Month
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa fa-calendar">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    3,255
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-up">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li> -->
            <!-- <li class="red-box">
                <div class="inner-div">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                IB Sales
                                <br>
                                    This Month
                                </br>
                            </td>
                            <td class="icon-td" width="55">
                                <i aria-hidden="true" class="fa fa-calendar">
                                </i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>
                                    3,255
                                </h3>
                            </td>
                            <td class="right-sm-text">
                                <i aria-hidden="true" class="fa fa-arrow-down">
                                </i>
                                12%
                            </td>
                        </tr>
                    </table>
                </div>
            </li> -->
            <div class="clearfix">
            </div>
        </ul>
    </div>