<section class="project-details-section">
  <div class="white-panel-div">
    <div class="page-heading">
        <h2>Project Details <span class="project-id">(ID#: [[projectDetails.id]])</span></h2>
        <h3>[[projectDetails.project_title]]</h3>
        <hr>
        <div class="tab-div">
          <button class="btn tablinks" ng-click="changeTabs($event,'ProjectInfoTab')" id="defaultOpen">Project Info</button>
          <button class="btn tablinks"  ng-click="changeTabs($event,'TimelineTab')" >Timeline</button>
          <button class="btn tablinks" ng-click="changeTabs($event,'MessagesTab')" >Messages</button>
        </div>

    </div>

    <!-- Tab links -->
    <div id="ProjectInfoTab" class="tabcontent">
      <h4>Description</h4>
    <p ng-bind-html="trustedHtml"></p>

    <h4 class="category-title">Category</h4>
    <div class="tags-div">
      <span class="btn" ng-repeat="skill in projectDetails.skill_detail">[[skill.skill_detail.skill_name]]</span>
      
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="bt-div">
          <h4>Budget</h4>
          &yen; [[projectDetails.project_budget]]
          <h4 class="time-line">Timeline</h4>
          [[projectDetails.project_timeline]] days
        </div>
      </div>
      <div class="col-sm-4 left-line">
        <h4>Attachments:</h4>
        <div class="bownload-btn">
          <!-- <button class="btn btn-purple">Download</button> -->
          <a class="btn btn-purple btn-sm" href="[[projectDetails.project_attachment]]" target="_self" ng-if="projectDetails.project_attachment!=''">
              Download
          </a>
          <span ng-if="projectDetails.project_attachment==''">No attachments found.</span>
        </div>
       
      </div>
      <div class="col-sm-5 left-line">
        <h4>Buyer</h4>
        <div class="buyer-pic">
          <p><img alt="" src="assets/images/sm-photo.png" class="circle" width="42" height="42"></p>
          [[projectDetails.project_creator.first_name]] [[projectDetails.project_creator.last_name]]
        </div>
        <div class="invited-on">
          <i class="fa icon-days"></i>Invited on: [[projectDetails.invitation_sent_on]]
        </div>
      </div>
    </div>
    <hr>

    <div class="row cancle-project-bottom" ng-if="projectDetails.project_status==9">
      <div class="col-sm-4 col-md-4 col-lg-3">

        <a href="javascript:;" class="btn btn-light-red" ng-disabled="projectDetails.project_status==10" ng-click="cancelProjectByAdmin(projectDetails.id,projectDetails.project_detail_info_for_admin_detail_page[0].designer_details_admin.id,projectDetails.project_created_by_id)" id="cancel_project"> Cancel Project</a>
      </div>
        <div class="col-sm-4 col-md-4 col-lg-3" >
          <p>Resolve project in favor of:</p>
          <a href="javascript:;" id="favor_buyer"  class="btn btn-purple" ng-click="inFavorOfBuyer(projectDetails.project_detail_info_for_admin_detail_page[0].designer_details_admin.id,projectDetails.project_created_by_id)">Buyer</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3">
          <p>Resolve project in favor of:</p>
        
          <a href="javascript:;" id="favor_seller" class="btn btn-purple" ng-click="inFavorOfSeller()" ng-disabled="projectDetails.seller_payment">Seller</a>
        </div>
    </div>
    </div>

    <div id="TimelineTab" class="tabcontent">
      <div class="project-post-date">
      <strong>Project Posted:</strong> [[projectDetails.project_created_at]] </div>
      <h4>Designer Suggestions:</h4>
      <div class="designer-suggestions-div">
        <div class="row">
          <div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="seller in projectDetails.project_detail_info_for_admin_detail_page">
            <div class="select-design-block">
              <div class="inner-div">
                <div class="swiper-container browse-designers-swiper designer-box">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" ng-repeat="slider_images in seller.designer_details_admin.service_images_array" >
                      
                      <!-- <div  class="img-div" style="background-image:url([[cover_image.medium_thumbnail]])">
                      </div> -->
                      <img src="[[slider_images.image_name]]" />
                    </div>
                    
                  </div>
                  <div class="browse-designers-button-prev hand-cursor text-right"><i class="fa fa-chevron-left"></i></div>
                  <div class="browse-designers-button-next hand-cursor text-left"><i class="fa fa-chevron-right"></i></div>
                </div>
                <!-- <div style="background-image:url(assets/images/design-p-pic.png)" class="img-div"></div> -->
                <div class="user-info">
                  <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td class="sm-pic"><p class="profile-img"><img src="[[seller.designer_details_admin.image]]" alt="" width="36"></p></td>
                      <td> [[seller.designer_details_admin.first_name]] [[seller.designer_details_admin.last_name]]<br />
                        [[seller.designer_details_admin.avg_rate | number : '1.2']]/5 ([[seller.designer_details_admin.reviews.length]] reviews) </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-div">
           <p><strong><i class="fa fa-check-circle" aria-hidden="true"></i> Selected</strong><br>Invitation sent at:</p>
         [[projectDetails.invitation_sent_on]]
        </div>
      </div>
      <ul class="timeline-info-list">
        <li ng-repeat="message in projectPaymentLogs">
          <div class="row">
            <div class="col-sm-9">
              <strong ng-if="message.status==9  || message.status==10 ">[[message.user_detail.first_name]] [[message.user_detail.last_name]]</strong> [[message.message_text_en]]: <strong>[[message.date_created_at]]</strong>
            </div>
            <div class="col-sm-3">
              <div class="right-div">
                <div class="icon-div green" ng-if="message.status== 1 || message.status== 9">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon red" ng-if="message.status== 2 || message.status== 10">
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                </div>
                <div class="icon-div green" ng-if="message.status== 3">
                    <i class="fa fa-money" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon green"  ng-if="message.status== 4">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon red"  ng-if="message.status== 5">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon green"  ng-if="message.status== 6">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon green"  ng-if="message.status== 7">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
                <div class="icon-div sm-icon green"  ng-if="message.status== 8">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <strong class="price" ><span ng-if="message.amount!=NULL">&yen; [[message.amount | number : '1.2']]</span></strong>
              </div>
            </div>
          </div>
        </li> 
      </ul>

      <div class="rating-info" ng-if="projectDetails.no_rate_review==0">
        <p><strong>[[projectDetails.project_creator.first_name]] [[projectDetails.project_creator.last_name]]</strong> left a review for the seller: <strong>[[projectDetails.designer]]</strong> at [[projectDetails.review_on]]</p>
        <div class="row">
          <div class="col-sm-7">
            <table cellpadding="0" cellspacing="0" width="100%" class="rating-tbl">
            	<tr>
                	<th>Quality:</th>
                    <td width="120">
                    	<div class="rating-div rating[[rating_matrix.quality_rating]]">
                        	<i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                  	<th>Creativity</th>
                      <td width="120">
                      	<div class="rating-div rating[[rating_matrix.creativity_rating]]">
                          	<i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                          </div>
                      </td>
                  </tr>
                  <tr>
                    	<th>Comprehension of the Buyer’s Requirements</th>
                        <td width="120">
                        	<div class="rating-div rating[[rating_matrix.buyers_requirement_rating]]">
                            	<i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                      	<th>Timeliness</th>
                          <td width="120">
                          	<div class="rating-div rating[[rating_matrix.timeliness_rating]]">
                              	<i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                          </td>
                      </tr>
                      <tr>
                        	<th>Responsiveness</th>
                            <td width="120">
                            	<div class="rating-div rating[[rating_matrix.responsiveness_rating]]">
                                	<i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </td>
                        </tr>
            </table>
          </div>
          <div class="col-sm-5 overall-rating">
            <div>
              Overall Rating
              <h2>[[overall_rate | number : '1.2']]/5</h2>
            </div>
          </div>
        </div>
        <h4>Review</h4>
        [[projectDetails.review]]
      </div>
      <div class="" ng-if="projectDetails.no_rate_review==1">
        <button class="btn btn-purple btn-sm send-mail" ng-click="sendMailBuyerForReviewRate(projectDetails.project_creator.id)">
                Send review request
          </button>
      </div>
    </div>

    <div id="MessagesTab" class="tabcontent">
      <!--designer message board section-->

      <div class="message-board-section">
        <div ng-show="projectDetails.project_status==9">
            <span class="custom-checkbox2">
                <input id="buyer" ng-model="send_buyer" type="checkbox" class="buyer-seller-checkbox" />
                <label for="buyer">
                    Send to buyer
                </label>
            </span>
            <span class="custom-checkbox2">
                <input id="seller" ng-model="send_seller" type="checkbox" class="buyer-seller-checkbox"/>
                <label for="seller">
                    Send to Seller
                </label>
            </span>
         </div>
          <div class="panel panel-block  margin-between-row">
            <div class="panel-body">

              <div class="content-div">
                <form id="message_form" name="message_form" novalidate="" ng-show="projectDetails.project_status==9">
                  <div class="chat-box">
                    <div class="file-upload">
                        <input id="fileupload" multiple="" name="file[]" type="file">
                            <i class="pointer-cursor fa fa-paperclip">
                            </i>
                        </input>
                    </div>
                    <input class="form-control" name="message" ng-model="message" placeholder="[[placeholder_messgae]]" required="" type="text">
                      
                      <div class="outer-progress-bar-div">
                      </div>
                    </input>
                    
                    <button class="btn btn-purple send_message" ng-click="Sendmessage(projectDetails.id,
                    projectDetails.project_detail_info_for_admin_detail_page[0].designer_details_admin.email_address,
                    projectDetails.project_detail_info_for_admin_detail_page[0].designer_details_admin.id,projectDetails.project_creator.email_address,projectDetails.project_created_by_id)" type="submit">
                          <i class="fa fa-paper-plane-o">
                          </i>
                      </button>
                  </div>
                </form>
                <ul class="chat-list">
                  <li class="[[message.type!=4?message.side_class:'']]"  ng-repeat="message in messageData">
                    <div class="msg-div"  >
                      <div class="name">[[message.name]]</div>
                      <div class="date">[[message.date_created_at]]</div>
                      <div class="clearfix"></div>
                      <div class="c-div" ng-if="message.type==1">
                        <p  >[[message.message]]</p>
                        <div class="bottom-img-div"  ng-if="message.message_board.length">
                            <div class="row" >
                                <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                    <a download=""   href="[[message.download_placeholder]]" target="_self">
                                        <img alt="" class="admin-message-div-img" ng-src="[[message.placeholder]]" width="100%">
                                        </img>
                                    </a>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="seller_payment" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h5 class="modal-title">
                    [['lbl_withdraw'|translate]]
                </h5>
            </div>
            <div class="flowup-labels-form">
                <form id="withdrawForm" name="withdrawForm" ng-submit="withdrawForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="number" class="fl_input form-control" id="total_amount" ng-model="total_amount" placeholder="[['lbl_amount'|translate]]" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="fundToSeller(total_amount,projectDetails.id,projectDetails.project_detail_info_for_admin_detail_page[0].designer_details_admin.id)" ng-disabled="!withdrawForm.$valid" class="withdraw-button btn btn-purple submit-btn uppercase btn-sm">[['lbl_submit'|translate]]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
