<!--seller-info-section-->
<section class="seller-info-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="panel panel-block">
          <div class="panel-body">
            <div class="content-div head-profile-div">
              <div class="row">
                <div class="col-sm-3 col-md-2 col-lg-2">
                  <div class="left-img-div">
                    <img alt="" src="[[designerDetail.user_image]]" class="circle" width="68">
                    <h4>[[designerDetail.first_name]] [[designerDetail.last_name]]</h4>
                  </div>
                </div>
                <div class="col-sm-9 col-md-10 col-lg-10">
                  <p>  Design Capabilities:</p>
                    <div class="tags-div">
                      <span class="btn" ng-repeat="skill in designerDetail.skills">[[skill]]</span>
                    </div>
                    <hr>

                    <p>Project Availability:</p>
                     <span class="black-color">[[designerDetail.mp_designer_proj_availability]]</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-block services-div">
          <div class="panel-heading">
            <h3 class="panel-title">SERVICES</h3>
          </div>
          <div class="panel-body">
            <div class="content-div">
              <div class="accordion-div2">
                <div class="accordion-block"  ng-repeat="service in services">
                  <h5  id="service_[[service.id]]" ng-click="expand(service.id)" ><a href="javascript:;">[[service.service_skill_detail.skill_name]]<span class="caret"></span></a></h5>
                  <div class="inner-div-content">
                      <section  ng-repeat="service_detail in service.service_details">
                        <!-- <h4 class="border-bottom">Service #1</h4> -->
                        <p><strong>Name</strong></p>
                        <p>[[service_detail.service_title]]</p>

                        <p><strong>Descripation</strong></p>
                        <p  ng-bind-html="[[service_detail.service_description]]"></p>
                        <ul class="list1">
                          <li>
                            <strong>  No. of revisions:</strong>
                             [[service_detail.no_of_revisions]]
                          </li>
                          <li>
                            <strong>Delivery Time:</strong>
                             [[service_detail.delivery_time_in_days]] days
                          </li>
                          <li>
                              <strong>Price:</strong>   &yen[[service_detail.price]]
                          </li>
                        </ul>
                        <hr>
                        <h4>Project Extras</h4>
                        <ul class="list1"  ng-repeat="project_extra in service_detail.service_extras">
                          <li>
                            <strong>  No. of revisions:</strong>
                             [[project_extra.no_of_revisions]]
                          </li>
                          <li>
                            <strong>Delivery Time:</strong>
                             [[project_extra.delivery_time_in_days]]  days
                          </li>
                          <li>
                              <strong>Price:</strong>   &yen[[project_extra.price]]
                          </li>
                        </ul>
                        <div class="bottom-img-div">
                          <div class="row">
                            <div class="full-width-320 col-xs-6 col-sm-4 col-md-12">
                              <ul class="my-portfolio">
                                  <li ng-repeat="image in service_detail.service_images" class="single-image-thumb service_margin_class" style="background-image:url([[image.image]])"></li>
                              </ul>
                              <!-- <div  ng-repeat="image in service_detail.service_images" class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_07.jpg)"></div> -->
                            </div>
                          </div>
                        </div>
                        
                      </section>
                      
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-block work-history-review-div">
          <div class="panel-heading">
            <h3 class="panel-title">WORK HISTORY & REVIEWS <span class="number-text">[[projectTotal]]</span></h3>
          </div>
          <div class="panel-body">
            <div class="content-div" ng-repeat="project in designerWorkReviewsData">
              <div class="row">
                <div class="display-table">
                  <div class="col-sm-9 display-table-cell left-content">
                    <h4>[[project.project_details_designer_admin.project_title]]</h4>
                    <ul>
                      <li><table cellpadding="0" cellspacing="0">
                      <tbody><tr>
                          <td>
                            <div class="rating-div"  ng-init="returnRatingAvg(project.project_details_designer_admin.rating_for_project.rating, project.id)" id="overAllRating_[[project.id]]">
                                   
                            </div>
                           </td>
                          <td width="30" align="center">[[project.project_details_designer_admin.rating_for_project.rating | number:1]]</td>
                        </tr>
                    </tbody></table></li>
                      <li>[[project.project_completed_on]]</li>
                      <li>[[project.message_count]] Messages</li>
                    </ul>
                
                    <p  ng-bind-html="project.project_details_designer_admin.project_description | limitTo:strLimit">
                       
                    </p>
                    <a href="#" ng-if="project.project_details_designer_admin.project_description.length > 100 && project.project_details_designer_admin.project_description.length != strLimit" ng-click="showMore(project.project_details_designer_admin.project_description)" >Read More</a> 
                    <a href="#" ng-if="project.project_details_designer_admin.project_description.length == strLimit" ng-click="showLess()" >Read Less</a> 
                  </div>
                  <div class="col-sm-3 display-table-cell client-info-right-div">
                     <p><img alt="" src="[[project.project_details_designer_admin.project_creator.image]]" class="circle" width="44" height="44"></p>
                     <p>Client Name</p>
                     <p class="black-color">[[project.project_details_designer_admin.project_creator.first_name]] [[project.project_details_designer_admin.project_creator.last_name]]</p>
                     <p>Budget: <span class="black-color">&yen; [[project.project_details_designer_admin.project_budget]]
                     </span></p>

                  </div>
                </div>
              </div>
            </div>
           
            <default-pagination currentpage="currentWorkReviewPaging" like="Designerworkhistoryandreviews(data,page)" paginate="paginate" range="rangeWorkReviewpage">
                    </default-pagination>
          </div>
        </div>
        <div class="panel panel-block portfolio-div" >
          <div class="panel-heading">
            <h3 class="panel-title">PORTFOLIO <span class="number-text">[[protfolioTotal]]</span></h3>
          </div>
          <div class="panel-body">
            <div class="content-div">
              <div class="row">
                <div class="full-width-320 col-xs-6 col-sm-4 col-md-3"  ng-repeat="p in designerPortfolio">
                  <a href="[[baseurl]]seller-portfolio-item-details/[[p.slug]]|[[p.uploadedby.slug]]" target="_blank">
                  <div class="single-image-thumb" style="background-image:url([[p.cover_image]])"></div></a>
                </div>
                
              </div>
              <default-pagination currentpage="currentProfilePaging" like="Getportfoliodata(data,page)" paginate="paginatePortfolio" range="rangeProfilepage">
                            </default-pagination>
            </div>

          </div>
        </div>
        <!-- <div class="panel panel-block dprofile-gallery-inspiration-bank-uploads">
          <div class="panel-heading">
            <h3 class="panel-title">INSPIRATION BANK UPLOADS <span class="number-text">2</span></h3>
          </div>
          <div class="panel-body">
            <div class="content-div">
              <div class="tab-div">
                <button class="btn tablinks" onclick="openCity(event, 'GalleryTab')" id="defaultOpen">Gallery</button> 
                <button class="btn tablinks" ng-click="changeTab($event,'InspirationBankTab')" id="defaultOpen">Inspiration Bank</button>
              </div>
               <div id="GalleryTab" class="tabcontent">
                <div class="row">
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_16.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_24.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_25.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_07.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_09.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_18.jpg)"></div>
                  </div>


                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_24.jpg)"></div>
                  </div>
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3">
                    <div class="single-image-thumb" style="background-image:url(assets/images/browse-designers/img-tumb_25.jpg)"></div>
                  </div>
                </div>
              </div> 
              <div id="InspirationBankTab" class="tabcontent">
                <div class="row">
                  <div class="full-width-320 col-xs-6 col-sm-4 col-md-3"  ng-repeat="i in InspirationData">
                    <div class="single-image-thumb" style="background-image:url([[i.cover_image_attachments.medium_thumbnail]])"></div>
                  </div>
                </div>
              </div>

              <default-pagination currentpage="currentInspirationPaging" like="Designerinspirationbanklisting(data,page)" paginate="  paginateInspiration" range="rangeInspirationpage">
              </default-pagination>
            </div>

          </div>
        </div> -->
      </div>
      <div class="col-lg-3">
        <aside class="right-sidbar-div">
          
          <ul>
            <li>
              <h5>Ratings:</h5>
              <table cellpadding="0" cellspacing="0">
              	<tr>
                  	<td>
                      <div class="rating-div" id="overAllRating">
                      </div> 
                    </td>
                      <td width="50" align="center">[[designerDetail.total_avg_rate  | number : 1]]</td>
                  </tr>
              </table>

            </li>
            <li>
              <h5>Jobs Completed:</h5>
              [[designerDetail.projects_completed]]
            </li>
            <li>
              <h5>Ongoing Jobs</h5>
              [[designerDetail.projects_ongoing]]
            </li>
            <li>
              <h5>Price Range:</h5>
              MIN: &yen;[[designerDetail.mp_designer_min_price]] &minus; MAX: &yen;[[designerDetail.mp_designer_max_price]]
            </li>
            <li class="languages-know">
              <h5>Languages Known:</h5>
              <div ng-repeat="language in designerDetail.languages">
                <span class="selected">[[language.language]]</span><span>[[language.proficiency]]</span>
              </div>
            </li>
            <li>
              <h5>School Name:</h5>
               [[designerDetail.school.name]]
            </li>
            <li>
              <h5>Country Of Residence: </h5>
              [[designerDetail.country.name]]
            </li>
            <li class="about">
              <h5>About</h5>
              <p ng-bind-html="trustedHtml"></p>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>
