<section class="marketplace-designers-section">
    <div class="white-panel-div mb10">
        <div class="page-heading">
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        Sellers
                    </h2>
                </div>
                <div class="col-sm-6">
                    <!-- <div class="right-withdrawal">
                        Withdrawal Requests
                        <span class="number-text">
                            3
                        </span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!--Filer Div-->
    <div class="white-panel-div mb10">
        <div class="filter-div">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="120">
                                <label>
                                    Select Category
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1" ng-model="category">
                                    <option value="all">
                                        All
                                    </option>
                                    <option ng-repeat="category in categories.categories" value="[[category.id]]">
                                        [[category.skill_name]]
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="150">
                                <label>
                                    Sort By Date:
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1" ng-model="sort">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="asc">
                                        Joined Date (Ascending)
                                    </option>
                                    <option value="desc">
                                        Joined Date (Descending)
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-6 col-lg-4 lg-clearfix">
                    <div class="f-search-div">
                        <span class="search-icon">
                            <i aria-hidden="true" class="fa fa-search">
                            </i>
                        </span>
                        <input class="form-control" ng-model="search" placeholder="Search" type="text" />
                    </div>
                </div>
            </div>
            <div class="row margin-between-row">
                <div class="col-sm-6 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="120">
                                <label>
                                    Sort by Name:
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1" ng-model="name">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="asc">
                                        Ascending Order
                                    </option>
                                    <option value="desc">
                                        Descending Order
                                    </option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="150">
                                <label>
                                    Sort by Reviews:
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1" ng-model="review">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="desc">
                                        High to Low
                                    </option>
                                    <option value="asc">
                                        Low to High
                                    </option>

                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 col-lg-4 lg-clearfix">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="150">
                                <label>
                                    Project Completed:
                                </label>
                            </td>
                            <td>
                                <select class="form-control" name="drop1" ng-model="complete_project">
                                    <option value="">
                                        Please select
                                    </option>
                                    <option value="desc">
                                        High to Low
                                    </option>
                                    <option value="asc">
                                        Low to High
                                    </option>

                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="availability-div">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="120">
                                    <label>
                                        Sort by Earnings:
                                    </label>
                                </td>
                                <td>
                                    <select class="form-control" name="drop1" ng-model="earnings">
                                        <option value="">
                                            Please select
                                        </option>
                                        <option value="desc">
                                            High to Low
                                        </option>
                                        <option value="asc">
                                            Low to High
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="90">
                                    <label>
                                        Availability:
                                    </label>
                                </td>
                                <td>
                                    <span class="custom-checkbox" ng-repeat="available in availability">
                                        <input id="[[available.text]]" ng-model="available.Selected" type="checkbox" class="availability-check-box" />
                                        <label for="[[available.text]]">
                                            [[available.text]]
                                        </label>
                                        <!-- </input> -->
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row margin-between-row">

                    <div class="col-sm-6 col-lg-4">
                        <span class="custom-checkbox2">
                            <input id="testt" ng-model="availability_long_term" type="checkbox" />
                            <label for="testt">
                                Available for Long Term Projects
                            </label>
                        </span>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <table cellpadding="0" cellspacing="0" class="BudgetTbl" width="100%">
                            <tr>
                                <td width="70">
                                    <label>
                                        Budget:
                                    </label>
                                </td>
                                <td class="price-range">
                                    <input class="range-example-input-2" max="5000" min="0" name="points" step="1" type="text" value="0,5000" ng-model="budget"
                                    />
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="col-sm-6 col-lg-4">
                        <div class="ratings-mpd">
                            <label class="title-label">
                                Ratings:
                            </label>
                            <span class="custom-radio2" ng-repeat="rate in ratings">
                                <input class="ratings" id="[[rate.id]]" name="rate" ng-model="rate.Selected" value="[[rate.value]]" type="radio" />
                                <label for="[[rate.id]]">
                                    [[rate.value]]
                                    <i aria-hidden="true" class="fa fa-star">
                                    </i>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <table cellpadding="0" cellspacing="0" class="pull-left" width="50%">
                <tr>
                    <td class="pull-left">
                        <label>
                            Export To
                        </label>
                    </td>
                    <td class="pull-left">
                        <select class="form-control custom-class-exportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                            <option value="">
                                Select Export Type
                            </option>
                            <option value="1">
                                Excel
                            </option>
                            <option value="2">
                                CSV
                            </option>
                        </select>
                    </td>
                    <td class="pull-left">
                        <button class="btn btn-purple custom-class-Sellerexportbutton" ng-click="Exportdata(Exportvalue)">
                            <i aria-hidden="true" class="fa fa-download">
                            </i>
                        </button>
                    </td>
                </tr>
            </table>
            <div class="text-right">
                <button class="btn btn-purple" ng-click="filterData(category,sort,search,rate,availability_long_term,name,review,complete_project,earnings)">
                    Submit
                </button>
                <button class="btn btn-purple" ng-click="resetData()">
                    Reset
                </button>
            </div>
        </div>
    </div>
    <!--Filer Div End-->
    <div class="white-panel-div mb10 total-designer-div">
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    Total Sellers: [[totalDesigner]]
                </h3>
            </div>
            <!-- <div class="col-sm-6 text-right">
                <button class="btn btn-purple">
                    Reset
                </button>
            </div> -->
        </div>
    </div>
    <!--Bottom listing-->
    <div class="white-panel-div mb10" ng-repeat="designer in allDesigners">
        <div class="row">
            <div class="col-sm-9 col-md-4 col-lg-4">
                <p>
                    <span class="cName">
                        <a href="manage/sixteen/seller-info/[[designer.slug]]">[[designer.first_name]] [[designer.last_name]]
                    </span>
                </p>
                <p class="email">
                    <a href="#">
                        <i aria-hidden="true" class="fa fa-envelope-o">
                        </i>
                        [[designer.email_address]]
                    </a>
                </p>
                <span class="email">

                    <i aria-hidden="true" class="fa fa-calendar">
                    </i>

                    [[designer.designer_created_at]]

                </span>
            </div>
            <div class=" col-md-4 col-lg-8">
                <ul class="post-info-list">
                    <li>
                        <i aria-hidden="true" class="fa fa-star-o">
                        </i>
                        ([[designer.reviews_count]] Reviews)
                        <span>
                            [[designer.total_avg_rate]]
                        </span>
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa icon-logo-design">
                        </i>
                        [[designer.designer_skill]]
                        <span>
                            + [[designer.skill_count]]
                        </span>
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa icon-Invited">
                        </i>
                        Invited
                        <span>
                            [[designer.adminmarketplaceprojectdetailinfo_count]]
                        </span>
                        Accepted
                        <span>
                            [[designer.adminmarketplaceprojectdetailinfowithstatus_count]]
                        </span>
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa fa-money">
                        </i>
                        Tatal Earnings
                        <span>
                            [[designer.total_sum_count]]
                        </span>
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa icon-location">
                        </i>
                        [[designer.city.state.name]], [[designer.country.name]]
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa icon-price">
                        </i>
                        Price
                        <span>
                            ¥[[designer.mp_designer_min_price]] -
                        </span>
                        <span>
                            ¥[[designer.mp_designer_max_price]]
                        </span>
                    </li>
                    <li>
                        <i aria-hidden="true" class="fa fa-list">
                        </i>
                        Completed Projects
                        <span>
                            [[designer.admin_completed_projects_count]]
                        </span>
                    </li>
                    <!-- <li>
                         <i aria-hidden="true" class="fa icon-last_active">
                        </i>
                        Jobs Matched
                        <span>
                            14
                        </span> 
                    </li> -->
                </ul>
                <br>
                <ul class="post-info-list">
                    <li>
                        <i class="fa fa-arrow-circle-o-down " aria-hidden="true"></i>
                        <span class="hide id_proof_[[designer.id]]"></span>
                        <a href="javascript:void(0);" ng-click="DownloadIDProof([[designer.designer_id_proof_document]],'id_proof',[[designer.designer_id_proof_original]],designer.id);">Download ID proof</a>
                        </span>  
                        <a id="id_proof_dynamic" ></a>                     
                    </li>
                    <li>
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        <span class="hide student_id_proof_[[designer.id]]"></span>
                        <a href="javascript:void(0);" class="student_id_proof"  ng-click="DownloadStudentIDProof([[designer.student_id_proof]],'student_id_proof',[[designer.student_id_proof_original]],designer.id);">Download Student ID</a>
                        </span>
                        <a id="student_id_proof_dynamic" ></a>
                    </li>
                    <li ng-show="designer.guardian_id_proof != null" >
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        <span class="hide gurdian_id_proof_[[designer.id]]"></span>
                        <a href="javascript:void(0);"  class="gurdian_id_proof" ng-click="DownloadGurdianIDProof([[designer.guardian_id_proof]],'gurdian_id_proof',[[designer.guardian_id_proof_original]],designer.id);">Download guardian ID</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-md-clearfix col-md-4 col-lg-3">
                <ul class="post-info-list">    
                    
                </ul>
            </div> -->
        </div>
    </div>
</section>
<default-pagination currentpage="currentDesignerPaging" like="Getalldesignerdata({'category':category,'sort':sort,'search':search,'rate':rate,'availability_long_term':availability_long_term,'budget':budget,'name':name,'review':review,'complete_project':complete_project,'earnings':earnings},page)"
    paginate="paginate" range="rangeDesignerpage">
</default-pagination>