<section class="tickets-list-section">
  <div class="white-panel-div mb10">
    <div class="page-heading">
      <h2>Tickets List</h2>
    </div>
  </div>
  <!--Filer Div-->
  <div class="white-panel-div mb10">
    <div class="filter-div">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="120"><label>Ticket Type</label></td>
              <td><select name="drop1" class="form-control" ng-model="tickettype" ng-change="getTicketCategories(tickettype)">
                    <option value="">All</option>
                    <option  ng-repeat="type in ticketTypes" value="[[type.id]]">[[type.ticket_type_name]]</option>
                </select></td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6 col-lg-4">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr ng-show="ticketCategories.length>0">
              <td width="120"><label>Ticket Category</label></td>
              <td><select name="drop1" class="form-control" ng-model="ticketcategory">
                  <option  value="">Please select</option>
                  <option  ng-repeat="category in ticketCategories" value="[[category.id]]">[[category.ticket_category_name]]</option>
                </select>
              </td>
            </tr>
            <tr ng-show="ticketCategories.length==0">
              <td width="120"><label>Select Category</label></td>
              <td>
                <select  name="drop1" class="form-control">
                  <option  value="">No Category Found</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12 col-lg-5 lg-clearfix">
          <div class="f-search-div"> <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 margin-between-row">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr >
              <td width="120"><label>Select Start Date</label></td>
              <td class="calendar"><input width="100%" class="form-control datetimepicker"  id="datetimepicker_start" ng-model="start_date" type="text" onkeydown="return false"/>
              <i class="fa fa-calendar"></i>
              </td>
            </tr>
           
          </table>
          
        </div>
        <div class="col-sm-6 col-lg-3 margin-between-row">
          <table cellpadding="0" cellspacing="0" width="100%">
            
            <tr >
              <td width="120"><label>Select End Date</label></td>
              <td class="calendar">
                <input width="100%" class="form-control datetimepicker"  id="datetimepicker_end" ng-model="end_date" type="text" onkeydown="return false"/><i class="fa fa-calendar"></i>
              </td>
            </tr>
          </table>
          
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-12">  
          <div class="all-jobs-btn-div">
            <table cellpadding="0" cellspacing="0" class="pull-left" width="50%">
                    <tr>
                        <td class="pull-left">
                            <label>
                                Export To
                            </label>
                        </td>
                        <td class="pull-left">
                            <select class="form-control custom-class-exportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                                <option value="">
                                    Select Export Type
                                </option>
                                <option value="1">
                                    Excel
                                </option>
                                <option value="2">
                                    CSV
                                </option>
                            </select>
                        </td>
                        <td class="pull-left">
                            <button class="btn [[btn_color]] custom-class-exportbutton" ng-click="Exportdata(Exportvalue)">
                                <i aria-hidden="true" class="fa fa-download">
                                </i>
                            </button>
                        </td>
                    </tr>
                </table>
            <button class="btn [[btn_color]] filter-btn"  ng-click="filterData(tickettype,ticketcategory,search,start_date,end_date)">
                Submit
            </button>
            <button class="btn [[btn_color]] reset-btn" ng-click="resetData()">
                Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Filer Div End-->

  <!--Bottom listing  class="white-panel-div mb10"-->
  <div ng-if="totalTickets>0">
    <div class="white-panel-div mb10" ng-repeat="ticket in ticketListing">
      <div class="page-heading">
        <div class="row">
          <div class="col-sm-6">
            <a ng-if="ticket.ticket_for==2" href="manage/sixteen/ticket-detail/[[ticket.slug]]"><h2 class="sm-title ticketlist-sm-title">#[[ticket.ticket_number]]</h2></a>
            <a ng-if="ticket.ticket_for==1" href="manage/ignite/ticket-detail/[[ticket.slug]]"><h2 class="sm-title ticketlist-sm-title">#[[ticket.ticket_number]]</h2></a>
          </div>
          <div class="col-sm-6">
            <div class="pull-right">
              <div class="btn submit-btn create-issue ticket-status" ng-if="ticket.ticket_status==1">New</div>
              <div class="btn_reject btn btn-red btn-sm ticket-status" ng-if="ticket.ticket_status==2">Open</div>
              <div class="btn_accept btn btn-green btn-sm ticket-status" ng-if="ticket.ticket_status==3">Complete</div>
            </div>
          </div>
        </div>
        <hr>
      </div>
      <div class="row_bottom_15">
        <div class="row">
          <div class="col-sm-3">
            <p><strong>User Name:</strong> [[ticket.user_name]]</p>
          </div>
          <div class="col-sm-4">
            <ul class="post-info-list">
              <li><strong>Email Address:</strong> [[ticket.email_address]]</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p><strong>Subject:</strong> [[ticket.ticket_subject]]</p>
          </div>
          <div class="col-sm-5">
            <ul class="post-info-list">
              <li><i class="fa fa-calendar" aria-hidden="true"></i> Ticket submitted: [[ticket.created_at]]</li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="post-info-list">
              <li><i class="fa icon-last_active" aria-hidden="true"></i> Assigned To : [[ticket.assignee_name?ticket.assignee_name:'N/A']]</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Type:</strong> [[ticket.customer_ticket_type.ticket_type_name]] </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p><strong>Ticket category:</strong> [[ticket.customer_ticket_category.ticket_category_name]]</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <default-pagination currentpage="currentTicketPaging" like="Getticketlisting({'type':tickettype,'category':ticketcategory,'search':search,'start_date':start_date,'end_date':end_date,'ticket_for':ticket_for},page)" paginate="paginate" range="rangeTicketpage">
        </default-pagination>

</section>
