<section class="tickets-list-section">
  <div class="white-panel-div mb10">
    <div class="page-heading">
      <h2>Country List</h2>
    </div>
  </div>
  <!--Filer Div-->
  <div class="white-panel-div mb10">
    <div class="filter-div">
      <div class="row">         
        <div class="col-sm-6 col-lg-5 lg-clearfix pull-left">
          <div class="f-search-div"> <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="search"/>
          </div>
        </div>
        <div class="col-sm-6 col-lg-5 lg-clearfix pull-right">
            <div class="f-search-div"> 
              <form name="uploadDataFile" id="uploadDataFile" ng-submit="uploadCSVFileData()" enctype="multipart/form-data">
                  <input type="file" name="UploadData" id="UploadData" ng-model="UploadData">              
                  <button class="bt btn-purple" type="submit">
                      <i aria-hidden="true" class="fa fa-upload"></i>
                      Upload
                  </button>
              </form>              
            </div>
          </div>        
      </div>
      <div class="row">
        <div class="col-sm-12">  
          <div class="all-jobs-btn-div">
              <table cellpadding="0" cellspacing="0" class="pull-left" width="50%">
                  <tr>                      
                      <td class="pull-left">
                          <select class="form-control custom-class-countryexportdropdown" id="Exportvalue" name="Exportvalue" ng-model="Exportvalue">
                              <option value="">
                                  Select Export Type
                              </option>
                              <option value="1">
                                  Excel
                              </option>
                              <option value="2">
                                  CSV
                              </option>
                          </select>
                      </td>
                      <td class="pull-left">
                          <button class="btn btn-purple custom-class-buyerexportbutton" ng-click="Exportdata(Exportvalue)">
                              <i aria-hidden="true" class="fa fa-download">
                              </i>
                          </button>
                      </td>
                  </tr>
              </table>
            <button class="btn btn-purple filter-btn"  ng-click="filterData(search)">
                Submit
            </button>
            <button class="btn btn-purple reset-btn" ng-click="resetData()">
                Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Filer Div End-->

  <!--Bottom listing-->
    <div class="white-panel-div mb10"  ng-repeat="country in countryListing track by $index">      
      <div class="row">
          <div class="col-sm-4"> 
              <strong>Country:</strong> [[country.name]]
          </div>
          <div class="col-sm-4"> 
            <strong>States:</strong> 
              <span ng-repeat="state in country.states">
                [[state.name]],      
                <br/>                                                     
            </span>            
          </div>
          <div class="col-sm-4">   
              <strong>Cities:</strong>
              <span ng-repeat="allStateData in country.states">                                
                <span ng-repeat="city in allStateData.hascities">
                    [[city.name]], 
                    <br/>                                                          
                </span>  
              </span>              
          </div>          
      </div>      
    </div>   
  <default-pagination currentpage="currentCountryPaging" like="GetUserCountriesListing({'others':others,'search':search},page)" paginate="paginate" range="rangeCountrypage">
        </default-pagination>

</section>
