@font-face {
    font-family: "AvenirLT";
    src: url(fonts/AvenirLTStd-Roman_2.otf);
}

@font-face {
    font-family:
}

body {
    color: #202020;
    font-family: 'AvenirLT', sans-serif;
}

.new-cases .media {
    width: 100%;
}

.new-cases .media-left {
    display: inline-block !important;
    float: left !important;
}

.new-cases .media-body {
    display: inline-block !important;
    float: left !important;
    width: 90%;
    word-wrap: break-word;
}

.new-cases li .left-side {
    display: inline-block;
    word-wrap: break-word;
    width: 100%;
}

.margin-zero {
    margin: 0px !important
}

.margin-tp0 {
    margin-top: 0px !important
}

.margin-tp5 {
    margin-top: 5px !important
}

.margin-tp10 {
    margin-top: 10px !important
}

.margin-tp15 {
    margin-top: 15px !important
}

.margin-tp20 {
    margin-top: 20px !important
}

.margin-tp30 {
    margin-top: 30px !important
}

.margin-tp40 {
    margin-top: 40px !important
}

.margin-tp50 {
    margin-top: 50px !important
}

.margin-tp80 {
    margin-top: 80px !important
}

.margin-bt0 {
    margin-bottom: 0px !important
}

.margin-bt5 {
    margin-bottom: 5px !important
}

.margin-bt10 {
    margin-bottom: 10px !important
}

.margin-bt15 {
    margin-bottom: 15px !important
}

.margin-bt20 {
    margin-bottom: 20px !important
}

.margin-bt25 {
    margin-bottom: 25px !important
}

.margin-bt30 {
    margin-bottom: 30px !important
}

.margin-bt40 {
    margin-bottom: 40px !important
}

.margin-bt50 {
    margin-bottom: 50px !important
}

.margin-bt80 {
    margin-bottom: 80px !important
}

.margin-auto {
    margin: auto
}

.pd-zero {
    padding: 0px !important
}

.pd-tp0 {
    padding-top: 0px !important
}

.pd-tp5 {
    padding-top: 5px !important
}

.pd-tp10 {
    padding-top: 10px !important
}

.pd-tp15 {
    padding-top: 15px !important
}

.pd-tp20 {
    padding-top: 20px !important
}

.pd-tp30 {
    padding-top: 30px !important
}

.pd-tp40 {
    padding-top: 40px !important
}

.pd-tp50 {
    padding-top: 50px !important
}

.pd-tp80 {
    padding-top: 80px !important
}

.pd-bt0 {
    padding-bottom: 0px !important
}

.pd-bt5 {
    padding-bottom: 5px !important
}

.pd-bt10 {
    padding-bottom: 10px !important
}

.pd-bt15 {
    padding-bottom: 15px !important
}

.pd-bt20 {
    padding-bottom: 20px !important
}

.pd-bt30 {
    padding-bottom: 30px !important
}

.pd-bt40 {
    padding-bottom: 40px !important
}

.pd-bt50 {
    padding-bottom: 50px !important
}

.pd-bt80 {
    padding-bottom: 80px !important
}

.pd-20 {
    padding: 20px;
}

.divider {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 10px;
}

.bg-red {
    background-color: #d21a24;
}

.bg-green {
    background-color: green !important;
    color: #fff;
}

.back-red {
    background-color: red;
}

.back-blue {
    background-color: #2b8de6;
}

.back-yellow {
    background-color: yellow;
}

.back-green {
    background-color: green !important;
}

.text-red {
    color: #d21a24 !important;
}

.text-green {
    color: green !important;
}

.border-r {
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.border-g {
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.text-white {
    color: #fff !important;
}

.back-white {
    background-color: #fff !important;
}

.back-gray {
    background-color: gray !important;
}

.back-light-gray {
    background-color: #f2f2f2 !important;
}

.back-dark-gray {
    background-color: #413f40 !important;
}

.back-lr {
    background-color: #feece8;
}

.back-lg {
    background-color: #e7f5e6;
}

.back-ly {
    background-color: #fcfbe6;
}

.back-lb {
    background-color: #e9f3fc;
}

.text-black {
    color: #202020 !important;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.a-uline-remove:hover {
    text-decoration: none;
}

.btn {
    background-color: #d21a24;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    color: #fff;
    padding: 6px 20px !important;
    text-transform: capitalize;
}

.btn.btn-default:hover {
    background-color: #e6e6e6;
    color: #333;
}

.btn:hover,
.btn:focus,
.btn.focus {
    background-color: #f9323d;
    color: #fff;
}

.btn-default {
    background-color: #fff;
    color: #000;
}

.border-radius0 {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

a {
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

a.btn.back-green:hover,
a.btn.bg-green:hover {
    background-color: #07a907 !important;
}

a.btn.back-dark-gray:hover {
    background-color: #636363 !important;
}

a.btn.back-gray:hover {
    background-color: #636363 !important;
}

.control-label {
    margin-top: 8px;
}

.form-control:focus,
{
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    border-color: #d21a24;
}

.border {
    border: 1px solid #e7ecf1;
}

.border-tp {
    border-top: 1px solid #e7ecf1;
}

.border-right {
    border-right: 1px solid #e7ecf1;
}

.border-0 {
    border: none;
}

.radio-button {
    position: relative;
    margin-right: 50px;
    padding-top: 0px;
    padding-left: 30px;
    margin: 0px 20px 10px 0px !important;
}

.radio-button input {
    opacity: 0;
    z-index: 9999;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0px !important;
}

.form-detail input {
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -o-border-radius: 20px !important;
}

.radio-checked {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #202020;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.radio-button input:checked~.radio-checked:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #d21a24;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    top: 3px;
    left: 3px;
}


/*header start*/

.logo img {
    width: 100px;
}

header a {
    padding: 6px 12px !important;
    color: #000;
    display: inline-block;
}

header ul {
    padding: 14px 0px;
}

header {
    background-color: #fff;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    padding: 5px 0px;
    z-index: 2;
}

.slide {
    position: relative;
    top: -100px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.fixed-header {
    position: fixed;
    top: 0px;
    z-index: 11111;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px #d1d1d1;
    -moz-box-shadow: 0px 0px 14px 0px #d1d1d1;
    -o-box-shadow: 0px 0px 14px 0px #d1d1d1;
    -webkit-box-shadow: 0px 0px 14px 0px #d1d1d1;
    -ms-box-shadow: 0px 0px 14px 0px #d1d1d1;
}

header .navbar-right .after-login {
    padding: 18px 0px;
}

header .navbar-right img {
    width: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

header .media-body {
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}

header .navbar-right .dropdown-menu {
    top: 66px;
    border-top: 2px solid #d21a24;
    left: 0px;
    right: -10px;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    min-width: auto !important;
}

header .dropdown-menu {
    position: absolute;
}

header .open>.dropdown-menu {}

header .dropdown-menu>li>a:hover,
header .dropdown-menu>li>a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #d21a24;
}

header .navbar-right .dropdown-menu:before {
    content: '';
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #d21a24;
    position: absolute;
    left: 45%;
    top: -16px;
    text-align: center;
}

header .caret {
    margin-left: 10px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    margin-top: 15px;
}

header .language {
    padding: 6px 12px;
}

header .dropdown-menu .icon {
    font-weight: 600;
    padding-right: 10px;
}

.checkbox-set {
    margin: 0px 10px;
}

.checkbox-set .checkbox-btn {
    width: 30px;
    height: 10px;
    background-color: #e4e4e4;
    display: inline-block;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
}

.checkbox-set .checkbox-btn:before {
    background-color: #bfbebe;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    content: '';
    top: -3px;
    left: 0px;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.checkbox-set input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 30px;
}

.checkbox-set input[type="checkbox"]:checked+.checkbox-btn:before {
    left: 15px;
    background-color: red;
}

.checkbox-set input[type="checkbox"]:checked+.checkbox-btn {
    background-color: rgba(228, 26, 26, 0.30);
}

.checkbox-section .checkbox-btn {
    position: relative;
    display: inherit;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 3px;
    margin-right: 5px;
}

.checkbox-section .checkbox-btn input[type="checkbox"] {
    position: absolute;
    left: 0px;
    opacity: 0;
    z-index: 9;
    margin: 0px;
}

.checkbox-section .checkbox-btn .check-box {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
    left: 0px;
    top: 0px;
    background-color: #fff;
}

.checkbox-section .checkbox-btn input[type="checkbox"]:checked+.check-box:before {
    content: '';
    position: absolute;
    background: #a09df4;
    width: 2px;
    height: 6px;
    top: 4px;
    left: 2px;
    transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
}

.checkbox-section .checkbox-btn input[type="checkbox"]:checked+.check-box:after {
    content: '';
    position: absolute;
    background: #a09df4;
    /* border: 1px solid #868686; */
    width: 9px;
    height: 2px;
    top: 5px;
    left: 3px;
    transform: rotate(-33deg);
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
}

.modal .form {
    padding: 40px 20px;
}


/*header end*/


/*user-sign-up start*/

.main {
    background-image: url("../images/dot.png");
    background-position: center center;
    position: relative;
    z-index: 0;
}

.user-signup-page .user-content .options {
    padding: 50px 0px;
}

.user-signup .bg-box {
    overflow: hidden;
}

.user-signup .bg-box .box-left,
.user-signup .bg-box .box-right,
.box-bottom {
    position: relative;
    width: 850px;
    height: 650px;
    /*transform: rotate(216deg);*/
    top: -200px;
    left: -350px;
    display: inline-block;
    background-color: #d21a24;
    border-radius: 50%;
    -webkit-border-radius: 50% -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    animation: bg-left 1.5s cubic-bezier(1, 1, 1, 1);
    animation-iteration-count: 1;
}

.user-signup .bg-box .box-right {
    width: 350px;
    height: 350px;
    top: 250px;
    right: 0px;
    left: 70px;
    float: right;
    animation: bg-right 1.5s cubic-bezier(1, 1, 1, 1);
}

.box-bottom,
.box-top-right {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -20px;
    top: initial;
    right: 0px;
    left: -95px;
    animation: bg-bottom 0.5s cubic-bezier(1, 1, 1, 1);
}

.box-top-right {
    top: 0px;
    right: -78px;
    left: initial;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #d21a24;
}

.back-yellow {
    background-color: #ec8024;
}

@keyframes bg-left {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

@keyframes bg-right {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

@keyframes bg-bottom {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

.user-signup {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.user-signup .dots {
    position: absolute;
    top: 120px;
    right: 100px;
}

.user-signup .dots img {
    width: 350px;
}

.user-content .logo {
    padding: 50px 0px;
}

.user-content .logo img {
    width: 180px;
}

.user-content .progaram-section {
    background-image: none;
    padding: 0px 130px;
}

.user-content .progaram-section .box {
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
}

.user-content .options {
    padding: 50px 0px 20px;
}

.user-content .options .icon {
    font-size: 60px;
}

.user-content .options .barcode {
    margin: 20px 0px;
}

.reset .form {}

.user-content .options .barcode>span {
    font-size: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: inline-block;
}

.forget a:hover {
    text-decoration: underline;
}

.forget {
    display: inline-block;
    width: 100%;
}

.user-content .options .text {
    padding: 0px 150px;
}

.user-content .options .form {
    padding: 0px 70px;
}

.form .form-control {
    box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    -ms-box-shadow: inherit;
    background-color: transparent !important;
    position: relative;
    z-index: 11;
    color: #2b2b2b;
}

.form-control {
    box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    -o-box-shadow: inherit !important;
    -webkit-box-shadow: inherit !important;
    -ms-box-shadow: inherit !important;
}

.form-control:focus {
    border-color: #d21a24;
}

.form .input-label span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 13px;
    text-align: left;
    color: #9E9E9E;
    background-color: transparent;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    z-index: 0;
}

.form .form-group.typing span {
    top: -27px;
    z-index: 111;
}

.form .form-group {
    position: relative;
    background-color: #fff;
    margin-bottom: 15px;
}
.typing-effect .form-group
{
    margin-bottom: 30px;
}


/*user-sign-up end*/


/*after-sign-up start*/

.after-signup .user-signup .bg-box .box-left,
.after-signup .user-signup .bg-box .box-right,
.after-signup .box-bottom {
    background-color: #ec8024;
}

.after-signup .user-content .main-title {
    padding: 50px 0px;
}

.after-signup .user-content .box {
    padding: 0px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.after-signup .user-content .box .sub-header {
    background-color: #f9f7f8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    padding: 20px;
    color: #000;
    margin-bottom: 0px;
}

.after-signup .user-content .progaram-section .box .box-content {
    padding: 20px;
    padding-bottom: 115px;
}

.after-signup .user-content .progaram-section .box .box-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.box-list.select-plan .select-the-plan .box-btn a:hover {
    background-color: #079a07;
}

.box-list.select-plan .select-the-plan {
    border: 1px solid green;
}

.box-list.select-plan .select-the-plan .box-btn a {
    background-color: green;
}

.after-signup .user-content .training,
.after-signup .user-content .payment-details {
    /*margin: 0px 100px;*/
}

.after-signup .user-content .training .box form,
.after-signup .user-content .payment-details .box form {
    padding: 20px 100px;
}

.label-large {
    font-size: 18px;
    font-weight: 600;
}

.after-signup .user-content .payment-details .box-details {
    background-color: #f9f7f8;
    border: 1px solid #e8e8e8;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 10px 10px 0px;
}

.after-signup .user-content .payment-details .box-details .form-control {
    border: 0px;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
}

.after-signup .total-payment div {
    margin-bottom: 10px;
}

.after-signup .border {
    margin: 0px 30px 10px 0px;
}

.after-signup .total {
    padding: 10px 20px;
}


/*after-sign-up end*/


/*home-page start*/

.banner {
    background-image: url("../images/home-banner.png");
    background-size: 100% 540px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 540px;
    position: relative;
    overflow: hidden;
}

.banner .container {
    height: 100%;
    position: relative;
}

.banner .team-img {
    position: absolute;
    bottom: 65px;
    left: 0px;
}

.banner .team-img img {
    width: 600px;
}

.banner .img-bg {
    position: absolute;
    bottom: -170px;
    right: 0px;
}

.banner .img-bg img {
    width: 500px;
}

.banner .strip {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #d21a24;
    color: #fff;
    padding: 15px 40px;
    font-size: 25px;
}

.banner .student img {
    width: 450px;
}

.banner .student {
    position: absolute;
    bottom: -1px;
    right: 50px;
    z-index: 1;
}

.progaram-section {
    background-image: url("../images/dot.png");
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-attachment: fixed;
}

section {
    padding: 40px 0px 40px 0px;
}

.progaram-section .progaram {
    padding: 0px 200px;
}

.title {
    color: #d21a24;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}

.box-list {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.progaram-section .box-list {
    padding: 40px 0px;
}

.progaram-section .box .icon {
    font-size: 90px;
}

.progaram-section .box {
    background-color: #fff;
    box-shadow: 0px 0px 6px 3px #f2f2f2;
    -moz-box-shadow: 0px 0px 6px 3px #f2f2f2;
    -o-box-shadow: 0px 0px 6px 3px #f2f2f2;
    -webkit-box-shadow: 0px 0px 6px 3px #f2f2f2;
    -ms-box-shadow: 0px 0px 6px 3px #f2f2f2;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

.progaram-section .box .text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.video .dec-students {
    background-color: #ec8024;
    padding: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    text-align: justify;
    margin: 0px 60px 0px 120px;
}

.video .dec-students .img {
    position: relative;
    left: -100px;
}

.video .dec-students .img-box,
.next-videos .img {
    position: relative;
}

.video .dec-students .img-box span,
.next-videos .img span {
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
}

.video .dec-students .img-box span i,
.next-videos .img span i {
    margin: auto;
    font-size: 50px;
    color: #fff;
}

.video .dec-students .img img {
    width: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

.course-contents {
    background-image: url("../images/bg-contents.png");
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

.course-contents .course-title span {
    font-size: 18px;
}

.content-list ul li {
    background-color: #fff;
    padding: 0px 15px;
    box-shadow: 0px 0px 10px 3px #e2e2e2;
    -moz-box-shadow: 0px 0px 10px 3px #e2e2e2;
    -o-box-shadow: 0px 0px 10px 3px #e2e2e2;
    -webkit-box-shadow: 0px 0px 10px 3px #e2e2e2;
    -ms-box-shadow: 0px 0px 10px 3px #e2e2e2;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.content-list ul li:first-child {
    margin-top: 0px;
}

.content-list ul li.panel {
    padding: 0px 15px;
}

.content-list ul li.panel .panel-heading {
    padding: 0px;
    text-transform: uppercase;
}

.course-contents .content-list ul li .box-list .left {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.course-contents .content-list ul li .box-list .right {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

.content-list ul li .section {
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    -moz-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px 0px;
    color: #d21a24;
    font-weight: 600;
}

.content-list ul li .name {
    -webkit-flex: 6;
    -webkit-box-flex: 6;
    -moz-flex: 6;
    -moz-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    padding: 20px 0px;
}

.content-list ul li .video-time {
    -webkit-flex: 2;
    -webkit-box-flex: 2;
    -moz-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px 0px;
}

.content-list ul li .video-time span {
    margin-left: 10px;
    cursor: pointer;
}

.content-list ul li i {
    color: #d21a24;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}

.content-list ul li .border-g i {
    color: green;
}

.content-list p {
    text-align: justify;
}

.content-list ul li .border-r i {
    color: red;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border-left: none !important;
    border-right: none !important;
    border: 2px solid #f0f6fa;
    padding: 10px;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fafcfd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-striped>tbody>tr:hover {
    background-color: #fce7e8;
    cursor: pointer;
}

.table>tbody>tr>td a {
    color: inherit;
}

.subscribe .box {
    width: 48%;
}

.sub-header,
.after-signup .user-content .progaram-section .box .box-btn p {
    color: #d21a24;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}

.subscribe .left-side .btn {
    padding: 10px 40px !important;
}

.subscribe .left-side span {
    margin: 0px 40px;
}

.subscribe .content-list ul li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
}

.subscribe .content-list ul li a {
    padding: 10px 0px;
    cursor: default;
}

.subscribe .content-list ul li .video-time {
    -webkit-flex: 2;
    -webkit-box-flex: 2;
    -moz-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: right;
}

.subscribe .content-list ul li .name {
    -webkit-flex: 2;
    -webkit-box-flex: 2;
    -moz-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


/*home-page end*/


/*user-dashboard start*/

.user-dashboard-banner {
    background-image: url("../images/user-dashboard-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 330px;
    position: relative;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    padding-top: 0px !important;
}

.user-dashboard-banner .overlay {
    background-color: #d21a24;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.user-dashboard-banner .header {
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0px 15px;
}

.user-dashboard-banner .header i {
    font-size: 80px;
    margin-bottom: 20px;
    display: inline-block;
    color: #fff;
}

.user-dashboard-banner .banner-header {
    background-color: #d21a24;
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    text-align: center;
}


/*user-dashboard end*/


/*video-viewing start*/

.content-box {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
}

.video-details .videos,
.partition-content .main-content-box {
    width: calc(100% - 340px);
    display: inline-block;
}

.video-details .next-videos,
.partition-content .sidebar-content {
    width: calc(320px);
    float: right;
}

.video-details .content-box img {
    width: 100%;
}

.video-details .content-box .left-side {
    display: inline-block;
    padding: 7px 0px;
}

.video-details .content-box .icon {
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}

.morecontent span {
    display: none;
}

.more {
    padding: 15px 0px;
    overflow: hidden;
}

.continue-reading {
    box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    -moz-box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    -o-box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    -webkit-box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    -ms-box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}

.video-details .content-box .submit-btn {
    padding: 15px 0px;
}

.video-details .content-box .comments {
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 15px;
    text-align: justify;
    box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.04);
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.video-details .content-box .comments .delete {
    margin-top: 15px;
}

.video-details .content-box .comments .delete a {
    font-size: 18px;
}

.share-icon a {
    font-size: 20px;
}

.share-icon .renren {
    color: #005baa;
}

.share-icon .weibo {
    color: #df2029;
}

.share-icon .tencent {
    color: #000;
}

.share-icon .baidu {
    color: #2529d8;
}

.share-icon .douban {
    color: #1e783c;
}

.share-icon .whatsapp {
    color: #34af23;
}

.share-icon li {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 7px;
}

.share-icon li:hover {
    background-color: #d21a24;
}

.share-icon li:hover a {
    color: #fff;
}


/*video-viewing end*/


/*my-cases start*/

.new-cases .drop-files {
    min-height: 95px;
}

.new-cases .left-side {
    float: left;
}

.new-cases .progress {
    width: 500px;
    display: inline-block;
    position: relative;
    top: 10px;
    height: 7px;
    left: 0px;
}

.new-cases .table {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-collapse: inherit;
    font-weight: 600;
    max-width: 500px;
}

.new-cases .table .icon {
    font-size: 18px;
    position: relative;
    top: 3px;
    padding-left: 5px;
}

.new-cases .table a {
    color: #000;
}

.new-cases .li-border {
    border: 1px solid #ddd;
}

.new-cases .table>thead>tr>th {
    border-bottom: 0px;
    background-color: #f2f2f2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
}

.new-cases-details {
    clear: both;
    margin: 20px 0px 0px;
    display: inline-block;
    width: 100%;
}

.new-cases-details .radio-button {
    padding-left: 20px;
    margin: 0px !important;
}

.new-cases-details .radio-checked {
    width: 15px;
    height: 15px;
}

.new-cases-details .radio-button input:checked~.radio-checked:after {
    width: 9px;
    height: 9px;
    top: 2px;
    left: 2px;
}

.new-cases-details .radio-button input {
    width: 30px;
    cursor: pointer;
}

.new-cases-details .details .hours a {
    color: green;
}

.new-cases-services .icon-dd {
    position: inherit !important;
    padding-top: 10px;
    display: inline-block;
}

.new-cases .total {
    padding: 0px 10px 10px 15px;
    position: relative;
    left: 0px;
    margin-left: 15px;
}

.new-cases .total:before {
    content: '';
    border-left: 1px solid;
    color: #c5c5c5;
    position: absolute;
    left: 0px;
    top: 1px;
    height: 15px;
}

.new-cases .total span {
    font-size: 16px;
    padding: 0px;
    font-weight: 600;
    color: green;
}

.new-cases .progress .progress-bar {
    width: 60%;
}

.new-cases.my-cases .drop-files .icon span {
    font-size: 30px;
    padding: 10px 0px;
}

.new-cases.my-cases .drop-files .sub-header {
    position: relative;
    top: -7px;
    color: gray !important;
    padding-left: 10px;
}

.add img {
    width: 100%;
}

.my-cases .collapse-section {
    padding-left: 97px;
}

.my-cases li {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    position: relative;
    margin: 10px 0px;
}

.my-cases li .icon span {
    display: inline-block;
    font-size: 70px;
}

.my-cases li .left-side {
    display: inline-block;
    padding-right: 40px;
}

.my-cases li .icon-dd {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
}

.cases .back-lr .icon-dd a {
    color: red;
}

.cases .back-lg .icon-dd a {
    color: green;
}

.cases .back-lg .icon-dd .btn {
    background-color: green;
}

.cases .back-ly .icon-dd a {
    color: #e9da0f;
}

.my-cases li .case-dec {
    padding-left: 20px;
}

.cases .icon-dd .down {
    opacity: 1;
    position: relative;
    top: 4px;
}

.cases .remove .icon-dd .down {
    opacity: 0;
}

.tooltip.top .tooltip-inner {
    background-color: #fff !important;
    color: #000;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.18);
}

.tooltip.in {
    opacity: 1 !important;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #fff !important;
}

.dwnld-file {
    opacity: 1;
}

.remove .dwnld-file {
    opacity: 0;
    transition: all 0.3s linear;
}

.cases .icon-dd .up {
    position: absolute;
    top: 7px;
    right: 0px;
    opacity: 0;
    z-index: -1;
}

.cases .icon-dd .dwnld-file {
    margin-right: 20px;
}

.cases .remove .icon-dd .up {
    opacity: 1;
    z-index: 0;
}

.progress-indicator {
    margin: 0px 100px 0px 0px;
    padding: 0px;
    font-size: 90%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.lead-status ul li {
    width: 18%;
    text-align: center;
    font-family: axiforma-Medium;
}

.progress-indicator>li {
    list-style: none;
    text-align: center;
    width: 23%;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: var(--textgray-reguler);
    display: block;
}

.flexer-element,
.progress-indicator>li {
    margin-top: 20px;
}

.progress-indicator>li .bubble {
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto .5em;
}

.progress-indicator>li:last-child .bubble:after,
.progress-indicator>li:last-child .bubble:before {
    display: none;
}

.progress-indicator>li .bubble:before {
    left: 0;
}

.progress-indicator>li .bubble .progress-indicator>li .bubble:after,
.progress-indicator>li .bubble:before {
    display: block;
    position: absolute;
    top: 14px;
    width: 100%;
    margin-left: 57%;
    height: 2px;
    content: '';
    background-color: transparent;
    border: 1px dashed gray;
}

.progress-indicator .timeline-details {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px 40px;
    margin-top: 20px;
    min-height: 110px;
}

.timeline-details .icon span {
    font-size: 50px !important;
}

.case-list {
    border-bottom: 1px solid #c6d2c4;
    margin-bottom: 15px;
}

.case-list li {
    padding-right: 40px;
    padding-left: 5px;
    font-weight: 600;
}

.group-btn a {
    margin-right: 20px;
}


/*my-cases end*/


/*pr-landing start*/

.new-case {
    background: transparent;
}

.pricing-turnaround {
    background-color: #f2f2f2;
}

.pricing-turnaround .box {
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin-top: 20px;
}

.pricing-turnaround .box ul {
    padding-left: 20px;
}

.pricing-turnaround .box ul li {
    position: relative;
}

.pricing-turnaround .box ul li:before {
    content: '';
    background-color: #d21a24;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 7px;
}

.PR-banner {
    background-image: url("../images/PR-banner.jpg");
}

.our-process .process {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    position: relative;
    padding: 100px 0px;
    overflow: hidden;
}

.process-modal {
    margin: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px dotted #f6ad23;
    width: 200px;
    height: 200px;
}

.process-modal:before {
    content: '';
    background-color: #ffffff;
    border-bottom: 3px dotted #ffffff;
    border-top: 3px dotted #f6ad23;
    border-left: 3px dotted #f6ad23;
    border-right: 3px dotted rgba(255, 255, 255, 0.99);
    position: absolute;
    top: 93px;
    left: 49%;
    bottom: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);

}

.process .icon {
    font-size: 70px;
    padding: 0px 20px;
    display: inline-block;
}

.process .step {
    position: absolute;
    width: 470px;
}

.process .step-1 {
    top: 0px;
    left: 45%;
    right: 0;
}

.process .step-2 {
    top: 25%;
    left: 58%;
    right: 0;
}

.process .step-3 {
    top: 62%;
    left: 56%;
    right: 0;
}

.process .step-4 {
    top: 62%;
    left: 2%;
    right: 0;
    width: 500px;
}

.process .step-5 {
    top: 25%;
    left: 2%;
    right: 0;
}

.process .media-body {
    vertical-align: middle;
}

.process .left-sm {
    float: right;
    display: inline-block;
}

.process .right-sm {
    padding: 20px 0px;
}


/*pr-landing end*/


/*marketplace-user-step2 start*/

.marketplace .box {
    width: 100%;
    text-align: left;
}

.marketplace .box form {
    padding: 20px !important;
}

.marketplace .box form .icon {
    font-size: 50px;
}

.marketplace .box form .name {
    display: inline-block;
}

.marketplace .box form .radio-button {
    padding-left: 30px;
}

.marketplace .box form .radio-checked {
    top: 24px;
}

.marketplace .input-label li,
.skill-category>li {
    background-color: #f2f2f2;
    padding: 6px 12px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.skill-category>li:hover {
    background-color: #bfbbbb;
}

.date .single-datepicker {
    border-right: 0px;
}

.input-group-addon {
    background-color: transparent;
}

.client-dl-info img {
    width: 100px;
}


/*marketplace-user-step2 end*/

.date {
    position: relative;
    background-color: #fff;
    padding: 0px;
}

.date input {
    /*  border: none !important;*/
    background-color: transparent !important;
    padding-right: 30px;
}

.date i {
    position: absolute;
    right: 10px;
    top: 10px;
}

.upload-btn {
    position: relative;
    overflow: hidden;
}

.upload-btn input {
    position: absolute;
    top: 0;
    font-size: 23px;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.job-ci-tab .my-cases li .icon-dd {
    top: 35px;
    right: 34px;
}


/*footer start*/

footer {
    background-color: #202020;
    border-top: 4px solid #d21a24;
    color: #fff;
    padding: 40px 0px 20px;
    position: relative;
}

footer .list-section {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

footer .list-section li {
    color: #d21a24;
    padding: 5px 0px;
}

footer .list-section .ttl {
    font-weight: 600;
    font-size: 16px;
}

footer .list-section li a {
    color: #fff;
}

footer .list-section li a:hover {
    color: #d21a24;
}

footer .list-section li.mail-input a:hover {
    color: #fff;
}

footer .list-section .mail-input {
    width: 100%;
    max-width: 370px;
}

footer .list-section .mail-input input {
    width: calc(100% - 100px);
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    -ms-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -o-border-radius: 5px 0px 0px 5px;
}

footer .list-section .mail-input .btn {
    width: 100px;
    float: right;
    border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -ms-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

footer .sub-footer {
    display: inline-block;
    width: 100%;
}

footer .sub-footer li a {
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0px 10px;
    padding: 5px 0px;
    height: 30px;
    width: 30px;
}

footer .sub-footer li a:hover {
    color: #fff;
    background-color: #d21a24;
}

footer .sub-footer .social-text {
    display: inline-block;
    padding: 5px 0px;
    float: left;
}


/*footer end*/

.shortlisted .panel,
.all-jobs .panel {
    width: 100%;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

.shortlisted .img {
    width: calc(100% - 92%);
    display: inline-block;
}

.shortlisted .empolyee-dec {
    width: 85%;
    display: inline-block;
    vertical-align: top;
}

.shortlisted .empolyee-dec .sub-header a {
    color: #202020;
}

.shortlisted .empolyee-dec .sub-header a:hover {
    color: #d21a24;
}

.shortlisted .empolyee-dec .group-btn {
    padding: 22px 0px;
}

.shortlisted .empolyee-dec .left-side {
    display: inline-block;
}

.shortlisted .empolyee-dec .left-side>div {
    margin-top: 5px;
}

.shortlisted .img img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    width: 70px;
}

.shortlisted .info-content-box {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    padding: 0px;
    margin-top: 20px;
}

.my-cases li .icon-dd {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
}


/*.cases .back-lg .icon-dd .btn {
    background-color: green;
}*/

.cases .back-lg .icon-dd a {
    color: green;
}

.group-btn a {
    margin-right: 20px;
}

.icon-dd .up {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    z-index: -1;
    font-size: 25px;
}

.remove .icon-dd .up {
    opacity: 1;
    z-index: 0;
    color: red;
}

.empolyee-dec .icon-dd .up {
    right: 20px !important;
    top: 2px !important;
}

.remove .down {
    opacity: 0;
}

.shortlisted .info-content-box {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    padding: 0px;
    margin-top: 20px;
    position: relative;
    max-width: 92%;
    margin: 31px 0px 0px auto;
}

.shortlisted .info-content-box .client-response {
    padding-left: 0px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #d6d6d6;
}

.gallery .box {
    margin: 0px 10px 5px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.gallery .box img {
    width: 100%;
}

.shortlisted .empolyee-dec .bell-notification {
    height: 25px;
    width: 25px;
    border: 1px solid #d21a24;
    margin-right: 0px;
    border-right: 1px solid;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-right-color: #d21a24;
    padding: 3px 0px;
    margin: 0px 7px;
    color: #d21a24;
}


/*Loader*/

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    z-index: 99999;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
}

.spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #d21a24;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
    }
}


/*End Loader*/


/*Kishan css file*/

.v-divider {
    position: relative;
}

.v-divider:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: #fff;
    left: -11px;
    top: 0px;
}

.badge-circle {
    border-radius: 50%;
    padding: 0px;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 4px 0px;
    position: relative;
    top: -2px;
}

.search-panel {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    height: 34px;
}

.search-panel input {
    background: transparent;
    padding-right: 50px;
}

.search-panel i {
    position: absolute;
    right: 0;
    top: 5px;
    border-left: 1px solid #ddd;
    padding: 5px 15px 5px 10px;
    z-index: 0;
}

.filter {
    padding: 20px 0px;
}

.tab-section .nav-tabs {
    border-bottom: 0px;
}

.bg-img {
    background-image: url(../images/bg-contents.png);
}

.tab-section .nav-tabs a {
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 7px 25px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 13px;
    margin-right: 15px;
    border: 0px;
    box-shadow: 0px 1px 1px 1px #e8e8e8;
    -webkit-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -ms-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -moz-box-shadow: 0px 1px 1px 1px #e8e8e8;
    -o-box-shadow: 0px 1px 1px 1px #e8e8e8;
}

.tab-section .nav-tabs>li.active>a {
    background-color: #d21a24;
    color: #fff;
    border: none;
}

.tab-section .tab-content {
    margin-top: 40px;
}

.jobs-list ul,
.project-list ul {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jobs-list ul li {
    width: 48%;
    margin-bottom: 50px;
}

.jobs-list .job-content {
    background: #fff;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 4px 3px #e8e8e8;
    -webkit-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -moz-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -ms-box-shadow: 0px 2px 4px 3px #e8e8e8;
    -o-box-shadow: 0px 2px 4px 3px #e8e8e8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.jobs-list .job-content p {
    text-align: justify;
    min-height: 80px;
    max-height: 80px;
    overflow: auto;
}

.jobs-list .job-content h3,
.job-info h3 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.jobs-list .job-content h3 a {
    color: #202020;
}

.jobs-list .job-content h3 a:hover {
    color: #d21a24;
}

.jobs-list .job-details>span,
.job-info .job-details>span {
    display: inline-block;
    margin-right: 30px;
}

.jobs-list .job-details>span>label,
.job-info .job-details>span>label {
    margin-bottom: 0px;
}

.jobs-list .job-content .jobs-date {
    position: absolute;
    right: -10px;
    top: -15px;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: 0px 0px 2px 0px #c1bbbb;
    -webkit-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -moz-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -ms-box-shadow: 0px 0px 2px 0px #c1bbbb;
    -o-box-shadow: 0px 0px 2px 0px #c1bbbb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #d21a24;
}

.client-response h3 {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.chat li {
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #f9f9f9;
    box-shadow: 2px 2px 4px 2px #fbfbfb;
    -webkit-box-shadow: 2px 2px 4px 2px #fbfbfb;
    -moz-box-shadow: 2px 2px 4px 2px #fbfbfb;
    -ms-box-shadow: 2px 2px 4px 2px #fbfbfb;
    -o-box-shadow: 2px 2px 4px 2px #fbfbfb;
    border-radius: 10px 10px 0px 10px;
    -moz-border-radius: 10px 10px 0px 10px;
    -webkit-border-radius: 10px 10px 0px 10px;
    -ms-border-radius: 10px 10px 0px 10px;
    -o-border-radius: 10px 10px 0px 10px;
}

.chat li.receiver {
    background-color: #f7f3f2;
    border-radius: 10px 10px 10px 0px;
    -moz-border-radius: 10px 10px 10px 0px;
    -webkit-border-radius: 10px 10px 10px 0px;
    -ms-border-radius: 10px 10px 10px 0px;
    -o-border-radius: 10px 10px 10px 0px;

}

.client-response .answer {
    padding: 0px 15px;
    position: relative;
}

.client-response {
    padding-left: 30px;
}

.client-response .answer h3 i {
    position: absolute;
    left: -25px;
    top: 0px;
    color: #d21a24;
}

.client-dl-info .img img {
    margin: auto;
}

.client-dl-info .img {
    position: relative;
    display: inline-block;
}

.client-dl-info .img>span {
    position: absolute;
    bottom: 9px;
    right: -3px;
}

.client-dl-info .img>span.icon {
    position: relative !important;
}

.client-dl-info {
    text-align: center;
}

.client-dl-info .img>span i {
    padding: 8px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -1px;
    box-shadow: 0px 1px 0px 0px #cabcbc;
    -webkit-box-shadow: 0px 1px 0px 0px #cabcbc;
    -ms-box-shadow: 0px 1px 0px 0px #cabcbc;
    -moz-box-shadow: 0px 1px 0px 0px #cabcbc;
    -o-box-shadow: 0px 1px 0px 0px #cabcbc;
}

.job-content .job-notification {
    background-color: #d21a24;
    height: 25px;
    width: 25px;
    position: absolute;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px 0px;
    left: -11px;
    top: -8px;
}

.project-list ul li {
    margin-bottom: 50px;
    width: 32%;
}

.project-list ul li .project-content {
    background-color: #fff;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    overflow: hidden;
}

.project-list ul li .project-content .desc {
    padding: 10px;
    border-top: 1px solid #f5f5f5;
}

.project-list ul li .project-content .desc .rating i {
    color: #e6cc29;
}

.project-list ul li .project-content .desc .share i {
    color: #a2a2a2;
    font-size: 18px;
}

.reviews-list li {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -o-border-radius: 10px ;
    margin-bottom: 15px;
}

.reviews-list li .reviewer-heading {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reviews-list li .reviews-detils>span {
    margin-right: 15px;
}

.reviews-list li .reviews-detils {
    margin-bottom: 10px;
}

.rating i {
    color: #e6cc29;
}

.reviews-list li .reviews-msg .reviews-msg-content {
    width: calc(100% - 75px);
    display: inline-block;
    padding-left: 15px;
}

.reviews-list li .reviews-msg .msg-img {
    width: 65px;
    display: inline-block;
    vertical-align: top;
}

.reviews-list li .reviews-msg {
    border: 1px solid #dedede;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.reviews-list li .reviews-msg .reviews-msg-content .name>span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.sidebar-title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    display: inline-block;
}

.project-slider #ninja-slider {
    width: calc(100% - 185px);
    display: inline-block;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    overflow: hidden;
}

.project-slider .flex-control-thumbs {
    width: 150px;
    display: inline-block;
    padding-left: 6px;
    margin-left: 20px;
}

.project-slider .flex-control-thumbs li {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    overflow: hidden;
}

.project-slider .flex-control-thumbs li:last-child {
    margin-bottom: 0px;
}

.project-slider .flexslider {
    background-color: transparent;
    border: none;
}

.slider-inner>ul {
    padding-top: 100% !important;
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -o-border-radius: 15px !important;
    overflow: hidden;
}

.project-caption {
    position: ABSOLUTE;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-six-cloud {
    overflow: visible !important;
}

.about-six-cloud .sc-content-text {
    padding: 100px;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: justify;
    position: relative;
    top: -48px;
}

.about-six-cloud .sc-c-title {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d21a24;
    color: #fff;
    font-size: 19px;
    position: absolute;
    top: -20px;
    left: -20px;
}

.about-six-cloud .sc-c-title:after {
    content: '';
    left: 0px;
    position: absolute;
    bottom: -20px;
    border: 10px solid #d21a24;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.sub-title {
    font-size: 22px;
    font-weight: 600;
    color: #d21a24;
}

.sub-title.sub-title-w-icon {
    position: relative;
    padding-left: 50px;
}

.sub-title.sub-title-w-icon i {
    position: absolute;
    left: 4px;
    top: -4px;
    font-size: 30px;
}

.sub-title.sub-title-w-icon:before {
    content: '';
    display: none;
}

.video-content {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
}

.video-content .video-desc {
    -webkit-flex: 6;
    -webkit-box-flex: 6;
    -moz-flex: 6;
    -moz-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
}

.video-content .video {
    -webkit-flex: 3;
    -webkit-box-flex: 3;
    -moz-flex: 3;
    -moz-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
}

.video-content .video-desc .content-box {
    padding: 35px 0px;
    padding-left: 60px;
    margin: auto;
}

.video-content.reverse-content {
    -webkit-flex-direction: row-reverse;
}

.video-content.reverse-content .content-box {
    padding: 35px 0px;
    padding-left: 20px;
    padding-right: 60px;
}

.video-content .video .img {
    border-radius: 10px;
    -webkit-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -o-border-radius: 10px ;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.video-content .video .img .overlay {
    position: absolute;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 99;
}

.video-content .video .img .overlay .icon {
    margin: auto;
    font-size: 28px;
}

.video-content .video .img .overlay .icon i {
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius:50% ;
    -ms-border-radius: 50%;
    -moz-border-radius:50% ;
    -o-border-radius:50% ;
    padding: 11px 18px;
    background-color: #d21a24;
    height: 50px;
    width: 50px;
}

.about-six-cloud.progaram-section {
    text-align: left;
}

.team-member-list .member-content .member-detail {
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
    border: 1px solid #e8e8e8;
}

.team-member-list .member-content .member-desc {
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px ;
    -ms-border-radius:0px 0px 10px 10px ;
    -moz-border-radius:0px 0px 10px 10px ;
    -o-border-radius:0px 0px 10px 10px ;
    background-color: #fff;
    border: 1px solid #d0d0d0;
    border-top: 0px;
}

.team-member-list .member-content .member-detail .name {
    font-size: 16px;
    font-weight: 600;
}

.team-member-list .member-content .member-detail .location span {
    margin-right: 10px;
}

.team-member-list .member-content .member-detail .detail {
    padding-left: 180px;
}

.team-member-list .member-content .member-detail .img {
    position: absolute;
    top: -90px;
    border-radius: 10px;
    overflow: hidden;
}

.team-member-list .member-content .member-detail .img img {
    width: 150px;
}

.team-member-list ul li {
    padding-top: 100px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.about-six-cloud.progaram-section {
    overflow: hidden !important;
}

.title-tab-head {
    font-size: 18px;
    padding: 10px 20px;
    background: #f2f2f2;
    border: 1px solid #e4e4e4 !important;
    border-radius: 10px 10px 0px 0px !important;
    -webkit-border-radius: 10px 10px 0px 0px !important;
    -ms-border-radius: 10px 10px 0px 0px !important;
    -moz-border-radius: 10px 10px 0px 0px !important;
    -o-border-radius: 10px 10px 0px 0px !important;
}

.sub-title:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    height: 10px;
    width: 10px;
    background-color: #d21a24;
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -o-border-radius: 50% ;
}

.sub-title {
    padding-left: 20px;
    position: relative;
    font-size: 18px;
}

.training-price table tr:first-child>td {
    border-top: 0px;
}

.training-price table {
    border-radius: 10px;
    -webkit-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -o-border-radius: 10px ;
}

.pr-table-price>table tr>td:first-child {
    padding-left: 20px;
}

.img .icon {
    font-size: 100px;
}

.edit-circle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -o-border-radius: 50% ;
    text-align: center;
    padding: 6px 0px;
    font-size: 15px;
    box-shadow: 0px 0px 2px 0px #b3b3b3;
    -webkit-box-shadow: 0px 0px 2px 0px #b3b3b3;
    -ms-box-shadow: 0px 0px 2px 0px #b3b3b3;
    -moz-box-shadow: 0px 0px 2px 0px #b3b3b3;
    -o-box-shadow: 0px 0px 2px 0px #b3b3b3;
}

.icon-white:before {
    color: #fff !important;
}

.icon-green:before {
    color: green !important;
}

textarea {
    resize: vertical;
}


/*Scroll bar*/

.scrollbar {
    width: 100%;
    padding-right: 5px;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #b1b1b1;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #d21a24;
}

.input-group.date>input:focus+.input-group-addon {
    border: 1px solid #d21a24;
    border-left: 0px;
}


/*End Scrollbar*/

.ordivider {
    margin: 50px 0px;
}

.ordivider span {
    font-size: 20px;
    font-weight: 600;
}


/*End Kishan cSs File*/

.my-account .details {
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -o-border-radius: 5px ;
    display: inline-block;
    width: 100%;
}

.my-account .profile-section {
    width: calc(100% - 80%);
    display: inline-block;
}

.my-account .profile-details {
    width: 80%;
    float: right;
    display: inline-block;
}

.my-account .profile-section .img img {
    border-radius: 50%;
    -webkit-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -o-border-radius: 50% ;
}

.my-account .profile-section .update-btn {
    margin: 15px 0px;
}

/*.fileinput-exists {
    max-width: 80%;
    overflow: auto;
}*/

.upload-file-name .fileinput.fileinput-exists {
    position: relative;
}

.upload-file-name .fileinput.fileinput-exists .fileinput-filename {
    position: absolute;
    bottom: -21px;
    left: 0;
    right: 0;
    word-wrap: break-word;
    max-height: 17px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
}

.upload-file-name .close.fileinput-exists {
    float: none;
    position: absolute;
    bottom: -24px;
    right: -15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0px 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #fff;
    background-color: #d21a24;
    border: 1px solid #d21a24;
}

.select-list-item li {
    position: relative;
    margin-bottom: 10px;
}

.select-list-item li .name {
    background-color: #f1f1f1;
    padding: 8px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px ;
    -ms-border-radius: 20px ;
    -moz-border-radius: 20px ;
    -o-border-radius: 20px ;
    font-weight: 600;
}

.select-list-item li .checkbox-btn input[type="checkbox"] {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
}

.select-list-item li span {
    display: inline-block;
}

.select-list-item li .checkbox-btn input[type="checkbox"]:checked+.name {
    background-color: green;
    color: #fff;
}

.select-list-item.edit-select-list-item li .checkbox-btn input[type="checkbox"]:checked+.name {
    background-color: #f1f1f1;
    color: #202020;
}

.shortlisted-person .empolyee-dec {
    width: 91%;
}

.shortlisted-person .empolyee-dec .icon-dd {
    font-size: 25px;
    position: relative;
    top: 5px;
    left: 6px;
}

.shortlisted-person .empolyee-dec .icon-dd .up {
        right: 32px !important;
    top: 0px !important;
    font-size: 25px;
}

.v-divider:before {
    height: 15px;
}

textarea,
input[type="text"] {
    -webkit-appearance: none;
}

.table-responsive tbody {
    background-color: #fff;
}

.select-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-dropdown .caret {
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    right: 15px;
    top: 15px;
    border-top-color: #adadad;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ccc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #d21a24 1px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}
/*EDit css*/
.label{padding: .4em 1em .4em;}
.label-default{ background-color:#f1f1f1;}
.input-with-label {
    display: inline-table;
    border: 1px solid #d8d8d8;
    padding: 0px 0px;
    border-radius:5px;
}
.input-with-label span,
 .input-with-label input {
    border: none !important;
    
}
.fn12{font-size: 12px !important; }
.chat li{    
    border: 1px solid #eaeaea;
        box-shadow: 2px 2px 8px 2px #efefef;
    -webkit-box-shadow: 2px 2px 8px 2px #efefef;
    -moz-box-shadow: 2px 2px 8px 2px #efefef;
    -ms-box-shadow: 2px 2px 8px 2px #efefef;
    -o-box-shadow: 2px 2px 8px 2px #efefef;
        border-radius: 20px 20px 0px 20px;
        -webkit-border-radius: 20px 20px 0px 20px;
        -moz-border-radius: 10px 10px 0px 20px;
        -ms-border-radius: 20px 20px 0px 20px;
        -o-border-radius: 20px 20px 0px 20px;
}
.chat li.receiver{
        border-radius: 20px 20px 20px 0px;
        -webkit-border-radius: 20px 20px 20px 0px;
        -ms-border-radius: 20px 20px 20px 0px;
        -moz-border-radius: 20px 20px 20px 0px;
        -o-border-radius: 20px 20px 20px 0px;
}
.marketplace.post-job .box form .radio-checked {
    top: 0px;
}



/*media query*/

@media screen and (max-width: 1199px) {
    .banner .team-img img {
        width: 500px;
    }
    .banner .student img {
        width: 400px;
    }
    .banner .img-bg img {
        width: 450px;
    }
    .progaram-section .box,
    .video .dec-students {
        padding: 20px;
    }
    .content-list ul li .name {
        -webkit-flex: 5;
        -webkit-box-flex: 5;
        -moz-flex: 5;
        -moz-box-flex: 5;
        -ms-flex: 5;
        flex: 5;
    }
    .user-content .progaram-section {
        padding: 0px 70px;
    }
    .user-content .options .form {
        padding: 0px 20px;
    }
    .user-signup .bg-box .box-left {
        width: 72%;
    }
    .user-signup .bg-box .box-right {
        width: 265px;
        height: 265px;
    }
    .user-signup .dots {
        top: 170px;
    }
    .user-signup .dots img {
        width: 250px;
    }
    .user-content .options .text {
        padding: 0px 80px;
    }
    .after-signup .user-content .training .box form,
    .after-signup .user-content .payment-details .box form {
        padding: 20px 40px;
    }
    .after-signup .user-content .progaram-section {
        padding: 0px;
    }
    .process .step-1 {
        left: 44%;
    }
    .process .step {
        width: 375px;
    }
    .process .step-4 {
        width: 400px;
    }
    .process .step-3 {
        left: 58%;
    }
    .progaram-section .progaram {
        padding: 0px 50px;
    }
    .new-cases .progress {
        width: 400px;
    }
    /*About us page*/
    .video-content .video {
        width: 30%;
    }
    .video-content .video-desc {
        width: 70%;
    }
    .video-content.reverse-content .content-box {
        padding-right: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    .video-content .video-desc .content-box {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }
    /*End About us page*/
}

@media screen and (max-width: 1024px) {
    /*.banner .student
    {
        right: 65px;
    }
    .banner .img-bg
    {
        right: 15px;
    }*/
    .user-signup .bg-box .box-right {
        width: 200px;
        height: 200px;
    }
    .user-signup .bg-box .box-left {
        width: 73%;
    }
}

@media screen and (max-width: 991px) {
    .user-content .logo {
        padding: 25px 0px;
    }
    .user-content .progaram-section {
        padding: 0px 10px;
    }
    .user-content .options .barcode>span {
        font-size: 140px;
        padding: 30px;
    }
    .user-content .options .form {
        padding: 0px;
    }
    .user-content .options .text {
        padding: 0px 45px;
    }
    .user-content .options {
        padding: 20px 0px 20px;
    }
    .after-signup .user-content .payment-details .box-details,
    .after-signup .border {
        margin: 10px 0px 20px 0px;
    }
    .after-signup .radio-button {
        padding-left: 30px;
    }
    .after-signup .user-content .payment-details .border-right {
        border: 0px;
    }
    .after-signup .user-content .progaram-section .box {
        width: 32%;
    }
    .banner {
        height: 400px;
        background-size: 100% 400px;
    }
    .banner .team-img {
        /*left: 5px;*/
        bottom: 57px;
    }
    .banner .team-img img {
        width: 400px;
    }
    .banner .img-bg {
        /*right: 5px;*/
        bottom: -120px;
    }
    .banner .img-bg img {
        width: 340px;
    }
    .banner .strip {
        font-size: 20px;
    }
    .banner .student {
        /*right: 55px;*/
    }
    .banner .student img {
        width: 285px;
    }
    .progaram-section .progaram {
        padding: 0px;
    }
    .progaram-section .box .icon {
        font-size: 60px;
    }
    .progress-indicator {
        margin: 0px;
    }
    .progress-indicator>li .bubble .progress-indicator>li .bubble:after,
    .progress-indicator>li .bubble:before {
        margin-left: 61%;
    }
    .case-list li {
        margin: 0px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
    .progress-indicator .timeline-details {
        padding: 15px;
        min-height: 98px;
    }
    .content-list ul li .name {
        -webkit-flex: 3;
        -webkit-box-flex: 3;
        -moz-flex: 3;
        -moz-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
    }
    .content-list ul li .video-time {
        -webkit-flex: 2;
        -webkit-box-flex: 2;
        -moz-flex: 2;
        -moz-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .video .dec-students .description p {
        text-align: justify;
    }
    .subscribe .left-side .btn {
        padding: 10px 20px !important;
    }
    .subscribe .left-side span {
        margin: 0px 20px;
    }
    .subscribe .content-list ul li .box-list {
        -webkit-flex-direction: column;
        position: relative;
    }
    .subscribe .content-list ul li a {
        width: 100%;
        padding: 0px;
    }
    .subscribe .content-list ul li {
        padding: 10px;
    }
    .subscribe .content-list ul li .video-time {
        flex: none;
        display: inline-block;
        right: 0;
        width: auto;
        position: absolute;
    }
    .subscribe .content-list ul li .video-time .w-n {
        display: none;
    }
    .subscribe .content-list ul li i {
        padding-right: 0px;
    }
    .pricing-turnaround .box {
        width: 48%;
    }
    .new-cases .progress {
        width: 260px;
    }
    .new-cases .total {
        left: 0;
    }
    .new-cases .media-body {
        width: 88%;
    }
    .my-cases li .icon-dd {
        right: 20px;
    }
    .new-cases .table .icon {
        padding-left: 4px;
    }
    footer .list-section {
        -webkit-flex-direction: column;
        text-align: center;
    }
    footer .list-section li {
        display: inline-block;
        padding: 5px;
        position: relative;
    }
    footer .list-section li:after {
        content: '';
        height: 15px;
        width: 1px;
        background-color: #d21a24;
        position: absolute;
        right: -3px;
        top: 8px;
    }
    footer .list-section .ttl {
        display: block;
    }
    footer .list-section .ttl:after,
    footer .list-section li:last-child:after,
    footer .list-section li.email:after {
        display: none;
    }
    footer .list-section li.email {
        width: 100%;
    }
    footer .list-section .mail-input {
        width: 50%;
    }
    .video .dec-students {
        -webkit-flex-direction: column;
        margin: 0px;
        text-align: center;
    }
    .video .dec-students .img {
        left: 0px;
        margin-bottom: 20px;
    }
    .video-details .videos,
    .video-details .next-videos {
        width: 100%;
    }
    .our-process .process {
        padding: 50px 0px;
    }
    .process-modal {
        visibility: hidden;
        height: auto;
        width: auto;
    }
    .process .step {
        left: 0px !important;
        position: relative;
        width: auto;
        margin-bottom: 25px;
    }
    .process .left-sm {
        float: left;
        display: inline-block;
    }
    .partition-content .main-content-box {
        width: calc(100% - 0px);
    }
    .partition-content .sidebar-content {
        width: 100%;
        float: none;
    }
    .job-info h3 span {
        display: block;
        float: none !important;
        margin-top: 5px;
    }
    .group-btn a {
        margin-right: 2px;
    }
    .btn {
        padding: 7px 15px 5px !important;
    }
    .btn-sm,
    .btn-group-sm>.btn {
        font-size: 10px;
    }
    .shortlisted .img {
        width: calc(100% - 88%);
    }
    .my-cases li .left-side {
        padding-left: 0px;
    }
    .job-ci-tab .my-cases li .icon-dd {
        top: 6px;
        right: 0px;
        position: relative;
        font-size: 19px;
    }
    .empolyee-dec .icon-dd .up {
        right: 24px !important;
        top: 0px !important;
        position: relative;
        font-size: 19px;
    }
    .job-ci-tab .my-cases li .icon-dd {
        top: 6px;
        right: 0px;
        position: relative;
        font-size: 19px;
        display: inline-block;
        width: auto;
    }
    .shortlisted .empolyee-dec .left-side>div {
        text-align: left;
    }
    .filter .search-panel {
        margin-top: 33px;
    }
    .my-account .profile-details {
        width: 100%;
    }
    .my-account .profile-section {
        width: calc(100% - 0%);
        display: inline-block;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .tab-section .nav-tabs a {
        padding: 7px 9px;
        font-size: 11px;
        margin-right: 8px;
    }
    .search-panel {
        margin-top: 15px;
    }
    .jobs-list ul li {
        width: 100%;
    }
    .logo img {
        width: 70px;
    }
    header .navbar-right img {
        width: 35px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
    }
    header .after-login .name {
        font-size: 12px;
    }
    header .caret {
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    header .navbar-right .after-login {
        padding: 11px 0px;
    }
    .navbar .navbar-header {
        display: inline-block;
    }
    .navbar .navbar-right {
        float: right;
    }
    .navbar .navbar-right ul {
        padding: 17px 0px;
        top: 55px;
    }
    .navbar .navbar-right li {
        padding: 0px;
        margin-left: 5px;
    }
    .navbar .navbar-right a,
    header .language {
        padding: 3px 10px !important;
    }
    .banner .img-bg {
        right: 0;
        bottom: -100px;
        left: 0;
        text-align: center;
    }
    .banner .img-bg img {
        width: 400px;
    }
    .banner .student {
        right: 0;
        left: 0;
        bottom: 57px;
        text-align: center;
    }
    .after-signup .user-content .progaram-section .box {
        width: 60%;
    }
    .after-signup .user-content .training .box form,
    .after-signup .user-content .payment-details .box form {
        padding: 20px;
    }
    .user-content .progaram-section {
        padding: 0px 0px;
    }
    .user-content .logo img {
        width: 100px;
    }
    .user-signup-page .user-content .options .text {
        padding-bottom: 30px;
    }
    .main.user-signup-page .user-content {
        text-align: center;
    }
    .user-content .options .text {
        padding-bottom: 0px;
    }
    .user-content .options {
        padding-top: 0px;
    }
    .after-signup .user-content .progaram-section .box-list {
        padding: 20px 0px;
    }
    .after-signup .user-content .main-title {
        padding: 0px 0px 30px 0px;
    }
    .after-signup .payment-details .radio-button {
        margin-right: 10px !important;
    }
    .my-cases .collapse-section {
        padding-left: 59px;
    }
    .my-cases li .case-dec {
        padding-left: 0px;
        display: inline-block;
        width: 85%;
        float: left;
    }
    .cases .sub-header {
        text-align: left !important;
        word-wrap: break-word;
    }
    .cases .media-left {
        display: inline-block;
        float: left;
    }
    .progress-indicator>li .bubble {
        width: 20px;
        height: 20px;
    }
    .progress-indicator>li .bubble .progress-indicator>li .bubble:after,
    .progress-indicator>li .bubble:before {
        top: 9px;
        margin-left: 64%;
    }
    ul.progress-indicator li {
        padding: 0px;
    }
    .case-list {
        margin-top: 10px;
    }
    .case-list li {
        padding: 3px 5px !important;
        width: 180px;
    }
    .new-cases .total {
        left: 0%;
    }
    .progress-indicator .timeline-details {
        padding: 5px;
    }
    .my-cases li {
        padding: 10px;
    }
    .my-cases li .icon-dd {
        position: inherit;
        top: 0;
        width: 100%;
        display: inline-block;
        font-size: 20px;
    }
    .new-cases .table {
        font-size: 13px;
    }
    .new-cases .table .icon {
        font-size: 16px;
        padding-left: 2px;
    }
    .cases .icon-dd .up {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        z-index: -1;
        font-size: 20px;
    }
    .cases .icon-dd .down {
        opacity: 1;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    /*.my-cases li .left-side
    {
        display: inline-block;
        position: absolute;
        left: 75px;
        top: 10px;
        margin-right: 30px;
    }*/
    section.our-process,
    .pricing-turnaround .title {
        text-align: center;
    }
    .our-process .center-sm {
        display: inline-block;
        float: none;
    }
    .process .right-sm {
        padding: 0px;
    }
    .our-process .process {
        padding: 20px 0px;
    }
    .new-cases .progress {
        left: 0px;
        top: 15px;
        width: 71%;
    }
    .my-cases li .icon span {
        font-size: 50px;
    }
    .pricing-turnaround .box-list {
        display: inline-block;
        width: 100%;
    }
    .pricing-turnaround .box {
        width: 100%;
    }
    .pricing-turnaround .box .sub-header {
        text-align: left;
    }
    .progaram-section .box {
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .progaram-section .box:last-child {
        margin-bottom: 0px;
    }
    .banner .student img {
        width: 300px;
    }
    .user-dashboard-banner .banner-header {
        padding: 10px 15px;
    }
    .user-dashboard-banner .header i {
        font-size: 70px;
    }
    .subscribe .box-list,
    .progaram-section .box-list {
        -webkit-flex-direction: column;
    }
    .subscribe .box {
        width: 100%;
    }
    .subscribe .box.left-side {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    footer .list-section .mail-input {
        width: 100%;
    }
    .course-contents .box-list {
        -webkit-flex-direction: column;
    }
    .course-contents .content-list ul li a {
        padding: 5px 0px;
    }
    .course-contents .box-list .left,
    .course-contents .box-list .right {
        display: inline-block;
        flex: none !important;
        margin: 0px;
    }
    .course-contents .box-list .box-list {
        -webkit-flex-direction: row;
    }
    .course-contents .content-list li {
        padding: 10px;
    }
    .content-list ul li.panel {
        margin-bottom: 15px;
    }
    .banner .team-img {
        display: none;
    }
    .banner .strip {
        text-align: center;
        padding: 15px;
    }
    .group-btn {
        margin-bottom: 5px;
    }
    .table tr td:first-child,
    .table tr th:first-child {
        width: 20%;
    }
    footer .nav>li {
        float: left;
    }
    footer .navbar-nav {
        margin: 0px;
        float: none !important;
        display: inline-block;
        position: relative;
        top: 7px;
    }
    footer .sub-footer li a {
        height: 25px;
        width: 25px;
        padding: 4px 0px;
        margin: 0px 5px;
    }
    .sub-footer>.pull-right {
        float: none !important;
        display: inline-block;
        width: 100%;
    }
    footer .sub-footer {
        text-align: center;
    }
    footer .sub-footer .social-text {
        float: none !important;
    }
    footer .list-section .mail-input .btn {
        padding: 6px 12px !important;
    }
    section.course-contents {
        padding: 40px 0px 20px 0px
    }
    #thumbnail-slider {
        display: none;
    }
    .project-slider #ninja-slider {
        width: calc(100% - 0px);
    }
    .about-six-cloud .sc-content-text {
        position: relative;
        top: 0px;
        margin-top: 40px;
        margin-bottom: 40px !important;
    }
    .about-six-cloud .sc-c-title {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .about-six-cloud .sc-c-title:after {
        display: none;
    }
    .sub-title.sub-title-w-icon {
        font-size: 14px;
    }
    .video-content {
        flex-wrap: wrap;
    }
    .video-content .video,
    .video-content .video-desc {
        width: 100%;
        flex: none;
    }
    .about-six-cloud .sc-content-text {
        padding: 22px;
        padding-top: 55px;
    }
    .about-six-cloud .sc-c-title {
        font-size: 18px;
    }
    .team-member-list .member-content .member-detail .img {
        position: absolute;
        top: 20px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        -o-border-radius: 10px;
        display: inline-block;
        width: 70px;
    }
    .team-member-list .member-content .member-detail .img img {
        width: 100%;
    }
    .team-member-list .member-content .member-detail .detail {
        padding-left: 83px;
        display: inline-block;
    }
    .team-member-list .member-content .member-desc {
        text-align: justify;
    }
    .team-member-list ul li {
        padding-top: 0px;
    }
    .team-member-list .member-content .member-detail .location span {
        margin-right: 0px;
    }
    .shortlisted .img {
        margin-top: 15px;
        width: 92px;
    }
    .shortlisted .empolyee-dec,
    .shortlisted .empolyee-dec .left-side,
    .shortlisted .empolyee-dec .left-side>div {}
    .shortlisted .empolyee-dec {
        width: calc(100% - 97px);
        display: inline-block;
    }
    .shortlisted .empolyee-dec .left-side>div {
        text-align: left;
    }
    .shortlisted .empolyee-dec .group-btn {
        text-align: right;
        padding: 22px 0px 0PX;
    }
    .ordivider {
        margin: 15px 0px;
    }
    .user-signup-page .title {
        color: #000 !important;
    }
    .cases .icon-dd .dwnld-file {
        margin-right: 0px;
        margin-top: 10px;
    }
    .cases .media-left {
        padding-right: 0px;
    }
    .user-dashboard-banner.without-bt-head-title {
        padding: 0px;
    }
    .after-signup .radio-button {
        padding-left: 30px;
        margin-right: 0px !important;
    }
    .marketplace .box form .icon {
        font-size: 40px;
    }
    .marketplace .box form .radio-checked {
        top: 15px;
    }
    .shortlisted .info-content-box {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .video .dec-students .img img {
        width: 100%;
    }
    .banner {
        height: 300px;
        background-size: 100% 300px;
    }
    .banner .student {
        bottom: 48px;
    }
    .banner .student img {
        width: 200px;
    }
    .banner .strip {
        font-size: 14px;
        padding: 14px 0px;
    }
    .banner .img-bg img {
        width: 300px;
    }
    .title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .label-large {
        font-size: 16px;
    }
    .view-pricing {
        display: inline-block;
        width: 100%;
    }
    .user-content .progaram-section {
        padding: 0px 10px;
    }
    .progaram-section .box {
        width: 100%;
    }
    .after-signup .user-content .progaram-section .box {
        width: 100%;
    }
    .after-signup .payment-details .radio-button {
        width: 180px;
    }
    .subscribe .left-side .btn {
        padding: 6px 12px !important;
    }
    .program-label h2 {
        font-size: 20px;
        margin-bottom: 13px !important;
    }
    .user-dashboard-banner {
        height: 238px;
    }
    .pr-my-cases.user-dashboard-banner {
        height: 187px;
    }
    .PR-banner .header .title {
        font-size: 17px;
        margin-top: 5px;
        line-height: 1.5;
    }
    .user-dashboard-banner .header i {
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    /*.user-dashboard-banner .header .title
    {
        padding: 0px 10px;
    }*/
    .user-dashboard-banner .banner-header {
        font-size: 13px;
        padding: 15px 8px;
    }
    .cases .media-left,
    .cases .case-dec {
        display: inline-block !important;
        text-align: center;
        width: 100% !important;
    }
    .cases .sub-header {
        text-align: center !important;
        margin: 0px !important;
    }
    .cases .sub-header.text-left {
        text-align: left !important;
    }
    .progress-indicator {
        display: inherit;
    }
    .progress-indicator li {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    .progress-indicator>li .bubble {
        position: absolute;
        left: 20px;
        top: 50%;
        z-index: 1;
    }
    .progress-indicator .timeline-details {
        width: 60%;
        margin-left: 85PX;
        padding: 15px 5px;
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        -ms-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
        -o-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.05);
    }
    .case-list li {
        width: 135px;
        text-align: left;
    }
    .group-btn a {
        margin: 0px 5px;
    }
    .progress-indicator>li .bubble .progress-indicator>li .bubble:after,
    .progress-indicator>li .bubble:before {
        display: none;
    }
    .progress-indicator .timeline-details:after {
        display: block;
        position: absolute;
        top: 80px;
        margin-left: -61PX;
        height: 100%;
        content: '';
        background-color: transparent;
        border: 1px dashed gray;
    }
    .progress-indicator li:last-child .timeline-details:after {
        display: none;
    }
    .new-cases .table .icon {
        font-size: 12px;
        padding-left: 1px;
    }
    .table>thead>tr>th,
    .table>tbody>tr>th,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>tbody>tr>td,
    .table>tfoot>tr>td {
        padding: 5px 15px;
    }
    .table tr td:first-child,
    .table tr th:first-child {
        width: 20%;
    }
    .new-cases .table {
        font-size: 12px;
    }
    .my-cases .collapse-section {
        padding-left: 0px;
        margin-left: 0px;
    }
    .my-cases li .left-side {
        width: 100%;
        padding-right: 0px;
    }
    .drop-files .icon {
        display: inline-block;
        width: 100%;
    }
    .shortlisted .img {
        width: 100%;
        text-align: center;
    }
    .shortlisted .empolyee-dec {
        width: 100%;
        margin-top: 10px;
    }
    .shortlisted .empolyee-dec .left-side {
        padding-left: 0px;
        text-align: center;
        width: 100%;
    }
    .shortlisted .empolyee-dec .left-side>div {
        text-align: center;
    }
    .jobs-list .job-details>span,
    .job-info .job-details>span {
        display: inline-block;
        margin-right: 8px;
        font-size: 11px;
        text-align: CENTER;
    }
    .btn {
        padding: 7px 9px 5px !important;
        font-size: 11px;
    }
    .gallery .box {
        width: 44%;
    }
    footer .list-section .mail-input .btn {
        padding: 9px 12px !important;
    }
    .shortlisted-person .empolyee-dec .icon-dd .up {
        right: 0px !important;
        top: 0px !important;
        font-size: inherit;
        position: absolute;
    }
    .project-list ul li {
        width: 48%;
        margin-bottom: 25px;
    }
    .reviews-list li .reviews-msg .reviews-msg-content {
        width: calc(100% - 0px);
        padding-left: 0px;
        margin-top: 10px;
    }
}