<section class="browse-designers-section">
  <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-2">
          <div class="leftP-content-aera sidebar-div">
            <ul class="sidebar-link">
              <!-- <li id="all_designer" class="active">
                <a ng-click="Categoryfilter('allDesigner')" href="#">[['lbl_all_designers' | translate]]</a>
              </li> -->
              <li id="[[skill.id]]"  ng-repeat="skill in skills">
                <a ng-click="Categoryfilter(skill)" href="#"><span ng-if="language=='en'">[[skill.skill_name]]</span><span ng-if="language=='chi'">[[skill.skill_name_chinese]]</span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <section class="rightP-content-aera animated">
            <div class="panel panel-block">
              <div class="panel-heading">
                <h3 class="panel-title">[['lbl_filter_seller'|translate]]</h3>
              </div>
              <div class="panel-body">
                <form method="post">
                  <div class="content-div">
                      <div class="filter-checkbox">
                        <!-- <span class="custom-checkbox2"> 
                          <div class="col-sm-3">
                            <label for="fd1">Ratings</label>
                            <input id="fd1" class="range-example-input-2" max="5" min="0" name="points" step="1" type="text" value="0,0"/>
                          </div>
                        </span> -->
                        <div class="row">
                          <div class="col-sm-6 rating-range">
                            <table cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                  <th width="80">
                                    [['lbl_rating'|translate]]:
                                  </th>
                                  <td>
                                    <input id="fd1" class="range-example-input-2" type="text" min="0" max="5" name="points" step="1" />
                                  </td>
                                </tr>
                            </table>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <input class="fl_input form-control" ng-model="name_filter" type="text" id="name_filter" name="name_filter" ng-keyup="Searchbyname()" placeholder="[['lbl_search_by_name'|translate]]" />
                            </div>
                          </div>
                        </div>
                        <!-- <span class="custom-checkbox2"> 
                          <input type="checkbox" ng-model="filter.finished_projects" id="fd2" />
                          <label for="fd2">10+ Finished Projects</label>
                        </span>
                        <span class="custom-checkbox2"> 
                          <input type="checkbox" ng-model="filter.full_time" id="fd3" />
                          <label for="fd3">Full-time</label>
                        </span>
                        <span class="custom-checkbox2"> 
                          <input type="checkbox" ng-model="filter.part_time" id="fd4" />
                          <label for="fd4">Part Time</label>
                        </span>
                        <span class="custom-checkbox2"> 
                          <input type="checkbox" ng-model="filter.hobbyist" id="fd5" />
                          <label for="fd5">Hobbyist</label>
                        </span>
                        <span class="custom-checkbox2"> 
                          <input type="checkbox" ng-model="filter.casual" id="fd6" />
                          <label for="fd6">Casual</label>
                        </span> -->
                      </div>
                      <div class="filter-bottom-div fs-design">
                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <table cellpadding="0" cellspacing="0" width="100%">
                            	<tr>
                                	<th width="80">
                                    	[['lbl_budget'|translate]]:
                                    </th>
                                    <td>
                                      <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="45%">
                                              <div class="quantity">
                                                 <input type="text" id="project_min_budget" ng-model="min_budget" class="form-control">
                                                 <span class="yen-icon" ng-if="current_domain=='cn'">¥</span>
                                                 <span class="yen-icon" ng-if="current_domain=='net'"> S$</span>
                                              </div>
                                            </td>
                                            <td width="10%">&nbsp;</td>
                                              <td>
                                                <div class="quantity">
                                                   <input type="text" id="project_max_budget" ng-model="max_budget" class="form-control">
                                                    <span class="yen-icon" ng-if="current_domain=='cn'">¥</span>
                                                    <span class="yen-icon" ng-if="current_domain=='net'"> S$</span>
                                                 </div>
                                              </td>
                                          </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                          </div>
                          <div class="col-sm-6 col-lg-3">
                            <table cellpadding="0" cellspacing="0" width="100%">
                            	<tr>
                              	<th width="90">
                                  [['lbl_sort_seller'|translate]]:
                                </th>
                                <td>
                                  <div class="quantity">
                                    <select class="fl_input form-control" id="filter_sort" ng-model="sort" type="text">
                                      <option value="">[['lbl_select'|translate]]..</option>
                                      <option value="1">[['lbl_name_A_to_Z'|translate]]</option>
                                      <option value="2">[['lbl_name_Z_to_A'|translate]]</option>
                                      <option value="3">[['lbl_price_high_to_low'|translate]]</option>
                                      <option value="4">[['lbl_price_low_to_high'|translate]]</option>
                                      <option value="5">[['lbl_ratings_high_to_low'|translate]]</option>
                                      <option value="6">[['lbl_ratings_low_to_high'|translate]]</option>
                                    </select>
                                  </div>
                                </td>
                              </tr>
                            </table>
                          </div>
                          <div class="col-sm-12 col-lg-5 lg-clearfix">
                            <!-- <div class="row">
                              <div class="col-sm-6">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                      <th width="90">
                                          Language
                                        </th>
                                        <td>
                                          <div class="quantity">
                                            <select class="fl_input form-control" id="filter_language" ng-model="language" type="text">
                                              <option value="">[['lbl_select_lang'|translate]]</option>
                                              <option ng-repeat="language in languages" value="[[language.name]]">[[language.name]]</option>
                                            </select>
                                          </div>
                                        </td>
                                    </tr>
                                </table>
                              </div>
                              <div class="col-sm-6">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                  <tr>
                                      <th width="90">
                                          Proficency
                                        </th>
                                        <td>
                                          <div class="quantity">
                                            <select class="fl_input form-control" id="filter_proficency" ng-model="filter.proficency" type="text">
                                              <option value="">[['lbl_select_lang'|translate]]</option>
                                              <option value="beginner">Beginner</option>
                                              <option value="intermediate">Intermediate</option>
                                              <option value="fluent">Fluent</option>
                                            </select>
                                          </div>
                                        </td>
                                    </tr>
                                </table>
                              </div>
                            </div> -->
                          </div>
                        </div>
                        <div class="right-button mtop">
                          <button type="reset" ng-click="Doreset()" class="btn btn-purple reset-button">[['lbl_reset'|translate]]</button>
                          <button type="button" ng-click="Dofilter()" class="btn btn-purple update-button">[['lbl_update'|translate]]</button>
                        </div>
                      </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-block">
              <div class="panel-body">
                <div class="content-div padding15All">
                    <div class="row" scroll-trigger="scrollEventCallback()">
                      <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="designer in designers|filter:{name:name_filter}| limitTo : limit">
                        <div class="select-design-block designer-class designer-box">
                          <div class="inner-div">
                            <div class="swiper-container browse-designers-swiper">
                              <div class="swiper-wrapper">
                              <div ng-repeat="slider_image in designer.show_images" class="swiper-slide"><div style="background-image:url([[slider_image]])" class="img-div browse-seller-images"></div></div>
                              </div>
                              <div >
                                <div class="browse-designers-button-next button_next hand-cursor text-left"> <i class="fa fa-chevron-right"></i></div>
                                <div class="browse-designers-button-prev button_prev hand-cursor text-right"> <i class="fa fa-chevron-left"></i></div>
                              </div>
                            </div>
                            <div class="user-info">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="sm-pic" ><span class="profile-img"><img ng-src="[[designer.image]]" alt="" width="36"></span></td>
                                  <!-- <td><a href='seller-profile/[[designer.slug]]'> [[designer.first_name]] [[designer.last_name]]</a><br /> -->
                                    <td><a href='seller-profile/[[designer.slug]]'> [[designer.display_name]]</a><br />
                                    <span class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                        </i></span> [[designer.average_ratings]] ([[designer.reviews_count]] [['lbl_reviews'| translate]])</td>
                                </tr>
                                <tr ng-if="mp_project_id!=undefined||assigned_designer_id!=undefined">
                                  <td colspan="2" class="sm-pic" >
                                    <div class="select-btn">
                                      <a href="seller-profile/[[designer.slug]]/[[mp_project_id]]">
                                        <button class="btn btn-light-purple select_[[designer.id]]">[['lbl_select'|translate]]</button>
                                      </a>
                                    </div>
                                  </td>
                                  <td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
