
<!--buyer past projects section-->

<section class="buyer-past-projects-section" >
  <div class="container">
    <div class="panel panel-block">
      <div class="panel-heading">
        <h3 class="panel-title">[['lbl_past_projects'|translate]] <span class="number-text">[[total_projects]]</span></h3>
      </div>
      <div class="panel-body">
        <div class="content-div" ng-if="total_projects>0" ng-repeat="project in buyerProjects">

          <div class="row">
            <div class="col-sm-12">
              <a href="buyer-past-project-info/[[project.slug]]"><h4>[[project.project_title]]</h4></a>
              <div class="media">
               
                <div class="media-body">
                  
                    
                    <ul class="invition-info">
                      <li>
                          <table cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                  <th class="sm-thum-img">
                                      <a href="seller-profile/[[project.selected_designer.designer_details.slug]]" class="profile-img"> <img ng-src="[[project.selected_designer.designer_details.image]]" class="" alt="" width="40"> </a>
                                  </th>
                                  <td>
                                      <h5>
                                          [['lbl_designer'|translate]]
                                      </h5>
                                       [[project.selected_designer.designer_details.display_name]]
                                       <p><span class="about-us-section">[[project.created_at]]</span></p>
                                  </td>
                              </tr>
                          </table>
                      </li>
                      <li  class="cat">
                        <h5>
                        [['lbl_ratings'|translate]]:
                        </h5>
                        <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                          <p>
                          [['lbl_quality'|translate]]:
                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                          </i></span></p>
                          <p>
                          [['lbl_creativity'|translate]]:
                          <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                          </i></span></p>
                          <p>
                          [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                          </i></span></p>
                          <p>
                          [['lbl_timeliness'|translate]]:
                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                          </i></span></p>
                          <p>
                          [['lbl_responsiveness'|translate]]:
                          <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                          </i></span></p>
                        </div>
                        <div class="date-div" ng-if="[[project.rating_for_project.rating]] == 0 || [[project.rating_for_project.rating]] == ''">
                            <p>
                            [['lbl_quality'|translate]]:
                            <span class="star-yellow">
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                            </span></p>
                            <p>
                            [['lbl_creativity'|translate]]:
                            <span class="star-yellow" >
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                            </span></p>
                            <p>
                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                            <span class="star-yellow">
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                            </span></p>
                            <p>
                            [['lbl_timeliness'|translate]]:
                            <span class="star-yellow">
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                            </span></p>
                            <p>
                            [['lbl_responsiveness'|translate]]:
                            <span  class="star-yellow">
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                <i aria-hidden="true" class="fa fa-star-o"></i>
                            </span></p>
                        </div>
                    </li>
                    <li  class="cat">
                        <h5>
                        [['lbl_reviews'|translate]]:
                        </h5>
                        <p>
                            <div class="date-div content" ng-if="[[project.review_for_project.review]] != ''">
                                [[project.review_for_project.review | limitTo:strLimit]] 
                            </div>

                            <div class="" ng-if="[[project.review_for_project.review]] == ''">
                                [['lbl_review_pending'|translate]]
                            </div>

                            <a href="#" ng-if="project.review_for_project.review.length > 100 && project.review_for_project.review.length != strLimit" ng-click="showMore(project.review_for_project.review)" >[['lbl_readmore'|translate]]</a> 
                            <a href="#" ng-if="project.review_for_project.review.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a>
                            <!-- <a href="javascript:;" class="btn-link" ng-if="!project.review_done" ng-click="Openreviewmodal(project.selected_designer)">[['lbl_review'|translate]]</a>
                            <p ng-if="project.review_done">[['lbl_already_reviewed'|translate]]</p>  -->
                        </p>
                    </li> 
                  </ul>
                  <!-- <p class="about-us-section" ng-bind-html="project.project_description"></p> -->
                  <!-- <div class="date-div">
                      [['lbl_ratings'|translate]]:
                  </div>
                  <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                    [['lbl_quality'|translate]]:
                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                    </i></span>
                    <span class="line-span">
                        |
                    </span>
                    [['lbl_creativity'|translate]]:
                    <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                    </i></span>
                    <span class="line-span">
                        |
                    </span>
                    [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                    </i></span>
                    <span class="line-span">
                        |
                    </span>
                    [['lbl_timeliness'|translate]]:
                    <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                    </i></span>
                    <span class="line-span">
                        |
                    </span>
                    [['lbl_responsiveness'|translate]]:
                    <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                    </i></span>
                  </div>
                  <div class="date-div content">
                    [['lbl_reviews'|translate]]:
                    [[project.review_for_project.review | limitTo:strLimit]] 
                  </div>
                  <a href="#" ng-if="project.review_for_project.review.length > 100 && project.review_for_project.review.length != strLimit" ng-click="showMore(project.review_for_project.review)" >[['lbl_readmore'|translate]]</a> 
                  <a href="#" ng-if="project.review_for_project.review.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a>
                  <a href="javascript:;" class="btn-link" ng-if="!project.review_done" ng-click="Openreviewmodal(project.selected_designer)">[['lbl_review'|translate]]</a>
                  <p ng-if="project.review_done">[['lbl_already_reviewed'|translate]]</p> -->
                </div>

              </div>
            </div>
          </div>
        </div>
        <default-pagination currentpage="currentActivePaging" like="Projects(page)" paginate="pagination" range="rangeActivepage">
        </default-pagination>
        
      </div>
    </div>
  </div>
</section>
<!--buyer past projects section-->
<section class="buyer-past-projects-section" ng-if="total_cancel_project>0">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_cancelled_projects'|translate]]
                    <span class="number-text">
                        [[total_cancel_project]]
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                  <div class="content-div" ng-if="total_cancel_project>0" ng-repeat="project in cancelledprojects">
                      <div class="row">
                          <div class="display-table">
                              <div class="col-md-10 display-table-cell">
                                  <a href="buyer-past-project-info/[[project.slug]]">
                                      <h4>
                                          [[project.project_title]]
                                      </h4>
                                  </a>
                                  <ul class="invition-info">
                                      <li>
                                          <table cellpadding="0" cellspacing="0" width="100%">
                                              <tr>
                                                  <th class="sm-thum-img">
                                                      <a href="javascript:;" class="profile-img">
                                                          <img alt="" class="" ng-src="[[project.image]]" width="40"/>
                                                      </a>
                                                  </th>
                                                  <td>
                                                      <h5>
                                                          [['lbl_designer'|translate]]
                                                      </h5>
                                                       [[project.selected_designer.designer_details.display_name]]
                                                       <p><span class="about-us-section">[[project.created_at]]</span></p>
                                                  </td>
                                              </tr>
                                          </table>
                                      </li>
                                      <li  class="cat">
                                        <h5>
                                        [['lbl_ratings'|translate]]:
                                        </h5>
                                        <div class="date-div" ng-if="[[project.rating_for_project.rating]] != 0 || [[project.rating_for_project.rating]] != ''">
                                          <p>
                                          [['lbl_quality'|translate]]:
                                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.quality_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                          </i></span></p>
                                          <p>
                                          [['lbl_creativity'|translate]]:
                                          <span class="star-yellow" ng-repeat="n in returnRatingArray([[project.ratingMatrix.creativity_rating]])" ><i aria-hidden="true" class="fa fa-star">
                                          </i></span></p>
                                          <p>
                                          [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.buyers_requirement_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                          </i></span></p>
                                          <p>
                                          [['lbl_timeliness'|translate]]:
                                          <span ng-repeat="n in returnRatingArray([[project.ratingMatrix.timeliness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                          </i></span></p>
                                          <p>
                                          [['lbl_responsiveness'|translate]]:
                                          <span  ng-repeat="n in returnRatingArray([[project.ratingMatrix.responsiveness_rating]])" class="star-yellow"><i aria-hidden="true" class="fa fa-star">
                                          </i></span></p>
                                        </div>
                                        <div class="date-div" ng-if="[[project.rating_for_project.rating]] == 0 || [[project.rating_for_project.rating]] == ''">
                                            <p>
                                            [['lbl_quality'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_creativity'|translate]]:
                                            <span class="star-yellow" >
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_timeliness'|translate]]:
                                            <span class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                            <p>
                                            [['lbl_responsiveness'|translate]]:
                                            <span  class="star-yellow">
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                                <i aria-hidden="true" class="fa fa-star-o"></i>
                                            </span></p>
                                        </div>
                                      </li>
                                      <li  class="cat">
                                          <h5>
                                          [['lbl_reviews'|translate]]:
                                          </h5>
                                          <p>
                                              <div class="date-div content" ng-if="[[project.review_for_project.review]] != ''">
                                                  [[project.review_for_project.review | limitTo:strLimit]] 
                                              </div>

                                              <div class="" ng-if="[[project.review_for_project.review]] == ''">
                                                  [['lbl_review_pending'|translate]]
                                              </div>

                                              <a href="#" ng-if="project.review_for_project.review.length > 100 && project.review_for_project.review.length != strLimit" ng-click="showMore(project.review_for_project.review)" >[['lbl_readmore'|translate]]</a> 
                                              <a href="#" ng-if="project.review_for_project.review.length == strLimit" ng-click="showLess()" >[['lbl_readless'|translate]]</a>
                                              <!-- <a href="javascript:;" class="btn-link" ng-if="!project.review_done" ng-click="Openreviewmodal(project.selected_designer)">[['lbl_review'|translate]]</a>
                                              <p ng-if="project.review_done">[['lbl_already_reviewed'|translate]]</p>  -->
                                          </p>
                                      </li>
                                  </ul>
                                    <!-- <div class="about-us-section" ng-bind-html="project.project_description"></div> -->
                              </div>
                            
                          </div>
                      </div>
                  </div>
                    <default-pagination currentpage="currentPastCancelPaging" like="Mutualcancelprojectlisting(page)" paginate="paginatePastCancel" range="rangePastCancelpage">
                </default-pagination>
                </div>
            
    </div>
</section>
<!-- Review Model-->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">[['lbl_leave_review'|translate]]</h4>
      </div>
      <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="quality_rating">
                            [['lbl_quality'|translate]]
                            <i ng-if="quality_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input type="text" ng-model="quality_rating" id="quality_rating" name="quality_rating" class="kv-gly-star_quality_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                    <div class="col-sm-6">
                        <label class="fl_label" for="creativity_rating">
                            [['lbl_creativity'|translate]]
                            <i ng-if="creativity_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="creativity_rating" type="text" id="creativity_rating" name="creativity_rating" class="kv-gly-star_creativity_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="buyers_requirement_rating">
                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]
                            <i ng-if="buyers_requirement_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="buyers_requirement_rating" type="text" id="buyers_requirement_rating" name="buyers_requirement_rating" class="kv-gly-star_buyers_requirement_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                    <div class="col-sm-6">
                        <label class="fl_label" for="timeliness_rating">
                            [['lbl_timeliness'|translate]]
                            <i ng-if="timeliness_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="timeliness_rating" type="text" id="timeliness_rating" name="timeliness_rating" class="kv-gly-star_timeliness_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="responsiveness_rating">
                            [['lbl_responsiveness'|translate]]
                            <i ng-if="responsiveness_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="responsiveness_rating" type="text" id="responsiveness_rating" name="responsiveness_rating" class="kv-gly-star_responsiveness_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>  
                </div>
                <div class="[[!review&&review_error?'has-error':'']]">
                    <textarea class="form-control" ng-model="review" placeholder="[[review_placeHolder]]" rows="8">[['lbl_write_here'|translate]]</textarea>
                </div>
            </form>
            <p ng-if="showError">[['lbl_rate_review_seller' | translate]]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-purple" data-dismiss="modal">[['lbl_close'|translate]]</button>
        <button type="button" class="btn btn-purple save-rating-review" ng-click="Doreviewrating()">[['lbl_save'|translate]]</button>
      </div>
    </div>
  </div>
</div>

<!--<div class="panel-body">
                <div class="content-div" ng-if="total_cancel_project>0" ng-repeat="project in cancelledprojects">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="seller-project-info/[[project.slug]]">
                                <h4>
                                    [[project.project_title]]
                                </h4>
                            </a>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#">
                                        <img alt="" class="" ng-src="[[project.image]]" width="40">
                                        </img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5>
                                        [[project.selected_designer.designer_details.first_name]] [[project.selected_designer.designer_details.last_name]]
                                    </h5>
                                    <div class="date-div">
                                        Project Created Date:
                                        [[project.created_at]]
                                        <span class="line-span">
                                            |
                                        </span>
                                        Project Cancelled Date:
                                        [[project.cancelled_at]]
                                    </div>
                                    <div class="date-div">
                                        [['lbl_budget'|translate]]:
                                         ¥ [[project.project_budget]]
                                        <span class="line-span">
                                            |
                                        </span>
                                        [['lbl_timeline'|translate]]:
                                        [[project.project_timeline]][['lbl_days'|translate]]
                                    </div>
                                    <div class="date-div">
                                        <span ng-repeat="skill in project.skill_detail" class="ng-binding ng-scope cat-span-active-projects">
                                        [[skill.skill_detail.skill_name]]
                                    </span>
                                    </div>
                                    <p>
                                        [[project.project_description]]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <default-pagination currentpage="currentPastCancelPaging" like="Mutualcancelprojectlisting(page)" paginate="paginatePastCancel" range="rangePastCancelpage">
                </default-pagination>
        </div>-->