<!-- if miltestone payment request for project -->
<section class="project-info-section buyer-past-project-info-section" ng-if="projectInfo.seller_payment.payment_status==1">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_milestone_payment_request'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="clearfix">
                                    </div>
                                    <i class="fa fa-cny fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    [['lbl_payment_request'|translate]]
                                    <a class="btn-link" href="javascript:;">
                                    </a>
                                    <h4>
                                       ¥  [[projectInfo.seller_payment.total_amount]]
                                    </h4>
                                </div>                                  
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <p class="bottom-btn">
                                <a class="btn btn-green btn-sm payment_accept" href="#" ng-click="paymentStatusChange(projectInfo.seller_payment.id,projectInfo.seller_payment.total_amount,2,'payment_accept','payment_reject','Accept')" id="accept">
                                    [['lbl_accept'|translate]]
                                </a>
                                <a class="btn btn-red btn-sm payment_reject" href="#" ng-click="paymentStatusChange(projectInfo.seller_payment.id,projectInfo.seller_payment.total_amount,3,'payment_reject','payment_accept','Reject')"  data-target="#reason_modal" data-toggle="modal" id="reject">
                                    [['lbl_reject'|translate]]
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- if cancel request for project -->
<section class="project-info-section buyer-past-project-info-section" ng-if="projectInfo.project_status== 8 && projectInfo.selected_designer.status==9">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_cancel_project_reuest'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                    <div class="content-div">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-md-10 display-table-cell">
                                    <a href="seller-project-info/[[projectInfo.selected_designer.designer_details.slug]]">
                                        <h4>                                            
                                            [[projectInfo.project_title]] #[[projectInfo.id]]                                            
                                        </h4>
                                    </a>
                                    <ul class="invition-info">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="seller-profile/[[projectInfo.selected_designer.designer_details.slug]]">
                                                            <img alt="" class="" ng-src="[[projectInfo.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <h5>
                                                            [['lbl_designer'|translate]]
                                                        </h5>
                                                        <a href="seller-profile/[[projectInfo.selected_designer.designer_details.slug]]">
                                                            [[projectInfo.selected_designer.designer_details.display_name]]
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li class="day">
                                            <h5>
                                                [['lbl_timeline'|translate]]
                                            </h5>                                            
                                            [[projectInfo.project_timeline]] [['lbl_days'|translate]]
                                        </li>
                                        <li class="text-center">
                                            <h5>
                                                [['lbl_budget'|translate]]
                                            </h5>
                                            <span class="yen">
                                                ¥
                                            </span>
                                            [[projectInfo.project_budget]]
                                        </li>
                                        <li  class="day">
                                            <h5>
                                            [['lbl_invited_on'|translate]]:
                                                       
                                            </h5>
                                           <span>
                                            [[projectInfo.invitation_sent_on]]
                                        </span>
                                        </li>
                                    </ul>
                                    <!-- <div>[[projectInfo.project_description]]</div> -->
                                    <span class="about-us-section" ng-bind-html="projectInfo.project_description"></span>
                                    <div>
                                    <h5>[['lbl_cancel_reason'|translate]]:</h5>
                                    [[projectInfo.  project_cancellation_reason]]</div>
                                    
                                </div>
                              
                                <div class="col-md-2 col-lg-2" ng-if="projectInfo.project_status!= 6  &&   projectInfo.project_status!= 9">
                                  <p class="bottom-btn" >
                                      <a class="btn btn-red btn-sm Reject" id="reject" href="#" ng-click="getData(projectInfo.id,projectInfo.selected_designer.assigned_designer_id,projectInfo.project_created_by_id)" data-target="#cancel_request_reason_modal" data-toggle="modal" id="reject">
                                          [['lbl_reject'|translate]]
                                      </a>
                                      <a class="btn btn-green btn-sm Accept" id="accept" href="#" ng-click="Changecancelprojectstatus('accept',6,3,projectInfo.id,projectInfo.selected_designer.designer_details.id,projectInfo.project_created_by_id,'')">
                                          [['lbl_accept'|translate]]
                                      </a>
                                  </p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
<!-- if extension for project days required -->
<section class="project-info-section buyer-past-project-info-section" ng-if="projectInfo.extension_required==1">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_extension_required'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="clearfix">
                                    </div>
                                    <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    [['lbl_days_required'|translate]]
                                    <h4>[[projectInfo.extension_details.days]]</h4>
                                    <a class="btn-link" href="javascript:;">
                                        [['lbl_reason'|translate]]
                                    </a>
                                    <h4>
                                        [[projectInfo.extension_details.reason]]
                                    </h4>
                                </div>                                  
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <p class="bottom-btn">
                                <a class="btn btn-red btn-sm Reject" href="#" ng-click="Extensionacceptreject(3,projectInfo.extension_details,'Reject')">
                                    [['lbl_reject'|translate]]
                                </a>
                                <a class="btn btn-green btn-sm Accept" href="#" ng-click="Extensionacceptreject(2,projectInfo.extension_details,'Accept')">
                                    [['lbl_accept'|translate]]
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--buyer projects info section : start -->
<section class="project-info-section buyer-past-project-info-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12 display-table-cell">
                        <h3 class="panel-title">
                            [[projectInfo.project_title]]
                        </h3>
                    </div>
                    <div class="col-sm-3 display-table-cell">
                        <div ng-if="projectInfo.selected_designer.status==2||projectInfo.selected_designer.status==5">
                            <button class="btn btn-purple btn-sm ProjectInfoBtn" ng-click="Viewsuggestions(projectInfo.slug,projectInfo.selected_designer.encrypted_assigned_designer_id)">
                                [['lbl_view_suggestions'|translate]]
                            </button>
                        </div>
                        <div ng-if="projectInfo.selected_designer == null&&projectInfo.project_status==2">
                            <button class="btn btn-purple btn-sm ProjectInfoBtn" ng-click="Viewsuggestions(projectInfo.slug)">
                                [['lbl_view_suggestions'|translate]]
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="row">
                        <div class="col-md-10 col-lg-10">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="seller-profile/[[projectInfo.selected_designer.designer_details.slug]]">
                                        <img alt="" class="" ng-src="[[projectInfo.selected_designer.designer_details.image]]" width="70">
                                    </a>
                                    <div class="clearfix">
                                        [['lbl_designer'|translate]]
                                    </div>
                                    <a href="seller-profile/[[projectInfo.selected_designer.designer_details.slug]]">
                                        [[projectInfo.selected_designer.designer_details.display_name]]
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a class="btn-link" href="javascript:;">
                                        [['lbl_project_id'|translate]] 
                                    </a>
                                    <h4>
                                        <!-- #[[projectInfo.id]] -->
                                        #[[projectInfo.project_number]]
                                    </h4>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-envelope-open-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_on'|translate]]:
                                                        <br/>
                                                        [[projectInfo.invitation_sent_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li width="20%">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="icon-td">
                                                        <i class="fa fa-check-circle-o">
                                                        </i>
                                                    </td>
                                                    <td>
                                                        [['lbl_invited_accepted'|translate]]:
                                                        <br/>
                                                        [[projectInfo.invitation_accepted_on]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li width="10%" ng-if="projectInfo.selected_designer.status==4">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_days_left_infopage'|translate]]:
                                                        <br/>
                                                        <span  class="counter-timer"  countdown='' date='[[projectInfo.timeline_deadline]]'></span> 
                                                        <!-- <span  ng-if="projectInfo.days_remaining > 1">[[projectInfo.days_remaining]] [['lbl_days'|translate]]</span>  -->
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_budget'|translate]]:
                                                        
                                                        <br/>
                                                       <span ng-if="current_domain=='cn'" class="left-yen"> ¥</span>
                                                     <span ng-if="current_domain=='net'" class="left-yen">S$</span>
                                                        [[projectInfo.project_budget]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_timeline'|translate]]:
                                                        <br/>
                                                        [[projectInfo.project_timeline]] [['lbl_days'|translate]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <li width="10%" ng-if="projectInfo.selected_designer.status!=4">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        [['lbl_days_left_infopage'|translate]]:
                                                        <br/>
                                                        <span  class="counter-timer" ng-if="projectInfo.days_remaining <= 1" countdown='' date='[[projectInfo.deadline]]'></span> 
                                                        <span  ng-if="projectInfo.days_remaining > 1">[[projectInfo.days_remaining]] [['lbl_days'|translate]]</span> 
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <span ng-if="detailProject.selected_designer.status==7">
                                           [['lbl_project_completion_request_accept'|translate]]
                                        </span>
                                        <span ng-if="detailProject.selected_designer.status==8">
                                            [['lbl_project_completion_request_reject'|translate]]
                                        </span>
                                    </ul>
                                    <ul class="project-info-list">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <span ng-if="skill_array.length>0">[['lbl_categories'|translate]]:</span>
                                                        <br/>
                                                        <div class="tags-div remove-margin">
                                                            <span ng-if="skill.skill_detail.status==1" ng-repeat="skill in projectInfo.skills" class="ng-binding ng-scope cat-span-active-projects btn background-span">
                                                            [[skill.skill_detail.skill_name]]
                                                            </span>
                                                        </div>
                                                        <!--<span ng-repeat="skill in projectInfo.skills" class="ng-binding ng-scope cat-span-active-projects">
                                                            [[skill.skill_detail.skill_name]]
                                                        </span>-->
                                                    </td>
                                                </tr>

                                            </table>
                                        </li>
                                    </ul>
                                    <ul class="project-info-list" ng-if="projectInfo.project_status==9">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <br/> 
                                                        <span ng-if="projectInfo.selected_designer.status==10">
                                                            [['lbl_disputed_by_you' | translate]]
                                                            
                                                        </span>
                                                        <span ng-if="projectInfo.selected_designer.status==12">
                                                           Disputed by [[projectInfo.selected_designer.designer_details.display_name]]
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                    </ul>
                                    <ul class="project-info-list" ng-if="detailProject.selected_designer.status==6">
                                        <li ng-if="detailProject.selected_designer.status==6" class="markcomplete" >
                                            [[projectInfo.project_title]] [['lbl_compleion_request_by'|translate]] [[projectInfo.selected_designer.designer_details.display_name]]
                                            [['lbl_received'|translate]]
                                            <p class="bottom-btn">
                                                <a class="btn btn-red btn-sm" href="#" ng-click="ShowmodalAceeptReject('Reject Request','reject_flag_modal',0,detailProject.selected_designer.assigned_designer_id,projectInfo.selected_designer)">
                                                    [['lbl_reject'|translate]]
                                                </a>
                                                <a class="btn btn-green btn-sm" href="#" ng-click="ShowmodalAceeptReject('Accept Request','accept_flag_modal',3,detailProject.selected_designer.assigned_designer_id,projectInfo.selected_designer)">
                                                    [['lbl_accept'|translate]]
                                                </a>
                                            </p>
                                        </li>
                                    </ul>
                                    <div class="projectInfoText" id="projectInfoText" style="display:none;">
                                        <span class="about-us-section" ng-bind-html="projectInfo.project_description"></span>
                                    </div>
                                    <p class="bottom-btn" role="tablist">
                                        <a class="btn btn-purple btn-sm ProjectInfoBtn" href="javascript:;" id="ProjectInfoBtn">
                                            [['lbl_project_info'|translate]]
                                        </a>
                                    </p>
                                    <div ng-if="projectInfo.project_status == 7">
                                        
                                        <!--paypal-->
                                        <form id="escrow_payment_data" name="message_form" novalidate="">
                                            <input type="hidden" name="payment_amount" value="[[projectInfo.project_budget]]">
                                            <!-- <input type="hidden" name="payment_method" value="2"> -->
                                            <input type="hidden" name="payment_status" value="2">
                                            <input type="hidden" name="paid_by" value="[[projectInfo.project_created_by_id]]">
                                            <input type="hidden" name="mp_project_id" value="[[projectInfo.id]]">
                                            <a href="javascript:;" class="btn btn-purple btn-sm escrow_payment_data" ng-click="Escrowpaymentdata()">[['lbl_process_escrow'|translate]]</a>
                                        </form>
                                        <!-- <form name="alipay_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                            <input type="hidden" name="business" value="nivedita@creolestudios.com">
                                            <input type="hidden" name="cmd" value="_cart">
                                            <input type="hidden" name="notify_url" value="https://sixclouds.net/paypal-payment-details">
                                            <input type="hidden" name="cancel_return" value="https://sixclouds.net/paypal-payment-details">
                                            <input type="hidden" name="return" value="https://sixclouds.net/paypal-payment-details">
                                            <input type="hidden" name="currency_code" value="USD">
                                            <input type="hidden" name="page_style" value="paypal">
                                            <input type="hidden" name="no_shipping" value="1">


                                            <input type="hidden" name="invoice" value="2">
                                            <input type="hidden" name="first_name" value="nivedta ">
                                            <input type="hidden" name="last_name" value="buyer">
                                            <input type="hidden" name="email" value="bhargav-buyer@creolestudios.com">

                                            <input type="hidden" name="address1" value="kalasagar mall">
                                            <input type="hidden" name="city"     value="ahmedabad">
                                            <input type="hidden" name="state"    value="gujarat" >
                                            <input type="hidden" name="country"  value="india" >
                                            <input type="hidden" name="zip"      value="3800015" >

                                            <input type="hidden" name="upload" value="1">
                                            <input type="hidden" name="item_name_1" value="project payment">
                                            <input type="hidden" name="item_number_1" value="1">
                                            <input type="hidden" name="quantity_1" value="1">
                                            <input type="hidden" name="amount_1"   value="60">
                                            <input type="submit" class="btn btn-purple btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
                                        </form> -->
                                        <!--paypal-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <div class="dropdown custom-dropdown-btn">
                                <a aria-expanded="false" aria-haspopup="true" class="btn btn-purple btn-sm" data-target="#" data-toggle="dropdown" href="" id="dLabel" role="button">
                                    [['lbl_actions'|translate]]
                                    <span class="caret">
                                    </span>
                                </a>
                                <ul aria-labelledby="dLabel" class="dropdown-menu">
                                    <!-- <li ng-if="projectInfo.selected_designer!=null && projectInfo.project_status !== 2 && projectInfo.project_status !== 8">
                                        <a href="#" ng-click="Showmodal('Cancel Project')">
                                            [['lbl_cancel_project'|translate]]
                                        </a>
                                    </li>
                                    <li ng-if="projectInfo.selected_designer==null||projectInfo.project_status==2">
                                        <a href="#" ng-click="Showmodal('Cancel Project')">
                                            [['lbl_cancel_project'|translate]]
                                        </a>
                                    </li> -->
                                    <li ng-if="projectInfo.selected_designer!=null">
                                        <a href="#" ng-click="Showmodal('lbl_flag_designer'|translate)">
                                            [['lbl_flag_designer'|translate]]
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="Showprojectextra()">
                                            [['lbl_project_extra'|translate]]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--buyer projects info section : end -->

<!-- Project extra section : start -->
<section class="extraAndCartSection hide" id="project_extra_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form id="projectextraform">
                    <div class="panel panel-block" ng-repeat="projectExtra in projectExtras">
                        <div class="panel-heading">
                          <h3 class="panel-title" ng-if="english">[[projectExtra.service_skill_detail.skill_name]]</h3>
                          <h3 class="panel-title" ng-if="!english">[[projectExtra.service_skill_detail.skill_name_chinese]]</h3>
                        </div>
                        <div class="panel-body">
                          <div class="content-div" ng-repeat="extra in projectExtra.packages">
                            <h4>Services #[[$index]]</h4>
                            <p><strong class="bold">[['lbl_name'|translate]]</strong> [[extra.service_title]]</p>
                              <h4>Project Extra</h4>
                            <div class="tbl-design">
                              <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>[['lbl_no_of_revisions'|translate]]</th>
                                    <th>[['lbl_delivery_time'|translate]]</th>
                                    <th width="130">[['lbl_price'|translate]]</th>
                                  </tr>
                                </thead>
                                <tbody ng-if="extra.service_extras_count>0">
                                  <tr ng-repeat="extraData in extra.service_extras">
                                    <td>[[extraData.no_of_revisions]]</td>
                                    <td>[[extraData.delivery_time_in_days]] day</td>
                                    <td><span class="custom-radio1"> <input type="radio" name="package_[[extra.id]]" id="extra_[[extraData.id]]" value="[[extraData.id]]" />
                                        <label for="extra_[[extraData.id]]">
                                        <!-- &yen;  -->
                                        <span ng-if="current_domain=='cn'" class="left-yen"> ¥</span>
                                        <span ng-if="current_domain=='net'" class="left-yen">S$</span>
                                        [[extraData.price]]
                                        </label>                                        
                                    </span></td>
                                  </tr>
                                </tbody>
                                <tbody ng-if="extra.service_extras_count==0">
                                    <tr>
                                        <td colspan="3" align="center">[['lbl_no_data_available'|translate]]</td>
                                    </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-block">
                        <div class="panel-body">
                          <div class="content-div text-center">
                            <a href="javascript:;"  class="btn btn-purple btn-sm add_to_cart_button" ng-click="Addprojectextra()">[['lbl_add_to_cart'|translate]]</a>&nbsp;&nbsp;
                              <a href="javascript:;" class="btn btn-red btn-sm" ng-click="Hideprojectextra()">[['lbl_cancel'|translate]]</a>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
              <div class="right-cart-div">
                <div class="panel panel-block">
                  <div class="panel-heading">
                    <h3 class="panel-title">[['lbl_cart'|translate]]</h3>
                  </div>
                  <div class="panel-body">

                    <div class="content-div">

                      <div class="tbl-design">
                        <table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>[['lbl_services'|translate]]</th>
                                  <th>[['lbl_project'|translate]]</th>
                                  <th width="100">[['lbl_price'|translate]]</th>
                                </tr>
                            </thead>
                            <tbody ng-if="detailData!=undefined">
                                <tr ng-repeat="data in detailData">
                                  <td>[[data.package_detail.service_title]]</td>
                                  <td>[['lbl_extras'|translate]]</td>
                                  <td>
                                  <!-- &yen;  -->
                                <span ng-if="current_domain=='cn'" class="left-yen"> ¥</span>
                                <span ng-if="current_domain=='net'" class="left-yen">S$</span>
                                  [[data.price]]
                                  </td>
                                </tr>
                                <!-- <tr>
                                  <td>Banner Design</td>
                                  <td>Extras</td>
                                  <td>&yen; 25</td>
                                </tr> -->
                            </tbody>
                            <tbody ng-if="detailData==undefined">
                                <tr>
                                    <td colspan="3" class="text-center">[['lbl_empty_cart'|translate]]</td>
                                </tr>
                            </tbody>

                            <tr class="total-price">
                              <td colspan="2">[['lbl_total'|translate]]</td>

                              <td>
                              <!-- &yen;  -->
                               <span ng-if="current_domain=='cn'" class="left-yen"> ¥</span>
                                        <span ng-if="current_domain=='net'" class="left-yen">S$</span>
                              [[cartTotal]]
                              </td>
                            </tr>

                        </table>
                      </div>
                        <p class="text-center"><a href="javascript:;" ng-disabled="cartTotal==0" ng-click="Makeextrapayment()" class="btn btn-purple btn-sm make_payment">[['lbl_process_escrow'|translate]]</a></p>
                        <form name="alipay_form" action="[[domainURL]]" method="post">
                            <input type="hidden" name="project_budget" value="[[cartTotal]]">
                            <input type="hidden" name="out_trade_no" value="[[project_info.id]]">
                            <input type="hidden" name="title" value="[[project_info.project_title]]">
                            <input type="hidden" name="desc" value="[[project_info.project_description]]">
                            <input type="submit" id="create_and_pay" class="hide btn btn-purple submit-btn btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- Project extra section : end -->

<!--buyer message board section-->
<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_message_board'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <form id="message_form" name="message_form" novalidate="">
                        <div class="chat-box">
                            <div class="file-upload">
                                <div ng-if="projectInfo.project_status == 3||projectInfo.project_status == 5||projectInfo.project_status == 6 || projectInfo.projectdetail.status==2">
                                    <i class="pointer-not-allowed fa fa-paperclip"></i>
                                </div>
                                <div ng-show="projectInfo.project_status != 3||projectInfo.project_status != 5||projectInfo.project_status != 6  || projectInfo.projectdetail.status!=2">
                                    <input id="fileupload" multiple="" name="file[]"  type="file">
                                    <i class="pointer-cursor fa fa-paperclip"></i>
                                </div> 
                            </div>
                            <input class="form-control" ng-disabled="projectInfo.project_status == 3 ||  projectInfo.project_status == 5 || projectInfo.project_status == 6 || projectInfo.projectdetail.status==2" name="message" ng-model="message" placeholder="[[placeholder_messgae]]" required="" type="text">
                            <button ng-disabled="projectInfo.project_status == 3 ||  projectInfo.project_status == 5 || projectInfo.project_status == 6 || projectInfo.projectdetail.status==2" class="btn btn-purple send_message" ng-click="Sendmessage(projectInfo.id,projectInfo.project_created_by_id,projectInfo.selected_designer.designer_details.email_address,projectInfo.selected_designer.designer_details.id)" type="submit">
                                <i class="fa fa-paper-plane-o">
                                </i>
                            </button>
                            <div class="outer-progress-bar-div">
                            </div>
                        </div>
                    </form>
                    <ul  class="chat-list">
                        <li class="[[message.type!=4?message.side_class:'']]" ng-if="projectInfo.message_board.length > 0" ng-repeat="message in projectInfo.message_board  | limitTo : limit" scroll-trigger="scrollEventCallback()">
                            <div class="msg-div" ng-if="message.type==1">
                                <div class="pic-div" ng-if="message.user_role==1 || message.user_role==2">
                                    <img alt="" class="" ng-src="[[message.image]]" width="40"/>
                                </div>
                                <div class="name">
                                    [[message.name]]
                                </div>
                                <div class="date">
                                    [[message.message_on]]
                                </div>
                                <div class="clearfix">
                                </div>
                                <div class="c-div" ng-if="message.type==1">
                                    <p>
                                        [[message.message]]
                                    </p>
                                    <div class="bottom-img-div" ng-if="message.message_board.length">
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                                <a download="" href="[[message.download_placeholder]]" target="_self">
                                                    <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                    </img>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="message.user_role==2">
                                    <span class="read-unread" ng-if="message.message_status_seller==1"><img src="resources/assets/images/read.png"></span>
                                    <span class="read-unread" ng-if="message.message_status_seller==2"><img src="resources/assets/images/unread.png"></span>
                                </div>
                            </div>
                            <div ng-if="language=='en'">
                                <div class="note-message-board" ng-if="(message.type==4 && message.notification_msg_show_to==1) || (message.type==4 && 
                                message.notification_msg_show_to==3)" ng-bind-html="message.message"></div>   
                            </div>

                            <div ng-if="language=='chi'">
                                <div class="note-message-board" ng-if="(message.type==4 && message.notification_msg_show_to==1) || (message.type==4 && message.notification_msg_show_to==3)" ng-bind-html="message.message_in_chinese"></div>    
                            </div>
                        </li>
                        <li ng-if="projectInfo.message_board.length<=0">
                            <div class="">
                                <div class="c-div">
                                    <p>
                                        <b>
                                            [['lbl_no_messages_sent_received_yet'|translate]]
                                        </b>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="head-winner-selected text-center" ng-if="projectInfo.project_status == 7">[['lbl_project_process_escrow'|translate]] </div> -->
                    <div class="head-winner-selected text-center" ng-if="projectInfo.project_status == 2">[['lbl_project_no_designer_assigned'|translate]] </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="Cancel_flag_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="reasonForm" name="reasonForm" ng-submit="reasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <!-- <textarea class="fl_input form-control" id="reason" ng-model="reason" placeholder="[[placeholder]] [['lbl_reason'|translate]]" required=""></textarea> -->
                                <textarea class="fl_input form-control" id="reason" ng-model="reason" placeholder="[['lbl_reason'|translate]]" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if="projectInfo.selected_designer!=null">
                        <button class="btn btn-purple submit-btn btn-sm flag_seller" ng-click="Actions(reason,modalTitle,projectInfo.project_created_by_id,projectInfo.selected_designer.assigned_designer_id,projectInfo.id,projectInfo)" ng-disabled="!reasonForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                    <div class="modal-footer" ng-if="projectInfo.selected_designer==null||projectInfo.project_status==2">
                        <button class="btn btn-purple submit-btn btn-sm cancelwithoutsellerbtn" ng-click="Cancelwithoutseller(reason,modalTitle,projectInfo.id)" ng-disabled="!reasonForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reject_flag_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="reasonForm" name="reasonForm" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <!-- <textarea class="fl_input form-control" id="reason" ng-model="reason" placeholder="[[placeholder]][['lbl_reason'|translate]]" required=""></textarea> -->
                                <textarea class="fl_input form-control" id="reason" ng-model="reason" placeholder="[['lbl_reason'|translate]]" required=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn btn-sm" ng-click="submitReason(reason,projectInfo.selected_designer.assigned_designer_id)" ng-disabled="!reason" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">[['lbl_leave_review'|translate]]</h4>
      </div>
      <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="quality_rating">
                            [['lbl_quality'|translate]]
                            <i ng-if="quality_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input type="text" ng-model="quality_rating" id="quality_rating" name="quality_rating" class="kv-gly-star_quality_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                    <div class="col-sm-6">
                        <label class="fl_label" for="creativity_rating">
                            [['lbl_creativity'|translate]]
                            <i ng-if="creativity_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="creativity_rating" type="text" id="creativity_rating" name="creativity_rating" class="kv-gly-star_creativity_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="buyers_requirement_rating">
                            [['lbl_comprehension_of_the_buyers_requirements'|translate]]
                            <i ng-if="buyers_requirement_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="buyers_requirement_rating" type="text" id="buyers_requirement_rating" name="buyers_requirement_rating" class="kv-gly-star_buyers_requirement_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>
                    <div class="col-sm-6">
                        <label class="fl_label" for="timeliness_rating">
                            [['lbl_timeliness'|translate]]
                            <i ng-if="timeliness_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="timeliness_rating" type="text" id="timeliness_rating" name="timeliness_rating" class="kv-gly-star_timeliness_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>  
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label class="fl_label" for="responsiveness_rating">
                            [['lbl_responsiveness'|translate]]
                            <i ng-if="responsiveness_rating_error" class="error_asterix"> *</i>
                        </label>
                        <input ng-model="responsiveness_rating" type="text" id="responsiveness_rating" name="responsiveness_rating" class="kv-gly-star_responsiveness_rating rating-loading" data-step="1" value="0" data-size="sm" title="">
                    </div>  
                </div>
                <div class="[[!review&&review_error?'has-error':'']]">
                    <textarea class="form-control" ng-model="review" placeholder="[[review_placeHolder]]" rows="8">[['lbl_write_here'|translate]]</textarea>
                </div>
            </form>
            <p ng-if="showError">[['lbl_rate_review_seller'|translate]]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light-purple" data-dismiss="modal">[['lbl_close'|translate]]</button>
        <button type="button" class="btn btn-purple save-rating-review" ng-click="Doreviewrating()">[['lbl_save'|translate]]</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="cancel_request_reason_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                          ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="cancelRequestReasonForm" name="cancelRequestReasonForm" ng-submit="reasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" id="reason" ng-model="cancel_request_reason" placeholder="[['lbl_reason'|translate]]" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn btn-sm" ng-click="Changecancelprojectstatus('reject',9,10,project_id,designer_id,creator_id,cancel_request_reason)" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reason_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                    ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="reasonForm" name="reasonForm" ng-submit="reasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input type="text" class="fl_input form-control" id="reason" ng-model="reason" placeholder="[['lbl_reason'|translate]]" required=""/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn btn-sm" ng-click="addReason(reason)" ng-disabled="!reasonForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>