
<section class="new-project-section">
  <div class="container">
    <div class="head-sub-text text-center">
      <h3>[['lbl_dashboard_buyer_coming_soon'|translate]]</h3>
    </div>
  </div>
</section>
