<!--buyer projects info section-->
<!--ACTIVE PROJECTS section-->
<div class="designer-dashboard">
    <section class="active-projects-section animatedParent animateOnce">
        <div class="container">
            <div class="panel panel-block animated fadeIn  go">
                <div class="panel-heading">
                    <h3 class="panel-title">[['lbl_active_projects'|translate]] <span class="number-text">[[total_projects]]</span></h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="project in buyerProjects">
                      <div class="row">
                        <div class="display-table">
                          <div class="col-sm-9 display-table-cell">
                            <div class="row">
                                <div class="col-sm-8">
                                    <a class="color-black title title" href="buyer-project-info/[[project.slug]]">
                                        <h4>
                                            [[project.project_title]] 
                                        </h4>
                                    </a>  
                                </div>
                                <div class="col-sm-4">
                                    <div class="note">
                                        <span ng-if="project.show_first==1">
                                            [[project.priority_actioins.action_text]]
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="date-div">
                                <i class="fa fa-calendar"></i> 
                                 <div class="date-details">[[project.project_created_at]]</div>
                                <span class="line-span">
                                    |
                                </span>
                                <i class="fa fa-money"></i>
                                <span ng-if="current_domain=='cn'" class="left-yen">
                                     ¥
                                 </span>
                                 <span ng-if="current_domain=='net'" class="left-yen">
                                      S$
                                </span>
                                 <div class="date-details">[[project.project_budget]]</div>
                                <span class="line-span">
                                    |
                                </span>
                                <i class="fa fa-clock-o"></i> 
                            
                                <span  ng-if="project.days_remaining < 0">[[project.deadline]]
                                </span>
                                <span class="counter-timer" countdown="" date="[[project.deadline]]" ng-if="project.days_remaining == 1">
                                </span>
                                <span class="counter-timer" countdown="" date="[[project.deadline]]"  ng-if="project.days_remaining == 0">
                                </span>
                                <span class="date-details" ng-if="project.days_remaining > 1">
                                    [[project.days_remaining]] [['lbl_days'|translate]]
                                </span>
                                <!-- <span class="counter-timer" ng-if="project.days_remaining <= 3" countdown='' date='[[project.deadline]]'></span>
                                <span class="date-details" ng-if="project.days_remaining > 3">[[project.days_remaining]] [['lbl_days'|translate]]</span> -->
                            </div>
                            <!-- <p>
                                [[project.project_description | limitTo: 290 ]]
                                [[project.project_description.length > 290 ? '...' : '']]
                            </p> -->
                            <span class="about-us-section" ng-bind-html='project.project_description.length > 290 ? ((project.project_description | limitTo:290) + "...") : project.project_description '></span>
                          </div>
                          <div class="col-sm-3 display-table-cell border-left">
                            <div class="right-div">
                                <div ng-if="project.selected_designer.status == 1||project.selected_designer.status == 3||project.selected_designer.status == 6||project.selected_designer.status == 7||project.selected_designer.status == 8||project.selected_designer.status == 9||project.selected_designer.status == 10||project.selected_designer.status == 11||project.selected_designer.status == 12||project.selected_designer.status == 13">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <th class="sm-thum-img">
                                                <a href="seller-profile/[[project.selected_designer.designer_details.slug]]" class="btn-link profile-img">
                                                     <img alt="" class="" ng-src="[[project.selected_designer.designer_details.image]]" width="40"/>
                                                </a>
                                            </th>
                                            <td>
                                                <a class="btn-link" href="seller-profile/[[project.selected_designer.designer_details.slug]]">
                                                    [['lbl_designer'|translate]]
                                                    <!-- <br>
                                                       [[project.selected_designer.designer_details.first_name]] [[project.selected_designer.designer_details.last_name]]
                                                    </br> -->
                                                    <br>
                                                       [[project.selected_designer.designer_details.display_name]]
                                                    </br>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div ng-if="project.selected_designer.status == 4"> 
                                    <span>
                                        [['lbl_pending_to_accept_project_from_designer'|translate]]
                                    </span> 
                                </div>

                                <div ng-if="project.selected_designer.status==2||project.selected_designer.status==5">
                                    <h5 class="alert-div">
                                        <i class="fa fa-exclamation-triangle"></i>[['lbl_select_designer'|translate]]
                                    </h5>
                                    <button class="btn btn-purple" ng-click="Viewsuggestions(project.slug,project.selected_designer.encrypted_assigned_designer_id)">
                                        [['lbl_view_suggestions'|translate]]
                                    </button>
                                </div>

                                <div ng-if="project.selected_designer == null&&project.project_status==2">
                                    <h5 class="alert-div">
                                        <i class="fa fa-exclamation-triangle"></i>[['lbl_select_designer'|translate]]
                                    </h5>
                                    <button class="btn btn-purple" ng-click="Viewsuggestions(project.slug)">
                                        [['lbl_view_suggestions'|translate]]
                                    </button>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <default-pagination currentpage="currentActivePaging" like="Projects(page)" paginate="pagination" range="rangeActivepage">
                    </default-pagination>  
                </div>
            </div>
        </div>
    </section>

    <!--  Disputed project section-->
    <section class="project-info-section buyer-past-project-info-section" ng-if="total_dispute_projects>0">
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                          [['lbl_disputed_projetcs'|translate]]
                          <span class="number-text"> 
                            [[total_dispute_projects]]
                          </span>
                      </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="project in disputedprojects">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-sm-9 display-table-cell">
                                    <a class="title" href="buyer-project-info/[[project.slug]]">
                                        <h4>
                                            [[project.project_title]] 
                                        </h4>
                                    </a>

                                    <div class="date-div">
                                        <i class="fa fa-calendar"></i> 
                                        <div class="date-details">[[project.created_at]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-money"></i> <span class="yen">¥</span> 
                                        <div class="date-details">[[project.project_budget]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-clock-o"></i>
                                         <div class="date-details"> [[project.project_timeline]] [['lbl_days'|translate]]</div>
                                    </div>
                                    <!-- <p>
                                        [[project.project_description | limitTo: 290 ]]
                                        [[project.project_description.length > 290 ? '...' : '']]
                                    </p> -->
                                    <span class="about-us-section" ng-bind-html='project.project_description.length > 290 ? ((project.project_description | limitTo:290) + "...") : project.project_description '></span>
                                </div>
                                <div class="col-sm-3 display-table-cell border-left">
                                    <div class="right-div">
                                        <div>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="seller-profile/[[project.selected_designer.designer_details.slug]]" class="btn-link profile-img">
                                                            <img alt="" class="" ng-src="[[project.selected_designer.designer_details.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <a class="btn-link" href="javascript:;">
                                                            [['lbl_designer'|translate]]
                                                        </a>
                                                        <!-- <br>
                                                            [[project.selected_designer.designer_details.first_name]] [[project.designer_details.last_name]]
                                                        </br> -->
                                                        <br>
                                                            [[project.selected_designer.designer_details.display_name]]
                                                        </br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentDisputePaging" like="Disputedprojectlisting(page)" paginate="paginateDispute" range="rangeDisputepage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>
    <!-- DO NOT REMOVE THIS COMMENT-->
    <!--  Cancel project section-->
    <!-- <section class="project-info-section buyer-past-project-info-section"  ng-if="total_cancel_projects>0">
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                          Cancelled Projects Requests
                          <span class="number-text"> 
                            [[total_cancel_projects]]
                          </span>
                      </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="project in cancelledprojects">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-sm-9 display-table-cell">
                                    <a class="title" href="buyer-project-info/[[project.project_details_with_skill.slug]]">
                                        <h4>
                                            [[project.project_details_with_skill.project_title]] #[[project.id]]
                                        </h4>
                                    </a>

                                    <div class="date-div">
                                        <i class="fa fa-calendar"></i> 
                                         <div class="date-details">[[project.created_at]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-money"></i> <span class="yen">¥</span> 
                                         <div class="date-details">[[project.project_details_with_skill.project_budget]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-clock-o"></i> 
                                         <div class="date-details">[[project.project_details_with_skill.project_timeline]] [['lbl_days'|translate]]</div>
                                    </div>
                                    <p>
                                        [[project.project_description | limitTo: 290 ]]
                                        [[project.project_description.length > 290 ? '...' : '']]
                                    </p>
                                </div>
                                <div class="col-sm-3 display-table-cell border-left">
                                    <div class="right-div">
                                        <div>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="seller-profile/[[project.selected_designer.designer_details.slug]]" class="btn-link profile-img">
                                                            <img alt="" class="" ng-src="[[project.designer_details.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <a class="btn-link" href="javascript:;">
                                                            [['lbl_designer'|translate]]
                                                        </a>
                                                        <br>
                                                            [[project.designer_details.first_name]] [[project.designer_details.last_name]]
                                                        </br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentCancelPaging" like="cancelledprojects(page)" paginate="paginateCancel" range="rangeCancelpage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>
</div> -->
<!--GALLERY PURCHASES section-->
<!-- <section class="gallery-purchases-section animatedParent animateOnce"> -->


<!--<section class="gallery-purchases-section">
  <div class="container">
     <div class="panel panel-block animated fadeIn "> 
    <div class="panel panel-block">
      <div class="panel-heading">
        <h3 class="panel-title">[['lbl_gallery_purchases'|translate]]  <span class="number-text">3</span> </h3>
      </div>
      <div class="panel-body">
        <div class="content-div">
          <div class="row">
            <div class="display-table">
              <p>[['lbl_no_purchase_found'|translate]]</p>
            </div>
          </div>
        </div>
      </div>
       <div class="panel-body">
        <div class="content-div">
          <div class="row">
            <div class="display-table">
              <div class="col-sm-9 display-table-cell">
                <div class="media"> <img class="pull-left mr-3" src="resources/assets/images/gall-img.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h4>70+ Icon stet for travel related symbols</h4>
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <th class="sm-pic"> <img  src="resources/assets/images/sm-photo.png" alt="" width="30"></th>
                        <td>by Jonathan Bigelow</td>
                      </tr>
                    </table>
                    <table  cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td width="120"><div class="date-div"><i class="fa fa-calendar"></i> 12 March, 2018</div></td>
                        <td width="80" class="text-center">&yen; 99</td>
                        <td><a href="javascript:;" class="btn-link">Review</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 display-table-cell border-left">
                <div class="right-div">
                  <div> <a class="btn btn-purple">Download Files</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="row">
            <div class="display-table">
              <div class="col-sm-9 display-table-cell">
                <div class="media"> <img class="pull-left mr-3" src="resources/assets/images/gall-img2.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h4>Travel mobile app user interface design</h4>
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <th class="sm-pic"> <img  src="resources/assets/images/sm-photo.png" alt="" width="30"></th>
                        <td>by Jonathan Bigelow</td>
                      </tr>
                    </table>
                    <table  cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td width="120"><div class="date-div"><i class="fa fa-calendar"></i> 12 March, 2018</div></td>
                        <td width="80" class="text-center">&yen; 99</td>
                        <td><a href="javascript:;" class="btn-link">Review</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 display-table-cell border-left">
                <div class="right-div">
                  <div> <a class="btn btn-purple">Download Files</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="row">
            <div class="display-table">
              <div class="col-sm-9 display-table-cell">
                <div class="media"> <img class="pull-left mr-3" src="resources/assets/images/gall-img3.png" alt="Generic placeholder image">
                  <div class="media-body">
                    <h4>Social network web ui design</h4>
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <th class="sm-pic"> <img  src="resources/assets/images/sm-photo.png" alt="" width="30"></th>
                        <td>by Jonathan Bigelow</td>
                      </tr>
                    </table>
                    <table  cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td width="120"><div class="date-div"><i class="fa fa-calendar"></i> 12 March, 2018</div></td>
                        <td width="80" class="text-center">&yen; 99</td>
                        <td><a href="javascript:;" class="btn-link">Review Submitted</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 display-table-cell border-left">
                <div class="right-div">
                  <div> <a class="btn btn-purple">Download Files</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<!-  Active project old design  -->
<!--
  <div class="panel-body">
        <div class="content-div" ng-if="total_projects>0" ng-repeat="project in buyerProjects">
          <div class="row">
            <div class="display-table">
              <div class="col-sm-9 display-table-cell">
                <a href="buyer-project-info/[[project.slug]]"><h4>[[project.project_title]]</h4></a>
                
                <div class="date-div row">
                  <span class="col-sm-7">
                    <i class="fa fa-calendar"></i> [[project.project_created_at]]
                    <span class="line-span">
                        |
                    </span>
                    [[project.message_board_count]] Messages
                  </span>
                  <span ng-if="project.show_first==1" class="col-sm-5 attention-required-span">
                    <label class="btn-purple attention-required"><i class="timeline-spacing fa fa-info"></i>[['lbl_needs_attentions'|translate]]</label>
                  </span>
                </div>
                <div class="date-div">
                  <i class="fa fa-clock-o"></i>
                  <label>[['lbl_timeline'|translate]]:</label> [[project.project_timeline]]
                  <i class="timeline-spacing fa fa-clock-o"></i>
                  <label class="">[['lbl_days_left'|translate]]:</label> [[project.days_remaining]]
                  <i class="timeline-spacing"></i>
                  <label>Budget:</label> ¥ [[project.project_budget]]
                </div>
                <div class="date-div">
                  <i class="fa fa-calendar"></i>
                  <label>Invitation Accepted On :</label> [[project.accepted_at]]
                </div>
                <div class="date-div">
                  <span ng-repeat="skill in project.skill_detail" class="ng-binding ng-scope cat-span-active-projects">
                  [[skill.skill_detail.skill_name]]
                  </span>
                </div>
                <p>[[project.project_description]]</p>

              </div>
              
              </div>
              <div class="col-sm-3 display-table-cell border-left">
                <div class="right-div">
                  <div ng-if="project.selected_designer.status == 3 || project.selected_designer.status == 5">
                    <div class="alert-div"><i class="fa fa-exclamation-triangle"></i>[['lbl_select_designer'|translate]]</div>
                    <button class="btn btn-purple" ng-click="Viewsuggestions(project.slug,project.selected_designer.encrypted_assigned_designer_id)">[['lbl_view_suggestions'|translate]]</button> 
                  </div>
                  <div ng-if="project.selected_designer.status == 1">
                    <h6>[['lbl_designer'|translate]]</h6>
                    <a href="seller-profile/[[project.selected_designer.designer_details.slug]]" class="btn-link">[[project.selected_designer.designer_details.first_name]] [[project.selected_designer.designer_details.last_name]]</a> 
                  </div>
                  <div ng-if="project.selected_designer.status == 4">
                    <h6>[['lbl_pending_to_accept_project_from_designer'|translate]]</h6> 
                  </div>
                  <div ng-if="project.selected_designer.status == 9">
                    <h6>
                      [['lbl_cancel_request_received'|translate]]

                    </h6> 
                  </div>
                  <div ng-if="project.selected_designer.status == 11">
                    <h6>
                      [['lbl_cancel_request_sent'|translate]]
                    </h6> 
                  </div>
                  <div ng-if="project.selected_designer == null">
                    <div class="alert-div"><i class="fa fa-exclamation-triangle"></i>[['lbl_select_designer'|translate]]</div>
                    <button class="btn btn-purple" ng-click="Viewsuggestions(project.slug)">[['lbl_view_suggestions'|translate]]</button>
                  </div>
                </div>
                <div class="right-div" ng-if="project.project_status == 7">
                  <div ng-if="project.project_status == 7">
                    <form name="alipay_form" action="[[domainURL]]" method="post">
                      <input type="hidden" name="project_budget" value="[[project.project_budget]]">
                      <input type="hidden" name="out_trade_no" value="[[project.id]]">
                      <input type="hidden" name="title" value="[[project.project_title]]">
                      <input type="hidden" name="desc" value="[[project.project_description]]">
                      <input type="submit" class="btn btn-purple" name="" value="[['lbl_process_escrow'|translate]]">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <default-pagination currentpage="currentActivePaging" like="Projects(page)" paginate="pagination" range="rangeActivepage">
        </default-pagination>
        <div class="panel-body" ng-if="total_projects<=0">
          <div class="content-div">
            <div class="row">
              <div class="display-table">
                <p>[['lbl_no_projects_found'|translate]]</p>
              </div>
            </div>
          </div>
        </div>
      </div>