<!--New project invitation section-->
<div class="designer-dashboard">
    <section class="new-project-invitations-section" ng-if="paginate.total>0">
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        [['lbl_new_project_invitation'|translate]]
                        <span class="number-text">
                            [[paginate.total]]
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="invitedPrj in invitations">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-md-10 display-table-cell">
                                    <a class="title" href="seller-project-info-invitation/[[invitedPrj.slug]]">
                                        <h4>
                                            [[invitedPrj.project_title]] 
                                        </h4>
                                    </a>
                                    <ul class="invition-info pro">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img">
                                                            <img alt=""  class="" ng-src="[[invitedPrj.project_creator.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <h5>
                                                            [['lbl_buyer'|translate]]
                                                        </h5>
                                                        <!-- [[invitedPrj.project_creator.first_name]] [[invitedPrj.project_creator.last_name]] -->
                                                        [[invitedPrj.project_creator.display_name]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                        <!-- <li>
                                            <h5>
                                                [['lbl_created_on'|translate]]
                                            </h5>
                                            [[invitedPrj.project_date]]
                                        </li> -->
                                        <!-- <li class="cat">
                                            <h5>
                                                [['lbl_categories'|translate]]
                                            </h5>
                                            [[invitedPrj.category_list]]
                                        </li> -->
                                        <li class="">
                                            <h5>
                                                [['lbl_budget'|translate]]
                                            </h5>
                                             <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                            </span>
                                            <span ng-if="current_domain=='net'" class="left-yen">
                                                S$
                                            </span>
                                            [[invitedPrj.project_budget]]
                                        </li>
                                        <li class="day">
                                            <h5>
                                                [['lbl_timeline'|translate]]
                                            </h5>
                                            [[invitedPrj.project_timeline]] [['lbl_days'|translate]]
                                        </li>
                                        <li class="day">
                                            <h5>
                                            
                                            [['lbl_time_left'|translate]]
                                            </h5>
                                            
                                            <span class="counter-timer" countdown="" date="[[invitedPrj.days_remaining]]">
                                            </span>
                                        </li>
                                    </ul>
                                    <!--  <div>
                                        [[invitedPrj.project_description]]
                                    </div> -->
                                </div>
                                <div class="col-md-2 display-table-cell">
                                    <div class="right-div">
                                        <div>
                                            <a class="btn btn-purple" href="seller-project-info-invitation/[[invitedPrj.slug]]">
                                                [['lbl_view_project'|translate]]
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentInvitePaging" like="projectInvitation(page)" paginate="paginate" range="rangeInvitepage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>
  
    <!--ACTIVE PROJECTS section-->
    <section class="active-projects-section" >
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        [['lbl_active_projects'|translate]]
                        <span class="number-text">
                            [[pagination.total]]
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="activeproject in activeProjects">
                        <div class="row">
                           <div class="display-table">
                                <div class="col-sm-9 display-table-cell">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <a class="color-black title" href="seller-project-info/[[activeproject.slug]]">
                                            <h4>
                                                [[activeproject.project_title]] 
                                            </h4>
                                        </a>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="note">
                                                <span ng-if="activeproject.project_status==7">
                                                    [['lbl_notified_when_tostart'|translate]]
                                                </span>
                                                <span ng-if="activeproject.projectdetailinfo.status==9">
                                                    [['lbl_cancel_request_sent'|translate]].
                                                </span>
                                                <span ng-if="activeproject.projectdetailinfo.status==11">
                                                    [['lbl_cancel_request_received'|translate]]
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date-div">
                                        <i class="fa fa-calendar">
                                        </i>
                                        <div class="date-details">[[activeproject.created_at]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-money">
                                        </i>
                                        <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                        </span>
                                        <span ng-if="current_domain=='net'" class="left-yen">
                                                S$
                                        </span>
                                        <div class="date-details">[[activeproject.project_budget]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-clock-o">
                                        </i>
                                        <span  ng-if="activeproject.days_remaining < 0">[[activeproject.deadline]]
                                        </span>
                                        <span class="counter-timer" countdown="" date="[[activeproject.deadline]]" ng-if="activeproject.days_remaining == 1">
                                        </span>
                                        <span class="counter-timer" countdown="" date="[[activeproject.deadline]]"  ng-if="activeproject.days_remaining == 0">
                                        </span>
                                        <span class="date-details" ng-if="activeproject.days_remaining > 1">
                                            [[activeproject.days_remaining]] [['lbl_days'|translate]]
                                        </span>

                                        <!-- <span class="counter-timer" ng-if="activeproject.days_remaining < 0">[[activeproject.deadline]]
                                        </span>
                                        <span class="counter-timer" countdown="" date="[[activeproject.deadline]]" ng-if="activeproject.days_remaining == 0">
                                        </span>
                                        <span class="counter-timer" countdown="" date="[[activeproject.deadline]]" ng-if="activeproject.days_remaining <= 3 && activeproject.days_remaining > 0">
                                        </span>
                                        <span class="date-details" ng-if="activeproject.days_remaining > 0">
                                            [[activeproject.days_remaining]] [['lbl_days'|translate]]
                                        </span> -->
                                        
                                    </div>
                                    <div ></div>
                                    <!-- <p>
                                        [[activeproject.project_description | limitTo: 290 ]][[activeproject.project_description.length > 290 ? '...' : '']]
                                    </p> -->
                                    <span class="about-us-section" ng-bind-html='activeproject.project_description.length > 290 ? ((activeproject.project_description | limitTo:290) + "...") : activeproject.project_description '></span>
                                </div>
                                <div class="col-sm-3 display-table-cell border-left">
                                    <div class="right-div">
                                        <div>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img cursor-pointer">
                                                            <img alt="" class="" ng-src="[[activeproject.project_creator.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <a class="btn-link cursor-pointer" href="javascript:;">
                                                            [['lbl_buyer'|translate]]
                                                        </a>
                                                        <br>
                                                            <!-- [[activeproject.project_creator.first_name]] [[activeproject.project_creator.last_name]] -->
                                                            [[activeproject.project_creator.display_name]]
                                                        </br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentActivePaging" like="customActiveProjectList(page)" paginate="pagination" range="rangeActivepage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>
    <!--  Disputed project section-->
    <section class="active-projects-section" ng-if="total_dispute_projects>0">
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                       [['lbl_disputed_projetcs'|translate]]
                        <span class="number-text">
                            [[total_dispute_projects]]
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="activeproject in disputedprojects">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-sm-9 display-table-cell">
                                    <a class="color-black title" href="seller-project-info/[[activeproject.slug]]">
                                        <h4>
                                            [[activeproject.project_title]] 
                                        </h4>
                                    </a>
                                    <div class="date-div">
                                        <i class="fa fa-calendar">
                                        </i>
                                         <div class="date-details">[[activeproject.created_at]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-money">
                                        </i>
                                         <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                        </span>
                                        <span ng-if="current_domain=='net'" class="left-yen">
                                                S$
                                        </span>
                                         <div class="date-details">[[activeproject.project_budget]]</div>
                                        <span class="line-span">
                                            |
                                        </span>
                                        <i class="fa fa-clock-o">
                                        </i>
                                        <span class="date-details">
                                           [[activeproject.project_timeline]] 
                                        </span>
                                    </div>
                                    <!-- <p>
                                        [[activeproject.project_description | limitTo: 290 ]]
                                        [[activeproject.project_description.length > 290 ? '...' : '']]
                                    </p> -->
                                    <span class="about-us-section" ng-bind-html='activeproject.project_description.length > 290 ? ((activeproject.project_description | limitTo:290) + "...") : activeproject.project_description '></span>
                                    
                                    <div class="note">
                                        <span ng-if="activeproject.project_status==7">
                                            You will be notified when to start.
                                        </span>
                                        <span ng-if="activeproject.projectdetailinfo.status==9">
                                            [['lbl_cancel_request_sent'|translate]].
                                        </span>
                                        <span ng-if="activeproject.projectdetailinfo.status==11">
                                            [['lbl_cancel_request_received'|translate]]
                                        </span>
                                    </div>
                                </div>
                               
                                <div class="col-sm-3 display-table-cell border-left">
                                    <div class="right-div">
                                        <div>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img">
                                                            <img alt="" class="" ng-src="[[activeproject.project_creator.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <a class="btn-link" href="javascript:;">
                                                            [['lbl_buyer'|translate]]
                                                        </a>
                                                        <br>
                                                            <!-- [[activeproject.project_creator.first_name]] [[activeproject.project_creator.last_name]] -->
                                                            [[activeproject.project_creator.display_name]]
                                                        </br>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentActivePaging" like="customActiveProjectList(page)" paginate="pagination" range="rangeActivepage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>

    <!--   Do not remove this comment -->
    <!--  Cancel project section-->
    <!--<section class="hide project-info-section buyer-past-project-info-section">
        <div class="container">
            <div class="panel panel-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Cancelled Projects Requests
                        <span class="number-text">
                            [[total_cancel_request_projects]]
                        </span>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="content-div" ng-repeat="project in cancelprojectrequestprojects">
                        <div class="row">
                            <div class="display-table">
                                <div class="col-md-10 display-table-cell">
                                    <a href="seller-project-info/[[project.project_details_with_skill_detail.slug]]">
                                        <h4>
                                            [[project.project_details_with_skill_detail.project_title]] #[[project.id]]
                                        </h4>
                                    </a>
                                    <ul class="invition-info pro">
                                        <li>
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <th class="sm-thum-img">
                                                        <a href="javascript:;" class="profile-img">
                                                            <img alt="" class="" ng-src="[[project.image]]" width="40"/>
                                                        </a>
                                                    </th>
                                                    <td>
                                                        <h5>
                                                            [['lbl_buyer'|translate]]
                                                        </h5>
                                                        [[project.project_details_with_skill_detail.project_creator.first_name]] [[project.project_details_with_skill_detail.project_creator.last_name]]
                                                    </td>
                                                </tr>
                                            </table>
                                        </li>
                                         <li class="cat">
                                            <h5>
                                                [['lbl_categories'|translate]]
                                            </h5>
                                            [[project.category_list]]
                                        </li>
                                        <li class="day">
                                            <h5>
                                                [['lbl_timeline'|translate]]
                                            </h5>
                                            [[project.project_details_with_skill_detail.project_timeline]]
                                            [['lbl_days'|translate]]
                                        </li>
                                        <li class="text-center">
                                            <h5>
                                                [['lbl_budget'|translate]]
                                            </h5>
                                            <span class="yen">
                                                ¥
                                            </span>
                                            [[project.project_details_with_skill_detail.project_budget]]
                                        </li>
                                        <li  class="day">
                                            <h5>
                                                Created Date
                                            </h5>
                                            [[project.created_at]]
                                        </li>
                                        <li class="day">
                                            <h5>
                                                Cancel Request Date
                                            </h5>
                                            [[project.cancelled_request_at]]
                                        </li>
                                    </ul>
                                     <div>
                                        [[project.project_details_with_skill_detail.project_description]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <default-pagination currentpage="currentCancelRequestPaging" like="cancelledprojectrequests(page)" paginate="paginateCancelRequest" range="rangeCancelRequestpage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="cancel_request_reason_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    [[modalTitle]]
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="flowup-labels-form">
                <form id="reasonForm" name="reasonForm" ng-submit="reasonForm.reason()" novalidate="">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="fl_wrap">
                                <input class="fl_input form-control" id="reason" ng-model="cancel_request_reason" placeholder="Reason" required="" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-purple submit-btn" ng-click="Changecancelprojectstatus('reject',9,12,project_id,designer_id,creator_id,cancel_request_reason)" ng-disabled="!reasonForm.$valid" type="button">
                            [['lbl_submit'|translate]]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
