<!-- Modal Inspiration Bank -->
<div aria-labelledby="myModalLabel" class="modal fade designer-my-uploads-popup" id="InspirationBankModal"  role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-radius">
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h4 class="modal-title uppercase color-purple" id="myModalLabel">
                    [['lbl_inspiration_bank'|translate]]
                </h4>
            </div>
            <div class="modal-body">
                <div class="flowup-labels-form sign-up-form animated go">
                    <form class="FlowupLabels" id="inspirationbank_form" name="vm.form" ng-submit="vm.form.submitToInsBank()" novalidate>
                        <div class="form-group">
                            <div class="fl_wrap">
                                <label class="fl_label" for="rf_title">
                                    [['lbl_title'|translate]]
                                </label>
                                <input class="fl_input form-control" id="ins_upload_title" name="upload_title" ng-model="ins_upload_title" required="" type="text">
                                </input>
                            </div>                            
                        </div>
                        <div class="form-group">
                                <div class="fl_wrap textarea ">
                                        <label class="" for="upload_description">
                                            [['lbl_description' | translate]]
                                        </label>
                                        <div id="editor"></div>
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                            <div class="form-group category">
                                    <h4>[['lbl_category' | translate]]</h4>
                                    <div class="fl_wrap">
                                        <section class="design-capabilities">
                                            <span class="custom-checkbox" ng-repeat="skill in categories">
                                                <!-- <input id="[[skill.id]]" name="skills[]" type="checkbox" value="[[skill.id]]"/> -->
                                                <input id="[[skill.id]]" name="skills[]" type="checkbox" value="[[skill.id]]"/>
                                                <label for="[[skill.id]]">
                                                    [[english?skill.skill_name:skill.skill_name_chinese]]
                                                </label>
                                            </span>
                                        </section>
                                    </div>
                                </div>

                                 <div class="row">
                            <div class="col-sm-6 cover" id="cover_attach">
                                <div class="form-group upload-files cover_input">
                                    <label>
                                        [['lbl_upload_cover_images' | translate]]
                                    </label>
                                    <div class="addfile">
                                        <input id="cover_image" name="cover_image" type="file">
                                            <i aria-hidden="true" class="fa fa-paperclip cover_paper_clip">
                                            </i>
                                            [['lbl_add_image' | translate]]
                                        </input>
                                    </div>
                                    <br/>
                                    <ul class="cover-image-container upload-files-list1"></ul>
                                </div>                                
                            </div>
                            <button class="hide" id="addImgDynamic">
                                [['lbl_add_image' | translate]]
                            </button>
                            <div class="col-sm-6 files createInput" id="attachments">
                                <div class="form-group upload-files ">
                                    <label>
                                        [['lbl_upload_images_inspiration' | translate]]
                                    </label>
                                    <div class="addfile internal_images" id="addFileDynamicMyUploads" >
                                        <!-- <input id="fileupload" multiple="" name="attachments[]" type="file"> -->
                                        <i aria-hidden="true" class="fa fa-paperclip">
                                        </i>
                                        [['lbl_add_image' | translate]]
                                    </div>
                                <ul class="upload-files-list"></ul>                                
                                </div>
                            </div>
                            <p ng-if="showFileLimitError">
                                [['lbl_5_files_allowed' | translate]]
                            </p>                            
                        </div>
                        <div class="form-bottom-btn">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="submit_bank btn btn-purple submit-btn btn-sm" ng-click="submitToInsBank()" type="submit">
                                        [['lbl_submit'|translate]]
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="divImagesportfolio">
                        </div>
                        <div id="divImagesUploads">
                        </div>
                        <div id="divCoverImages">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Gallery-->
<div aria-labelledby="myModalLabel" class="modal fade designer-my-uploads-popup" id="GalleryModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-radius">
            <div class="modal-header">
                <button aria-label="Close" class="close galleryclose" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h4 class="modal-title uppercase color-purple">
                    [['lbl_gallery'|translate]]
                </h4>
            </div>
            <div class="modal-body">
                <div class="flowup-labels-form sign-up-form animated go">
                    <form class="submit_gallery FlowupLabels" id="gallery_form" name="gal.form" ng-submit="gal.form.submitToGallery()">
                        <div class="form-group">
                            <div class="fl_wrap active" style="height:auto">
                                <div class="input-file-container">
                                    <input class="fileupload input-file fl_input form-control" id="my-file2" multiple="" name="file_name[]" ng-change="changeGalFiles()" ng-model="gal_file_name" required="" type="file" valid-file="">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="110">
                                                    <i class="fa fa-plus-square-o">
                                                    </i>
                                                    <label class="input-file-trigger" for="my-file2" tabindex="0">
                                                        [[fileGalNames]]
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p class="file-return">
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap select-dropdown">
                                <!-- <label class="fl_label" for="select-cat">
                                    [['lbl_category'|translate]]
                                </label> -->
                                <input class="form-control" name="cover_img" placeholder="cover Image" type="file">
                                </input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap select-dropdown">
                                <label class="fl_label" for="select-cat">
                                    [['lbl_category'|translate]]
                                </label>
                                <select class="fl_input form-control" id="select-cat" name="category_id" ng-model="gal_category_id" required="" type="text">
                                    <option value="">
                                        [['lbl_select'|translate]]
                                    </option>
                                    <option ng-repeat="gcategory in uploadCount.gallery_category" value="[[gcategory.id]]">
                                        [[gcategory.category_name_en]]
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap">
                                <label class="fl_label" for="rf_title">
                                    [['lbl_title'|translate]]
                                </label>
                                <input class="fl_input form-control" id="rf_title" name="upload_title" ng-model="gal_upload_title" required="" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap textarea">
                                <label class="fl_label" for="description">
                                    [['lbl_description'|translate]]
                                </label>
                                <textarea class="fl_input form-control" id="description" name="upload_description" ng-model="gall_upload_description" required="" type="text">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fl_wrap">
                                <label class="fl_label" for="rf_price">
                                    [['lbl_price'|translate]]:
                                </label>
                                <input class="fl_input form-control" id="rf_price" name="price" ng-model="price" required="" type="text"/>
                                <span class="price-unit">
                                    Per unit
                                </span>
                            </div>
                        </div>
                        <div class="form-bottom-btn">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-purple submit-btn uppercase btn-sm" ng-click="submitToGallery()" ng-disabled="!gal.form.$valid" type="submit">
                                        [['lbl_submit'|translate]]:
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ACTIVE PROJECTS section-->
<!-- <section class="designer-my-uploads">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title" ng-click="resetGalFiles()">
                    [['lbl_my_uploads_capital'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <div class="designer-upload-info">
                        <div class="row ">
                            <div class="col-sm-6 col-md-3 b-right">
                                <table cellpadding="0" cellspacing="0" class="tbl-left">
                                    <tr>
                                        <td>
                                            [['lbl_uploads_inspiration_bank'|translate]]
                                        </td>
                                        <th class="lg-f">
                                            [[paginate.total]]
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-3 b-right">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            [['lbl_uploads_in_portfolio'|translate]]
                                        </td>
                                        <th class="lg-f">
                                            [[uploadCount.portfolio_count]]
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-3 b-right">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            [['lbl_uploads_in_gallery'|translate]]
                                        </td>
                                        <th>
                                            [[pagination.total]]
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            [['lbl_total_sales_from_gallery'|translate]]
                                        </td>
                                        <th>
                                            <span class="yen">
                                                ¥
                                            </span>
                                            0
                                            
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="designer-my-uploads-list">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <a class="btn btn-light-purple active btn-sm btn-mr dmu-gallery-tab" href="javascript:;">
                            [['lbl_gallery'|translate]]
                        </a> -->
                        <a class="btn btn-light-purple active btn-sm dmu-inspiration-bank-tab" href="seller-inspiration-bank">
                            [['lbl_inspiration_bank'|translate]]
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <div class="">
                            <input class="fl_input form-control" ng-model="name_filter" type="text" id="name_filter" name="name_filter" ng-keyup="Searchbyname()" placeholder="[['lbl_search_by_item_name'|translate]]" />
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a class="btn btn-light-purple btn-sm btn-dmu-un-g" data-target="#GalleryModal" data-toggle="modal" href="javascript:;" style="display:none">
                            [['lbl_upload_new'|translate]]
                        </a>
                        <a class="btn btn-light-purple btn-sm btn-dmu-un-Ibc" ng-click="showUploadForm()" href="javascript:;">
                            [['lbl_upload_new'|translate]]
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="content-div dmu-gallery-content"  style="display:none">
                    <div class="tbl-design">
                        <table cellpadding="0" cellspacing="0" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        [['lbl_item_name'|translate]]
                                    </th>
                                    <th width="150">
                                        [['lbl_upload_date'|translate]]
                                    </th>
                                    <th width="120">
                                        [['lbl_amount'|translate]]
                                    </th>
                                    <!-- <th width="120">
                                        [['lbl_unit_sales'|translate]]
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in galleryProducts">
                                    <td>
                                        [[product.upload_title]]
                                    </td>
                                    <td>
                                        [[product.project_date]]
                                    </td>
                                    <td>
                                        ¥ [[product.price]]
                                    </td>
                                    <!-- <td>
                                        [[product.gallerypurchases_count]]
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <default-pagination currentpage="currentGalleryPaging" like="customGalleryProductList(page)" paginate="pagination" range="rangeGallerypage">
                    </default-pagination>
                </div>
                <div class="content-div dmu-inspiration-bank-content">
                    <div class="tbl-design">
                        <table cellpadding="0" cellspacing="0" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        [['lbl_item_name'|translate]]
                                    </th>
                                    <th width="150">
                                        [['lbl_upload_date'|translate]]
                                    </th>
                                   <!--  <th width="120">
                                        [['lbl_amount'|translate]]
                                    </th> -->
                                    <!-- <th width="120">
                                        [['lbl_unit_sales'|translate]]
                                    </th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="product in bankProducts">
                                    <td>
                                        <a href="seller-inspiration-bank">[[product.upload_title]]</a>
                                    </td>
                                    <td>
                                        [[product.project_date]]
                                    </td>
                                   <!--  <td>
                                        ¥ [[product.price]]
                                    </td> -->
                                    <!-- <td>
                                        0
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <default-pagination currentpage="currentBankPaging" like="customInsBankProductList(page)" paginate="paginate" range="rangeBankpage">
                    </default-pagination>
                </div>
            </div>
        </div>
    </div>
</section>
