<!--ACTIVE PROJECTS section-->
<section class="designer-project-info-invitation-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_new_project_invitation'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div">
                    <ul>
                        <li>
                            <h4>
                                [['lbl_project_title'|translate]] #[[projectData.id]]
                            </h4>
                            <p>
                                [[projectData.project_title]]
                            </p>
                        </li>
                        <li>
                            <h4>
                                [['lbl_description'|translate]]
                            </h4>
                            <p>
                                <div class="about-us-section" ng-bind-html="[[projectData.project_description]]"></div>
                            </p>
                        </li>
                        <li class="category">
                            <h4>
                                <div ng-if="skill_array.length>0">[['lbl_categories'|translate]]:</div>
                            </h4>
                            <div>
                                <span  ng-if="skill.skill_detail.status==1"  ng-show="en_data"  ng-repeat="skill in projectData.skills">
                                    [[skill.skill_detail.skill_name]]
                                </span>
                                <span  ng-if="skill.skill_detail.status==1"  ng-show="chi_data" ng-repeat="skill in projectData.skills">
                                    [[skill.skill_detail.skill_name_chinese]]
                                </span>
                            </div>
                        </li>
                        <li>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%">
                                        <h4>
                                            [['lbl_budget'|translate]]
                                        </h4>
                                        <p>
                                             <span ng-if="current_domain=='cn'" class="left-yen">
                                                ¥
                                            </span>
                                            <span ng-if="current_domain=='net'" class="left-yen">
                                                 S$
                                             </span>
                                            [[projectData.project_budget]]
                                        </p>
                                    </td>
                                    <td>
                                        <h4>
                                            [['lbl_timeline'|translate]]
                                        </h4>
                                        <p>
                                            [[projectData.project_timeline]] 
                                            [['lbl_days'|translate]]
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </li>
                        <li class="attachments">
                            <h4>
                                [['lbl_attachments'|translate]]:
                            </h4>
                            <a class="btn btn-purple btn-sm" href="[[projectData.projectdetailinfo.projectattachment]]" target="_blank">
                                [['lbl_download'|translate]]
                            </a>
                        </li>
                        <li class="buyer">
                            <h4>
                                [['lbl_buyer_small'|translate]]
                            </h4>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="70">
                                        <span class="profile-img">
                                            <img alt="" class="" height="45" ng-src="[[projectData.project_creator.image]]" width="45">
                                            </img>
                                        </span>
                                    </td>
                                    <td>
                                        <!-- [[projectData.project_creator.first_name]] [[projectData.project_creator.last_name]] -->
                                        [[projectData.project_creator.display_name]]
                                    </td>
                                </tr>
                            </table>
                            <p>
                                [['lbl_invited_on'|translate]]: [[projectData.projectdetailinfo.created_at]]
                            </p>
                        </li>
                    </ul>
                    <p class="bottom-btn">
                        <a class="btn_reject btn btn-red btn-sm" href="#" ng-click="projectStatusChange(2)">
                            [['lbl_reject'|translate]]
                        </a>
                        <a class="btn_accept btn btn-green btn-sm" href="#" ng-click="projectStatusChange(1)">
                            [['lbl_accept'|translate]]
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--designer message board section-->
<section class="message-board-section">
    <div class="container">
        <div class="panel panel-block">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_message_board'|translate]]
                </h3>
            </div>
            <div class="panel-body">
            </div>
            <div class="content-div">
                <form id="message_form" name="message_form" novalidate="" enctype="multipart/form-data">
                    <div class="chat-box">
                        <div class="file-upload">
                            
                            <div >
                                <input id="fileupload" multiple="" name="file[]" type="file">
                                <i class="pointer-cursor fa fa-paperclip"></i>
                            </div>
                        </div>
                        <input class="form-control" name="message" ng-model="message" placeholder="[[placeholder_messgae]]" required="" type="text">
                        <button  class="btn btn-purple send_message" ng-click="Sendmessage(projectData.id,projectData.projectdetailinfo.assigned_designer_id,projectData.project_creator.email_address,projectData.project_creator.id)" type="submit">
                            <i class="fa fa-paper-plane-o">
                            </i>
                        </button>
                        <div class="outer-progress-bar-div">
                        </div>
                    </div>
                </form>
                <ul class="chat-list">
                    <li class="[[message.type!=4?message.side_class:'']]" ng-if="projectData.message_board.length > 0" ng-repeat="message in projectData.message_board  | limitTo : limit" scroll-trigger="scrollEventCallback()">
                        <div class="msg-div" ng-if="message.type==1">
                            <div class="pic-div" ng-if="message.user_role==1 || message.user_role==2">
                                <span class="profile-img">
                                    <img alt="" class="" ng-src="[[message.image]]" width="40"/>
                                </span>
                            </div>
                            <div class="name">
                                [[message.name]]
                            </div>
                            <div class="date">
                                [[message.message_on]]
                            </div>
                            <div class="clearfix">
                            </div>

                            <div class="c-div" ng-if="message.type==1">
                                
                                <p>
                                    [[message.message]]
                                </p>

                                <div class="bottom-img-div" ng-if="message.message_board.length">
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-2" ng-repeat="message in message.message_board">
                                            <a  download="" href="[[message.download_placeholder]]" target="_self">
                                                <img alt="" class="" ng-src="[[message.placeholder]]" width="100%">
                                                </img>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="message.user_role==1">
                                <span class="read-unread" ng-if="message.message_status_buyer==1"><img src="resources/assets/images/read.png"></span>
                                <span class="read-unread" ng-if="message.message_status_buyer==2"><img src="resources/assets/images/unread.png"></span>
                            </div>
                        </div>
                        <div class="note-message-board" ng-if="message.type==4 && message.notification_msg_show_to==2" ng-bind-html="message.message"></div>    
                    </li>
                    <li ng-if="projectData.message_board.length<=0">
                        <div class="">
                            <div class="c-div">
                                <p>
                                    <b>
                                        [['lbl_no_messages_sent_received_yet'|translate]]
                                    </b>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
