<!--designer-suggestions section-->

<section class="designer-suggestions-section animatedParent animateOnce">
<div class="container">
  <div class="panel panel-block animated fadeIn  go">
    <div class="panel-heading">
      <h3 class="panel-title"><a class="dashboard_a" href="buyer-dashboard">[['lbl_dashboard'|translate]]</a> <span class="active-page"><span class="icon-arrow">&raquo;</span> [['lbl_designer_suggestions'|translate]] </span></h3>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <h3 class="sub-title">[['lbl_based_on_project_designer_suggestions'|translate]]</h3>
        <div class="col-5-list">
          <ul>
            <li ng-repeat="designer in designers">
              <div class="select-design-block designer-box">
                <div class="inner-div">
                  <!-- <div style="background-image:url(resources/assets/images/design-p-pic.png)" class="img-div"></div> -->
                    <div class="swiper-container browse-designers-swiper">
                      <div class="swiper-wrapper">
                        <div ng-repeat="slider_image in designer.show_images" class="swiper-slide"><div style="background-image:url([[slider_image]])" class="img-div"></div></div>
                      </div>
                      <div class="browse-designers-button-next button_next hand-cursor text-left"> <i class="fa fa-chevron-right"></i></div>
                      <div class="browse-designers-button-prev button_prev hand-cursor text-right"> <i class="fa fa-chevron-left"></i></div>
                    </div>
                  <div class="user-info">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <!-- normal flow -->
                        <td class="sm-pic"><a href="seller-profile/[[designer.slug]]/[[project.slug]]"><span class="profile-img"><img ng-src="[[designer.image]]" alt="" width="36"></span></a></td>
                        <td> <a href="seller-profile/[[designer.slug]]/[[project.slug]]">[[designer.display_name]]</a><br />
                          [[designer.average_ratings]]/5 ([[designer.total_reviews]] [['lbl_reviews'|translate]]) </td>
                        <!-- static flow -->
                        <!-- <td class="sm-pic"><a href="javascript:void(0);" ng-click="Asssigndesigner(designer,project)"><span class="profile-img"><img ng-src="[[designer.image]]" alt="" width="36"></span></a></td>
                        <td> <a href="javascript:void(0);" ng-click="Asssigndesigner(designer,project)">[[designer.display_name]]</a><br />
                          [[designer.average_ratings]]/5 ([[designer.total_reviews]] [['lbl_reviews'|translate]]) </td> -->
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="select-btn"> <a href="seller-profile/[[designer.slug]]/[[project.slug]]"><button class="btn btn-light-purple select_[[designer.id]]">[['lbl_browse_services'|translate]]</button></a> </div>
                <!-- <div class="select-btn"> <button class="btn btn-light-purple select_[[designer.id]]" ng-click="Asssigndesigner(designer,project)">[['lbl_select'|translate]]</button> </div> -->
              </div>
            </li>
          </ul>
        </div>
        <h5 ng-if="designers == ''"> [['lbl_no_designers_found'|translate]]</h5>
      </div>
      <div class="content-div">
        <h3 class="sub-title">[['lbl_need_more_suggestions'|translate]] </h3>
        <div class="project-budget-time">
          <div class="row">
            <div class="col-sm-6  col-md-5 col-lg-4">
              <form class="FlowupLabels" name="updateBudget" novalidate="" ng-submit="updateBudget.Updatebudgettimeline(project.project_budget)">

                <table cellpadding="0" cellspacing="0" width="100%"  class="suggestion-tr">
                  <tr>
                    <th width="80"> [['lbl_budget'|translate]] : </th>
                    <td>
                       <div class=" fl_wrap [[!project.project_budget?project_budget_error?'has-error':'':project.project_budget<=0?'has-error':'has-success']] active yen-div"> 
                        <div class=" fl_wrap active yen-div">
                        <span ng-if="current_domain=='cn'" class="left-yen">
                             ¥
                        </span>
                        <span ng-if="current_domain=='net'" class="left-yen yen-custom">
                           S$
                        </span>
                        <input type="text" id="project_budget" class="form-control" ng-model="project.project_budget" required />
                        <i class="fa fa-check-circle out-icon" ng-if="project.project_budget>0">
                        </i>
                        <i  class="fa fa-exclamation-circle out-icon" ng-if="project_budget_error || project.project_budget<=0" title="[['lbl_project_budget'|translate]]"></i>
                        <!-- <i title="[[current_domain=='cn'?'lbl_min_budget_yen':'lbl_min_budget_singapore_dollar'|translate]]" class="fa fa-exclamation-circle out-icon" ng-if="project_budget_error || project.project_budget<min_budget">
                        </i> -->
                      </div>
                    </div>
                    </td>
                    <td width="110" class="r-btn"><button class="btn btn-purple update-budget" ng-click="Updatebudgettimeline(project.project_budget,'budget',mp_project_id,'update-budget')" ng-disabled="!updateBudget.$valid">[['lbl_update'|translate]]</button></td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="col-sm-6  col-md-5 col-lg-4">
              <form class="FlowupLabels" name="updateTimeline" novalidate="" ng-submit="updateTimeline.Updatebudgettimeline(project.project_timeline)">
                <table cellpadding="0" cellspacing="0" width="100%" class="suggestion-tr">
                  <tr>
                    <th width="80"> [['lbl_timeline'|translate]] : </th>
                    <td>
                      <div class="fl_wrap [[!project.project_timeline?project_timeline_error?'has-error':'':project.project_timeline>=min_timeline?'has-success':'has-error']] days-div"> <span>[['lbl_days'|translate]] </span>
                        <input type="text" id="project_timeline" class="form-control" ng-model="project.project_timeline" required />
                        <i class="fa fa-check-circle out-icon" ng-if="project.project_timeline>=min_timeline">
                        </i>
                        <i title="[['lbl_min_timeline'|translate]]" class="fa fa-exclamation-circle out-icon" ng-if="project_timeline_error || project.project_timeline<min_timeline">
                        </i>
                      </div>
                    </td>
                    <td width="110" class="r-btn"><button class="btn btn-purple update-timeline" ng-click="Updatebudgettimeline(project.project_timeline,'timeline',mp_project_id,'update-timeline')" ng-disabled="!updateTimeline.$valid">[['lbl_update'|translate]]</button></td>
                  </tr>
                </table>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-block bottom-panel animated fadeIn">
    <div class="panel-body">
      <div class="content-div">
        <div class="row">
          <div class="display-table">
            <div class="col-sm-5 display-table-cell">
              <h3 class="sub-title">[['lbl_dint_find_suitable_suggestions'|translate]]<br>
                [['lbl_browse_all_the_designers_and_select_from_them'|translate]] </h3>
              <a ng-click="Browsesellersuggestion(mp_project_id,assigned_designer_id)" class="btn btn-purple btn-bd">[['lbl_browse_designers'|translate]] </a> </div>
            <div class="col-sm-2 display-table-cell or-div"> <span>[['lbl_or'|translate]]</span> </div>
            <div class="col-sm-5 display-table-cell">
              <h3 class="sub-title">[['lbl_search_for_your_designer'|translate]] <br>
                </h3>
              <div class="header-search-div">
                <input type="text" data-placement="bottom" data-toggle="tooltip" title="[['lbl_search_by_name_tooltip'|translate]]" class="form-control" id="searchDesigner" name="searchDesigner" ng-model="searchDesigner" ng-keyup="searchbyname()" placeholder="Search">
                <button class="btn search-btn"><i class="fa fa-search fa-w-16"></i></button>
              </div>
                <ul class="list-unstyled search-seller" ng-if="designerSearch.length>0">
                  <li class="suggested_designer_list" ng-repeat="search in designerSearch">
                    <div class="sm-pic"><img ng-src="[[search.image]]"></div>
                    <div class="details">
                    <!-- <span>[[search.first_name]] [[search.last_name]]</span> -->
                    <span>[[search.display_name]]</span>
                    <div class="select-btn">
                        <a href="seller-profile/[[search.slug]]/[[project.slug]]">
                          <button class="btn btn-light-purple select_[[search.id]]">[['lbl_select'|translate]]</button>
                        </a>
                    </div>
                  </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section
