
<!--ACTIVE PROJECTS section-->
<section class="edit-album-portfolio-section">
  <div class="container">
    <div class="panel panel-block">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <a href="seller-portfolio" class="myportfolio"><h3 class="panel-title">[['lbl_my_portfolio' | translate]]</a><span class="active-page"><span class="icon-arrow">»</span> <strong class="bold">[[portfolioInfo.upload_title]]</strong></span></h3>
          </div>
        </div>
      </div>
      <form id="formupload" novalidate>
        <div class="panel-body">
          <div class="content-div">
            <div class="row">
             <div class="col-md-6">
               <div class="left-content-box">
                 <div class="row image-slot">
                   <div class="col-xs-6 col-sm-4">
                     <div class="uploading-album-image cover-image new-class-inspiration-image" style="background-image:url([[portfolioInfo.cover_image]]);">
                      <div >
                        <!-- <i class="fa fa-picture-o" aria-hidden="true"></i>
                         <p>Cover Images</p> -->
                      </div>
                      <input type="file" id="cover_image" name="cover_image">
                     </div>
                   </div>
                   <div class="col-xs-6 col-sm-4" ng-repeat="mediumImages in portfolioInfo.medium_images" ng-if="mediumImages.type == 1">
                      <div class="uploading-album-image uploaded new-class-inspiration-image" style="background-image:url([[mediumImages.medium_path]]);">
                        <div class="overlay-div"></div>
                        <div class="edit-delete-div">
                          <a ng-click="Deleteportfolioimage(mediumImages.id,portfolioInfo.id)" class="btn btn-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                   </div>
                   <div class="col-xs-6 col-sm-4" ng-repeat="mediumImages in portfolioInfo.medium_images" ng-if="mediumImages.type == 2">
                      <div class="uploading-album-image uploaded" style="padding:0px !important;">
                        <video src="[[mediumImages.medium_path]]" controls width="140" height="140"></video>                         
                        <div class="edit-delete-div">
                          <a ng-click="DeleteportfolioVideo(mediumImages.id,portfolioInfo.id)" class="btn btn-red"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                      </div>
                   </div>
                 </div>
               </div>
             </div>

              <div class="col-md-6  md-clearfix">
                <div class="right-content-box">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="portfolioInfo.upload_title" id="upload_title" name="upload_title">
                  </div>
                   <div class="form-group">
                     <!-- <textarea ng-model="portfolioInfo.upload_description" name="upload_description" id="upload_description" class="form-control" rows="6"></textarea> -->
                     <div  id="editor"></div>
                   </div>
                </div>
                <div class="design-capabilities">
                    <span class="custom-checkbox" ng-repeat="skill in categories" >
                      <input type="checkbox" id="[[skill.id]]" name="skills[]" value="[[skill.id]]" ng-checked="portfolioInfo.categoty_selected.indexOf(skill.id) > -1" /><label for="[[skill.id]]">[[english?skill.skill_name:skill.skill_name_chinese]]</label>
                    </span>
                </div>
              </div>
            </div>
            <div class="bottom-btn">
              <a ng-click="Saveportfolio()" class="btn btn-purple btn-sm edit-portfolio">[['lbl_save' | translate]]</a>
              <a ng-click="cancel()" class="btn btn-red btn-sm">[['lbl_cancel' | translate]]</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
