<section class="sign-up-section">
	<div class="left-g-circle"><img src="resources/assets/images/gradient-circle.png"></div>
  	<div class="right-g-sm-circle"><img src="resources/assets/images/gradient-circle.png" width="60"></div>
  	<div class="right-g-trangle"><img src="resources/assets/images/gradient-trangle.png"></div>

  	<div class="container">
  		<div class="row sign-up-form express-interest-content">
  			<p><strong>[['lbl_express_interest_register'|translate]]</strong></p>
  			<p><strong>[['lbl_express_interest_platform'|translate]]</strong></p>
  		</div>
  		
  		<div class="flowup-labels-form sign-up-form">
      		<form class="FlowupLabels" id="mpEpressForm" name="mpEpressForm" novalidate="" ng-submit="mpEpressForm.createExpressInterestUser()">
      			<div class="form-group">
			        <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':'has-success']]">
			            <label class="fl_label" for="rf_email">[['lbl_email_address'|translate]]</label>
			            <input class="fl_input form-control" ng-model="email_address" type="email" id="rf_email"  required/>
			            <i ng-if="email_address" class="fa fa-check-circle out-icon"></i>
			            <i ng-if="email_address_error && !email_address" class="fa fa-exclamation-circle out-icon" title="[['lbl_email_address_required' | translate]]"></i>
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="fl_wrap [[!first_name?first_name_error?'has-error':'':'has-success']]">
			            <label class="fl_label" for="rf_first_name">[['lbl_first_name'|translate]]</label>
			            <input class="fl_input form-control" required ng-model="first_name" type="text" id="rf_first_name" />
			            <!-- <i class="[[!first_name?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]"></i> -->
			            <i ng-if="first_name" class="fa fa-check-circle out-icon"></i>
			            <i ng-if="first_name_error && !first_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_first_name_required' | translate]]"></i>
			        </div>
			    </div>
			    <div class="form-group">
			        <div class="fl_wrap [[!last_name?last_name_error?'has-error':'':'has-success']]">
			            <label class="fl_label" for="rf_last_name">[['lbl_last_name'|translate]]</label>
			            <input class="fl_input form-control" required ng-model="last_name" type="text" id="rf_last_name" />
			            <!-- <i class="[[!last_name?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]"></i> -->
			            <i ng-if="last_name" class="fa fa-check-circle out-icon"></i>
			            <i ng-if="last_name_error && !last_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_last_name_required' | translate]]"></i>
			        </div>
			    </div>
			    <div class="form-group tb-p-rf">
		          	<div class="row">
		            	<div class="col-xs-12">
		              	<span class="custom-checkbox2"> <input type="checkbox" ng-model="express_interest_accpet" id="express_interest_checkbox" /><label for="express_interest_checkbox">[['lbl_signup_terms_conditions_1'|translate]] <a href="sixteen-terms-of-service" target="_blank">[['lbl_terms_service'|translate]] </a> [['lbl_and_our'|translate]] <a href="privacy-policy" target="_blank">[['lbl_privacy_policy'|translate]]</a> [['lbl_signup_terms_conditions_2'|translate]]<br>[['lbl_signup_terms_conditions_3'|translate]]
						</label></span>

		            </div>
		          	</div>
		        </div>

			    <div class="form-bottom-btn">
		          	<div class="row">
		                <div class="col-sm-12">
		                <button class="btn btn-purple submit-btn uppercase submit_call" ng-click="createExpressInterestUser()"> [['lbl_submit'|translate]]</button>
		            	</div>
		        	</div>
		    	</div>

      		</form>
      	</div>
  	</div
</section>