<!--notifications section-->
<section class="marketplace-notifications-section animatedParent animateOnce">
    <div class="container">
        <div class="panel panel-block animated fadeIn go">
            <div class="panel-heading">
                <h3 class="panel-title">
                    [['lbl_notifications'|translate]]
                </h3>
            </div>
            <div class="panel-body">
                <div class="content-div purple-border" ng-repeat="noti in notifications">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#">
                                        <img alt="" class="media-object" height="40" src="resources/assets/images/sm-photo.png" width="40">
                                        </img>
                                    </a>
                                </div>
                                <div class="media-body">
                                    [[noti.notification_text]]
                                    <div class="date-div">
                                        [[noti.created_at]]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="right-text">
                                [['lbl_marketplace'|translate]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<default-pagination currentpage="currentActivePaging" like="customNotificationList(page)" paginate="pagination" range="rangeActivepage">
</default-pagination>
