<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <p>[['lbl_termscondition_coming_soon_signup'|translate]]</p>
            <div class="form-group ">
                <span class="custom-checkbox2">
                    <input id="signup_tandcAccept" name="signup_tandcAccept" ng-model="signup_tandcAccept" type="checkbox" value="1" />
                    <label for="signup_tandcAccept">[['lbl_i_accept'|translate]] <label class="error_asterix" ng-if="!signup_tandcAccept && signup_tandcError"> *</label></label>
                </span>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button class="btn-sm btn btn-purple submit-btn uppercase" ng-click="showsignupmodal_part2()"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal_part2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_termscondition'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <p>[['lbl_signup_terms_conditions_1'|translate]] <a href="sixteen-terms-of-service" target="_blank">[['lbl_terms_service'|translate]] </a> [['lbl_and_our'|translate]] <a href="privacy-policy" target="_blank">[['lbl_privacy_policy'|translate]]</a> [['lbl_signup_terms_conditions_2'|translate]]</p>
            <p>[['lbl_signup_terms_conditions_3'|translate]]</p>
            <div class="form-group ">
                <span class="custom-checkbox2">
                    <input id="signup_tandcAccept_part2" name="signup_tandcAccept_part2" ng-model="signup_tandcAccept_part2" type="checkbox" value="1" />
                    <label for="signup_tandcAccept_part2">[['lbl_i_accept'|translate]] <label class="error_asterix" ng-if="!signup_tandcAccept_part2 && signup_tandcError_part2"> *</label></label>
                </span>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button class="btn-sm btn btn-purple submit-btn uppercase" ng-click="Dosignup()"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="cropmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">[['lbl_crop'|translate]]</h4>
      </div>
      <div class="modal-body">
        <div>
            <div class="resizeContainer">
                <div class="hide">
                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                </div>
                <div class="resizeArea">
                    <div class="cropArea">
                        <img-crop area-type="square" crop-data="image.cropInfo" image="imageDataURI" original-data="image.originalInfo" result-image="myCroppedImage">
                        </img-crop>
                    </div>
                    <div class="preview_container">
                        <div crop-data="image.cropInfo" image="imageDataURI" img-crop-result="" original-data="image.originalInfo" width="70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

              <div class="col-sm-12">
                <button ng-click="Submitimage()" class="btn btn-purple submit-btn uppercase btn-sm create-portfolio"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="sign-up-section">
  <div class="left-g-circle"><img src="resources/assets/images/gradient-circle.png"></div>
  <div class="right-g-sm-circle"><img src="resources/assets/images/gradient-circle.png" width="60"></div>
  <div class="right-g-trangle"><img src="resources/assets/images/gradient-trangle.png"></div>
  <div class="container">
    <div class="head-sub-text text-center">
      <h3 class="header-text">[['lbl_buyer_sign_up'|translate]]</h3>
    </div>
  <!--Step first-->
    <div class="flowup-labels-form sign-up-form">
      <form class="FlowupLabels" name="SignUpForm" id="SignUpForm" ng-submit="SignUpForm.Dosignup()" novalidate="">
        <div class="upload-profile-pic">
          <div class="img-div">
            <input type="file" name="image" id="image">
          <!--after upload display block-->
            
            <div class="uploaded-img" id="dp"><i class="fa fa-user-o" aria-hidden="true"></i></div>
            <!--after upload display block End display:none -->
          </div>
          <label>[['lbl_profile_picture'|translate]]</label>
        </div>
        <div class="form-group">
          <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':!email_exists_error?'has-success':'has-error']]">  <!-- [[!email_address?'has-error':'has-success']] -->
            <label class="fl_label" for="rf_email">[['lbl_email_address'|translate]]</label>
            <input class="fl_input form-control" required ng-model="email_address" type="email" id="rf_email" />
            <!-- <i class="[[!email_address?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]"></i> -->
            <i ng-if="email_address && !email_exists_error" class="fa fa-check-circle out-icon"></i>
            <i ng-if="email_address_error && !email_address" class="fa fa-exclamation-circle out-icon" title="[['lbl_email_address_required' | translate]]"></i>
            <i class="fa fa-exclamation-circle out-icon" ng-if="email_exists_error" title="[['lbl_email_already_exists'|translate]]"></i>
          </div>
        </div>
        <div class="form-group">
          <div class="fl_wrap [[!first_name?first_name_error?'has-error':'':'has-success']]">
            <label class="fl_label" for="rf_first_name">[['lbl_first_name'|translate]]</label>
            <input class="fl_input form-control" required ng-model="first_name" type="text" id="rf_first_name" />
            <!-- <i class="[[!first_name?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]"></i> -->
            <i ng-if="first_name" class="fa fa-check-circle out-icon"></i>
            <i ng-if="first_name_error && !first_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_first_name_required' | translate]]"></i>
          </div>
        </div>
        <div class="form-group">
          <div class="fl_wrap [[!last_name?last_name_error?'has-error':'':'has-success']]">
            <label class="fl_label" for="rf_last_name">[['lbl_last_name'|translate]]</label>
            <input class="fl_input form-control" required ng-model="last_name" type="text" id="rf_last_name" />
            <!-- <i class="[[!last_name?'fa fa-exclamation-circle out-icon':'fa fa-check-circle out-icon']]"></i> -->
            <i ng-if="last_name" class="fa fa-check-circle out-icon"></i>
            <i ng-if="last_name_error && !last_name" class="fa fa-exclamation-circle out-icon" title="[['lbl_last_name_required' | translate]]"></i>
          </div>
        </div>
        <div ng-if="last_name && first_name">
          <h3>
              [['lbl_display_name'|translate]]
          </h3>
          <section class="project-availability">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <span class="custom-radio1">
                              <input id="display_name_1" name="display_name" type="radio" value="[[first_name]] [[last_name]]"/>
                              <label for="display_name_1">
                                  [[first_name]] [[last_name]]
                              </label>
                          </span>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                          <span class="custom-radio1">
                              <input id="display_name_2" name="display_name" type="radio" value="[[last_name]] [[first_name]]"/>
                              <label for="display_name_2">
                                  [[last_name]] [[first_name]]
                              </label>
                          </span>
                      </div>
                  </div>
              </div>
          </section>
        </div>
        <div class="form-group">
          <div class="fl_wrap [[!country_id?country_id_error?'has-error':'':'has-success']] select-dropdown">
            <label class="fl_label" for="rf_Nationality">[['lbl_country_of_residence'|translate]]</label>
            <select class="fl_input form-control" required ng-model="country_id" id="rf_Nationality" type="text">
                <option value="">
                    [['lbl_select'|translate]] [['lbl_country'|translate]]
                </option>
                <option ng-repeat="country in countrycitydata.country" value="[[country.id]]" data-country="[[country.phonecode]]">
                    [[country.name]]
                </option>
                <option value="other">
                    [['lbl_external'|translate]] 
                </option>
            </select>
            <i ng-if="country_id" class="fa fa-check-circle out-icon"></i>
            <i ng-if="country_id_error && !country_id" class="fa fa-exclamation-circle out-icon" title="[['lbl_country_required' | translate]]"></i>
          </div>
        </div>
        <div class="form-group" ng-if="!showDropdown">
          <div class="fl_wrap [[!obj.country_text?country_text_error?'has-error':'':'has-success']]">
            <label class="fl_label" for="country_text">[['lbl_country'|translate]]</label>
            <input class="fl_input form-control" type="text" ng-model="obj.country_text" name="country_text" id="country_text">
            <i ng-if="obj.country_text" class="fa fa-check-circle out-icon"></i>
            <i ng-if="country_text_error && !obj.country_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_country_required' | translate]]"></i>
          </div>
        </div>
        <div class="row" ng-if="showDropdown">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fl_wrap [[!obj.provience_id?provience_id_error?'has-error':'':'has-success']] select-dropdown">
                  <label class="fl_label" for="rf_Province">[['lbl_province'|translate]]</label>
                  <select class="fl_input form-control" disabled required ng-model="obj.provience_id" id="rf_Province" type="text">
                      <option value="">
                          [['lbl_select'|translate]] [['lbl_province'|translate]]
                      </option>
                      <option ng-repeat="Province in states" value="[[Province.id]]">
                          [[Province.name]]
                      </option>
                  </select>
                  <i ng-if="obj.provience_id" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="provience_id_error && !obj.provience_id" class="fa fa-exclamation-circle out-icon" title="[['lbl_province_required' | translate]]"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fl_wrap [[!obj.city_id?city_id_error?'has-error':'':'has-success']] select-dropdown">
                  <label class="fl_label" for="rf_City">[['lbl_city_name'|translate]]</label>
                  <select class="fl_input form-control" disabled required ng-model="obj.city_id" id="rf_City" type="text">
                    <option value="">
                        [['lbl_select'|translate]] [['lbl_city'|translate]]
                    </option>
                    <option ng-repeat="City in cities" value="[[City.id]]">
                        [[City.name]]
                    </option>
                  </select>
                  <i ng-if="obj.city_id" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="city_id_error && !obj.city_id" class="fa fa-exclamation-circle out-icon"  title="[['lbl_city_required' | translate]]"></i>
                </div>
              </div>
            </div>
        </div>
        <div class="row" ng-if="!showDropdown">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fl_wrap [[!obj.state_text?state_text_error?'has-error':'':'has-success']]">
                  <label class="fl_label" for="state_text">[['lbl_province_state'|translate]]</label>
                  <input class="fl_input form-control" type="text" ng-model="obj.state_text" name="state_text" id="state_text">
                  <i ng-if="obj.state_text" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="state_text_error && !obj.state_text" class="fa fa-exclamation-circle out-icon" title="[['lbl_province_required' | translate]]"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fl_wrap [[!obj.city_text?city_text_error?'has-error':'':'has-success']]">
                  <label class="fl_label" for="city_text">[['lbl_city_name'|translate]]</label>
                  <input class="fl_input form-control" type="text" ng-model="obj.city_text" name="city_text" id="city_text">
                  <i ng-if="obj.city_text" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="city_text_error && !obj.city_text" class="fa fa-exclamation-circle out-icon"  title="[['lbl_city_required' | translate]]"></i>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-1 countrycode">
              <div class="form-group">
                <div class="fl_wrap">
                <label class="fl_label"></label>
                <div class="" id="phonecode" >
                  <label class="fl_label buyer-phonecode" >[['lbl_code'|translate]] </label>
                  <span>
                    <input class="fl_input form-control" type="text" numbers-only ng-model="phonecode" name="phonecode" id="country_code">
                  </span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-11">
              <div class="form-group">
                <div class="fl_wrap">
                  <label class="fl_label" for="contact">[['lbl_phone_number'|translate]] </label>
                  <input class="fl_input form-control" ng-model="contact" type="text" id="contact" />
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 inline-block">
              <div class="form-group">
                <div class="fl_wrap [[age < 18||not_accept==false?'has-error':(age >= 18 ? not_accept==true?'has-success':'':'')]]">
                  <label class="fl_label" for="rf_dob">[['lbl_dob'|translate]] </label>
                  <input ng-show="eng == true" class="fl_input form-control datetimepicker" ng-change=calculateAge(dob) ng-model="dob" type="text" id="datetimepicker-eng"  onkeydown="return false"/>
                  <input ng-show="!eng" class="fl_input form-control datetimepicker" ng-change=calculateAge(dob) ng-model="dob" type="text" id="datetimepicker-cn" onkeydown="return false"/>
                  <i class="fa fa-calendar"></i>
                  <i ng-if="age >= 18 && not_accept==true" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="not_accept==false" class="fa fa-exclamation-circle out-icon" title="[['lbl_age_limit' | translate]]"></i>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <!-- <div class="fl_wrap [[!password?password_error?'has-error':'':'has-success']]">
                  <label class="fl_label" for="rf_password">[['lbl_password'|translate]] </label>
                  <input class="fl_input form-control" minlength="8" maxlength="16" required ng-model="password" type="password" id="rf_password" placeholder="[['lbl_password_placeholder' | translate]]" />
                  <i ng-if="password" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="password_error && !password" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_required' | translate]]"></i>
                </div> -->
                <div class="fl_wrap [[!password?password_error?'has-error':'':password_format_error? 'has-error':'has-success']]">
                    <label class="fl_label" for="rf_pwd">[['lbl_password' | translate]]</label>
                    <input class="fl_input form-control" type="password" id="rf_pwd" ng-model="password" name="password" placeholder="[['lbl_password_placeholder' | translate]]"  required="" />
                    <i class="fa fa-check-circle out-icon" ng-if="password && !password_format_error">
                    </i>
                    <i class="fa fa-exclamation-circle out-icon" ng-if="password && password_format_error" title="[['lbl_password_case' | translate]]">
                    </i>
                    <i class="fa fa-exclamation-circle out-icon" ng-if="password_error && !password" title="[['lbl_password_required' | translate]]"> 
                    </i> 
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="fl_wrap [[!cnf_password ? cnf_password_error ?'has-error' :'': cnf_password!=password? 'has-error':cnf_password_format_error?'has-error':'has-success']]">
                  <label class="fl_label" for="rf_cnf_password">[['lbl_confirm_password'|translate]] </label>
                  <input class="fl_input form-control" minlength="8" maxlength="16" required ng-model="cnf_password" type="password" id="rf_cnf_password" placeholder="[['lbl_password_placeholder' | translate]]" />
                  <i ng-if="(cnf_password) && (cnf_password==password) && (!cnf_password_format_error)" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="!cnf_password && cnf_password_error" class="fa fa-exclamation-circle out-icon"  title="[['lbl_confirm_password_required' | translate]]"></i>
                  <i ng-if="cnf_password && (cnf_password!=password)" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_not_match' | translate]]"></i>
                  <i ng-if="cnf_password && cnf_password_format_error" class="fa fa-exclamation-circle out-icon"  title="[['lbl_password_case' | translate]]"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-12 ">
                <div class="form-group">
                    <span>
                        [['lbl_password_text'|translate]] 
                    </span>
                </div>
            </div>
        </div>
        <div class="form-bottom-btn">
          <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-purple submit-btn uppercase submit_call" ng-click="showsignupmodal()"> [['lbl_submit'|translate]]</button>
              </div>
          </div>
        </div>
      </form>
    </div>


  </div>
</section>
