@font-face {
  font-family: 'sixcloud';
  src:
    url('fonts/sixcloud.ttf?u0452h') format('truetype'),
    url('fonts/sixcloud.woff?u0452h') format('woff'),
    url('fonts/sixcloud.svg?u0452h#sixcloud') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sci-"], [class*=" sci-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sixcloud' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sci-attache:before {
  content: "\ea1f";
  color: #535455;
}
.sci-calendar:before {
  content: "\ea20";
  color: #535455;
}
.sci-cancel:before {
  content: "\ea21";
}
.sci-caret:before {
  content: "\ea22";
  color: #535455;
}
.sci-arrow-down:before {
  content: "\ea23";
  color: #535455;
}
.sci-arrow-up:before {
  content: "\ea2b";
  color: #535455;
}
.sci-arrow-right:before {
  content: "\ea2c";
  color: #535455;
}
.sci-arrow-left:before {
  content: "\ea2d";
  color: #535455;
}
.sci-eraser:before {
  content: "\ea24";
}
.sci-ernings:before {
  content: "\ea25";
  color: #535455;
}
.sci-pause:before {
  content: "\ea26";
}
.sci-Play-Video-o:before {
  content: "\ea27";
  color: #535455;
}
.sci-add:before {
  content: "\ea28";
}
.sci-Upload:before {
  content: "\ea29";
}
.sci-Users:before {
  content: "\ea2a";
  color: #535455;
}
.sci-share:before {
  content: "\ea14";
}
.sci-twitter:before {
  content: "\ea15";
}
.sci-feacbook:before {
  content: "\ea16";
}
.sci-instagram:before {
  content: "\ea17";
}
.sci-Delete-Icon:before {
  content: "\ea18";
}
.sci-Dete-of-Birth:before {
  content: "\ea19";
}
.sci-Edit-icon:before {
  content: "\ea1a";
  color: #d21a24;
}
.sci-Search-Icon:before {
  content: "\ea1b";
}
.sci-Star:before {
  content: "\ea1c";
  color: #d5be25;
}
.sci-Submit:before {
  content: "\ea1d";
}
.sci-QUICKEST-TURNAROUND .path1:before {
  content: "\e9c1";
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path2:before {
  content: "\e9c2";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path3:before {
  content: "\e9c3";
  margin-left: -1.2880859375em;
  color: rgb(250, 165, 80);
}
.sci-QUICKEST-TURNAROUND .path4:before {
  content: "\e9c4";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path5:before {
  content: "\e9c5";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path6:before {
  content: "\e9c6";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path7:before {
  content: "\e9c7";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path8:before {
  content: "\e9c8";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path9:before {
  content: "\e9c9";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-QUICKEST-TURNAROUND .path10:before {
  content: "\e9ca";
  margin-left: -1.2880859375em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path1:before {
  content: "\e9cb";
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path2:before {
  content: "\e9cc";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path3:before {
  content: "\e9cd";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path4:before {
  content: "\e9ce";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path5:before {
  content: "\e9cf";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path6:before {
  content: "\ea00";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path7:before {
  content: "\ea01";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path8:before {
  content: "\ea02";
  margin-left: -0.98046875em;
  color: rgb(255, 166, 77);
}
.sci-startup-1 .path9:before {
  content: "\ea03";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path10:before {
  content: "\ea04";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path11:before {
  content: "\ea05";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path12:before {
  content: "\ea06";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path13:before {
  content: "\ea07";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path14:before {
  content: "\ea08";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-startup-1 .path15:before {
  content: "\ea09";
  margin-left: -0.98046875em;
  color: rgb(51, 51, 51);
}
.sci-check-circle:before {
  content: "\ea0a";
}
.sci-English-Lerning-Training:before {
  content: "\ea0b";
}
.sci-English:before {
  content: "\ea0c";
}
.sci-Log-Out:before {
  content: "\ea0d";
}
.sci-Marketplace:before {
  content: "\ea0e";
}
.sci-My-Account:before {
  content: "\ea0f";
}
.sci-Notification:before {
  content: "\ea10";
}
.sci-Proof-Reading:before {
  content: "\ea11";
}
.sci-Search:before {
  content: "\ea12";
}
.sci-View-More:before {
  content: "\ea13";
}
.sci-abc:before {
  content: "\e9bf";
}
.sci-vetted-accessors .path1:before {
  content: "\e908";
  color: rgb(255, 166, 77);
}
.sci-vetted-accessors .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path8:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path9:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path10:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path11:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path12:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path13:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path14:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-vetted-accessors .path15:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path1:before {
  content: "\e917";
  color: rgb(249, 186, 72);
}
.sci-step-assignment .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path13:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-step-assignment .path14:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-contractor .path1:before {
  content: "\e925";
  color: rgb(249, 186, 72);
}
.sci-contractor .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-contractor .path3:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-contractor .path4:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path1:before {
  content: "\e929";
  color: rgb(249, 186, 72);
}
.sci-designer .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path3:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path4:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path5:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path6:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path7:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path8:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-designer .path9:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-doc .path1:before {
  content: "\e932";
  color: rgb(233, 233, 224);
}
.sci-doc .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(217, 215, 202);
}
.sci-doc .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path7:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path8:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path9:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path10:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path11:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path12:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path13:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path14:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(134, 151, 203);
}
.sci-doc .path15:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 150, 230);
}
.sci-doc .path16:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sci-doc .path17:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sci-doc .path18:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.sci-down-arrow:before {
  content: "\e944";
}
.sci-down-up:before {
  content: "\e9c0";
}
.sci-download:before {
  content: "\e945";
}
.sci-earn .path1:before {
  content: "\e946";
  color: rgb(51, 51, 51);
}
.sci-earn .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.sci-earn .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-earn .path4:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-earn .path5:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-earn .path6:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-earn .path7:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-earn .path8:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-learning .path1:before {
  content: "\e94e";
  color: rgb(249, 186, 72);
}
.sci-learning .path2:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path3:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path4:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path5:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path6:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path7:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path8:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path9:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path10:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path11:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path12:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path13:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path14:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path15:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-learning .path16:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-graphic-design:before {
  content: "\e95e";
}
.sci-market-place .path1:before {
  content: "\e95f";
  color: rgb(51, 51, 51);
}
.sci-market-place .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.sci-market-place .path4:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path5:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path6:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path7:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path8:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path9:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path10:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path11:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-market-place .path12:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-music-folder:before {
  content: "\e96b";
}
.sci-proof-reading .path1:before {
  content: "\e96c";
  color: rgb(255, 166, 77);
}
.sci-proof-reading .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path4:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path5:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path6:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path7:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path8:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path9:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path10:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path11:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-proof-reading .path12:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path1:before {
  content: "\e978";
  color: rgb(249, 186, 72);
}
.sci-barcode .path2:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.sci-barcode .path3:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.sci-barcode .path4:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path5:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path6:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path7:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path8:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path9:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path10:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path11:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path12:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path13:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path14:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path15:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path16:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path17:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path18:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path19:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path20:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path21:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path22:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path23:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path24:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path25:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path26:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path27:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path28:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path29:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path30:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path31:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path32:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path33:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path34:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path35:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path36:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path37:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path38:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path39:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path40:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path41:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path42:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path43:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path44:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path45:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path46:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path47:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path48:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path49:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path50:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path51:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path52:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path53:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path54:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path55:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path56:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path57:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path58:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path59:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path60:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path61:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path62:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path63:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path64:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path65:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path66:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path67:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path68:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path69:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path70:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-barcode .path71:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-appoinment .path1:before {
  content: "\e9d0";
  color: rgb(255, 166, 77);
}
.sci-appoinment .path2:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path1:before {
  content: "\e9d2";
  color: rgb(255, 166, 77);
}
.sci-send-to-user .path2:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path3:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path4:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path5:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path6:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path7:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path8:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path9:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-send-to-user .path10:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(255, 166, 77);
}
.sci-send-to-user .path11:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(255, 166, 77);
}
.sci-info .path1:before {
  content: "\e9dd";
  color: rgb(255, 166, 77);
}
.sci-info .path2:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path3:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path4:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path5:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path6:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path7:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path8:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path9:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-info .path10:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-workplace .path1:before {
  content: "\e9e7";
  color: rgb(51, 51, 51);
}
.sci-workplace .path2:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-workplace .path3:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(255, 166, 77);
}
.sci-workplace .path4:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(255, 166, 77);
}
.sci-work-done .path1:before {
  content: "\e9eb";
  color: rgb(51, 51, 51);
}
.sci-work-done .path2:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-work-done .path3:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-work-done .path4:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(106, 194, 89);
}
.sci-time:before {
  content: "\e9ef";
}
.sci-upload .path1:before {
  content: "\e9f0";
  color: rgb(249, 186, 72);
}
.sci-upload .path2:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-video-player:before {
  content: "\e9f2";
}
.sci-wechat .path1:before {
  content: "\e9f3";
  color: rgb(167, 207, 56);
}
.sci-wechat .path2:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(139, 181, 49);
}
.sci-wechat .path3:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.sci-wechat .path4:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.sci-wechat .path5:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}
.sci-wechat .path6:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.sci-wechat .path7:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.sci-wechat .path8:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.sci-wechat .path9:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-wechat .path10:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-wechat .path11:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-wechat .path12:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-wechat .path13:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.sci-connection .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
}
.sci-connection .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-connection .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-connection .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-connection .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-connection .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-connection .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(249, 186, 72);
}
.sci-connection .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.sci-play-circle:before {
  content: "\ea1e";
}
