<div class="earnings-div">
  <div class="container">
    <div class="white-block">
      <h2 class="page-title text-center">[[member_name]][[member_name?"'s":'']] [['lbl_commissions'|translate]]</h2>
      <div class="head-year head_year_custom">
        <div class="row">
          <!-- <div class="col-sm-2">
            <label>Type</label>
          </div> -->
          <div class="[[userData.userType=='distributor'?'col-sm-3':'col-sm-6']]">
            <div class="custom-select-dropdown">
              <select class="form-control" id="category" ng-model="type" ng-change="Getcommissions(year,type,team.member_name)">
                <option ng-value="0">[['lbl_summary'|translate]]</option>
                <option ng-value="1">[['lbl_new_sales'|translate]]</option>
                <option ng-value="2">[['lbl_renew_sales'|translate]]</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-sm-2">
            <label>Year</label>
          </div> -->
          <div class="[[userData.userType=='distributor'?'col-sm-3':'col-sm-6']]">
            <div class="custom-select-dropdown">
              <select class="form-control" id="year" ng-model="year" ng-change="Getcommissions(year,type,team.member_name)">
                <option>[['lbl_select_year'|translate]]</option>
                <option ng-repeat="year in years" ng-value="year">[[year]]</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6" ng-if="userData.userType=='distributor'">
            <div class="custom-select-dropdown">
              <select class="form-control" ng-model="team.member_name" ng-change="Getcommissions(year,type,team.member_name)">
                <option value="">[['lbl_overall'|translate]]</option>
                <option value="[[team.id]]" ng-repeat="team in teamData">[[team.first_name]] [[team.last_name]]</option>
              </select>
              <!-- <input class="form-control" type="text" name="member_name" id="member_name" ng-model="member_name" ng-change="Getcommissions(year,type,member_name)" placeholder="Search by team member name"> -->
            </div>
          </div>
        </div>
      </div>
      <div class="table-div">
        <table class="table">
          <thead>
            <tr>
              <th rowspan="2"> [['lbl_month'|translate]] </th>
              <th colspan="[[commissions.video_categories.length]]" ng-if="type==1">[['lbl_no_of_subscribers'|translate]]</th>
              <th rowspan="2" ng-if="type==1||type==0"> [[type==0?'lbl_commissions_from_new_sales':'lbl_no_of_new_sales' |translate]] </th>
              <th colspan="[[commissions.video_categories.length]]" ng-if="type==2"> [['lbl_no_of_subscribers_renewal'|translate]] </th>
              <th rowspan="2" ng-if="type==2||type==0"> [[type==0?'lbl_commissions_from_renewal':'lbl_no_of_renewals' |translate]] </th>
              <th rowspan="2"> [['lbl_total_commissions'|translate]] </th>
            </tr>
            <tr>
              <th ng-repeat="category in commissions.video_categories" ng-if="type==2||type==1">[[category.category_name]]</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="commission in commissions.commissions">
              <!-- <td>[[commission.current_month]]</td> -->
              <td>[[commission.current_month|translate]]</td>
              <td ng-if="(type==1||type==2)&&commission.counts" ng-repeat="count in commission.counts"> [[count.length>0?count.length:0]]</td>
              <td ng-if="(type==1||type==2)&&!commission.counts" ng-repeat="count in commissions.video_categories"> 0</td>
              <td ng-if="type==1||type==0">[[type==0?commissions.current_domain=='net'?'S$':'¥':'']] [[type==0?commission.totalNewCountPrice:commission.totalNewCount]]</td>
              <td ng-if="type==2||type==0">[[type==0?commissions.current_domain=='net'?'S$':'¥':'']] [[type==0?commission.totalRenewCountPrice:commission.totalRenewCount]]</td>
              <td>[[commissions.current_domain=='net'?'S$':'¥']] [[commission.totalNewCountPrice+commission.totalRenewCountPrice|number:2]]</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- <td colspan="[[type==0?3:4]]"></td> -->
              <th colspan="[[type==0?3:5]]" class=""> [['lbl_total_commissions_for_the_year'|translate]] </th>
              <td class="text-center">[[commissions.current_domain=='net'?'S$':'¥']] [[commissions.totalYearCommission]]</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
