<!-- <div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body" ng-if="current_domain=='cn'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source src="public/uploads/promotional-videos/Video_cn.mov">
          </video>    
      </div>
      <div class="modal-body" ng-if="current_domain=='net'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source  src="https://cdn.sixclouds.net/promovideo/Promo%20Video%20En-HD%20720p.mov">
          </video>    
      </div>
    </div>
  </div>
</div> -->
<article class="home-content-article smile-intl">
  <div class="page-top-sec buzz-math-section smile-section">
    <section class="ignite-buzz-math">
      <div class="container">
        <div class="section-head sec-space">
          <h2>[['lbl_smile'|translate]]</h2><h2 class="lbl-smile-intl">[['lbl_smile_intl'|translate]]</h2><h3>[['lbl_ignite_smile_line'|translate]]</h3>
          <div class="space-div">
            <div class="row"> 
              <div class="col-xs-12 col-sm-12 margin-auto">
                <div class="head-content-center">
                  <p>[['lbl_ignite_smile_description'|translate]]</p>
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-5 margin-auto">
                <table width="100" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" class="play-icon">
                      <a class="video-div btn">
                        <span style="background-image:url(resources/assets/images/Thumbnail_for_Video.jpeg)">
                        </span><i class="fa fa-play-circle" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- .ignite-buzz-english -->
    <section class="programmes-suits">
      <div class="container">
        <div class="section-head">
          <h3>[['lbl_ignite_smile_act_today'|translate]]</h3>
          <p>[['lbl_ignite_smile_act_today_description'|translate]]</p>
          <div class="grade-section">
            <div class="main-box">
              <div class="box-section" ng-repeat="(key, smile) in smileData">
                <div class="box">
                  <img src="[[smile.icon_path]]" class="icon" />
                  <span ng-if="transLang=='en'" class="grade-ttl">[[smile.category_name]]</span>
                  <span ng-if="transLang=='chi'" class="grade-ttl">[[smile.category_name_chi]]</span>
                  <span ng-if="transLang=='ru'" class="grade-ttl">[[smile.category_name_ru]]</span>

                  <p ng-if="transLang=='en'">[[smile.description]]</p>
                  <p ng-if="transLang=='chi'">[[smile.description_chi]]</p>
                  <p ng-if="transLang=='ru'">[[smile.description_ru]]</p>
                  <a href="" ng-click="Getsubcategories(smile)" class="btn" data-toggle="modal" data-target="#grade-details">[['lbl_ignite_smile_view_topics'|translate]]</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- .programmes-suits -->
    <section class="subscription-plan">
      <div ng-if="loginDistributorData==''" class="section-head">
        <h2>[['lbl_ignite_smile_learn_about'|translate]]</h2>
        <a href="ignite-login" class="btn">[['lbl_ignite_know_more'|translate]]</a>
      </div>
      <div ng-if="loginDistributorData!=''" class="section-head">
        <h2>[['lbl_ignite_smile_learn_about'|translate]]</h2>
        <a href="#" ng-click="mySubscription(transLang,'SMILE (INTERNATIONAL)')" class="btn">[['lbl_ignite_know_more'|translate]]</a>
      </div>
    </section>
  </div>
  <section class="way-to-learn learn-math learn-smile-section">
    <div class="container">
      <div class="bottom-sec-head">
        <h3>[['lbl_ignite_smile_way_to_learn'|translate]]</h3>
        <div class="spacing-wrap">
          <div class="row learn-section">
            <div class="col-sm-5 learn-img">
              <div class="learning-process-img">
                <figure>
                  <img src="resources/assets/images/process-smile.png">
                </figure>
              </div>
            </div>
            <div class="col-sm-7 learn-desc">
              <div class="learning-process-content">
                <ul class="learn-steps list-inline">
                  <li>
                    <h4>[['lbl_ignite_smile_watch'|translate]]<span></span></h4>
                    <p>[['lbl_ignite_smile_watch_detail'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_ignite_smile_learn'|translate]]<span></span></h4>
                    <p>[['lbl_ignite_smile_learn_detail'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_ignite_smile_test'|translate]]<span></span></h4>
                    <p>[['lbl_ignite_smile_test_detail'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_ignite_smile_repeat'|translate]]<span></span></h4>
                    <p>[['lbl_ignite_smile_repeat_detail'|translate]]</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<div id="grade-details" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><img src="resources/assets/images/close.png"/></button>
        <h4 class="modal-title">[[Category]] <!-- <span>2</span> --></h4>
      </div>
      <div class="modal-body">
        <ul class="list-inline list-unstyled">
          <li ng-repeat="(key, smilesubcat) in subCategory" class="grade-options">
            <img src="[[smilesubcat.icon_path]]"/>
            <!-- <div class="grade-ttl">[[smilesubcat.subcategory_name]]</div>
            <p>[[smilesubcat.subcategory_description]]</p> -->

            <div class="grade-ttl" ng-if="transLang=='en'">[[smilesubcat.subcategory_name]]</div>
            <div class="grade-ttl" ng-if="transLang=='chi'">[[smilesubcat.subcategory_name_chi]]</div>
            <div class="grade-ttl" ng-if="transLang=='ru'">[[smilesubcat.subcategory_name_ru]]</div>
            <p ng-if="transLang=='en'">[[smilesubcat.subcategory_description]]</p>
            <p ng-if="transLang=='chi'">[[smilesubcat.subcategory_description_chi]]</p>
            <p ng-if="transLang=='ru'">[[smilesubcat.subcategory_description_ru]]</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
