<!-- <div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body" ng-if="current_domain=='cn'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source src="public/uploads/promotional-videos/Video_cn.mov">
          </video>    
      </div>
      <div class="modal-body" ng-if="current_domain=='net'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source  src="https://cdn.sixclouds.net/promovideo/Promo%20Video%20En-HD%20720p.mov">
          </video>    
      </div>
    </div>
  </div>
</div> -->
<article class="home-content-article smile-sg-ph">
    <div class="page-top-sec-ph buzz-math-section-ph smile-section-ph">
      <section class="ignite-smile">
        <div class="container">
          <div class="section-head sec-space">
            <h2>[['lbl_ignite_maze_math_philippines'|translate]]</h2><h2 class="lbl-smile-sg">[['lbl_ignite_maze_math2_philippines'|translate]]</h2><h3>[['lbl_ignite_maze_math1_philippines'|translate]]</h3>
            <div class="space-div">
              <div class="row"> 
                <div class="col-xs-12 margin-auto">
                  <div class="head-content">
                    <p>[['lbl_ignite_maze_math_desc_philippines'|translate]]</p>
                  </div>
                </div>
                <!-- <div class="col-xs-12 col-sm-5 margin-auto">
                  <table width="100" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center" class="play-icon">
                        <a class="video-div btn" ng-click="ShowVideo()" style="cursor: default;">
                          <span style="background-image:url(resources/assets/images/smile-sg-thumbnail.jpg)">
                          </span><i class="fa fa-play-circle" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="programmes-suits">
        <div class="container">
          <div class="section-head">
            <h3>[['lbl_ignite_act_today_philippines'|translate]]</h3>
            <p>[['lbl_ignite_act_today_desc_philippines'|translate]]</p>
            <div class="grade-section">
              <div class="main-box">
                <div class="box-section" ng-repeat="(key, smile) in smilePHData">
                  <div class="box">
                    <img src="[[smile.icon_path]]" class="icon" />
                    <span ng-if="transLang=='en'" class="grade-ttl">[[smile.category_name]]</span>
                    <span ng-if="transLang=='chi'" class="grade-ttl">[[smile.category_name_chi]]</span>
                    <span ng-if="transLang=='ru'" class="grade-ttl">[[smile.category_name_ru]]</span>
  
                    <p ng-if="transLang=='en'">[[smile.description]]</p>
                    <p ng-if="transLang=='chi'">[[smile.description_chi]]</p>
                    <p ng-if="transLang=='ru'">[[smile.description_ru]]</p>
                    <a href="" ng-click="Getsubcategories(smile)" class="btn" data-toggle="modal" data-target="#grade-details">[['lbl_ignite_smile_view_topics'|translate]]</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- .programmes-suits -->
      <section class="subscription-plan-ph">
        <div ng-if="loginDistributorData==''" class="section-head">
          <h2>[['lbl_ignite_philippines_learn_about'|translate]]</h2>
          <a href="ignite-login" class="btn">[['lbl_ignite_philippines_know_more'|translate]]</a>
        </div>
        <div ng-if="loginDistributorData!=''" class="section-head">
          <h2>[['lbl_ignite_philippines_learn_about'|translate]]</h2>
          <a href="#" ng-click="mySubscription(transLang,'SMILE (SG)')" class="btn">[['lbl_ignite_know_more_sg'|translate]]</a>
        </div>
      </section>
    </div>
    <section class="way-to-learn-ph learn-math learn-smile-section">
      <div class="container">
        <div class="bottom-sec-head">
          <h3>[['lbl_ignite_philippines_way_to_learn'|translate]]</h3>
          <div class="spacing-wrap">
            <div class="row learn-section">
              <div class="col-sm-5 learn-img">
                <div class="learning-process-img">
                  <figure>
                    <img src="resources/assets/images/Group 11.png">
                  </figure>
                </div>
              </div>
              <div class="col-sm-7 learn-desc">
                <div class="learning-process-content">
                  <ul class="learn-steps list-inline">
                    <li>
                      <h4>[['lbl_ignite_philippines_watch'|translate]]<span></span></h4>
                      <p>[['lbl_ignite_philippines_watch_detail'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_ignite_philippines_learn'|translate]]<span></span></h4>
                      <p>[['lbl_ignite_philippines_learn_detail'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_ignite_philippines_test'|translate]]<span></span></h4>
                      <p>[['lbl_ignite_philippines_test_detail'|translate]]</p>
                    </li>
                    <li>
                      <h4>[['lbl_ignite_philippines_repeat'|translate]]<span></span></h4>
                      <p>[['lbl_ignite_philippines_repeat_detail'|translate]]</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
  <div id="grade-details" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><img src="resources/assets/images/close.png"/></button>
          <h4 class="modal-title">[[Category]] <!-- <span>2</span> --></h4>
        </div>
        <div class="modal-body">
          <ul class="list-inline list-unstyled">
            <li ng-repeat="(key, smilesubcat) in subCategory" class="grade-options">
              <img src="[[smilesubcat.icon_path]]"/>
              <!-- <div class="grade-ttl">[[smilesubcat.subcategory_name]]</div>
              <p>[[smilesubcat.subcategory_description]]</p> -->
  
              <div class="grade-ttl" ng-if="transLang=='en'">[[smilesubcat.subcategory_name]]</div>
              <div class="grade-ttl" ng-if="transLang=='chi'">[[smilesubcat.subcategory_name_chi]]</div>
              <div class="grade-ttl" ng-if="transLang=='ru'">[[smilesubcat.subcategory_name_ru]]</div>
              <p ng-if="transLang=='en'">[[smilesubcat.subcategory_description]]</p>
              <p ng-if="transLang=='chi'">[[smilesubcat.subcategory_description_chi]]</p>
              <p ng-if="transLang=='ru'">[[smilesubcat.subcategory_description_ru]]</p>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>
  