<div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body" ng-if="current_domain=='cn'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <source src="public/uploads/promotional-videos/Video_cn.mov">
          </video>    
      </div>
      <div class="modal-body" ng-if="current_domain=='net'">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" poster="resources/assets/images/Thumbnail_for_Video.jpeg" height="310" >
            <!-- <source  src="public/uploads/promotional-videos/Promo Video En-HD 720p.mov"> -->
            <source  src="https://cdn.sixclouds.net/promovideo/Promo%20Video%20En-HD%20720p.mov">
          </video>    
      </div>
    </div>
  </div>
</div>
<article class="home-content-article">
  <div class="page-top-sec">
    <section class="ignite-buzz-english">
      <div class="container">
        <div class="section-head sec-space">
          <h2>[['lbl_ignite_buzz_english'|translate]]</h2>
          <div class="space-div">
            <div class="row"> 
              <div class="col-xs-12 col-sm-7 margin-auto">
                <div class="head-content">
                  <p>[['lbl_ignite_buzz_english_description1'|translate]]</p>
                  <p>[['lbl_ignite_buzz_english_description2'|translate]]</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-5 margin-auto">
                <table width="100" cellpadding="0" cellspacing="0">
                  <tr>
                    <td align="center" class="play-icon">
                      <a class="video-div btn" ng-click="ShowVideo()">
                        <span style="background-image:url(resources/assets/images/Thumbnail_for_Video.jpeg)">
                        </span><i class="fa fa-play-circle" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- .ignite-buzz-english -->
    <section class="programmes-suits">
      <div class="container">
        <div class="section-head">
          <h3>[['lbl_ignite_proficiency'|translate]]</h3>
          <div class="space-sec">
            <div class="row">
              <div ng-repeat="(key, buzz) in buzzData" class="proficiency-level bg-white" ng-class="buzz.sub_category_icon_position==0?'odd-wrapper':'even-wrapper'">
                <div class="col-xs-1 col-sm-2 icon-box" ng-class="buzz.sub_category_icon_position==0?'':'even-img-sec'">
                  <div class="program-image">
                    <figure>
                      <img src="[[buzz.icon_path]]">
                    </figure>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-10 icon-desc" ng-class="buzz.sub_category_icon_position==0?'':'even-desc-sec'">
                  <div class="program-content">
                    <div class="level-detail">
                      <h4>[[buzz.category_name]]</h4>
                      <p ng-if="transLang=='en'">[[buzz.description]]</p>
                      <p ng-if="transLang=='chi'">[[buzz.description_chi]]</p>
                      <p ng-if="transLang=='ru'">[[buzz.description_ru]]</p>
                    </div>
                    <figure class="path" ng-click="igniteCategory(buzz)">
                      <a href="#"><img src="resources/assets/images/path.png"></a>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- .programmes-suits -->

    <section class="quiz-worksheet">
      <div class="container">
        <div class="bottom-box">
          <div class="row">
              <div class="col-xs-6 buzz-box">
                  <div class="box-bn2 b1">
                    <h2><span>[['lbl_ignite_landing_quiz'|translate]]</span></h2>
                      <div class="icon-div">
                          <img src="resources/assets/images/bulb-icon.svg" />
                       </div>
                      <div class="dis-text">
                          [['lbl_ignite_landing_quiz_text'|translate]]
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 buzz-box">
                  <div class="box-bn2 b2">
                    <h2><span>[['lbl_ignite_landing_worksheet'|translate]]</span></h2>
                      <div class="icon-div">
                          <img src="resources/assets/images/Worksheet.png" width="150" />
                       </div>
                      <div class="dis-text">
                          [['lbl_ignite_landing_worksheet_text'|translate]]
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="subscription-plan know-more-section">
    <div ng-if="loginDistributorData==''" class="section-head">
      <h2>[['lbl_ignite_sub_plans'|translate]]</h2>
      <a href="ignite-login" class="btn">[['lbl_ignite_know_more'|translate]]</a>
    </div>
    <div ng-if="loginDistributorData!=''" class="section-head">
      <h2>[['lbl_ignite_sub_plans'|translate]]</h2>
      <a href="#" ng-click="mySubscription(transLang,buzzData)" class="btn">[['lbl_ignite_know_more'|translate]]</a>
    </div>
  </section>
  <section class="way-to-learn">
    <div class="container">
      <div class="bottom-sec-head">
        <h3>[['lbl_way_to_learn'|translate]]</h3>
        <div class="spacing-wrap">
          <div class="row learn-section">
            <div class="col-sm-5 learn-img">
              <div class="learning-process-img">
                <figure>
                  <img src="resources/assets/images/learn-process.png">
                </figure>
              </div>
            </div>
            <div class="col-sm-7 learn-desc">
              <div class="learning-process-content">
                <ul class="learn-steps list-inline">
                  <li>
                    <h4>[['lbl_watch'|translate]]<span></span></h4>
                    <p>[['lbl_watch_description'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_learn'|translate]]<span></span></h4>
                    <p>[['lbl_learn_description'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_test'|translate]]<span></span></h4>
                    <p>[['lbl_test_description'|translate]]</p>
                  </li>
                  <li>
                    <h4>[['lbl_repeat'|translate]]<span></span></h4>
                    <p>[['lbl_repeat_description'|translate]]</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-images">
      <img class="truck" src="resources/assets/images/truck.png">
      <img class="car-left" src="resources/assets/images/yellow-car.png">
      <img class="car-right" src="resources/assets/images/yellow-car.png">
      <img class="car-red" src="resources/assets/images/red-car.png">
    </div>
  </section>

</article>
