
<div class="container">
  <div class="white-block">
    <div class="form-group">
      <h2 class="page-title text-center">[['lbl_my_subscription'|translate]]</h2>
      <select class="form-control rightAlign" ng-change="changeCartValue()" ng-model="price_type">
        <option value="" disabled>Select Price Type</option>
        <option ng-value="1">USD $</option>
        <option ng-value="2">SGD S$</option>
      </select>
    </div>
    <div class="tabs-div col-2 text-center">
      <div class="row">
        <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <div class="row">
            <div class="[[current_domain=='net'?'col-xs-6':'col-xs-12']]">
              <button class="btn tablinks btn-medium-pink btn-block btn_max_width" ng-click="changeTab('SubscriptionPlanTab')" id="SubscriptionPlanTabButton">[['lbl_subscription_plan'|translate]]</button>
            </div>
            <div class="col-xs-6">
              <button class="btn tablinks btn-medium-pink btn-block" ng-click="changeTab('TransactionsTab')" id="TransactionsTabButton"><!-- [['lbl_ignite_transactions'|translate]] -->Purchases</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs-div col-2 text-center" ng-if="SubscriptionPlanTab && price_type">
          <div class="row">
            <div class="col-sm-[[subjectsClass]]" ng-repeat="subject in subjects">
              <button class="btn tablinks btn-medium-pink btn-block btn_max_width subjects" ng-class="subject_id == subject.id?'active':''" ng-click="Getcategories(subject.encoded_string,subject.id,'selectSubject')" id="subjectButton_[[subject.id]]">[[subject.subject_display_name]]</button>
            </div>
          </div>
    </div>
    <div id="SubscriptionPlanTab" ng-show="SubscriptionPlanTab" class="tabcontent">
      <section class="my-membership-plan-section">
        <form id="ignite_payment_data" name="ignite_payment_data" ng-submit="ignite_payment_data.Ignitepayemnt()" novalidate="">
          <div class="inner-div">
            <div class="d-flex">
              <div class="box" ng-repeat="buzz in buzzData">
                <label class="check-box-membership">
                  <input ng-show="current_domain=='net' && subscriptionData.length > 0" type="checkbox" ng-repeat="mySubscription in subscriberBuzzes track by $index" ng-disabled="dis" ng-checked="mySubscription==buzz.id || buzz.id==wantPurchase.id" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="mySubscription.video_category_id==buzz.id ? '' : Changecart(price_type,buzz,buzz.id,plan_duration)" value="[[buzz.id]]">
                  
                  <input ng-show="current_domain=='net' && subscriptionData.length == 0" type="checkbox" name="video_category_id[]" id="buzz_[[buzz.id]]" ng-click="Changecart(price_type,buzz,buzz.id,plan_duration)" value="[[buzz.id]]">
                  <div class="membership-box">
                    <div class="title-box">
                      <div class="b1">
                        <div class="b2">
                          <div class="b3">[[transLang=='en'?buzz.category_name:(transLang=='chi'?buzz.category_name_chi:buzz.category_name_ru)]]</div>
                        </div>
                      </div>
                    </div>
                    <div class="b1">
                      <div class="b2">
                        <div class="b3">
                          <div class="inner-content">
                            <select class="plan-selection" ng-model="plan_duration" ng-change="Changecartamount(price_type,buzz,buzz.id,plan_duration)" id="plan_[[buzz.id]]">
                              <option ng-value="3">3 Month</option>
                              <option ng-value="6">6 Month</option>
                              <option ng-value="12">12 Month</option>
                            </select>
                            <h2>[[transLang=='en'?buzz.description:(transLang=='chi'?buzz.description_chi:buzz.description_ru)]]</h2>
                          </div>
                          <!-- <h1 ng-if="current_domain=='cn'">¥ [[buzz.category_price]]</h1> -->
                          <!-- <h1 ng-if="current_domain=='net' && price_type==1">$ [[buzz.category_price]]</h1>
                          <h1 ng-if="current_domain=='net' && price_type==2">S$ [[buzz.category_price_sgd]]</h1> -->
                          <div class="plans-price_[[buzz.id]]">

                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==1 && plan_duration==3">$ [[buzz.category_price_3month]]</h1>
                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==1 && plan_duration==6">$ [[buzz.category_price_6month]]</h1>
                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==1 && plan_duration==12">$ [[buzz.category_price]]</h1>

                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==2 && plan_duration==3">S$ [[buzz.category_price_sgd_3month]]</h1>
                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==2 && plan_duration==6">S$ [[buzz.category_price_sgd_6month]]</h1>
                            <h1 id ="plansprice_[[buzz.id]]" ng-if="current_domain=='net' && price_type==2 && plan_duration==12">S$ [[buzz.category_price_sgd]]</h1>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <span ng-show="current_domain=='net'" class="checkmark" id="buzzNew_[[buzz.id]]"></span>
                </label>
              </div>
            </div>

            <div ng-if="current_domain=='net'" class="bottom-btn text-right"> 
                <h2 style="margin-bottom: 20px;">[['lbl_promo_code'|translate]]</h2>

                <div class="row text-left">
                  <div class="col-sm-4">
                    <div class="row">
                      <!-- <div class="col-sm-4"></div> -->
                      <div class="col-sm-8" style="margin-bottom: 10px;">
                        <a href="subscription-plan/[[subject_id]]" class="btn btn_custom btn-medium-pink btn-sm">Renewal Options</a>
                      </div>
                    </div>
                    <!-- <div class="row"><div class="col-sm-6"></div></div> -->
                    <div class="row">
                      <!-- <div class="col-sm-4"></div> -->
                      <div class="col-sm-8">
                        <a href="switch-plan/[[subject_id]]" class="btn btn_custom btn-medium-pink btn-sm">Switch Plan</a>
                        <i class="fa fa-question-circle fa-lg" data-toggle="tooltip" id="language_tooltip" data-placement="bottom" title="Switching is available only for 12 months subscription plan."></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <div class="row">
                      <!-- <div class="col-sm-2"></div> -->
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="promo_code" id="promo_code" ng-model="promo_code" >
                      </div>
                      <div class="col-sm-4" style="text-align: right;" ng-if="current_domain=='cn'">
                        <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm apply_promo" ng-disabled="!promo_code" ng-click="Checkpromo(promo_code)">[['lbl_apply'|translate]]</a>
                      </div>
                      <div class="col-sm-4" ng-if="current_domain=='net'">
                        <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm apply_promo" ng-disabled="!promo_code" ng-click="Checkpromo(promo_code)">[['lbl_apply'|translate]]</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" ng-if="noPromoMatch">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-6">[[message]]</div>
                </div>
                <span></span>
                <h2 class="total-detail" style="border-top: 1px solid #f17598" ng-if="price_type==1">
                  <div> [['lbl_subscription_sub_total'|translate]]: </div> <div> $[[cartSubTotal | number: 2]]</div>
                </h2>
                <h2 class="total-detail" style="border-top: 1px solid #f17598" ng-if="price_type==2">
                  <div> [['lbl_subscription_sub_total'|translate]]: </div> <div> S$[[cartSubTotal | number: 2]]</div>
                </h2>
                <h2 class="total-detail"><div>Promocode: </div> <div> [[promo_code?promo_code:'-']]</div></h2>
                <h2 class="total-detail" ng-if="price_type == 1  && checkPromo"><div>Discount: </div> <div> [[discount?'$':'-']][[discount | number : 2]] </div></h2>
                <h2 class="total-detail" ng-if="price_type == 2  && checkPromo"><div> Discount: </div> <div> [[discount?'S$':'-']][[discount | number : 2]] </div></h2>
                <!-- <h2 ng-if="checkPromo">Discount : $[[discount]]</h2> -->
                <h2 class="total-detail" ng-if="price_type == 1"><div> Tax Rate ([[taxrateData | number: 2]]%): </div> <div> $[[taxRate | number: 2]] </div> </h2>
                <h2 class="total-detail" ng-if="price_type == 2"><div> Tax Rate ([[taxrateData | number: 2]]%): </div> <div> S$[[taxRate | number: 2]] </div> </h2>
                <h2 class="total-detail" style="border-top: 1px solid #f17598" ng-if="price_type==1">
                  <div> [['lbl_subscription_total'|translate]]: </div> <div> $[[cartTotal | number: 2]]</div>
                </h2>
                <h2 class="total-detail" style="border-top: 1px solid #f17598" ng-if="price_type==2">
                  <div> [['lbl_subscription_total'|translate]]: </div> <div> S$[[cartTotal | number: 2]] </div>
                </h2>
            <!-- <form method="post" name="paypal_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="">
                <input type="hidden" name="business" value="bhargav-facilitator@creolestudios.com">
                <input type="hidden" name="cmd" value="_cart">
                <input type="hidden" name="notify_url" value="https://www.sixclouds.net/paypal-payment-details">
                <input type="hidden" name="cancel_return" value="https://www.sixclouds.net/buyer-dashboard">
                <input type="hidden" name="return" value="https://www.sixclouds.net/buyer-dashboard">
                <input type="hidden" name="currency_code" value="SGD">
                <input type="hidden" name="page_style" value="paypal">
                <input type="hidden" name="no_shipping" value="1">
                                            
                <input type="hidden" name="invoice" value="[[invoice]]">
                <input type="hidden" name="first_name" value="John">
                <input type="hidden" name="last_name" value="Doe">
                <input type="hidden" name="email" value="nivedita@creolestudios.com">
                <input type="hidden" name="country" value="India" class="">
                <input type="hidden" name="upload" value="1">
                <input type="hidden" name="item_name_1" value="Escrow payment">
                <input type="hidden" name="item_number_1" value="1">
                <input type="hidden" name="quantity_1" value="1">
                <input type="hidden" name="amount_1" value="[[cartTotal]]">
                <input type="submit" id="create_and_pay" class="btn btn-medium-pink btn-sm" name="" value="[['lbl_process_escrow'|translate]]">
            </form> -->
            <!--paypal-->
                <div ng-if="current_domain=='cn'">
                  <input type="hidden" name="payment_amount" value="[[cartTotal]]">
                  <input type="hidden" name="payment_status" value="2">
                  <input type="hidden" name="paid_for" value="3">
                  <input type="hidden" name="access_platform" value="1">
                  <input type="hidden" name="remarks" value="New subscription">
                  <!-- <input type="hidden" name="paid_by" value="[[projectInfo.project_created_by_id]]"> -->
                  <a href="javascript:;" class="btn btn-medium-pink btn-sm ignite_payment_data" ng-disabled="!cartTotal" ng-click="Ignitepayemnt()">[['lbl_process_escrow'|translate]]</a>
                </div>
                <div ng-if="current_domain=='net'">
                  <!-- <input type="hidden" name="payment_amount" value="[[cartTotal]]">
                  <input type="hidden" name="payment_status" value="2">
                  <input type="hidden" name="paid_for" value="3">
                  <input type="hidden" name="access_platform" value="1">
                  <input type="hidden" name="remarks" value="New subscription"> -->
                  <a  style="margin-top: 20px;" href="javascript:;" class="btn btn-medium-pink btn-sm stripe_payment_btn" ng-disabled="!cartTotal" ng-click="Stripepayemnt()">[['lbl_process_escrow'|translate]]</a>
                </div>
          </div>
        </form>
      </section>
    </div>
    <div id="TransactionsTab" ng-show="TransactionsTab&&current_domain=='net'" class="tabcontent">
      <div class="tabs-div col-2 text-center">
        <!-- <div class="row">
          <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="row"> -->
              <div class="col-sm-4">
                <button class="btn tablinks btn-medium-pink btn-block btn_max_width" ng-click="changesubTab('ActiveSubscriptionTab')" ng-class="ActiveSubscriptionTab?'active':''" id="ActiveSubscriptionTabButton">Active Subscription</button>
              </div>
              <div class="col-sm-4">
                <button class="btn tablinks btn-medium-pink btn-block" ng-click="changesubTab('PastSubscriptionTab')" ng-class="PastSubscriptionTab?'active':''" id="PastSubscriptionTabButton">Past Subscription</button>
              </div>
              <div class="col-sm-4">
                <button class="btn tablinks btn-medium-pink btn-block" ng-click="changesubTab('TransactionsSecondTab')" ng-class="TransactionsSecondTab?'active':''" id="TransactionsSecondTabButton">Transactions</button>
              </div>
            <!-- </div>
          </div>
        </div> -->
      </div>
      <div class="tabcontent">
        <section class="change-password-section form-group transactions-details" ng-show="TransactionsSecondTab">
          <div class="table-div">
            <table cellpadding="0" cellspacing="0" width="100%" class="table">
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>[['lbl_ignite_invoice'|translate]]</th>
                  <th>Subject</th>
                  <th>[['lbl_subscription_plan'|translate]]</th>
                  <th>Period</th>
                  <!-- <th ng-if="current_domain=='cn'">[['lbl_amount'|translate]] (¥)</th> -->
                  <th ng-if="current_domain=='net'">[['lbl_amount'|translate]]</th>
                  <th>[['lbl_date'|translate]]</th>
                  <th>[['lbl_status'|translate]]</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="trancsactions in IgniteTransactionsnData">
                  <td>[[trancsactions.transaction_reference]]</td>
                  <td>[[trancsactions.system_transaction_number]]</td>
                  <td>[[trancsactions.video_categories.subject.subject_name]]</td>
                  <td>[[trancsactions.video_category_name]]</td>
                  <td>[[trancsactions.plan_duration]] months</td>
                  <td ng-if="trancsactions.payment_amount_type==1">$[[trancsactions.payment_amount]]</td>
                  <td ng-if="trancsactions.payment_amount_type==2">S$[[trancsactions.payment_amount]]</td>
                  <td>[[trancsactions.payment_at]]</td>
                  <td><span class="btn [[trancsactions.payment_status==1?'success': 'failed']]">[[trancsactions.paymentstatus]]</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="change-password-section form-group transactions-details" ng-repeat="switch in IgniteSubscriptionData" ng-show="ActiveSubscriptionTab" ng-if="IgniteSubscriptionData.length != 0">
          <div ng-if="switch.plan_status == 1">
            <h3 class="card-title">[[switch.video_categories.subject.subject_name]]</h3>
            <div class="bg-light card-section">
              <div class="panel-group" id="accordionExample_[[switch.id]]">
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Subscription Plan: [[switch.video_category_name]]
                        <!-- Transaction Id : [[switch.system_transaction_number]] -->
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Duration: [[switch.plan_duration]] months 
                        <!-- Sub-Category : [[switch.video_category_name]] -->
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Invoice ID: [[switch.system_transaction_number]]
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Start: [[switch.payment_at]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        End: [[switch.end_date]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Promo Code: [[switch.promo_code]]
                      </div>
                    </div>
                    <div class="row btn-section" ng-if="switch.opt_out_status == 1">
                      <div class="subscription-text"> [[switch.plan_duration]] months subscription plan automatically renews on [[switch.end_date]] ([[switch.payment_amount_type==1?'$':'S$']][[switch.category_price]] / [[switch.plan_duration]] months)</div>
                    </div>
                    <div class="row btn-section" ng-if="switch.opt_out_status == 0">
                      <div class="subscription-text">You have cancelled your subscription and your current plan will be active till [[switch.end_date]]</div>
                    </div>
                    <div class="row btn-section">
                      <div class="col-sm-12" style="padding: 0;">
                        <a href="subscription-plan/[[switch.video_categories.subject_id]]" class="btn btn-medium-pink">Renewal Options</a>
                        <!-- <button class="btn btn-medium-pink" ng-if="switch.opt_out_status == 0" ng-click="CancelSubscription(switch.id,switch.id, 1)">Opt-Out Subscription Enable</button>
                        <button class="btn btn-medium-pink  " ng-if="switch.opt_out_status == 1" ng-click="CancelSubscription(switch.id,switch.id, 0)">Opt-Out Subscription Disable</button> -->
                        <label class="switch">
                          <input type="checkbox" id="toggle_[[switch.id]]" ng-disabled="switch.is_cancelsubscription == 1" ng-checked="switch.opt_out_status == 1" ng-click="CancelSubscription(switch.id,switch.id)">
                          <span class="slider round">
                          </span>
                        </label>
                        <span ng-if="switch.opt_out_status == 1"><b>Opt-In Auto-Renewal</b></b></span>
                        <span ng-if="switch.opt_out_status == 0"><b>Opt-Out Auto-Renewal</b></b></span>
                        <a href="switch-plan/[[switch.video_categories.subject_id]]" ng-if="switch.plan_duration == 12" class="btn btn-medium-pink">Switch Plan</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-body">
                    <div class="panel-heading" data-parent="#accordionExample" data-toggle="collapse" href="#collapse_1_[[switch.id]]" ng-click="getPromocodedetails(switch.payment_amount_type,switch.plan_duration,switch.video_category_id)">
                      <b>Promo Code</b><span class="col-icon fa fa-angle-up"></span>
                    </div>
                    <div class="panel-collapse collapse" id="collapse_1_[[switch.id]]">
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            <input class="form-control promo-text" type="text" id="promocode_[[switch.video_category_id]]" ng-model="promocode" placeholder="">

                            <div class="promo-btn" ng-if="switch.promocode == null ">
                              <button class="btn btn-medium-pink" ng-click="Applypromocode(promocode,switch.id,switch.id,switch.video_category_id)">Apply</button>
                            </div>
                            <div class="promo-btn" ng-if="switch.promocode != null ">
                              <button class="btn btn-medium-pink" ng-click="Removepromocode(switch.promocode.promocode,switch.id,switch.id,switch.video_category_id)">Remove</button>
                            </div>
                            <div class="apply-text">Apply Prome Code to avail discounts on your next billing cycle</div>

                            <div id="applytext_[[switch.video_category_id]]"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel" ng-show="switch.upcoming_plan.length != 0">
                  <div class="panel-body">
                    <div class="panel-heading" data-parent="#accordionExample_[[switch.id]]" data-toggle="collapse" href="#collapse_2_[[switch.id]]">
                      <b>Upcoming Plan</b><span class="col-icon fa fa-angle-down"></span>
                    </div>
                    <div class="panel-collapse collapse" id="collapse_2_[[switch.id]]">
                      <div class="panel-body" ng-repeat="(key, value) in switch.upcoming_plan">
                        <div class="btn-section">
                          <div class="row">
                            <div class="col-sm-6 col-md-4">
                              Subscription Plan: [[value.video_category_name]]
                              <!-- Transaction Id : [[switch.system_transaction_number]] -->
                            </div>
                            <div class="col-sm-6 col-md-4">
                              Duration: [[value.plan_duration]] months 
                              <!-- Sub-Category : [[switch.video_category_name]] -->
                            </div>
                            <div class="col-sm-6 col-md-4">
                              Invoice ID: [[value.system_transaction_number]]
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6 col-md-4"  ng-if="$index === 0">
                              Start: [[switch.end_date]]
                            </div>
                            <div class="col-sm-6 col-md-4"  ng-if="$index != 0">
                              Start: [[switch.upcoming_plan[$index-1].upcoming_end_date]]
                            </div>
                            <div class="col-sm-6 col-md-4">
                              End: [[value.upcoming_end_date]]
                            </div>
                            <div class="col-sm-6 col-md-4">
                              Promo Code: [[value.promo_code]]
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="switch.plan_status == 0">
            <h3 class="card-title">[[switch.video_categories.subject.subject_name]]</h3>
            <div class="bg-light card-section">
              <div class="panel-group" id="accordionExample_[[switch.id]]">
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Subscription Plan: [[switch.video_category_name]]
                        <!-- Transaction Id : [[switch.system_transaction_number]] -->
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Duration: [[switch.plan_duration]] months 
                        <!-- Sub-Category : [[switch.video_category_name]] -->
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Invoice ID: [[switch.system_transaction_number]]
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Start: [[switch.payment_at]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        End: [[switch.end_date]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Promo Code: [[switch.promo_code]]
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="form-group" ng-show="ActiveSubscriptionTab" ng-if="IgniteSubscriptionData.length == 0">
          <center><span>No Data Found!</span></center>
        </section>
        <section class="change-password-section form-group transactions-details" ng-repeat="history in IgniteHistorySubscriptionData" ng-if="IgniteHistorySubscriptionData.length != 0" ng-show="PastSubscriptionTab">
          <div>
            <h3 class="card-title">[[history.video_categories.subject.subject_name]]</h3>
            <div class="bg-light card-section">
              <div class="panel-group" id="accordionExample_[[switch.id]]">
                <div class="panel">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Subscription Plan: [[history.video_category_name]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Duration: [[history.plan_duration]] months 
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Invoice ID: [[history.system_transaction_number]]
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-4">
                        Start: [[history.payment_at]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        End: [[history.end_date]]
                      </div>
                      <div class="col-sm-6 col-md-4">
                        Promo Code: [[history.promo_code]]
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section ng-if="IgniteHistorySubscriptionData.length == 0" ng-show="PastSubscriptionTab">
          <center><span>No Data Found!</span></center>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="signuptermsandconditionsmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">Auto-Renewal</h4>
      </div>
      <div class="modal-body reset_password_modal">
        <div>
          <p>Your card will be charged when your subsciption automatically renews at the end of your subscription period unless you opt out of auto-renewal at least 48 hours prior to the end of the current period.</p>
          <p>To learn more about renewal options, please visit our <a href="faq" target="_blank">FAQs</a>.</p>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

            <div>
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="payment()" id="twinkle-button">I Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="optInmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">Auto-Renewal</h4>
      </div>
      <div class="modal-body reset_password_modal">
        <div>
          <p>You have opted in to automatically renew your subscription plan.</p>
          <p>Your card will be charged when your subscription automatically renews at the end of your subscription period unless you opt out of auto-renewal at least 48 hours prior to the end of the current period.</p>
          <p>Subscriptions automatically renew for the same grade.</p>
          <p>12-month subscription – Use your 2 free switches to change grades.</p>
          <p>3/6-month subscription period – Make grade changes 48 hours before subscription ends in <b>Renewal Options.</b></p>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

            <div>
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="redirectCancelsubscription()" id="twinkle-button">I Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade designer-my-uploads-popup" id="optOutmodal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title uppercase color-purple">Auto-Renewal</h4>
      </div>
      <div class="modal-body reset_password_modal">
        <div>
          <p>You have opted out and chosen not to renew your subscription plan automatically.</p>
          <p>To avoid losing access to your subscription plan, we strongly encourage you to opt in to have your subscription plan renew automatically.</p>
          <p>If you will like to upgrade to a higher level or change your subscription period, you may go to <b>Renewal Options</b> or visit our <a href="faq" target="_blank">FAQs</a> to find out more.</p>
        </div>
        <div class="form-bottom-btn">
          <div class="row">

            <div>
              <button class="btn-sm btn btn-pink submit-btn uppercase" ng-click="redirectCancelsubscription()" id="twinkle-button">I Accept</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
