<div class="container">
	<div class="white-block">
        <div class="tabs-div text-center">
            <h4 class="language_preference" ng-if="!subjects">[[message]]</h4>
            <div class="row margin_top_20" id="subjects_div">
            	<div class="col-sm-[[subjectsCount]]" ng-repeat="subject in subjects">
                    <center>
                        <div class="" id="subjectTab_[[subject.id]]" ng-click="selectLanguageForSubject(subject.id)">
                            <!--  ng-click="ChangeSubject(subject.encoded_string,'subjectTab','subject',subject.id)" -->
                            <div class="white_background_handicon imageSubjects" style="background-image:url('public/uploads/subject_images/[[subject.subject_image]]'); height: 250px; width: 250px;" id="image_[[subject.id]]"></div>
                        </div>
                    </center>
                	<!-- <button class="btn tablinks btn-medium-pink subjectTab" ng-click="ChangeSubject(subject.encoded_string,'subjectTab','subject',subject.id)" id="subjectTab_[[subject.id]]">[[subject.subject_name]]</button> -->
                </div>
            </div>
        </div>
        <!-- <div class="tabs-div text-center" ng-if="selectLanguage && !loginDistributorData.video_language_preference"> -->
        <div class="tabs-div text-center" ng-if="selectLanguage && !loginDistributorData.video_language_preference">
            <h4 class="language_preference">Select Subtitle Language</h4>
            <div class="row margin_top_20">
                <div class="col-sm-6 text-center">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8" ng-if="(oneLanguage == 1)">
                            <select class="form-control" ng-model="language">
                                <option ng-value="language">[[language]]</option>
                            </select>
                        </div>
                        <div class="col-sm-8" ng-if="(oneLanguage > 1)">
                            <select class="form-control" ng-model="language" ng-change="setLanguage(language)">
                                <option value="">Select Language</option>
                                <option ng-repeat="lang in languageForZone" ng-value="lang.language">[[english?lang.language:lang.language_translation]]</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <i class="fa fa-info custom_info_language" data-toggle="tooltip" id="language_tooltip" data-placement="bottom" title="[['lbl_select_language_preference'|translate]]"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="btn tablinks btn-medium-pink" ng-click="Seevideos(language)" id="see_videos">Proceed</button>
                </div>
            </div>
        </div>

        <div class="tabs-div text-center" ng-if="selectLanguage && loginDistributorData.video_language_preference">
            <div class="row margin_top_20">
                <div class="col-sm-4 text-center">
                </div>
                <div class="col-sm-4">
                    <button class="btn tablinks btn-medium-pink" ng-click="Seevideos(loginDistributorData.video_language_preference)" id="see_videos">Proceed</button>
                </div>
                <div class="col-sm-4 text-center">
                </div>
            </div>
        </div>

    </div>
</div>
