
<div class="container">
  <div class="white-block">
    <h2 class="page-title text-center">[[ 'lbl_card_details'|translate ]]</h2>
    <div id="ChangePasswordTab" class="tabcontent">
      <section class="change-password-section">
        <form id="paymentForm" novalidate="">
          <div class="form-div">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="old_password">[[ 'lbl_card_number'|translate ]]</label>
                <input type="text" card-format class="form-control" id="card_number" maxlength="19" ng-model="payment.card_number" name="card_number" placeholder="[[ 'lbl_card_number'|translate ]]" >
              </div>
            </div>
            <div class="form-group">
              <label class="fl_label" for="contact">[[ 'lbl_validity'|translate ]]</label>
              <div class="row">
                <div class="col-sm-6">
                    <select ng-model="payment.exp_month" id="exp_month" name="exp_month" class="form-control">
                      <option ng-value="0">[[ 'lbl_select'|translate ]]</option>
                      <option ng-repeat="month in months" ng-value="month">[[month]]</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <select ng-model="payment.exp_year" id="exp_year" name="exp_year" class="form-control">
                      <option ng-value="0">[[ 'lbl_select'|translate ]]</option>
                      <option ng-repeat="year in years" ng-value="year">[[year]]</option>
                    </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="new_password">[[ 'lbl_cvv'|translate ]]</label>
                <input type="text" class="form-control" id="cvv" ng-model="payment.cvv" numbers-only maxlength="3" name="cvv" placeholder="[[ 'lbl_cvv'|translate ]]"/>
              </div>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-medium-pink btn-sm ignite_payment_data" ng-click="Makepayment(payment)">[['lbl_process_escrow'|translate]]</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>