
<div class="container">
  <div class="white-block">
    <h2 class="page-title text-center">[['lbl_my_subscription'|translate]]</h2>
    <div class="row">
      <div class="col-xs-6 mb-2">
        <h4 style="padding-left: 80px; margin-bottom: 20px;">
          From
        </h4>
      </div>
      <div class="col-xs-6 mb-2">
        <h4 style="padding-left: 80px; margin-bottom: 20px;">
          To
        </h4>
      </div>
    </div>
    <div class="row">
      <div ng-if="purchaseCategory">
        <div class="col-xs-6 radio-btn-text" style="padding-left: 100px;">
          <input type="radio" name="fromCategory" ng-model="fromCategory" value="[[purchaseCategory[0].video_category_id]]" ng-checked="purchaseCategory" ng-disabled="purchaseCategory"> [[purchaseCategory[0].video_category_name]]
          <label></label>
        </div>
        <div class="col-xs-6" style="padding-left: 100px;">
          <div class="col-4">
            <div ng-repeat="(key, value) in category_list" class="radio-btn-text">
              <input type="radio" name="to_category" id="to_category" ng-model="$parent.toCategory" value="[[value.id]]" ng-click="getData(value.id)"> [[value.category_name]]
              <label></label>
              <!-- <input type="radio" name="to_category" value="600"> BUZZ 3 -->
            </div>
          </div>
        </div>
      </div>
      <div ng-if="!purchaseCategory">
        <div class="row">
          <center>No Data Found</center>
        </div>
      </div>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <h4 style="margin-bottom: 10px;">Terms and Conditions</h4>
      <ul style="margin: 0;">
        <!-- <li>Lorem ipsum dolor sit omet. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li>
        <li>Ut enim ad minim veniam. quis nostrud exercitation ullomco laboris nisi ut aliquip ex ea commodo consequat.</li>
        <li>Duis aute irure dolor in reprehenderit in voluptote velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident. sunt in culpa qui officia deserunt mollit anim id est lborum.</li> -->
        <li>Switching is available only for 12-month subscription programmes.</li>
        <li>You can exercise a switch for each subscription programme on 2 separate occasions over a 12-month subscription period. Once you have utilised the 2 switches, you will no longer be able to exercise a switch within the same 12-month subscription period.</li>
        <li>Switches can only be done between different levels within the same programme. For example, you can switch from SMILE (SG) Primary 1 to SMILE (SG) Primary 2. Conversely, you will not be able to switch from SMILE (SG) Primary 1 to SMILE (INT'L) Grade 1.</li>
        <li>The number of switches you can exercise will be reset upon the renewal of your 12-month subscription.</li>
      </ul>
    </div>
    <hr style="border-bottom: 1px solid #f17598"></hr>
    <div class="row">
      <div class="checkbox-btn">
        <input type="checkbox" name="valid" id="valid" value="1"> I accept
        <label></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" style="margin-top: 25px;">
        <center>
          <a href="javascript:;" class="btn btn_custom btn-medium-pink btn-sm" ng-click="MakeSwitch(toCategory)">Make Switch</a>
          <div ng-if="switchCount || switchCount == 0" style="margin-top: 15px;">
            <span><b>You have <u>[[switchCount]] [[switchCount==2?'switches':'switch']]</u> left.</b></span>
          </div>
        </center>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="bg-light card-section" style="margin-top: 15px;">
      <div class="panel-group">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <h4>SWITCH HISTORY</h4>
            </div>
            <div class="row" ng-if="SwitchhistoryDetails" ng-repeat="switchHistory in SwitchhistoryDetails" style="margin-top: 15px;"> 
              <div class="col-sm-6 col-md-4">
                <b>Date:</b> [[switchHistory.created_at]]
              </div>
              <div class="col-sm-6 col-md-4">
                <b>From:</b> [[switchHistory.from]]
              </div>
              <div class="col-sm-6 col-md-4">
                <b>To:</b> [[switchHistory.to]] 
              </div>
            </div>
            <div class="row" ng-if="!SwitchhistoryDetails">
              <center>
                <span>No Data Found</span>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>