<div class="body-div login-page display-table"> 
  <div class="display-cell">
      <div class="login-form">
        <!-- <div class="logo" ><img src="resources/assets/images/logo.svg"></div> -->
            <h3>Phone Verification</h3>
            <div ng-if="show_error">
              <h5>[[login_error]]</h5>
            </div>
            <!-- <p class="weChat"><a href="#" class="btn">Log In Using Your WeChat Account <img src="resources/assets/images/wechat-icon.png"></a></p>
            <h3 class="or">OR</h3> -->
            <form class="FlowupLabels" id="igniteLoginForm" name="igniteLoginForm" novalidate="" ng-submit="igniteLoginForm.Dosignin()">
              <div class="form-group">
                <!-- <div class="fl_wrap [[!email_address?email_address_error?'has-error':'':'has-success']]"> -->
                <div class="fl_wrap">
                  <input ng-model="email_address" type="email" id="rf_email"  required class="form-control" placeholder="Phone Number" autocomplete="off">
                  <!-- <i ng-if="email_address" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="email_address_error && !email_address" class="fa fa-exclamation-circle out-icon"></i> -->
                </div>
              </div>
               <div class="form-group">
                <!-- <div class="fl_wrap [[!otp?password_error?'has-error':'':'has-success']]"> -->
                <div class="fl_wrap">
                  <input ng-model="otp" type="text" id="otp" required class="form-control" placeholder="otp" autocomplete="off">
                  <!-- <i ng-if="otp" class="fa fa-check-circle out-icon"></i>
                  <i ng-if="password_error && !otp" class="fa fa-exclamation-circle out-icon"></i> -->
                </div>
              </div>
               <div class="form-group">
                <button ng-click="Dodistributorsignin()" class="btn btn-pink btn-block">[['lbl_submit'|translate]]</button>
              </div>
            </form>
      </div>
    </div>
</div>