@font-face {
    font-family: 'Gotham Rounded Light';
      src: url('../fonts/GothamRoundedLight.eot');
    src: url('../fonts/GothamRoundedLight.eot') format('embedded-opentype'),
         url('../fonts/GothamRoundedLight.woff2') format('woff2'),
         url('../fonts/GothamRoundedLight.woff') format('woff'),
         url('../fonts/GothamRoundedLight.ttf') format('truetype'),
         url('../fonts/GothamRoundedLight.svg#GothamRoundedLight') format('svg');
		 font-style: normal;
		font-weight:300;
}


@font-face {
    font-family: 'Gotham Rounded Bold';
    src: url('../fonts/GothamRoundedBold.eot');
    src: url('../fonts/GothamRoundedBold.eot') format('embedded-opentype'),
         url('../fonts/GothamRoundedBold.woff2') format('woff2'),
         url('../fonts/GothamRoundedBold.woff') format('woff'),
         url('../fonts/GothamRoundedBold.ttf') format('truetype'),
         url('../fonts/GothamRoundedBold.svg#GothamRoundedBold') format('svg');
		font-style: normal; 
	font-weight:700;
}


@font-face {
    font-family: 'Gotham Rounded Book';
     src: url('../fonts/GothamRoundedBook.eot');
     src: url('../fonts/GothamRoundedBook.eot') format('embedded-opentype'),
         url('../fonts/GothamRoundedBook.woff2') format('woff2'),
         url('../fonts/GothamRoundedBook.woff') format('woff'),
         url('../fonts/GothamRoundedBook.ttf') format('truetype'),
         url('../fonts/GothamRoundedBook.svg#GothamRoundedBook') format('svg');
		font-style: normal; 
		font-weight:600;
}



@font-face {
    font-family: 'Gotham Rounded Medium';
 	src: url('../fonts/GothamRoundedMedium.eot');
    src: url('../fonts/GothamRoundedMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamRoundedMedium.woff2') format('woff2'),
         url('../fonts/GothamRoundedMedium.woff') format('woff'),
         url('../fonts/GothamRoundedMedium.ttf') format('truetype'),
         url('../fonts/GothamRoundedMedium.svg#GothamRoundedMedium') format('svg');
		font-style: normal; 
		font-weight:500;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Modern Browsers */
  src: url('../fonts/GothamPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  /*src: url('GothamPro-Bold.svg#svgFontName') format('svg');*/ /* Legacy iOS */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
}
.ignit
