@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Modern Browsers */
  src: url('../fonts/GothamPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  /*src: url('GothamPro-Bold.svg#svgFontName') format('svg');*/ /* Legacy iOS */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
}
.error_asterix {
    color: red;
}
.designer-my-uploads-popup .cover-file-container{
    border: 1px solid #7c81af !important;
    border-radius: 4px;
}
.upload-files-list1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.upload-files-list1 li {
    padding: 15px;
    border: 1px solid #bbd6fb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #7c81af;
    position: relative;
    padding-right: 35px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.ru_text ul li a{
  font-family: 'GothamPro-Bold'!important;
}
.upload-files-list1 li .l-icon {
    border-right: 1px solid #bbd6fb;
    font-size: 15px;
    padding-right: 15px;
    margin-right: 10px;
}
.upload-files-list li {
    padding: 10px;
    padding-right: 30px;
    word-wrap: break-word;
}

.upload-files-list li a, .portfolio_li li a, .upload-files-list1 li a, .cancel-css {
    position: absolute;
    top: 10px;
    right: 10px;
}
.font-class{
    position: static;
    font-size: 33px;
    line-height: 30px;
    color: #bbd6fb;
}

.upload-files-list1 li .close-btn {
    /*color: #f96542;*/
    color: #428bca;
    /*font-size: 20px;*/
    font-size: inherit;
    right: 11px;
    position: absolute;
    display: inline-block;
    top: 16px;
    line-height: 20px;
}

.cover_attach_disabled {
    cursor: not-allowed !important;
}

.myportfolio:hover {
    text-decoration: none;
}

.timeline-spacing {
    padding-left: 10px;
}

.hand-cursor:hover {
    cursor: pointer;
}
.header-design2.affix .login-btn{
    background-color: #009bdd !important;
    color: #fff;
}

/*Loader
Author: Komal Kapadi;
*/

.custom-img-angular-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;
}


/*End Loader*/

.header-text {
    font-size: 20px !important;
}

.icp-number {
    text-align: center;
    margin-top: 50px;
}
 
.content {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    line-height: 18px;
}

.less {
    max-height: 54px;
}

.margin-for-date-section {
    margin-left: 46px;
    margin-top: 30px;
}

.attention-required-span {
    padding-left: 20px;
    size: 10px;
}

.attention-required:hover {
    background: #6e55c1;
}

.attention-required {
    font-size: 13px !important;
    border-radius: 0px;
    cursor: auto;
    background: #6e55c1 !important;
    padding: 5px;
}

.star-yellow {
    color: #fde16d !important;
}

.counter-timer {
    width: 115px;
    display: inline-block;
}

.suggestion-tr {
    max-width: inherit !important;
}

.suggestion-tr .r-btn {
    padding-left: 45px;
    width: 150px;
}

.all-display-inline{
    display: inline-block !important;
}

.suggestion-tr .fl_wrap {
    height: auto;
}

.FlowupLabels .fl_label {
    top: 10px;
}

.FlowupLabels .fl_input {
    padding-top: 26px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 15px;
}

.trash_color {
    color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #ef6442 !important;
    color: #fff !important;
    width: 50px;
    padding: 10px;
}

.trash_color:hover {
    color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #e6340b !important;
    color: #fff !important;
    width: 50px;
    padding: 10px;
}

.services-page hr {
    margin: 30px 0 !important;
}

.footer-logo img {
    max-width: 170px;
    height: auto;
}


/*start css by vaidehee*/

.search-seller {
    max-width: 350px;
    margin: 5px auto;
    border: 1px solid #d1d1d1;
}

.suggested_designer_list {
    padding: 5px 10px;
}

.suggested_designer_list:hover {
    background-color: #f9f9f9;
}

.suggested_designer_list:last-child {
    border-bottom: 0px;
}

.suggested_designer_list .sm-pic {
    width: 40px;
    display: inline-block;
}

.suggested_designer_list .details {
    width: calc(100% - 50px);
    float: right;
    display: inline-block;
    text-align: left;
    padding: 3px 0px
}

.suggested_designer_list .details span {
    padding: 8px 0px;
    display: inline-block;
}

.suggested_designer_list .details .select-btn {
    display: inline-block;
    float: right;
}

.suggested_designer_list .details .select-btn .btn {
    height: 33px;
    line-height: 12px;
    font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.pro {
    width: 80%;
}

.invition-info li:first-child {
    width: 35%;
}

.note span {
    position: absolute;
    background-color: #dae1f9;
    padding: 0px 5px;
    color: #464646;
    text-align: right;
    font-size: 13px;
    margin: 0px 10px;
}

.note-message-board {
    top: 0;
    right: 0;
    background-color: #f5f5f5;
    padding: 0px 5px;
    color: #020202;
    text-align: center;
    font-size: 13px;
}

.invitation-detail {
    margin-top: 10px;
    border-top: 1px solid #dcddea;
    padding-top: 10px;
}

.invitation-detail:first-child {
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.ratings p:last-child {
    width: 100%;
}

.ratings p {
    padding: 0px;
}

.tags-div .btn {
    margin-bottom: 10px;
}

.form-set-unavailability .form-control, .form-sent-invitation-to-sellers .form-control {
    border: 1px solid #dcdde9;
}

.form-set-unavailability .error-border, .form-sent-invitation-to-sellers .error-border {
    border: 1px solid red;
}

.profile-img {
    background: #e8e3ff;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;;
}
.detail-div p{
    margin-bottom: 0px;
}

.color-black {
    color: black !important;
}

.title h4 {
    transition: all 0.2s linear;
}

.title:hover {
    text-decoration: none;
}

.title:hover h4 {
    color: #8a75d0;
}

.panel-block .content-div .right-div .btn-link {
    margin-bottom: 5px;
    display: inline-block;
}

.panel-block .content-div .alert-div {
    text-align: center;
}

.date-details {
    display: inline-block;
    width: 130px;
}

.chat-list li {
    text-align: center;
}

.note-message-board {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px #e2e2e2;
}

.msg-reason {
    display: none;
}
.my-account-profile-img .uploaded-img{
    position: static;
}
.header-profile-image p{
    margin-bottom: 0;
}
.about-us-btn >li >a{
    line-height: 30px;
    background: #fff !important;
}
.

/*end css by vaidehee*/


/*
Chinese font for chinese language
Author : Komal Kapadi
*/

/*@font-face {
    font-family: 'Chinese fonts';
    src: url('../../../css/Chinese Fonts/Fei Xiang Jia Li Cu Yuan Ti.ttf');
    src: url('../../../css/Chinese Fonts/Qing Niao Hua Guang Jian Pu Po.ttf');
    src: url('../../../css/Chinese Fonts/Rui Zi Yun Zi Ku Zhun Yuan Ti.TTF');
}

.chi-font * {
    font-family: 'Chinese fonts' !important;
    Remove comment in case you want this fonts on chinese lang selection
}*/

.select-design-block .browse-designers-button-next, .select-design-block .browse-designers-button-prev {
    background: #ffffff !important;
    color: #5e5e5e !important;
    opacity: 0 !important;
    transition: opacity 200ms;
    padding: 0 7px !important;
    border: 1px solid #dddedf !important;
}

.designer-box:hover .browse-designers-button-next, .designer-box:hover .browse-designers-button-prev {
    opacity: 1 !important;
}
.designer-box:hover .button_next, .designer-box:hover .button_prev{
    opacity: 1 !important;
}

.dashboard_a{
    text-decoration: none !important;
}

.navbar.navbar-custom .nav.navbar-nav.navbar-right li a
{
    min-width: auto;
    padding: 6px 12px;
}
.header-design3 .navbar-custom .navbar-brand
{
    margin-right: 30px;
}
.header-design3 .navbar-custom .navbar-nav > li > a
{
    padding-right: 14px;
}
#phonecode
{
    padding: 0px;
    display: flex;
    font-size: 13px;
    width: 45px;
}
#phonecode span
{
    margin: auto;
}
#phonecode .fl_label{
    left: 3px;
    top:18px;
}
#phonecode .buyer-phonecode{
       top:7px;
}
.seller-phonecode{
    text-align: center;
    padding: 0 5px !important;
    line-height: 57px;
}
.profile-selected-languages{
    margin-top: 10px;
    margin-bottom: 0px;
}
.profile-selected-languages span{
    background: #63c35e;
}
.countrycode
{
    padding-right: 0px;
}
.inline-block
{
    display:inline-block;
}
.cursor-pointer{
    cursor: default !important;
}
.services-page .flowup-labels-form .days{
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #555;
    z-index: 11;
}
.services-page .flowup-labels-form .yen {
    position: absolute;
    left: 18px;
    bottom: 10px;
    color: #555;
    font-size: 17px;
    z-index: 11;
}
.js .input-file-student {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.js .input-file-trigger-student {
    display: block;
    padding: 10px 0;
    margin: 0;
    z-index: 55;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
.js .file-return-student {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
    margin:0px;
}
.font{
    font-size: 13px;
    text-decoration: none;
}
.font:hover{
    text-decoration: none;   
}
.flex-box
{
    display: flex;
}
.flex-box .block-one-div
{
    height: 100%;
}
.flex-box .block-one-div .bottom-btn
{
    position: absolute;
    bottom: 50px;
}
.flex-box .block-one-div
{
    position: relative;
    padding-bottom: 100px;
}
.seller-btn{
    right: 50px;
}
.read-more-margin{
    margin-top: 25px;
}
.give-margin-button{
    margin-top: -28px !important;
}
.forgot-password-circle{
    right: -12px !important;
}
.forgot-password-input{
    width: 96% !important;
}
/*#cke_10, #cke_15, #cke_18 , .cke_toolbar_end{
    display:none;
}*/
.set-margin-editor{
    margin-bottom: 157px!important;
}
.about-us-section ul li{
    border-bottom: 0;
    padding: 0;
}
.btn-margin{
    margin-top: 25px;
}
.designer-my-uploads-popup .form-group.category{
    margin-top: 80px;
}
.background-span{
    background: #63c35e !important;
    color: #fff !important;
}
.remove-margin{
    margin:0 !important;
    margin-top: 10px !important;
}   
.project-info-list
{
    max-width: 100%;
}
.project-info-list li
{
    padding: 0px 15px;
}

/* added by senil : start */
/*#CreateProjectForm .custom-checkbox [type="checkbox"]:checked + label,input[type="checkbox"]:disabled~label
{
    color: #6d6d6d;
    cursor: not-allowed;
}
.new-project2-section .custom-checkbox [type="checkbox"]:checked + label
{
    background: #beefbb;
}
.custom-checkbox [type="checkbox"]:disabled + label
{
    cursor: not-allowed;
}*/

.button_color_change {
    background: #66c361 !important;
}
.button_color_change:hover {
    background: #66c361 !important;
}
/* added by senil : end */


.header-customer-support{
    background : none !important;
    border-bottom : none !important;
}

/*.designer-inpiration-bank-section .swiper-slide{
    height: 199px;
    text-align: center;
    display: flex;
}
.designer-inpiration-bank-section .swiper-slide img{
    margin: auto;
}*/
.uploads_padding{
    margin-top: 5px !important;
}
.browse-seller-images .service_images, .portfolio_cover_image, .distributor_profile_image{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
h4.tab-subheading, .tab-subheading{
    margin-left: 30px !important;
}
.subheading-content{
    margin-left: 60px !important;
}
.privacy-policy-inner-content{
    margin-left: 100px !important;
    list-style-type: none; 
}
.info-icon{
    position: absolute !important;
    right: -28px !important;
    top: 50% !important;
    margin-top: -10px !important;
    font-size: 25px !important;
    color: #7c81af !important;
    z-index: 22 !important;
    color: #6e55c1 !important;
}
.service_margin_class{
    margin-right: 20px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.pointer-not-allowed {
    cursor: not-allowed;
}
.read-unread{
    float: right;
}
.masonry-box-design .icon-a.active .fa:before {
    content: "\f004";
}
/*Added by ketan solanki*/
.after-login-new-head-new {
	/* background: #eef1fc; */
	padding: 20px 0;
	/* box-shadow: 0 10px 20px rgba(137, 114, 240, 0.1); */
	/* background-repeat: repeat-x; */
	/* margin-bottom: 40px; */
}
.after-login-new-head-new ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.after-login-new-head-new ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
}
.after-login-new-head-new ul.menu-sm li a {
	font-size: 14px;
	background: #e8e3ff;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.after-login-new-head-new ul.menu-sm li.active a, .after-login-new-head ul.menu-sm li:hover a {
	background: #8972f0;
	color: #fff;
}
.after-login-new-head-new .header-search-div .form-control {
	height: 40px;
	border-color: #d1d1d1;
}
.after-login-new-head-new .header-search-div .btn {
	border: none;
	background: #8972f0;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	padding: 0 10px;
	font-size: 16px;
	right: 3px;
	top: -2px;
}
.after-login-new-head-new .header-search-div .btn .fa {
	top: 0;
}
.after-login-new-head-new .new-project-btn {
	width: 100%;
	height: 36px;
	margin-top: 2px;
	line-height: 24px;
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
}
.after-login-new-head-new .outstanding-balance {
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.after-login-new-head-new .outstanding-balance strong {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
}
.express-interest-content{
    text-align: center;
    margin-bottom: 20px;
}
/*Added by ketan solanki*/
.new-class-icon{
    display: inline-block;
    position: relative;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -10px;
    font-size: 18px;
    color: #ed7154;
    font-size: 25px;    
    right: -14px;
    margin-top: -19px;
    color: #ed7154;
}
.errorDisplayClass{
    display:block; 
    color: #ed7154;
    border:none !important;
    box-shadow: none !important;
    font-size: 30px !important;                
    right: 0px !important;
    margin-top: 0px !important;
}
.seller_imag_landing_page{
    border-radius: 50%;
}
.service-project-extras{
    margin-left: 15px;
}
.service_images{
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    height: 150px;
    width: auto;
}
.price-margin-domain{
    margin-left: 10px;
}
.rate-review-margin{
    margin-left: 10px;
}
.landingpage-select-design-block{
    margin-bottom: 0px !important;
}
.landingpage-select-design-block .inner-div{
    box-shadow: none;
}
.landingpage-select-design-block .swiper-slide {
    height: 199px;
    text-align: center;
    display: flex;
}
.landingpage-select-design-block .swiper-slide img {
    margin: auto; 
}

/*Added by ketan solanki*/
.has-error .input-file-container{
    border: 1px solid #ed7154;
}
.Bmargin{
    margin-bottom: 50px;
}
.yen-custom{
    left: 10px !important;
}
.red{
    color: red;
}
/*added by ketan solanki*/
.new-class-inspiration-image{    
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;    
}
.new-class-inspiration-image-edit{
 background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;    
    margin-top: 20px;   
}
.new-border-class{
    /*border: 3px dashed #bbd6fb;*/
    border: 3px dashed #f74c25;
}
.new-active{
 border: 3px dashed #f74c25 !important;   
}
.masonry-box-design:hover .icon-a i
{
    color: red;
}
.uploading-album-image .edit-delete-div
{
    position: absolute;
    left: 6px;
    top: 10px;
}
.uploading-album-image .edit-delete-div{
    opacity: 1;
}
.video-class-edit-portfolio{
        position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex !important;
}
.grid
    {
        width: 100%;
       
        
    }
    .grid:after {
      content: '';
      display: block;
      clear: both;
    }
     .grid-sizer
        {
            width: 25%;
        }
        .grid-item
        {
            display: inline-block;
            vertical-align: top;
            width: 25%;
            float: left;
            padding: 0px 10px 20px 10px;
            position: relative;
        }
.highcharts-contextbutton, .highcharts-credits{
    display: none !important;
}
.invition-info li:first-child{
    width: 20% !important;
}
.invition-info li.cat{
    width: 20%;
}
.font_color h3{
    color: #1d9eda !important;
}
.button_blue_custom {
    background-color: #6ac2e3 !important;
    text-align: center;
    color: white;
}
.button_blue_custom:hover{
    background-color: #1d9eda !important;
    text-align: center;
    color: white;
}
.fl_input_custom{
    border-color: #6ac2e3 !important;
}
.about_language_custom {
    margin-top: -7px !important;
}
.hyper-color{
    color: #f17598 !important;
}
.text_decoration_underline {
    text-decoration: underline !important;
}
.lbl_color_red{
    color: red;
}
.ru_text li a{
  font-family: 'Gotham Pro Bold'!important;
}
.faq-section .faq-heading{
    font-size: 24px;
    padding-top: 10px;
}
.the-company-section{
    font-size: 18px!important;
}
@media only screen and (max-width: 1199px) {
    .faq-section .faq-heading{
        font-size: 23px;
    }
    .faq-section .faq-heading ol li,.faq-heading p{
        font-size: 18px;
    }
}