@media only screen and (max-width: 1400px) {
  .header-design3 .navbar-custom .navbar-nav > li {
      padding: 0 5px;
  }
}
 @media only screen and (max-width: 1200px) {
.after-login-new-head ul.menu-sm li a {
	padding: 8px 18px;
}
.after-login-new-head ul.menu-sm li {
	margin: 2px 6px;
}
.filter-bottom-div .right-button {
	padding-top: 15px;
	clear: both;
}
.invition-info li.cat {
	max-width: 260px;
}
.project-info-list {
	max-width: 100%;
}
.my-portfolio li {
	width: 25%;
}
.col-5-list li {
	width: 25%;
}

}
@media only screen and (max-width: 1199px) {
  .complated-portfolio-popup .modal-dialog {
    width: auto;
}
.complated-portfolio-popup .right-selectDropdown{
	margin-left: 0;
}
.buyer-gallery-product-info-section .gallery-thumbs {
	margin-bottom: 20px;
}
.lg-clearfix{clear: both;}
.filter-bottom-div.fs-design table{
  margin-bottom: 10px;
}
.filter-bottom-div .right-button.mtop {
    margin-top: 0;
}
}
 @media only screen and (max-width:1050px) {
.my-portfolio li {
	width: 33.3%;
}
}
 @media only screen and (max-width:991px) {
 	.header-slider .slide-content{
    	height: 500px;
   	}
   .header-design3 .navbar-custom .navbar-nav > li {
    padding: 0 16px;
}
.navbar-custom .navbar-nav > li{
  padding: 0 16px;
}
   .navbar-custom .navbar-nav > li > a{
     padding: 10px 0;
         font-size: 15px;
   }
.md-clearfix {
	clear: both;
}
.edit-album-portfolio-section .left-content-box{
  padding-right: 0
}
.designer-portfolio-item-details-section .right-content-box {
	padding-top: 15px;
	min-height: inherit;
}
.project-info-list li {
	padding: 0 10px;
}
.header-slider .right-img-div {
	bottom: -90px;
	width: 460px;
}
.header-slider .swiper-container {
	min-height: 600px;
}
.header-slider {
	margin-bottom: 0;
}
.university-list li a {
	width: 70%;
}
.our-client-div h3 {
	font-size: 14px;
}
.footer-bg-repeat {
	height: 80px;
	background-size: auto 100%;
}
.after-login-new-head ul.menu-sm {
	margin-bottom: 15px;
}
.col-5-list li {
	width: 33.3%;
}
.leftP-content-aera {
	margin-right: 0;
}
.rightP-content-aera {
	margin: 0;
	margin-top: 15px;
}
.new-project-invitations-section .display-table-cell {
	display: block;
}
.designer-dashboard .new-project-invitations-section .panel-block .content-div .right-div {
	margin-top: 25px;
	text-align: right;
	display: block;
}
.designer-upload-info table {
	margin-left: 0;
}
.designer-upload-info .b-right {
	margin-bottom: 20px;
}
.designer-upload-info table td {
	min-width: 150px;
}
.my-portfolio li {
	width: 50%;
}
}
 @media only screen and (max-width: 767px) {
   .header-design2 .navbar-custom .navbar-toggle .icon-bar{
     background: #8a75d0;
   }
   .my-account-section aside {
    margin-left:0;
}
   .my-account-section .FlowupLabels .form-group {
    margin-right: 30px;
}
.my-account-section  .col-lg-2.pull-right,
.my-account-section .col-lg-10.pull-left{
  float: none !important;
}
.navbar-custom  .navbar-toggle{
  outline: none;
  margin-right: 0;
    padding-right: 0;
}
.navbar-custom .navbar-toggle .icon-bar{
  background: #fff;
}
.navbar-custom  .navbar-collapse{
  border: none;
  box-shadow: none;
}
.navbar-custom .navbar-nav > li > a {
    padding: 10px 0;
    font-size: 15px;
}
.navbar-custom .navbar-collapse{
  padding-left: 0;
  padding-right: 0
}

   .work-history-review-div .client-info-right-div{
     border: none;
     border-top: 2px solid #e3eefd;
     margin-top: 15px;
     padding-top: 20px;
   }
.new-project2-section .FlowupLabels .fl_wrap .fa.out-icon {
	right: -26px;
}
.DIB-head-form .sub-div {
	margin: 15px 0;
}
.designer-my-uploads-list .panel-heading .btn-mr {
	margin-right: 0
}
.designer-my-uploads-list .panel-heading .btn {
	width: 100%;
	margin-bottom: 10px;
}
.header-mid-btn {
	position: absolute;
	right: 15px;
	top: -60px;
}
.header-mid-btn .btn {
	margin-left: 15px;
	min-width: 100px;
}
.invition-info li {
	display: inline-block;
	margin-bottom: 15px;
}
.filter-bottom-div table {
	margin-bottom: 8px;
}
.after-login-new-head .outstanding-balance {
	margin: 15px 0;
}
.designer-dashboard .new-project-invitations-section .panel-block .content-div .right-div {
	text-align: left;
	margin-top: 0
}
.invition-info li.cat, .invition-info li:first-child {
	width: 100%;
	max-width: 100%;
	padding-left: 0;
	border: none;
}
.invition-info li.day {
	padding-left: 0
}
.designer-suggestions-section .bottom-panel .display-table-cell {
	padding-top: 40px;
	padding-bottom: 40px;
}
.col-5-list li {
	width: 50%;
}
.panel-block .content-div .border-left {
	border-top: 1px solid #e3eefd !important;
	border-left: none !important;
}
.panel-block .content-div .right-div {
	margin: 15px 0;
	display: block;
	text-align: left;
}
.header-profile-dropdown td {
	font-size: 10px;
}
.header-profile-dropdown td strong {
	font-size: 12px;
}
.sign-up-section .sign-up-logo {
	margin: 20px 0;
}
.sign-up-section .head-sub-text h3 {
	margin-bottom: 15px;
}
.sign-up-section .head-sub-text {
	margin-bottom: 25px;
}
.sign-up-form .form-bottom-btn {
	margin: 30px 0;
}
.sign-up-section .right-g-trangle img, .sign-up-section .right-g-sm-circle img, .sign-up-section .left-g-circle img {
	opacity: 0.6;
}
.header-slider .slide-content {
	height: 400px;
}
.header-slider .right-img-div {
	bottom: -90px;
	width: 300px;
}
.header-slider .swiper-container {
	min-height: 500px;
}
.block-one-div {
	padding: 25px;
}
.header-slider .slide-content {
	height: auto
}
.university-list {
	margin-bottom: 45px;
}
.p-matching-section .right-content-div {
	margin-top: 70px;
}
.p-matching-section {
	padding: 50px 0;
}
.main-footer .h-div {
	height: auto;
}
.main-footer {
	padding: 20px 0;
}
.main-footer table {
	margin-bottom: 30px;
	margin-top: 20px;
}
.desktop-hide {
	display: block !important;
}
.after-login-new-head ul.menu-sm li {
	display: inline-block;
	margin: 2px 6px;
}
.panel-block .panel-heading, .panel-block .content-div {
	padding: 15px;
}
.header-profile-dropdown td {
	font-size: 12px;
}
.header-profile-dropdown td strong {
	font-size: 14px;
}
.header-mid-text {
	position: absolute;
	top: -61px;
	right: 15px;
	font-size: 14px;
}
.header-profile-dropdown .dropdown-menu {
	margin-top: 20px;
	width: 100%;
}
.header-profile-dropdown {
	width: 100%;
	max-width: 100%;
}
.sign-up-form .form-bottom-btn .col-sm-6 {
	width: 50%;
}
.languages-known .dropdown-div {
	padding-right: 0;
}
.languages-known .dropdown-div .btn {
	position: static;
	width: 100%;
}
.languages-known .dropdown-div .form-control {
	margin-bottom: 10px;
}
.select-language {
	margin-top: -10px;
	margin-bottom: 0;
}
.btn {
	height: 40px;
	line-height: 24px;
}
.logo {
	margin: 0;
	margin-bottom: 20px;
	width: 150px;
}
.right-login {
	position: absolute;
	right: 15px;
	top: -120px;
	width: 100px;
}
header {
	padding: 20px 0;
}
.header-slider .right-img-div {
	position: relative;
	right: auto;
	bottom: auto;
	margin: 0 auto;
	margin-top: 25px;
}
.header-slider .swiper-container {
	height: auto
}
.our-client-div .col-xs-6 {
	width: 33.3%;
	float: left
}
.footer-bg-repeat {
	height: 50px;
	background-size: auto 100%;
}
.graphic-deign-section .next-prev-div {
	margin-top: 20px;
}
.graphic-deign-section {
	padding-bottom: 30px;
}
.graphic-deign-swiper {
	margin-top: 30px;
}
.block-one-div h2, .normal-content-block h2 {
	font-size: 30px;
	line-height: 30px;
}
.block-one-div {
	padding: 25px 0
}
.display-table {
	display: block;
	width: auto;
}
.display-table-cell {
	display: block;
}
.header-search-div .btn .fa {
	top: 0px;
}
.login-section .right-g-trangle img, .login-section .right-g-sm-circle img, .login-section .left-g-circle img {
	opacity: 0.6;
}
.login-section {
	padding: 30px 0;
}
.buyer-past-projects-section .media > .pull-left {
	margin-right: 0;
	margin-bottom: 10px;
}
.project-info-section .media .media-body {
	width: 100%;
}
.project-info-section .media > .pull-left {
	margin-bottom: 20px;
}
.chat-list li .msg-div {
	width: 90%;
}
.project-info-section .bottom-btn .btn {
	margin-right: 7px;
	padding-left: 15px;
	padding-right: 15px;
}
.gallery-thumbs {
	height: 120px;
	margin-bottom: 15px;
}
.buyer-gallery-product-info-section .panel-block .content-div .product-by-div table {
	margin-bottom: 10px;
}
.page-head .container h1 {
    margin-top: 180px;
    font-size: 33px;
    letter-spacing: 4px;
}
.page-head .container {

    min-height: 360px;
}
.services-page .tab-div .btn{
  margin-bottom: 5px;
      margin-right: 9px;
}
.services-page .bottom-btn .btn{
  margin-right: 5px;
  min-width: 130px;
}
.customer-support-section .cs-logo {

	padding: 0 0 30px  0;
}
.customer-support-section {
    margin: 20px 0;
        padding: 0 20px;
}
.block01-section .left-content{
  margin-bottom: 30px;
  max-width: 100%;
}
.block01-section{
  padding: 50px 0;
}
.block01-section .text-right{
  text-align: left;
}
.buyer-and-seller-page .page-head .container {
    min-height: 349px;
}
}
 @media only screen and (max-width: 480px) {
.core-values-section .media{
  min-height: inherit;
  padding-right: 0;

}
.our-team-section .inner-padd {
	padding-left:10px;
	padding-right:10px;
}
.our-team-section .white-block{
	padding:15px; 
	margin-bottom:15px;
}
.our-team-section h3 {
	margin-bottom:30px;
}
.header-slider .slide-content .text-div {
	padding-top: 80px;
	padding-bottom: 80px;
}
.core-values-section .inner-padd{
     padding:30px 10px;
}
.core-values-section .heading-div h3,
.the-company-section h2{
  font-size: 26px;
}
.misson-vision-section .box-div .inner-box h3{
  font-size: 26px;
      top: -16px;
}
.core-values-section .media h4{
  font-size: 16px;
line-height: 22px;
margin-bottom: 15px;
}
.misson-vision-section .box-div,
.the-company-section{
  font-size: 16px;
line-height: 22px;
}
.core-values-section .heading-div h3,
   .the-company-section .inner-padding {
       padding: 20px;
       padding-bottom: 0
   }
   .misson-vision-section .box-div,
   .misson-vision-section .box-div .inner-box{
     padding: 30px;
   }

.buyer-gallery-product-info-section .gallery-thumbs,  .gallery-thumbs {
	height: 90px;
}
.gallery-top {
	padding: 0px;
}
.designer-portfolio-item-details-section .padding-15-BG{
	padding:10px;
}
.my-portfolio li {
	width: 100%;
}
.header-mid-btn {
	position: static;
	text-align: center;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.header-mid-btn .btn {
	min-width: 44%;
}
.project-info-list li {
	display: block;
	width: 100%;
	padding: 5px 0;
}
.project-budget-time table {
	max-width: 100%;
}
.col-5-list li {
	width: 100%;
}
.panel-block .media .mr-3 {
	margin: 0 auto !important;
	display: block;
}
.panel-block .media .media-body {
	margin-top: 15px;
	width: 100%;
}
.panel-block .media {
	display: block;
}
.pagination-div {
	text-align: center;
}
.pagination-div .number-div {
	margin-top: 10px;
	width: 100%;
}
.project-info-section .custom-dropdown-btn {
	float: none;
	width: 100%;
}
.project-info-section .btn {
	width: 100%;
}
.project-info-section .custom-dropdown-btn.dropdown ul {
	width: 100%;
}
.chat-list li .msg-div {
	width: 100%;
}
.file-progress-bar{
    padding-left: 15px
}
.file-progress-bar .file-extension{
  position: static;

}
.file-progress-bar h4{
  font-size: 12px !important;
  padding-right: 90px;
}
.page-head .container {
    min-height: 310px;
}
.services-page .add-img-div ul{
  margin: 15px -4%;
}
.services-page .add-img-div ul li{
  width: 42%;
  height: 95px;
  margin: 4%;
}
}
@media only screen and (max-width: 380px) {
.services-page .tab-div .btn{
  width: 100%;
  margin-right: 0
}
  .misson-vision-section .box-div .inner-box{
    padding: 20px;
  }
  .full-width-320{
    width: 100% !important;
    float: none !important;
  }
.gallery-top {
	height: 200px;
}
.panel-block .panel-title .active-page {
	display: block;
	margin: 0;
	margin-top: 6px;
}
.invition-info li {
	padding: 0 15px;
}
.uploading-album-image{
  padding: 15px;
}
.uploading-album-image{
  min-height: 120px;
}
.complated-portfolio-popup .bottom-btn .btn{
  margin-right: 20px;
}
.services-page .bottom-btn .btn{
  width: 100%;
  margin-right: 0
}
}
