@media only screen and (max-width: 1400px) {
}
 @media only screen and (max-width: 1200px) {
.white-block {
	padding: 30px 30px;
}
#main {
	padding: 25px 0;
}
.my-team-section .block-div .btn {
	margin-left: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.my-membership-plan-section .inner-div {
	max-width: 800px;
}
.buzz-english-section .box-be{
	    font-size: 11px;
    line-height: 16px;
	    height: 370px;
		    max-width: 246px;
}
.buzz-english-section .box-be h3{font-size:18px;}
}
 @media only screen and (max-width: 1100px) {
	 .buzz-english-section .box-be {
     
        height: 340px;
    max-width: 220px;
}
 }
 @media only screen and (max-width:991px) {
.second-header-menu ul.menu-sm li {
	margin: 2px 5px;
}
.second-header-menu ul.menu-sm {
	text-align: center
}
.my-team-section .block-div .btn {
	margin-left: 10px;
	margin-top: 10px
}
.main_nav {
	margin-right: -30px;
}
.main_nav .navbar-brand {
	margin-right: 40px;
}
.top-right-language {
	margin-top: 20px;
}
.top-right-language .btn {
	margin-left: 15px;
	height: 35px;
	font-size: 13px;
	line-height: 20px;
	min-width: 90px;
}
.top-right-language .btn:first-child {
	margin: 0
}
.main_nav .nav > li > a {
	padding: 5px 18px;
}
.main_nav .nav > li {
	margin-right: 3px;
}
.why-should-kids-come .inner-div {
     
    margin-top: -140px; 
}
.buzz-english-section .box-bn2 .icon-div img{
	width:auto;
	height: 100px;
}
.buzz-english-section .box-bn2 .icon-div {
    
    min-height: 140px;
}
.buzz-english-section .box-bn2 h2 span{
	font-size: 29px;
    line-height: 32px;
}
.buzz-english-section .box-be .content {
    padding: 50px 40px; 
}
.buzz-english-section .box-be {
    height: 330px; 
}
.buzz-english-section .bottom-box {
  
    margin-top: 80px;
}
}
 @media only screen and (max-width: 767px) {
.welcome-section .head-div .left-content{
	padding-top: 0;
	padding-bottom: 10px;
}
.quiz-scroll-to-fix.affix{
	position:relative;
}
.quiz-scroll-to-fix.affix+.quiz-bottom-section{
	margin-top:0;
}
.main_nav {
	margin-right: 0;
	    position: relative;
    z-index: 12;
}
.main_nav .navbar-toggle {
	margin-right: 0;
	margin-top: 33px;
	background: none !important;
	border: none !important;
	outline: none !important;
}
.main_nav .navbar-brand {
    margin-right: 0;
    max-width: 137px;
}
.main_nav .navbar-default .navbar-toggle .icon-bar {
	background: #f17598;
}
.main_nav .navbar-nav {
    margin-top: 17px;
}

.main_nav .navbar-collapse {
	border-color: #f17598 !important
}
.main_nav .nav > li {
	margin: 0;
	margin-bottom: 10px;
}
header .pull-none767{
	float:none !important
}
.top-right-language .btn {
    margin-left: 9px;
    height: 26px;
    font-size: 11px;
    line-height: 12px;
    min-width: 62px;
}
.top-right-language {
    margin-top: 0;
	position:absolute;
	right:15px;
	top:0;
	z-index:44
}
.dropdown.head-right-dropdown .dropdown-menu {
	left: auto;
	right: 0
}
.tabs-div .btn {
	width: 100%;
	min-width: inherit
}
.thumb-block {
	margin-bottom: 30px;
}
.my-membership-plan-section .inner-div {
	margin: 40px auto;
}
.my-downloads-section h4 {
	margin-bottom: 30px;
}
.my-performance-section .tabs-div .btn {
	margin: 0;
	margin-bottom: 10px;
}
.linked-accounts-section .right-div {
	border: none;
	border-top: 1px solid #d0d0d0;
	margin-top: 30px;
}
.linked-accounts-section .left-div {
	margin: 0 auto
}
.linked-accounts-section .inner-div {
	margin: 30px auto;
}
.linked-accounts-section .right-div {
	padding: 0;
	padding-top: 25px;
}
.linked-users-list li {
	margin: 5px;
}
.linked-new-accounts-section .border-right {
	border: none;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 25px;
}
.question-four .right-first .q-custon-checkbox {
	margin-left: auto
}
.quiz-result-section .score-bord-div .btn {
	margin: 30px 0;
}
.previous-attempts-div .text {
	display: block;
	margin-bottom: 15px;
}
.my-team-section .block-div ul li {
	width: 100%;
}
.my-team-section .block-div {
	padding: 15px;
}
.footer-bg-repeat {
	height: 70px;
	background-size: auto 70px;
}
.main-footer {
	padding: 20px 0
}
footer {
	margin-top: 40px;
}
.main-footer .h-div {
	height: auto;
}
.main-footer table {
	margin-top: 25px;
}
.new-login-form .page-title {
	margin-bottom: 60px;
}
.why-should-kids-come .hw-box1{
	    margin-bottom: 25px;
}
.welcome-section{padding:60px 0; padding-bottom:0}
.buzz-english-section{background-size:150% auto;}
}
 @media only screen and (max-width: 576px) {
.login-form .weChat img {
	margin-left: 15px;
}
.change-password-section .form-div {
	margin: 40px auto 20px auto;
}
.header-for-inner-page .right-div {
	margin-top: 12px;
}
.header-for-inner-page .right-div .btn {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
	height: 33px;
	line-height: 18px;
}
.welcome-section .head-div h2{font-size:30px;}
.why-should-kids-come .inner-div{
	    margin-top:-100px;
}
.why-should-kids-come .inner-div h2{
	    font-size: 20px;
}
.buzz-english-heading h3{font-size:16px;}
.buzz-english-heading h2{font-size:20px;}

.buzz-english-section .box-bn2{
	height: 275px;
	font-size: 13px;
	max-width: 300px;
}
.buzz-english-section .box-bn2 .icon-div img { 
    height: 80px;
}
.buzz-english-section .box-bn2 .icon-div {
    min-height: 92px;
	padding:0;
}
.buzz-english-section .box-bn2 h2 span {
    font-size: 20px;
    line-height: 26px;
	
}
  .buzz-english-section .box-bn2.b2 h2 span {
   
    width: 237px;
    height: 65px; 
}
.buzz-english-section .bottom-box {
    
    margin-top:150px;
}
}
 @media only screen and (max-width: 480px) {
.second-header-menu ul.menu-sm li a {
	padding: 8px 20px;
}
.page-title {
	margin-bottom: 20px;
}
.white-block {
	padding: 30px 20px;
}
.sign-up-form, .login-form {
	padding: 20px 30px;
}
.login-form .or {
	margin: 25px 0;
}
.dropdown.head-right-dropdown {
	width: 150px;
}
.dropdown.head-right-dropdown td img {
	width: 35px;
}
.logo {
	max-width: 120px;
}
.quiz-head-div .list-number {
	margin: 30px -10px;
}
.quiz-head-div .list-number li {
	padding: 0 5px;
}
.quiz-result-section .quiz-head-div .button-lr-div {
	margin-bottom: 30px;
	margin-top: 10px;
}
.tabs-div.col-2 .col-xs-6 {
	width: 100%;
	float: none
}
.tabs-div.col-2 {
	padding: 10px 0;
	margin-bottom: 15px;
}
.tabs-div.col-2 .btn {
	margin-bottom: 10px;
}

}
@media only screen and (max-width: 400px) {
.my-team-section .block-div .btn {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	margin: 0;
	margin-right: 10px;
	margin-top: 10px;
}
.my-team-section .block-div .right-btn {
	text-align: left
}
.login-form .weChat a {
	font-size: 10px;
}
.login-form .weChat img {
	margin-left: 10px;
	width: 20px;
}
.tabs-div .col-xs-4 {
	width: 100%;
	float: none
}
.tabs-div {
	padding-bottom: 10px
}
.tabs-div .btn {
	margin-bottom: 10px;
}
.quiz-info-section .thumb-block .bottom-content {
	text-align: center
}
.quiz-info-section .thumb-block .bottom-content img {
	width: 35px
}
.question-one .inner-div .col-xs-6 {
	width: 100%;
	float: none
}
.footer-bg-repeat {
	height: 50px;
	background-size: auto 50px;
}
.header-for-inner-page .right-div .btn {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	height: 28px;
	line-height: 13px;
	font-size: 13px;
}

}
@media only screen and (max-width: 320px) {
.sign-up-form, .login-form {
	padding: 20px 20px;
}
.quiz-info-section .right-content {
	padding-right: 0
}
.quiz-info-section h3 {
	padding-right: 35px;
}
.quiz-info-section .thumb-block .bottom-content img {
	width: 30px
}
.head-search-box .form-control {
	padding-left: 40px;
}
.head-search-box .fa {
	left: 18px;
}
.quiz-head-div .button-lr-div {
	margin-top: 25px;
	text-align: center
}
.quiz-head-div .button-lr-div .r, .quiz-head-div .button-lr-div .l {
	width: 40px;
}
.quiz-head-div .button-lr-div .number {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.buzz-english-section{background-size:300% auto;}
}

/*Header and footer modification*/
/* ignite-custom-footer */
.ignite-footer
{
	padding: 50px 0px 0px;
}
.ignite-footer .row 
{
	padding: 30px 0px;
}
.ignite-footer .row.policy
{
	padding: 0px 0px 30px;
}