

div.select-main {
	background-color: #FFFFFF;
	border: 1px solid #dedede;
	border-radius: 5px;
	font-size: 12px;
	height: 40px;
	position: relative;
	width: 100%;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	color: #141414;

	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

div.select-main.z-index {
	z-index: 10;
}

div.select-main.disabled {
	cursor: default;
	filter: alpha(opacity=50);
	opacity: 0.5;
	zoom: 1;
}

div.select-main.disabled div.select-set {
	cursor: default;
}

div.select-main.disabled div.select-arrow {
	cursor: default;
}

div.select-set {
	border-radius: 5px;
	color: #141414;
	cursor: pointer;
	height: 100%;
	line-height: 40px;
	overflow: hidden;
	position: relative;
	padding: 0  15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	z-index: 5;
}

div.select-arrow {
	border-top: 6px solid #e6e6e6;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	cursor: pointer;
	height: 0px;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0px;
	z-index: 7;
}

div.select-arrow.reverse {
	border-top: 6px solid transparent;
	border-bottom: 6px solid #e6e6e6;
	top: 10px;
}

div.select-block {
	background-color: #FFFFFF;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 5px;
    left: -1px;
    line-height: 20px;
    position: absolute;
    top: 32px;
    width: 100;
		right: -1px;
}

ul.select-list {
	cursor: pointer;
	margin: 6px 0 0 0;
	padding: 0;
	list-style: none;
}

/* Scroll view */

ul.select-list::-webkit-scrollbar {
    width: 12px;
}

ul.select-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

ul.select-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

ul.select-list {
	scrollbar-face-color: #AEB1B1;
    scrollbar-shadow-color: #C7CACA;
    scrollbar-highlight-color: #CED1D1;
    scrollbar-3dlight-color: #CED1D1;
    scrollbar-darkshadow-color: #C7CACA;
    scrollbar-track-color: #CED1D1;
    scrollbar-arrow-color: #FFFFFF;
}

/* End scroll view */

li.select-items {
	color: #333333;
	padding: 7px 15px;
}

li.select-items:hover {
	background-color: #ede8fe;
	color: #000;
}
li.select-items.active {
	background-color: #8a75d0;
	color: #fff;
}
