<article class="accessor-my-job-page">
  <div class="container">
    <div class="tabs-div">
      <button class="btn tablinks btn-white" onclick="openCity(event, 'newJobsTab')" id="defaultOpen">New jobs</button>
      <button class="btn tablinks btn-white" onclick="openCity(event, 'earningsStatasticsTab')">Earnings & Statastics</button>
      <button class="btn tablinks btn-white" onclick="openCity(event, 'teamInfoTab')">Team info</button>
    </div>
    
   
    <div id="newJobsTab" class="tabcontent"> 
     <!--Completed Case(s)-->
      <div class="new-case">
        <h3 class="title-sub-section uppercase">New Cases</h3>
        <ul class="cases-list new-cases border">
          <li class="gray">
                <div class="head-div"> 
                  <div class="row">
                    <div class="col-sm-7 col-lg-5">
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                          <td><h5>[[case.pr_case.case_original_file_name]]</h5>
                            <p>Case Submitted: [[case.pr_case.case_created_at]]</p>
                            <p>Total Words: <a href="#">[[case.pr_case.total_words]]</a></p></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right">
                      <div class="right-content-block">
                        <div class="row">
                          <div class="col-xs-4 line">
                            <h5>Total Fees</h5>
                            &yen; [[case.pr_case.total_price]] </div>
                          <div class="col-xs-4 line">
                            <h5>Target</h5>
                            [[case.pr_case.proof_reading_package.service_package]] hrs </div>
                          <div class="col-xs-4 line">
                            <h5>Total Remaining</h5>
                            18h 12m </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-2">
                    	<div class="right-button">
                        	<p><a ng-click="Acceptcase(case.pr_case.id,1,case.id)" class="btn btn-green">Accept</a></p>
                            <p><a data-target="#reason-for-reject" data-toggle="modal" class="btn btn-red">Reject</a></p>
                        </div>
                    </div>
                  </div>
                </div> 
              </li>
              <!-- <li class="gray">
                <div class="head-div"> 
                  <div class="row">
                    <div class="col-sm-7 col-lg-5">
                      <table cellpadding="0" cellspacing="0">
                        <tr>
                          <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                          <td><h5>Final Semester Thesis 2017.docx</h5>
                            <p>Level 1 Accessor: Jason Lin</p>
                            <p>Client: <a href="#">Adam Priestly</a></p></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-sm-5 col-lg-5 text-right">
                      <div class="right-content-block">
                        <div class="row">
                          <div class="col-xs-4 line">
                            <h5>Total Fees</h5>
                            &yen; 250 </div>
                          <div class="col-xs-4 line">
                            <h5>Target</h5>
                            48 hrs </div>
                          <div class="col-xs-4 line">
                            <h5>Total Remaining</h5>
                            18h 12m </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-2">
                    	<div class="right-button">
                        	<p><a href="javascript:;" class="btn btn-green">Accept</a></p>
                            <p><a href="javascript:;" class="btn btn-red">Reject</a></p>
                        </div>
                    </div>
                  </div>
                </div> 
              </li> -->
        </ul>
      </div>
      <!--Active Case(s)-->
      <h3 class="title-sub-section uppercase">Active Case(s)</h3>
      <ul class="cases-list border active-case">
        <li class="gray open" ng-if="active">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <div class="row">
              <div class="col-sm-7 col-lg-7">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                    <td><h5>[[case.pr_case.case_original_file_name]]</h5>
                      <p>Case Created: [[case.pr_case.case_created_at]]</p>
                      <p>Total Words: [[case.total_words]]</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-5 col-lg-5 text-right">
                <div class="right-content-block">
                  <div class="row">
                    <div class="col-xs-4 line">
                      <h5>Total Fees</h5>
                      &yen; [[case.pr_case.total_price]] </div>
                    <div class="col-xs-4 line">
                      <h5>Target</h5>
                      [[case.pr_case.proof_reading_package.service_package]] hrs </div>
                    <div class="col-xs-4 line">
                      <h5>Total Remaining</h5>
                      18h 12m </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="expand-content open">
            <h6>Case Details</h6>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <ul class="case-d-list">
                      <li>Case ID:<br />
                        [[case.pr_case.id]]</li>
                      <li ng-if="case.pr_case.package_type == 1">Service<br />
                        Standard</li>
                      <li ng-if="case.pr_case.package_type == 2">Service<br />
                        Premium</li>
                      <li>Language:<br />
                        [[case.pr_case.file_language]]</li>
                      <li>File Size:<br />
                        [[case.pr_case.case_file_size]] KB</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-lg-2 text-right"> <a href="javascript:;" class="btn btn-dark-gray btn-sm help-button" ng-click="Helpme(case,PRADMINDATA)">Help me</a> </div>
                </div>
              </div>
            </div>
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[case.pr_case.document_submitted_at]]</h4>
                          <p>Document Submitted</p>
                          <a class="btn btn-dark-gray btn-sm" download target="_self" href="resources/assets/images/video-viewing.jpg"> Original file </a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>  -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status yellow"  ng-if="case.pr_case.accessment.accessor_one_case_bubble && PRADMINDATA.level_type == 1">
                      <div class="box01">
                        <div>
                          <h4>[[case.pr_case.accessment.accessor_one_time]]</h4>
                          <p>Accepted by You for Level 1 Accessment</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status yellow"  ng-if="case.pr_case.accessment.accessor_one_case_bubble && PRADMINDATA.level_type == 2">
                      <div class="box01">
                        <div>
                          <h4>[[case.pr_case.accessment.accessor_two_time]]</h4>
                          <p>Assigned to You for Accessment</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status gray">
                      <div class="box01">
                        <div>
                          <p>Upload finished file when ready</p>
                          <button class="btn upload_accessed" href="javascript:void(0)">
                            <i class="sci-Upload"></i> Upload File
                            <span id="fileuploader" >
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="gray open" ng-repeat="case in active_case">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <div class="row">
              <div class="col-sm-7 col-lg-7">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                    <td><h5>[[case.case_original_file_name]]</h5>
                      <p>Case Created: [[case.case_created_at]]</p>
                      <p>Total Words: [[case.total_words]]</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-5 col-lg-5 text-right">
                <div class="right-content-block">
                  <div class="row">
                    <div class="col-xs-4 line">
                      <h5>Total Fees</h5>
                      &yen; [[case.total_price]] </div>
                    <div class="col-xs-4 line">
                      <h5>Target</h5>
                      [[case.proof_reading_package.service_package]] hrs </div>
                    <div class="col-xs-4 line">
                      <h5>Total Remaining</h5>
                      18h 12m </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="expand-content open">
            <h6>Case Details</h6>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <ul class="case-d-list">
                      <li>Case ID:<br />
                        [[case.id]]</li>
                      <li ng-if="case.package_type == 1">Service<br />
                        Standard</li>
                        <li ng-if="case.package_type == 2">Service<br />
                        Premium</li>
                      <li>Language:<br />
                        [[case.file_language]]</li>
                      <li>File Size:<br />
                        [[case.case_file_size]] KB</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-lg-2 text-right"> <a ng-click="Helpme(case,PRADMINDATA)" class="btn btn-dark-gray btn-sm">Help me</a> </div>
                </div>
              </div>
            </div>
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[case.document_submitted_at]]</h4>
                          <p>Document Submitted</p>
                          <a class="btn btn-dark-gray btn-sm" download target="_self" href="resources/assets/images/video-viewing.jpg"><i class="sci-download"></i> Original file </a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>  -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-xs-6 col-sm-4 dot-status yellow">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                          <p>Accepted by You for Level 1 Accessment</p>
                        </div>
                      </div>
                    </div> -->
                    <div class="col-xs-6 col-sm-4 dot-status gray">
                      <div class="box01">
                        <div>
                          <!-- <h4>13 Apr, 7:00 am</h4> -->
                          <p>Upload finished file when ready</p>
                          <button class="btn upload_accessed" href="javascript:void(0)">
                            <i class="sci-Upload"></i> Upload File
                            <span id="fileuploader" >
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="cases-list border active-case" ng-if="active == false">
        <li class="gray open">
          <p>No active cases</p>
        </li>
      </ul>
      
      <!--Completed Case(s)-->
      <h3 class="title-sub-section uppercase">Completed Case(s)</h3>
      <ul class="cases-list border">
        <li class="gray" ng-if="completedCasesCount > 0" ng-repeat="completedcase in completedCases">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <div class="row">
              <div class="col-sm-7 col-lg-7">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                    <td><h5>[[completedcase.pr_case.case_original_file_name]]</h5>
                      <p>Case Created: [[completedcase.pr_case.case_created_at]]</p>
                      <p>Total Words: [[completedcase.pr_case.total_words]]</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-5 col-lg-5 text-right">
                <div class="right-content-block">
                  <div class="row">
                    <div class="col-xs-4 line">
                      <h5>Total Fees</h5>
                      &yen; [[completedcase.pr_case.total_price]] </div>
                    <div class="col-xs-4 line">
                      <h5>Target</h5>
                      [[completedcase.pr_case.proof_reading_package.service_package]] hrs </div>
                    <div class="col-xs-4 line">
                      <h5>Total Remaining</h5>
                      18h 12m </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="expand-content">
            <h6>Case Details</h6>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <ul class="case-d-list">
                      <li>Case ID:<br />
                        [[completedcase.pr_case.id]]</li>
                      <li ng-if="completedcase.pr_case.package_type ==1">Service:<br />
                        Standard</li>
                      <li ng-if="completedcase.pr_case.package_type ==2">Service:<br />
                        Premium</li>
                      <li>Language:<br />
                        [[completedcase.pr_case.file_language]]</li>
                      <li>File Size:<br />
                        [[completedcase.pr_case.case_file_size]] KB</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>[[completedcase.pr_case.document_submitted_at]]</h4>
                          <p>Document Submitted</p>
                          <button class="btn btn-dark-gray btn-sm download-original" ng-click="download(completedcase,$index,4,'download-original')"><i class="sci-download"></i> Original file</button>
                          <a id="download_accessed_file_[[completedcase.id]]" download></a>
                          <!-- <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a>  -->
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status yellow">
                      <div class="box01">
                        <div>
                          <h4>[[completedcase.case_accept_time]]</h4>
                          <p>Accepted by You for Accessment</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status green">
                      <div class="box01">
                        <div>
                          <h4>[[completedcase.case_resolved_time]]</h4>
                          <p>Finished file submitted</p>
                          <button class="btn btn-dark-gray btn-sm download-access2" ng-click="download(completedcase,$index,5,'download-access2')"><i class="sci-download"></i> Accessed file</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="gray" ng-if="completedCasesCount == 0"><p>No cases completed yet</p></li>
        <!-- <li class="gray">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <div class="row">
              <div class="col-sm-7 col-lg-7">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                    <td><h5>Final Semester Thesis 2017.docx</h5>
                      <p>Level 1 Accessor: Jason Lin</p>
                      <p>Total Words: 233</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-5 col-lg-5 text-right">
                <div class="right-content-block">
                  <div class="row">
                    <div class="col-xs-4 line">
                      <h5>Total Fees</h5>
                      &yen; 250 </div>
                    <div class="col-xs-4 line">
                      <h5>Target</h5>
                      48 hrs </div>
                    <div class="col-xs-4 line">
                      <h5>Total Remaining</h5>
                      18h 12m </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="expand-content">
            <h6>Case Details</h6>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <ul class="case-d-list">
                      <li>Case ID:<br />
                        4342</li>
                      <li>Total Words:<br />
                        442</li>
                      <li>Service<br />
                        Premium</li>
                      <li>Language:<br />
                        English</li>
                      <li>File Size:<br />
                        204.3 KB</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-lg-2 text-right"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Help me</a> </div>
                </div>
              </div>
            </div>
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p>
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status yellow">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                          <p>Accepted by You for Level 1 Accessment</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status gray">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                          <p>2nd Level Accessment Completed</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="gray">
          <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
            <div class="row">
              <div class="col-sm-7 col-lg-7">
                <table cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                    <td><h5>Final Semester Thesis 2017.docx</h5>
                      <p>Level 1 Accessor: Jason Lin</p>
                      <p>Total Words: 233</p></td>
                  </tr>
                </table>
              </div>
              <div class="col-sm-5 col-lg-5 text-right">
                <div class="right-content-block">
                  <div class="row">
                    <div class="col-xs-4 line">
                      <h5>Total Fees</h5>
                      &yen; 250 </div>
                    <div class="col-xs-4 line">
                      <h5>Target</h5>
                      48 hrs </div>
                    <div class="col-xs-4 line">
                      <h5>Total Remaining</h5>
                      18h 12m </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="expand-content">
            <h6>Case Details</h6>
            <div class="row">
              <div class="col-lg-11">
                <div class="row">
                  <div class="col-md-8 col-lg-10">
                    <ul class="case-d-list">
                      <li>Case ID:<br />
                        4342</li>
                      <li>Total Words:<br />
                        442</li>
                      <li>Service<br />
                        Premium</li>
                      <li>Language:<br />
                        English</li>
                      <li>File Size:<br />
                        204.3 KB</li>
                    </ul>
                  </div>
                  <div class="col-md-4 col-lg-2 text-right"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Help me</a> </div>
                </div>
              </div>
            </div>
            <h6>Case Timeline</h6>
            <div class="box-outer-div">
              <div class="row">
                <div class="col-lg-10">
                  <div class="row">
                    <div class="col-xs-6 col-sm-4 dot-status red">
                      <div class="box01">
                        <div>
                          <h4>12 Apr, 4:45 pm</h4>
                          <p>Document Submitted</p>
                          <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status yellow">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                          <p>Accepted by You for Level 1 Accessment</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 dot-status gray">
                      <div class="box01">
                        <div>
                          <h4>13 Apr, 7:00 am</h4>
                          <p>2nd Level Accessment Completed</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
     
     
    <div id="earningsStatasticsTab" class="tabcontent earnings-statastics-div"> 
     	<div class="box-width-border">
        	<div class="head-div">
            	<div class="row">
                	<div class="col-sm-4 col-md-3 col-lg-2 line">
                    	<h5>Lifetime Earnings</h5>
                        <p>&yen; 550,450</p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 line">
                    	<h5>Total Cases</h5>
                        <p>645</p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 line">
                        <h5>Avg Monthly Cases</h5>
                        <p>&yen; 550,450</p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 line">
                        <h5>Avg Case Value</h5>
                        <p>645</p>
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2 line">
                        <h5>This Month's Earnings</h5>
                        <p>645</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box-width-border">
        	<div class="transaction-distory-list">
        	<div class="table-div">
            	<table class="" cellpadding="0" cellspacing="5">
                    <thead>
                        <tr>
                            <th width="60%"><div>Transaction Info</div></th>
                            <th width="20%"><div>Amount</div></th>
                            <th width="20%"><div>Outstanding Balance</div></th>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="red">
                        	<td>
                            	<div><p>Payment Cleared</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>
                        <tr class="green">
                        	<td>
                            	<div><p>Completion of Case (ID: 3244)</p>	
                                <p>Date: 12 July, 4:45 PM</p></div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                             <td>
                            	<div>
                                	 &yen; 500
                                </div>
                            </td>
                        </tr>	
                    </tbody>
                </table>
            </div>
        </div>
            
        </div>
    </div>
    <div id="teamInfoTab" class="tabcontent"> 
     	<!--Completed Case(s)-->
      <h3 class="title-sub-section uppercase padding-left-20">Admin Team</h3>
      <div  class="box-width-border">
      	<div class="admin-team-list">
        	<div class="table-div">
            	<table class="" cellpadding="0" cellspacing="5">
                    <thead>
                        <tr>
                            <th><div>Name</div></th>
                            <th><div>Email Address</div></th>
                            <th><div>Phone Number</div></th>
                            <th><div>Level</div></th>
                            <th><div>Completed  Cases</div></th>
                            <th><div>Average  Completion Time</div></th>
                        </tr>
                    </thead>
                	<tbody>
                    	<tr ng-repeat="team in accessorTeam">
                        	<td>
                            	<div>[[team.first_name]] [[team.last_name]]</div>
                            </td>
                            <td class="amount">
                            	<div>[[team.email_address]]</div>
                            </td>
                             <td>
                            	<div>[[team.phone_number]]</div>
                            </td>
                            <td>
                              <div>Level [[team.level_type]]</div>
                            </td>
                            <td>
                            	<div>[[team.total_jobs_count]]</div>
                            </td>
                            <td>
                            	<div>
                                	12h 32m
                                </div>
                            </td>
                        </tr>
                        <!-- <tr>
                        	<td>
                            	<div>Isabelle Vasquez</div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 Isabelle@sixclouds.cn
                                </div>
                            </td>
                             <td>
                            	<div>
                                	122-054-0416
                                </div>
                            </td>
                             <td>
                            	<div>
                                	45
                                </div>
                            </td>
                            <td>
                            	<div>
                                	12h 32m
                                </div>
                            </td>
                        </tr>
                        <tr>
                        	<td>
                            	<div>Isabelle Vasquez</div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 Isabelle@sixclouds.cn
                                </div>
                            </td>
                             <td>
                            	<div>
                                	122-054-0416
                                </div>
                            </td>
                             <td>
                            	<div>
                                	45
                                </div>
                            </td>
                            <td>
                            	<div>
                                	12h 32m
                                </div>
                            </td>
                        </tr>
                        <tr>
                        	<td>
                            	<div>Isabelle Vasquez</div>
                            </td>
                            <td class="amount">
                            	<div>
                                	 Isabelle@sixclouds.cn
                                </div>
                            </td>
                             <td>
                            	<div>
                                	122-054-0416
                                </div>
                            </td>
                             <td>
                            	<div>
                                	45
                                </div>
                            </td>
                            <td>
                            	<div>
                                	12h 32m
                                </div>
                            </td>
                        </tr> -->
                        	
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</article>
<div class="modal fade" role="modal" id="reason-for-reject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title">Reason for Rejection</h3>
      </div>
      <div class="modal-body">
        <form id="rejectcase" name="rejectcase" class="validation-form" ng-submit="rejectcase.Rejectcase()" novalidate>
          <textarea class="form-control" name="reason" id="reason" rows="4" placeholder="Mention your reason..." ng-model="comment" required></textarea>
          <div ng-show="rejectcase.reason.$error.required" class="help-block">Required</div>
          <div class="margin-tp15">
            <button type="submit" ng-disabled=!rejectcase.$valid class="btn btn-sm" ng-click="Rejectcase(case.pr_case.id,comment,2,case.id)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function openCity(evt, jobsStatus) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(jobsStatus).style.display = "block";
      evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>