<article class="closed-cases-page">
  <section>
    <div class="container">
      <div class="white-panel-div">
        <div class="page-heading">
          <div class="row">
            <div class="display-table">
              <div class="col-lg-6 table-cell">
                <h2>All Accessors (15)</h2>
              </div>
              <div class="col-lg-6 table-cell">
                <div class="heading-right-filter">
                  <h2 class="d-inline">Sort By:</h2>
                  <span class="custom-select-dropdown d-inline">
                    <select class="form-control" ng-model="value" ng-change="sort(value)">
                      <option value="all">All</option>
                      <option value="Team 1- 10" selected="">Team 1-10</option>
                      <option value="Team 10- 1" selected="">Team 10-1</option>
                    </select>
                  <!-- <select class="form-control">
                    <option>All</option>
                  </select> -->
                  </span> <a href="javascript:;" class="btn btn-dark-gray btn-sm" ng-click="newAccessorModal()">Add New</a> </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--Listing-->
        <ul class="cc-list-design">
          <li ng-repeat="accessor in accessors">
            <div class="row">
              <div class="col-md-12 col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img ng-src="[[accessor.image]]" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>[[accessor.first_name]] [[accessor.last_name]]</h5>
                    <p>ID: [[accessor.id]] &nbsp;&nbsp; (Level [[accessor.level_type]]) &nbsp;&nbsp; ([[accessor.team]])</p>
                    <p ng-if="accessor.level_type==1">Reporting Manager: [[accessor.parent_accessor.first_name]] [[accessor.parent_accessor.last_name]]</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>[[accessor.total_jobs_count]]</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="manage/pr/account-info/[[accessor.id]]" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li>
          <!-- <li>
            <div class="row">
              <div class="col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img src="assets/images/cc-img_06.jpg" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>Park Wan</h5>
                    <p>ID: 201 &nbsp;&nbsp; (Level 1) &nbsp;&nbsp; (Team 1)</p>
                    <p>Reporting Manager: Joseph Chang</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>73</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="#" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img src="assets/images/cc-img_08.jpg" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>Qiang P'eng</h5>
                    <p>ID: 201 &nbsp;&nbsp; (Level 1) &nbsp;&nbsp; (Team 1)</p>
                    <p>Reporting Manager: Joseph Chang</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>73</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="#" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img src="assets/images/cc-img_10.jpg" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>Lixue Hsü</h5>
                    <p>ID: 201 &nbsp;&nbsp; (Level 1) &nbsp;&nbsp; (Team 1)</p>
                    <p>Reporting Manager: Joseph Chang</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>73</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="#" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img src="assets/images/cc-img_12.jpg" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>Cui Li</h5>
                    <p>ID: 201 &nbsp;&nbsp; (Level 1) &nbsp;&nbsp; (Team 1)</p>
                    <p>Reporting Manager: Joseph Chang</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>73</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="#" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-lg-4">
                <div class="media">
                  <div class="pull-left"> <a href="#"> <img src="assets/images/cc-img_14.jpg" width="81" height="81" /> </a> </div>
                  <div class="media-body">
                    <h5>Cui Li</h5>
                    <p>ID: 201 &nbsp;&nbsp; (Level 1) &nbsp;&nbsp; (Team 1)</p>
                    <p>Reporting Manager: Joseph Chang</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-9 col-lg-6">
                <div class="row">
                  <div class="col-xs-3 line">
                    <h5>Total Jobs</h5>
                    <p>73</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Total Earnings</h5>
                    <p> RMB73,564</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Outstanding  Amount</h5>
                    <p>18h 12m</p>
                  </div>
                  <div class="col-xs-3 line">
                    <h5>Ratings (44)</h5>
                    <p>4.78/5</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 col-lg-2">
                <div class="right-btn">
                  <p><a href="#" class="btn btn-dark-gray btn-sm">Account Info</a></p>
                  <p><a href="javascript:;" class="btn btn-dark-gray btn-sm" data-toggle="modal" data-target="#outstandingPaymentModal">Clear Payment</a></p>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
        
        <!--Listing End--> 
        
      </div>
    </div>
  </section>
</article>
<!--Add New Modal -->
<div class="modal fade cases-modal" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New </h4>
      </div>
      <form class="ng-pristine ng-valid" name="addAccessor" novalidate>
        <div class="modal-body">
          <div class="row">
              <div class="col-sm-6">
               <div class="form-group">  
                <input placeholder="First Name" type="text" name="first_name" id="first_name" ng-model="newaccessor.first_name" class="form-control" required>
                <p ng-show="addAccessor.first_name.$error.required">Required</p>
                </div>
              </div>
              <div class="col-sm-6">
              <div class="form-group">  
                <input placeholder="Last Name" type="text" name="last_name" id="last_name" ng-model="newaccessor.last_name" class="form-control" required>
                <p ng-show="addAccessor.last_name.$error.required">Required</p>
              </div>
              </div>
            </div>
          <div class="row">
              <div class="col-sm-6">
               <div class="form-group">
                <input placeholder="Email Address" type="email" name="email_address" id="email_address" ng-model="newaccessor.email_address" class="form-control" required>
                <p ng-show="addAccessor.email_address.$error.required">Required</p>
                <p ng-show="addAccessor.email_address.$error.email">Enter valid email address</p>
                </div>
              </div>
              <div class="col-sm-6">
               <div class="form-group">  
                <input placeholder="Birth Date" type="text" name="singledate-picker" ng-model="newaccessor.dob" ng-change=calculateAge(newaccessor.dob) class="form-control datepicker" required>
                <i class="sci-calendar"></i>
                <p ng-show="addAccessor.singledate-picker.$error.required">Required</p>
                </div>
              </div>
            </div>
          <div class="row">
              <div class="col-sm-6">
              <div class="form-group">
                <input placeholder="Phone Number" type="text" name="phone_number" id="phone_number" ng-model="newaccessor.phone_number" class="form-control" required maxlength="15">
                <p ng-show="addAccessor.phone_number.$error.required">Required</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" id="team" name="team" ng-model="newaccessor.team" required>
                    <option value="">Select..</option>
                    <option value="[[team.value]]" ng-repeat="team in teams">[[team.name]]</option>
                  </select>
                  <p ng-show="addAccessor.team.$error.required">Required</p>
                  <!-- <input type="text" class="form-control" placeholder="Team" /> -->
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <table cellpadding="0" cellspacing="0" width="100%" class="radio-btn">
                    <tr>
                      <td><label class="circle-radio-btn">Level:1
                          <input type="radio" value="1" name="level_type" ng-click="type1(1)" ng-required="true">
                          <span class="checkmark"></span> </label></td>
                      <td><label class="circle-radio-btn">Level:2
                          <input type="radio" value="2" name="level_type" ng-click="type2(2,newaccessor.accessor_id)" ng-required="true">
                          <span class="checkmark"></span> </label></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-sm-6 parent-accessor">
                <div class="form-group">
                  <select class="form-control input-circle" id="accessor_id" name="accessor_id" ng-model="newaccessor.accessor_id">
                    <option value="">Reporting Officer</option>
                    <option value="[[parent_accessor.id]]" ng-repeat="parent_accessor in parentAccessors">[[parent_accessor.first_name]] [[parent_accessor.last_name]]</option>
                  </select>
                  <!-- <input type="text" class="form-control" placeholder="Reporting Officer" /> -->
                </div>
              </div>
            </div>
          
          <div class="form-group bottom-btn">
            <!-- <button type="button" class="btn btn-dark-gray btn-sm">Add</button> -->
            <button type="submit" class="btn btn-dark-gray btn-sm add-accessor" ng-disabled=!addAccessor.$valid ng-click="Addaccessor(newaccessor)">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="add-new">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Add New</h4>
      </div>
      <div class="modal-body inline-block">
        <div class="upload-details">
          <form class="ng-pristine ng-valid" name="addAccessor" novalidate>
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">First Name :</label>
                    <div class="">
                      <input type="text" name="first_name" id="first_name" ng-model="newaccessor.first_name" class="form-control" required>
                      <p ng-show="addAccessor.first_name.$error.required">Required</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Last Name :</label>
                    <div class="">
                      <input type="text" name="last_name" id="last_name" ng-model="newaccessor.last_name" class="form-control" required>
                      <p ng-show="addAccessor.last_name.$error.required">Required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Email Address :</label>
                    <div class="">
                      <input type="email" name="email_address" id="email_address" ng-model="newaccessor.email_address" class="form-control" required>
                      <p ng-show="addAccessor.email_address.$error.required">Required</p>
                      <p ng-show="addAccessor.email_address.$error.email">Enter valid email address</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Birth Date :</label>
                    <div class="date form-control" data-provide="datepicker">
                      <input type="text" name="singledate-picker" ng-model="newaccessor.dob" class="form-control" required>
                      <i class="sci-calendar"></i>
                      <p ng-show="addAccessor.singledate-picker.$error.required">Required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Phone Number :</label>
                    <div class="">
                      <input type="text" name="phone_number" id="phone_number" ng-model="newaccessor.phone_number" class="form-control" required maxlength="15">
                      <p ng-show="addAccessor.phone_number.$error.required">Required</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Team :</label>
                    <div class="">
                      <select class="form-control" id="team" name="team" ng-model="newaccessor.team" required>
                        <option value="">Select..</option>
                        <option value="[[team.value]]" ng-repeat="team in teams">[[team.name]]</option>
                      </select>
                      <p ng-show="addAccessor.team.$error.required">Required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label ">Level: </label>
                    <div class="">
                      <span class="radio-button">
                        <input type="radio" value="1" name="level_type" ng-click="type1(1)" ng-required="true">
                        <div class="radio-checked"></div>
                        <label class="control-label">1</label>
                        &nbsp;&nbsp;
                      </span>
                      <span class="radio-button">
                        <input type="radio" value="2" name="level_type" ng-click="type2(2,newaccessor.accessor_id)" ng-required="true">
                        <div class="radio-checked"></div>
                        <label class="control-label">2</label>
                        &nbsp;&nbsp;
                      </span>
                      <p ng-show="addAccessor.level_type.$error.radio">Required</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 parent-accessor">
                  <div class="form-group">
                    <label class="control-label">Reporting Officer: </label>
                    <div class="">
                      <div class="">
                      <select class="form-control input-circle" id="accessor_id" name="accessor_id" ng-model="newaccessor.accessor_id">
                        <option value="">Select..</option>
                        <option value="[[parent_accessor.id]]" ng-repeat="parent_accessor in parentAccessors">[[parent_accessor.first_name]] [[parent_accessor.last_name]]</option>
                      </select>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="pull-right">
                <button type="submit" class="btn back-green add-accessor" ng-disabled=!addAccessor.$valid ng-click="Addaccessor(newaccessor)"><i class="sci-add"></i>Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--Clear Outstanding Payment Modal -->
<div class="modal fade cases-modal" id="outstandingPaymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clear Outstanding Payment</h4>
      </div>
      <div class="modal-body">
        <p>Outstanding Amount: RMB 3,432</p>
         
          <div class="row">
            <div class="col-sm-6">
			   <div class="form-group">            
              <label>Cleared Amount: </label>
              <div class="rmb-div"> <span>RMB</span>
                <input type="text" class="form-control" />
              </div>
                </div>
            </div>
           	 <div class="col-sm-6">
            <div class="form-group">  
              <label>Payment Mode: </label>
              <input type="text" class="form-control" value="Bank Transfer to (****4243)" />
               </div>
            </div>
          </div>
        
        
          <div class="row">
            <div class="col-sm-6">
             <div class="form-group">       
              <label>Transfer Date </label>
              <div class="date-picker">
                <input type="text" class="form-control datepicker" />
                <i class="fa fa-calendar" aria-hidden="true"></i> </div>
                </div> 
            </div>
          </div>
        
        <div class="form-group bottom-btn">
          <button type="button" class="btn btn-dark-gray btn-sm">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
