<article class="open-cases-page">
  <section>
    <div class="container">
      <div class="white-panel-div">
        <div class="page-heading">
          <h2>Open Cases</h2>
        </div>
        <ul class="cases-list border">
          <li class="gray"  ng-if="openCasesCount > 0" ng-repeat="case in cases">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn" ng-click="openCase(case.id)" id="case_[[case.id]]"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>[[case.case_original_file_name]]</h5>
                        <p ng-repeat="accessor in case.accessment_time">
                          Level [[$index+1]] Accessor : [[accessor.accessor_information.first_name]] [[accessor.accessor_information.last_name]]
                        </p>
                        <p>Client: <a href="#">[[case.case_user.first_name]] [[case.case_user.last_name]]</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; [[case.total_price]] </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        [[case.proof_reading_package.service_package]] hrs </div>
                      <div class="col-xs-4 line">
                        <h5>Time Remaining</h5>
                        <span class="counter-timer" countdown="" date="[[case.deadline]]"></span> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content" id="case-details_[[case.id]]">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      [[case.id]]</li>
                    <li>Total Words:<br />
                      [[case.total_words]]</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      [[case.case_file_size]] KB</li>
                  </ul>
                </div>
                <div ng-if="case.cases_type == 1 && case.case_status == 1" class="col-md-3 col-lg-3 right-btn"> <a class="btn btn-dark-gray btn-sm" data-target="#available-accessor-[[case.id]]" data-toggle="modal">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>[[case.document_submitted_at]]</h4>
                        <p>Document Submitted</p>
                        <button href="javascript:;" ng-click="download(case,$index,1,'download-original')" class="btn btn-dark-gray btn-sm download-original_[[$index]]">Original File</button>
                        <a id="download_accessed_file_[[case.id]]" download></a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!case.accessor_one_time">
                    <div class="box01">
                      <div></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue" ng-if="case.accessor_one_time">
                    <div class="box01">
                      <div>
                        <h4>[[case.accessor_one_time]]</h4>
                        <p>1st Level Accessment Completed</p>
                        <button class="btn btn-dark-gray btn-sm download-access1_[[$index]]" ng-click="download(case,$index,2,'download-access1')">Accessed File</button></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="!case.accessor_two_time">
                    <div class="box01">
                      <div></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow" ng-if="case.accessor_two_time">
                    <div class="box01">
                      <div>
                        <h4>[[case.accessor_two_time]]</h4>
                        <p>2nd Level Accessment Completed</p>
                        <button class="btn btn-dark-gray btn-sm download-access2_[[$index]]" ng-click="download(case,$index,3,'download-access2')">Download File</button> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status gray" ng-if="case.case_status != 4">
                    <div class="box01">
                      <div ng-if="case.case_status != 4">
                        <a ng-if="case.case_status == 1" class="" data-target="#cancel-case-[[case.id]]" data-toggle="modal" class="btn btn-dark-gray btn-sm cancel_[[case.id]]">Cancel Case</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green" ng-if="case.case_status == 4">
                    <div class="box01">
                      <div>
                        [[case.file_downloaded]]
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="available-accessor-[[case.id]]">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Available Accessors</h4>
                  </div>
                  <div class="modal-body inline-block" ng-if="availableAccessorsLength > 0">
                    <ul class="list-unstyled">
                      <li class="inline-block custom_li" ng-repeat="accessor in accessors">
                        <div class="pull-left">
                          <div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
                          <div>
                            <label>ID:</label>
                            <span>
                              <span>[[accessor.id]]</span>
                              <span>(Level [[accessor.level_type]])</span>
                              <span>(Team 1)</span>
                            </span>
                          </div>
                        </div>
                        <div class="pull-right">
                          <button class="btn assign" ng-click="Assignaccessor(accessor.id,accessor,case.id,case.case_status,'open')">
                            <i class="sci-file"></i> Assign
                          </button>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="modal-body inline-block" ng-if="availableAccessorsLength==0">
                    <ul class="list-unstyled">
                      <li class="inline-block">
                        <div class="pull-left">
                          <div class="sub-header text-black margin-zero">No accessor available</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="cancel-case-[[case.id]]">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close case_cancel" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Cancel Case - [[case.case_original_file_name]]</h4>
                  </div>
                  <div class="modal-body inline-block">
                    <form name="cancelcase" ng-submit="cancelcase.CancelCase()" novalidate class="validation-form">
                      <input class="form-control" type="Text" name="cancel_reason" id="cancel_reason" ng-model="cancel_reason" required placeholder="Reason to cancel the file..">
                      <div class="help-block"></div>
                      <button type="submit" class="btn btn-sm" ng-disabled=!cancelcase.$valid ng-click="CancelCase(cancel_reason,case.case_user,case.id)">Done</button> 
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="panel" ng-if="openCasesCount==0">
            <div class="media-body case-dec">
              <div class="left-side">
                <div class="sub-header text-black margin-zero">No open case(s)</div>
              </div>
            </div>
          </li>
          <!-- <li class="gray">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>Final Semester Thesis 2017.docx</h5>
                        <p>Level 1 Accessor: Jason Lin</p>
                        <p>Client: <a href="#">Adam Priestly</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; 250 </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        48 hrs </div>
                      <div class="col-xs-4 line">
                        <h5>Total Remaining</h5>
                        18h 12m </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      4342</li>
                    <li>Total Words:<br />
                      442</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      204.3 KB</li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 4:45 pm</h4>
                        <p>Document Submitted</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue">
                    <div class="box01">
                      <div> <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow">
                    <div class="box01">
                      <div> <span class="lg-icon"><i class="fa icon-1" aria-hidden="true"></i> </span> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green">
                    <div class="box01">
                      <div>
                        <p>File not yet<br />
                          downloaded</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="gray">
            <div class="head-div"> <a href="javascript:;" class="arrow-icon expend-btn"><i class="fa icon-Combined-Shape" aria-hidden="true"></i></a>
              <div class="row">
                <div class="col-sm-7 col-lg-7">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="icon-div"><i class="fa icon-doc" aria-hidden="true"></i></td>
                      <td><h5>Final Semester Thesis 2017.docx</h5>
                        <p>Level 1 Accessor: Jason Lin</p>
                        <p>Client: <a href="#">Adam Priestly</a></p></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-5 col-lg-5 text-right">
                  <div class="right-content-block">
                    <div class="row">
                      <div class="col-xs-4 line">
                        <h5>Total Fees</h5>
                        &yen; 250 </div>
                      <div class="col-xs-4 line">
                        <h5>Target</h5>
                        48 hrs </div>
                      <div class="col-xs-4 line">
                        <h5>Total Remaining</h5>
                        18h 12m </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="expand-content">
              <h6>Case Details</h6>
              <div class="row">
                <div class="col-md-9 col-lg-9">
                  <ul class="case-d-list">
                    <li>Case ID:<br />
                      4342</li>
                    <li>Total Words:<br />
                      442</li>
                    <li>Service<br />
                      Premium</li>
                    <li>Language:<br />
                      English</li>
                    <li>File Size:<br />
                      204.3 KB</li>
                  </ul>
                </div>
                <div class="col-md-3 col-lg-3 right-btn"> <a href="javascript:;" class="btn btn-dark-gray btn-sm">Change Accessor</a> </div>
              </div>
              <h6>Case Timeline</h6>
              <div class="box-outer-div">
                <div class="row">
                  <div class="col-xs-6 col-sm-3 dot-status red">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 4:45 pm</h4>
                        <p>Document Submitted</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Original File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status blue">
                    <div class="box01">
                      <div>
                        <h4>12 Apr, 10:25 pm</h4>
                        <p>1st Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Accessed File</a></div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status yellow">
                    <div class="box01">
                      <div>
                        <h4>13 Apr, 7:00 am</h4>
                        <p>2nd Level Accessment Completed</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Download File</a> </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-3 dot-status green">
                    <div class="box01">
                      <div>
                        <p>File not yet<br />
                          downloaded</p>
                        <a href="javascript:;" class="btn btn-dark-gray btn-sm">Cancel Case</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </section>
</article>
