<section class="section cases special-cases pr-accessor-my-job level">
	<div class="container">
		<div class="tab-section">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="javascript:void(0)#myjobs" aria-expanded="true" class="btn">My Jobs</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="javascript:void(0)#earnings" aria-expanded="false" class="btn">Earnings & Statistics</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="javascript:void(0)#team-info" aria-expanded="false" class="btn">Team Info</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="myjobs" class="tab-pane fade active in">
					<div class="my-cases unsiggned-case">
						<div class="sub-header text-red margin-bt20 special-case-header">
							New Case(s)
						</div>
						<ul class="list-unstyled panel-group new-cases" id="accordion">
							<li class="panel pd-zero">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
											<div>Level 1 Accessor:<span> Jack Dawson </span></div>
											<div>Total Words: <span> 233 </span></div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;122</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>48 hrs</b></div>
												</li>
												<li class="">
													<div>Total Remaining:</div>
													<div><b>18h 12m</b></div>
												</li>
												<span class="icon-dd remove">
													<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-l" class="collapsed" aria-expanded="false">
														<i class="sci-down-arrow down"></i>
														<i class="sci-down-up up"></i>
													</a>
												</span>
											</ul>
										</div>
									</div>
								</div>
								<div id="case-details-l" class="panel-collapse collapse" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>4342</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>English</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>204.3 KB</b></div>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble back-red"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Document Submitted</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Original file </a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<span class="bubble back-blue"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>
													1st Level Accessment completed by Jason Lin
												</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Download file </a>
												</div>
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<i class="icon">
												<span class="sci-Time-And-file"></span>
												</i>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="my-cases delayed-caes">
						<div class="sub-header text-red margin-bt20 special-case-header">
							Active Case(s)
						</div>
						<ul class="list-unstyled panel-group active-cases" id="accordion">
							<li class="panel margin-zero">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
											<div>Level 1 Accessor:<span> Jack Dawson </span></div>
											<div>Total Words: <span>460</div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;200</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>48 hrs</b></div>
												</li>
												<li class="">
													<div>Time Taken:</div>
													<div><b>18h 12m</b></div>
												</li>
											</ul>
										</div>
										<span class="icon-dd remove">
											<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details" class="collapsed" aria-expanded="false">
												<i class="sci-down-arrow down"></i>
												<i class="sci-down-up up"></i>
											</a>
										</span>
									</div>
								</div>
								<div id="case-details" class="panel-collapse collapse in" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>4342</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>English</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>204.3 KB</b></div>
										</li>
										<li class="change-btn">
											<a class="btn btn-sm"><i class="sci-help-btn"></i>
												HELP ME
											</a>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble back-red"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Document Submitted</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Original file </a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<span class="bubble back-blue"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>
													1st Level Accessment completed by Jason Lin
												</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Download file </a>
												</div>
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-gray"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Upload finished file when ready</div>
												<div class="btn-file">
													<span class="btn upload-btn">
														<span class="upload-file">
															<i class="sci-Upload"></i>  Upload File
															<input type="file" name="">
														</span>
													</span>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="my-cases high-word-count-case">
						<div class="sub-header text-red margin-bt20 special-case-header">
							Completed Case(s)
						</div>
						<ul class="list-unstyled panel-group completed-cases" id="accordion">
							<li class="panel margin-zero">
								<div class="media">
									<div class="media-left">
										<div class="icon">
											<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
										</div>
									</div>
									<div class="media-body case-dec">
										<div class="left-side">
											<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
											<div>Level 1 Accessor:<span> Jack Dawson </span></div>
											<div>Total Words: <span>460</div>
										</div>
										<div class="right-side pull-right">
											<ul class="list-unstyled list-inline">
												<li class="border-right">
													<div>Total Fees:</div>
													<div><b>&yen;200</b></div>
												</li>
												<li class="border-right">
													<div>Target: </div>
													<div><b>48 hrs</b></div>
												</li>
												<li class="">
													<div>Total Remaining:</div>
													<div><b>18h 12m</b></div>
												</li>
											</ul>
										</div>
										<span class="icon-dd remove">
											<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details1" class="collapsed" aria-expanded="false">
												<i class="sci-down-arrow down"></i>
												<i class="sci-down-up up"></i>
											</a>
										</span>
									</div>
								</div>
								<div id="case-details1" class="panel-collapse collapse" aria-expanded="true" style="">
									<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
									<ul class="list-unstyled list-inline case-list">
										<li class="">
											<div>Case ID:</div>
											<div><b>4342</b></div>
										</li>
										<li class="">
											<div>Language: </div>
											<div><b>English</b></div>
										</li>
										<li class="">
											<div>Service: </div>
											<div><b>Premium</b></div>
										</li>
										<li class="">
											<div>File Size: </div>
											<div><b>204.3 KB</b></div>
										</li>
									</ul>
									<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
									<ul class="list-unstyled list-inline progress-indicator">
										<li class="submitted">
											<span class="bubble back-red"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Document Submitted</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Original file </a>
												</div>
											</div>
										</li>
										<li class="completed-1">
											<span class="bubble back-blue"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>
													1st Level Accessment completed by Jason Lin
												</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Download file </a>
												</div>
											</div>
										</li>
										<li class="completed-2">
											<span class="bubble back-green"></span>
											<div class="timeline-details">
												<b>12 Apr, 4:45 pm</b>
												<div>Finished file submitted</div>
												<div class="btn-file">
													<a class="btn"><i class="sci-download"></i> Download file
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="earnings" class="tab-pane fade">
					<div class="panel my-cases">
						<ul class="list-unstyled list-inline margin-zero">
							<li class="">
								<label>Lifetime Earnings:</label>
								<div> &yen;550,450</div>
							</li>
							<li class="">
								<label>Total Cases:</label>
								<div> 645</div>
							</li>
							<li class="">
								<label>Avg Monthly Cases:</label>
								<div> 32</div>
							</li>
							<li class="">
								<label>Avg Case Value</label>
								<div>&yen; 450</div>
							</li>
							<li class="">
								<label>This Month's Earnings</label>
								<div>&yen; 4,054</div>
							</li>
						</ul>
					</div>
					<table class="table back-white">
						<thead>
							<tr>
								<th width="60%">Transaction Info</th>
								<th width="15%">Amount</th>
								<th width="15%">Outstanding Balance</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 1000</b></td>
								<td><b>¥ 1300</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-red"></span>
										<div class="circle-space">
											<label>Payment Cleared</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-red">¥ 500</b></td>
								<td><b>¥ 300</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 300</b></td>
								<td><b>¥ 800</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-green"></span>
										<div class="circle-space">
											<label>Completion of Case (ID: 3244)</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-green">¥ 500</b></td>
								<td><b>¥ 500</b></td>
							</tr>
							<tr>
								<td class="transaction-details">
									<div class="list-dots-circle">
										<span class="circle back-red"></span>
										<div class="circle-space">
											<label>Payment Cleared</label>
											<div>Date: 12 July, 4:45 PM</div>
										</div>
									</div>
								</td>
								<td> <b class="text-red">¥ 300</b></td>
								<td><b>¥ 500</b></td>
							</tr>
						</tbody>
					</table>
					<div class="pagination-section text-right">
						<span class="">
							<span class="status">
								<label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
							</span>
							<ul class="pagination pager pull-right margin-zero">
								<li class=""><a href="javascript:void(0)"><i class="sci-arrow-left text-black"></i></a></li>
								<li class=""><a href="javascript:void(0)">1</a></li>
								<li class=""><a href="javascript:void(0)"><i class="sci-arrow-right text-black"></i></a></li>
							</ul>
						</span>
					</div>
				</div>
				<div id="team-info" class="tab-pane fade">
					<div class="">
						<div class="title">
							TEAM INFORMATION
						</div>
						<table class="table table-bordered back-white">
							<thead>
								<tr>
									<th>Name</th>
									<th>Email Address</th>
									<th>Phone Number</th>
									<th>Level</th>
									<th>Completed Cases</th>
									<th>Average Completion Time</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team-user.jpg">
										</div>
										<a href="">Jason Lim</a>
									</td>
									<td>jason@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 2</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team.jpg">
										</div>
										<a href="">Alex Abe</a>
									</td>
									<td>alex@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team-user.jpg">
										</div>
										<a href="">Steve Pin</a>
									</td>
									<td>steve@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team.jpg">
										</div>
										<a href="">Terence Shing</a>
									</td>
									<td>terence@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team-user.jpg">
										</div>
										<a href="">Alison Jo Shun</a>
									</td>
									<td>alison@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team.jpg">
										</div>
										<a href="">Jason Lim</a>
									</td>
									<td>jason@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team-user.jpg">
										</div>
										<a href="">Alex Abe</a>
									</td>
									<td>alex@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team.jpg">
										</div>
										<a href="">Steve Pin</a>
									</td>
									<td>steve@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
								<tr>
									<td>
										<div class="img">
											<img src="assets/images/admin-team-user.jpg">
										</div>
										<a href="">Alison Jo Shun</a>
									</td>
									<td>alison@sixclouds.cn</td>
									<td>4345 4323</td>
									<td>Level 1</td>
									<td>42</td>
									<td>12h 32m</td>
								</tr>
							</tbody>
						</table>
						<div class="pagination-section text-right">
							<span class="">
								<span class="status">
									<label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
								</span>
								<ul class="pagination pager pull-right margin-zero">
									<li class=""><a href="javascript:void(0)"><i class="sci-arrow-left text-black"></i></a></li>
									<li class=""><a href="javascript:void(0)">1</a></li>
									<li class=""><a href="javascript:void(0)"><i class="sci-arrow-right text-black"></i></a></li>
								</ul>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="modal fade" role="modal" id="reason-for-reject">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 class="modal-title">Mention a reason</h3>
			</div>
			<div class="modal-body">
				<textarea class="form-control" rows="4" placeholder="Mention your reason..."></textarea>
				<div class="margin-tp15">
					<a class="btn">Submit</a>
				</div>
			</div>
		</div>
	</div>
</div>