`<section class="section cases all-accessours">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<div class="title">
					ALL ACCESSORS<span class="badge back-white text-black">[[accessors_count]]</span>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row">
					<label class="col-sm-2 control-label">Sort By:</label>
					<div class="col-sm-7">
						<select class="form-control input-circle" ng-model="value" ng-change="sort(value)">
							<option value="all">All</option>
							<option value="Team 1- 10" selected="">Team 1-10</option>
						</select>
					</div>
					<div class="col-sm-3 text-right">
						<a class="btn" data-target="#add-new" data-toggle="modal"><i class="sci-add"></i> Add New</a>
					</div>
				</div>
			</div>
		</div>
		<div class="my-cases">
			<ul class="list-unstyled" ng-repeat="accessor in accessors">
				<li class="panel">
					<div class="case-dec">
						<div class="right-side pd-zero">
							<ul class="list-unstyled list-inline">
								<li class="user-img">
									<div class="img">
										<img ng-src="[[accessor.image]]">
									</div>
								</li>
								<li class="left-side">
									<div class="sub-header text-black margin-zero">[[accessor.first_name]] [[accessor.last_name]]</div>
									<div>
										<label>ID:</label>
										<span>
											<span>[[accessor.id]]</span>
											<span>(Level [[accessor.level_type]])</span>
											<span>([[accessor.team]])</span>
										</span>
									</div>
									<div ng-if="accessor.level_type==1">
										<label>Reporting Manager:</label>
										<span> [[accessor.parent_accessor.first_name]] [[accessor.parent_accessor.last_name]]</span>
									</div>
								</li>
								<li class="">
									<label>Total Jobs:</label>
									<div><b>[[accessor.total_jobs_count]]</b></div>
								</li>
								<li class="">
									<label>Total Earnings:</label>
									<div> &yen;73,564</div>
								</li>
								<li class="">
									<label>Outstanding Amount: </label>
									<div>&yen;23,432</div>
								</li>
								<li class="group-btn box-list">
									<div class="box">
										<a class="btn btn-sm" href="manage/account-info/[[accessor.id]]"><i class="sci-notice"></i> Account Info</a>
										<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal"><i class="sci-clear-payment"></i> Clear Payment</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<div class="modal fade" id="add-new">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h4 class="modal-title">Add New</h4>
			</div>
			<div class="modal-body inline-block">
				<div class="upload-details">
					<form class="ng-pristine ng-valid" name="addAccessor" novalidate>
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">First Name :</label>
										<div class="">
											<input type="text" name="first_name" id="first_name" ng-model="newaccessor.first_name" class="form-control" required>
											<p ng-show="addAccessor.first_name.$error.required">Required</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Last Name :</label>
										<div class="">
											<input type="text" name="last_name" id="last_name" ng-model="newaccessor.last_name" class="form-control" required>
											<p ng-show="addAccessor.last_name.$error.required">Required</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Email Address :</label>
										<div class="">
											<input type="email" name="email_address" id="email_address" ng-model="newaccessor.email_address" class="form-control" required>
											<p ng-show="addAccessor.email_address.$error.required">Required</p>
											<p ng-show="addAccessor.email_address.$error.email">Enter valid email address</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Birth Date :</label>
										<div class="date form-control" data-provide="datepicker">
											<input type="text" name="singledate-picker" ng-model="newaccessor.dob" class="form-control" required>
											<i class="sci-calendar"></i>
											<p ng-show="addAccessor.singledate-picker.$error.required">Required</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Phone Number :</label>
										<div class="">
											<input type="text" name="phone_number" id="phone_number" ng-model="newaccessor.phone_number" class="form-control" required maxlength="15">
											<p ng-show="addAccessor.phone_number.$error.required">Required</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Team :</label>
										<div class="">
											<select class="form-control" id="team" name="team" ng-model="newaccessor.team" required>
												<option value="">Select..</option>
												<option value="[[team.value]]" ng-repeat="team in teams">[[team.name]]</option>
											</select>
											<p ng-show="addAccessor.team.$error.required">Required</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label ">Level: </label>
										<div class="">
											<span class="radio-button">
												<input type="radio" value="1" name="level_type" ng-click="type1(1)" ng-required="true">
												<div class="radio-checked"></div>
												<label class="control-label">1</label>
												&nbsp;&nbsp;
											</span>
											<span class="radio-button">
												<input type="radio" value="2" name="level_type" ng-click="type2(2,newaccessor.accessor_id)" ng-required="true">
												<div class="radio-checked"></div>
												<label class="control-label">2</label>
												&nbsp;&nbsp;
											</span>
											<p ng-show="addAccessor.level_type.$error.radio">Required</p>
										</div>
									</div>
								</div>
								<div class="col-sm-6 parent-accessor">
									<div class="form-group">
										<label class="control-label">Reporting Officer: </label>
										<div class="">
											<div class="">
											<select class="form-control input-circle" id="accessor_id" name="accessor_id" ng-model="newaccessor.accessor_id">
												<option value="">Select..</option>
												<option value="[[parent_accessor.id]]" ng-repeat="parent_accessor in parentAccessors">[[parent_accessor.first_name]] [[parent_accessor.last_name]]</option>
											</select>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="pull-right">
								<button type="submit" class="btn back-green add-accessor" ng-disabled=!addAccessor.$valid ng-click="Addaccessor(newaccessor)"><i class="sci-add"></i>Add</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="clear-payment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Clear Outstanding Payment</h4>
			</div>
			<div class="modal-body inline-block">
				<div class="upload-details">
					<form>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Outstanding Amount:</label>
									<label class="col-sm-8 control-label"> &yen; 3,432</label>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Cleared Amount: </label>
									<div class="col-sm-8 amount">
										<input type="" name="" class="form-control">
										<span>&yen;</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Payment Mode :</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option>Bank Transfer to (****4243)</option>
											<option>Section #2</option>
											<option>Section #3</option>
											<option>Section #4</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-sm-4">Transfer Date :</label>
									<div class="col-sm-8">
										<div class="date form-control" data-provide="datepicker">
											<input type="text" name="singledate-picker" value="10/24/1984" class="form-control" />
											<i class="sci-calendar"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<a class="btn">
						<i class="sci-Submit"></i> Confirm
					</a>
				</div>
			</div>
		</div>
	</div>
</div>