<section class="section cases pr-home">
	<div class="container">
		<div class="title">
			CLOSED CASES
		</div>
		<div class="my-cases">
			<ul class="list-unstyled panel-group" id="accordion" ng-repeat="case in cases" ng-if="closedCasesCount > 0">
				<li class="panel" >
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">[[case.case_original_file_name]]</div>
								<div ng-repeat="accessor in case.accessment_time">
									<div>Level [[$index+1]] Accessor : <span> [[accessor.accessor_information.first_name]] [[accessor.accessor_information.last_name]] </span></div>
								</div>
								<div>Client :<span><a href="javascript:void(0)"> [[case.case_user.first_name]] [[case.case_user.last_name]] </a></span></div>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-[[case.id]]" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-[[case.id]]" class="panel-collapse collapse in" aria-expanded="true" style="">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>[[case.id]]</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>[[case.total_words]]</b></div>
							</li>
							<li class="">
								<div>Total Fee: </div>
								<div><b>&yen;[[case.total_price]]</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>[[case.file_language]]</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>[[case.case_file_size]] KB</b></div>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>[[case.document_submitted_at]]</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<button class="btn download-original" ng-click="download(case,$index,1,'download-original')"><i class="sci-download"></i> Original file</button>
										<a id="download_accessed_file_[[case.id]]" download></a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<div ng-if="!case.accessor_one_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.accessor_one_time">
									<span class="bubble [[case.accessor_one_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.accessor_one_time]]</b>
										<div>1st Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access1" ng-click="download(case,$index,2,'download-access1')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>
								</div>
							</li>
							<li class="completed-2">
								<div ng-if="!case.accessor_two_time">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.accessor_two_time">
									<span class="bubble [[case.accessor_two_case_bubble]]"></span>
									<div class="timeline-details">
										<b>[[case.accessor_two_time]]</b>
										<div>2nd Level Accessment Completed</div>
										<div class="btn-file">
											<button class="btn download-access2" ng-click="download(case,$index,3,'download-access2')"><i class="sci-download"></i> Download file</button>
										</div>
									</div>
								</div>
							</li>
							<li class="download">
								<div ng-if="case.case_status != 4">
									<span class="bubble back-gray"></span>
									<div class="timeline-details">
										<i class="icon">
											<span class="sci-Time-And-file"></span>
										</i>
									</div>
								</div>
								<div ng-if="case.case_status == 4">
									<span class="bubble [[case.file_download_bubble]]"></span>
									<div class="timeline-details">
										<div>[[case.file_downloaded]]</div>
									</div>	
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<ul class="list-unstyled panel-group" ng-if="closedCasesCount==0">
				<li class="panel">
					<div class="media-body case-dec">
						<div class="left-side">
							<div class="sub-header text-black margin-zero">No cases closed yet</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>