
<article>
  <section class="messaging-teacher-section">
    <div class="container">
      <div class="page-content-block">
        <div class="heading-div">
          <h3 class="uppercase">Sphere Teachers <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Messaging Teacher</h3>
        </div>
        <div class="block-head-div">
          <div class="left-teacher pull-left" ng-if="selectedTeacher">
          	<div class="img" style="background-image: url([[selectedTeacher.display_image]])"></div>
              <h3>[[selectedTeacher.display_name]]</h3>
          </div>
          <div class="left-teacher pull-left" ng-if="!selectedTeacher">
            <div class="img" style="background-image: url([[loginUser.image]])"></div>
              <h3>Hello, [[loginUser.first_name]]</h3>
          </div>
          <div class="right-btn pull-right" ng-if="selectedTeacher">
          	<a ng-click="closeChat()" class="btn btn-sm btn-green">Close</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="content-div">
          <div class="row">
          	<div class="display-table">
          		<div class="col-sm-4 col-md-3 table-cell blue-bg  vTop">
                <ul class="teacher-chat-list" id="teacherClass">
            			<li class="active" ng-repeat="teacher in teachersList" ng-click="getTeacherChat(teacher.id)">
            				<div class="img-div" style="background-image: url([[teacher.display_image]])"></div>
            				<h3>[[ teacher.display_name ]]</h3>
                    <span class="badge" ng-if="teacher.unread_msg_count > 0">[[ teacher.unread_msg_count ]]</span>
            			</li>
            		</ul>
                <img id="loader1" src='http://opengraphicdesign.com/wp-content/uploads/2009/01/loader64.gif'>
          	  </div>
          	<div class="col-sm-8 col-md-9 table-cell vTop teacher-messaging-block" >

          		<div class="teacher-messaging-block" id="chatBox" style="overflow-x:hidden;">
                
                <img ng-if="selectedTeacher != undefined" id="loader" src='http://opengraphicdesign.com/wp-content/uploads/2009/01/loader64.gif'>
          			<ul ng-if="selectedTeacher != undefined" style="overflow-x: hidden;">
                  <li ng-repeat="msg in chatData" ng-class="msg.from_id != loginUser.id ? className='left' : className='right'">
                    <div class="text-div ">
                      <span>[[ msg.message ]]</span>
                      <span ng-show="msg.from_id == loginUser.id;" ng-if="(className='right' && msg.status==0) ? name='unread' : name='read'" 
                        style="background-image: url('resources/assets/images/[[name]].png');" class="msgStatusIcon">
                      </span>
                    </div>
                    <div class="time-div">[[ msg.created_at | duration ]]</div>
                  </li>
                </ul>
              
                <ul ng-show="selectedTeacher == undefined">
                  <li class="left">
                    <div class="text-div"><span>Hey, [[loginUser.first_name]]</span></div>
                  </li>
                  <li class="right">
                    <div class="text-div"><span>Tap on teacher's block and start talking</span></div>
                  </li>
                </ul>
  
          		</div> 

                <hr ng-show="selectedTeacher">
                <div class="type-box" ng-show="selectedTeacher">
                  <input type="text" class="form-control" ng-model="msgbox" id="msgbox">
                  <button class="btn btm-sm btn-green" ng-disabled="msgbox == undefined || msgbox == ''" ng-click="sendMessage(msgbox)">Send</button>
                </div>

          	</div>
          	</div>
          </div> 
        </div>
      </div>
    </div>
  </section>
</article>
