 <article>
  <section class="transactions-section">
    <div class="container">
     	<div class="page-content-block">
			<div class="heading-div">
				<h3 class="uppercase">My Transactions <!-- <span class="alert-notifi">3</span> --></h3>
			</div>  
			<div class="block-head-div filter-div">
				<div class="row">
				
					<div class="col-sm-5 col-md-5"></div>
					<div class="col-sm-2 col-md-2"></div>
					<div class="col-sm-5">
						 <div class="search-div custom_search_div">
						 	<input type="text" placeholder="Search" class="form-control" ng-model="searchText" id="searchText" ng-change="filterList()" ng-model-options="{ debounce: 500 }">
						 </div>
					</div>
					
				</div>
			</div>
			<div class="content-div">
				<div class="transactions-list">
					<div class="tbl-design">
						<table cellpadding="0" cellspacing="0" width="100%" class="table table-bordered">
							<thead>
								<tr>
									<th width="200">Date</th>
									<th width="120">Tx ID</th>
									<th>Descriptin</th>
									<th  width="100">Amount</th>
									<th width="100">Mode</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="transaction in transactions">
									<td>[[transaction.payment_at]]</td>
									<td>[[transaction.system_transaction_number]]</td>
									<td>[[transaction.remarks]]</td>
									<td>¥[[transaction.payment_amount]]</td>
									<td>[[transaction.payment_mode]]</td>
								</tr>
								
							</tbody>
						</table>
					</div>
					<default-pagination currentpage="currentPaging" like="getTransactions(page)" paginate="paginate" range="rangepage"></default-pagination>
				</div>
			</div>
		</div> 
    </div>
  </section> 
</article>
