<section class="section cases ac-info">
	<div class="container">
		<div class="title">
			ACCESSOR ACCOUNT INFO
		</div>
		<div class="all-accessours">
			<div class="my-cases">
				<ul class="list-unstyled list-inline">
					<li class="panel">
						<div class="case-dec">
							<div class="right-side pd-zero">
								<ul class="list-unstyled list-inline">
									<li class="user-img">
										<div class="img">
											<img src="assets/images/user.jpg">
										</div>
									</li>
									<li class="left-side">
										<div class="sub-header text-black margin-zero">Simon Wong</div>
										<div class="row">
											<div class="col-sm-4">
												<div>
													<label>Email :</label>
													<span>
														<span>simon.wong@qqmail.com</span>
													</span>
												</div>
												<div>
													<label>Call :</label>
													<span> +86 10 8522 1234</span>
												</div>
											</div>
											<div class="col-sm-4">
												<div>
													<label>Location</label>
													<span>
														<span>Beijing, China</span>
													</span>
												</div>
												<div>
													<label>Language:</label>
													<span>English & Chinese (Simplified)</span>
												</div>
											</div>
											<span class="group-btn">
												<div class="box">
													<a class="btn btn-sm" href="#/PR-account-info">Reset Password</a>
												</div>
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class=" unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header sub-title">
				More Info
			</div>
			<ul class=" list-unstyled accessours-pay-info">
				<li class="panel">
					<div class="pay-details">
						<div class=" pay-mode">
							<label>Payment Mode: &nbsp; &nbsp; </label>
							<span>
								<span class="radio-button">
									<input type="radio" value="0" name="pay">
									<div class="radio-checked"></div>
									<label class="control-label">Bank Transfer</label>
									&nbsp;&nbsp;
								</span>
								<span class="radio-button">
									<input type="radio" value="0" name="pay">
									<div class="radio-checked"></div>
									<label class="control-label">Alipay</label>
									&nbsp;&nbsp;
								</span>
								<span class="radio-button">
									<input type="radio" value="0" name="pay">
									<div class="radio-checked"></div>
									<label class="control-label">Wechat</label>
								</span>
							</span>
						</div>
						<div class="earn-dertails pull-right">
							<label class="control-label">Lifetime Earnings: <span>&yen; 324.00 </span></label>
						</div>
					</div>
					<div class="account-info">
						<ul class="list-unstyled list-inline">
							<li>
								<div class="row">
									<div class="col-sm-3">
										<label>Account Number</label>
										<input type="" class="form-control input-circle" name="" placeholder="****2455">
									</div>
									<div class="col-sm-3">
										<label>Reporting Manager</label>
										<select class="form-control input-circle">
											<option>Jason Ho Ching</option>
											<option>Jason Lin</option>
											<option>Jason Ho Ching</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label>Operating Level</label>
										<select class="form-control input-circle">
											<option>Level 1</option>
											<option>Level 2</option>
											<option>Level 3</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label>Date of Birth</label>
										<div class="date form-control input-circle" data-provide="datepicker">
											<input type="text" name="singledate-picker" value="10/24/1984" class="form-control">
											<i class="sci-calendar"></i>
										</div>
									</div>
								</div>
							</li>
							<li class="text-center border-right">
								<label class="control-label">Joined Since</label>
								<div class="clearfix"></div>
								<label>20 Aug, 2015</label>
							</li>
							<li class="text-center border-right">
								<label class="control-label">Total Jobs</label>
								<div class="clearfix"></div>
								<label>75</label>
							</li>
							<li class="text-center">
								<label class="control-label">Lifetime Earnings</label>
								<div class="clearfix"></div>
								<label>&yen; 342,000</label>
							</li>
						</ul>
						<div class="update-btn margin-tp15">
							<a class="btn btn-sm" data-target="#clear-payment" data-toggle="modal">Update Info</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases unsiggned-case">
			<div class="sub-header text-red margin-bt20 special-case-header  sub-title">
				Job History
			</div>
			<ul class="list-unstyled panel-group" id="accordion">
				<li class="panel margin-zero">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
				</li>
				<li class="panel">
					<div class="media">
						<div class="media-left">
							<div class="icon">
								<span class="sci-doc"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>
							</div>
						</div>
						<div class="media-body case-dec">
							<div class="left-side">
								<div class="sub-header text-black margin-zero">Final Semester Thesis 2017.docx</div>
								<div>Level 1 Accessor : <span> Jason Lin </span></div>
								<div>Client :<span><a href="javascript:void(0)"> Nicole Thompson </a></span></div>
							</div>
							<div class="right-side pull-right">
								<ul class="list-unstyled list-inline">
									<li class="border-right">
										<div>Case ID:</div>
										<div><b>4342</b></div>
									</li>
									<li class="border-right">
										<div>Total Words: </div>
										<div><b>442</b></div>
									</li>
									<li class="">
										<div>Total Fee: </div>
										<div><b>$75.00</b></div>
									</li>
								</ul>
							</div>
							<span class="icon-dd remove">
								<a class="btn text-white dwnld-file"><i class="sci-download text-white"></i> Download file</a>
								<a data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)#case-details-2" class="collapsed" aria-expanded="false">
									<i class="sci-down-arrow down"></i>
									<i class="sci-down-up up"></i>
								</a>
							</span>
						</div>
					</div>
					<div id="case-details-2" class="panel collapse">
						<div class="sub-header pd-tp20 border-tp margin-tp30 text-red ">CASE DETAILS</div>
						<ul class="list-unstyled list-inline case-list">
							<li class="">
								<div>Case ID:</div>
								<div><b>4342</b></div>
							</li>
							<li class="">
								<div>Total Words: </div>
								<div><b>442</b></div>
							</li>
							<li class="">
								<div>Total Fee: </div>
								<div><b>$75.00</b></div>
							</li>
							<li class="">
								<div>Language: </div>
								<div><b>English</b></div>
							</li>
							<li class="">
								<div>File Size: </div>
								<div><b>204.3 KB</b></div>
							</li>
							<li class="change-btn">
								<a class="btn">Assign Accessor</a>
							</li>
						</ul>
						<div class="sub-header pd-tp10 margin-zero text-red ">CASE TIMELINE</div>
						<ul class="list-unstyled list-inline progress-indicator">
							<li class="submitted">
								<span class="bubble back-red"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>Document Submitted</div>
									<div class="btn-file">
										<a class="btn">Original File</a>
									</div>
								</div>
							</li>
							<li class="completed-1">
								<span class="bubble back-blue"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>1st Level Accessment Completed</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-download"></i> Accessed File</a>
									</div>
								</div>
							</li>
							<li class="completed-2">
								<span class="bubble back-yellow"></span>
								<div class="timeline-details">
									<b>12 Apr, 4:45 pm</b>
									<div>2nd Level Accessment Completed</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-download"></i> Download File</a>
									</div>
								</div>
							</li>
							<li class="download">
								<span class="bubble back-green"></span>
								<div class="timeline-details">
									<b>12 Apr, 5:00 pm</b>
									<div>File downloaded</div>
									<div class="btn-file">
										<a class="btn"><i class="sci-cancel"></i> Cancel Case</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<div class="my-cases delayed-caes">
			<div class="sub-header text-red margin-bt20 special-case-header sub-title">
				Transaction History
			</div>
			<table class="table back-white">
				<thead>
					<tr>
						<th width="60%">Transaction Info</th>
						<th width="15%">Amount</th>
						<th width="15%">Outstanding Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-green"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="text-red">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-green"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="text-green">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					<tr>
						<td class="transaction-details">
							<div class="list-dots-circle">
								<span class="circle back-red"></span>
								<div class="circle-space">
									<label>Completion of Case (ID: 3244)</label>
									<div>Date: 12 July, 4:45 PM</div>
								</div>
							</div>
						</td>
						<td> <b class="text-red">&yen; 500</b></td>
						<td><b>&yen; 500</b></td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</section>