@font-face {
    font-family:"AvenirLT";
    src: url(fonts/AvenirLTStd-Roman_2.otf);
}
@font-face {
    font-family: 
}
body {
    color: #202020 ;
    font-family: 'AvenirLT';
}
.margin-zero {
    margin: 0px !important
}
.margin-tp0 {
    margin-top: 0px !important
}
.margin-tp5 {
    margin-top: 5px !important
}
.margin-tp10 {
    margin-top: 10px !important
}
.margin-tp15 {
    margin-top: 15px !important
}
.margin-tp20 {
    margin-top: 20px !important
}
.margin-tp30 {
    margin-top: 30px !important
}
.margin-tp40 {
    margin-top: 40px !important
}
.margin-tp50 {
    margin-top: 50px !important
}
.margin-tp80 {
    margin-top: 80px !important
}
.margin-bt0 {
    margin-bottom: 0px !important
}
.margin-bt5 {
    margin-bottom: 5px !important
}
.margin-bt10 {
    margin-bottom: 10px !important
}
.margin-bt15 {
    margin-bottom: 15px !important
}
.margin-bt20 {
    margin-bottom: 20px !important
}
.margin-bt25 {
    margin-bottom: 25px !important
}
.margin-bt30 {
    margin-bottom: 30px !important
}
.margin-bt40 {
    margin-bottom: 40px !important
}
.margin-bt50 {
    margin-bottom: 50px !important
}
.margin-bt80 {
    margin-bottom: 80px !important
}
.margin-auto {
    margin: auto
}
.pd-zero {
    padding: 0px !important
}
.pd-tp0 {
    padding-top: 0px !important
}
.pd-tp5 {
    padding-top: 5px !important
}
.pd-tp10 {
    padding-top: 10px !important
}
.pd-tp15 {
    padding-top: 15px !important
}
.pd-tp20 {
    padding-top: 20px !important
}
.pd-tp30 {
    padding-top: 30px !important
}
.pd-tp40 {
    padding-top: 40px !important
}
.pd-tp50 {
    padding-top: 50px !important
}
.pd-tp80 {
    padding-top: 80px !important
}
.pd-bt0 {
    padding-bottom: 0px !important
}
.pd-bt5 {
    padding-bottom: 5px !important
}
.pd-bt10 {
    padding-bottom: 10px !important
}
.pd-bt15 {
    padding-bottom: 15px !important
}
.pd-bt20 {
    padding-bottom: 20px !important
}
.pd-bt30 {
    padding-bottom: 30px !important
}
.pd-bt40 {
    padding-bottom: 40px !important
}
.pd-bt50 {
    padding-bottom: 50px !important
}
.pd-bt80 {
    padding-bottom: 80px !important
}
.pd-20
{
    padding: 20px;
}
.divider
{
    border-bottom:1px solid #f2f2f2;
    margin-bottom: 10px;
}
.bg-red
{
    background-color: #d21a24;
}
.bg-green
{
    background-color: green !important;
    color: #fff;
}
.back-red
{
    background-color: red;
}
.back-blue
{
    background-color: #2b8de6;
}
.back-yellow
{
    background-color: yellow;
}
.back-green
{
    background-color: green !important;
}
.text-red
{
    color: #d21a24;
}
.text-green
{
    color: green !important;
}
.border-r
{
    border-left: 1px solid red;
    border-right: 1px solid red;
}
.border-g
{
    border-left: 1px solid green;
    border-right: 1px solid green;
}
.text-white
{
    color: #fff !important;
}
.back-white
{
    background-color: #fff !important;
}
.back-gray
{
    background-color: gray !important;
}
.back-light-gray
{
    background-color: #f2f2f2 !important;
}
.back-lr
{
    background-color: #feece8;
}
.back-lg
{
    background-color: #e7f5e6;
}
.back-ly
{
    background-color: #fcfbe6;
}
.back-lb
{
    background-color: #e9f3fc;
}
.text-black
{
    color: #202020 !important;
}
.inline-block {
    display: inline-block;
    width: 100%;
}
.a-uline-remove:hover
{
    text-decoration: none;
}
.btn
{
    background-color: #d21a24;
    border-radius: 20px;
    color: #fff;
    padding: 6px 12px !important;
}
.btn:hover, .btn:focus, .btn.focus
{
    background-color: #f9323d;
    color: #fff;
}
.btn-default
{
    background-color: #fff;
    color: #000;
}
a
{
    transition: all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
}
a:hover,a:active,a:focus
{
    text-decoration: none;
}
.control-label
{
    margin-top: 8px;
}
.form-control:focus
{
    box-shadow: none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    -ms-box-shadow:none;
    border-color: #d21a24;
}
.border
{
    border: 1px solid #e7ecf1;
}
.border-tp
{
    border-top: 1px solid #e7ecf1; 
}
.border-right 
{
    border-right: 1px solid #e7ecf1; 
}
.radio-button {
    position: relative;
    margin-right: 50px;
    padding-top: 0px;
    padding-left: 45px;
    margin: 0px 20px 10px 0px !important;
}
.radio-button input 
{
    opacity: 0;
    z-index: 9999;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 0px !important;
}
.form-detail input 
{
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -o-border-radius: 20px !important;
}
.radio-checked {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #202020;
    border-radius: 50% !important;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}
.radio-button input:checked ~ .radio-checked:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #d21a24;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}
/*header start*/
.logo img
{
    width: 100px;
}
header a
{
    padding: 6px 12px !important;
    color: #000;
    display: inline-block;
}
header ul
{
    padding: 14px 0px;
}
header
{
    background-color: #fff;
    width: 100%;
    border-radius: 0px;
    padding: 5px 0px;
    z-index: 2;
}
.slide
{
    position: relative;
    top: -100px;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
.fixed-header
{
    position: fixed;
    top:0px;
    z-index: 11;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px #d1d1d1;
    -moz-box-shadow:0px 0px 14px 0px #d1d1d1;
    -o-box-shadow:0px 0px 14px 0px #d1d1d1;
    -webkit-box-shadow:0px 0px 14px 0px #d1d1d1;
    -ms-box-shadow:0px 0px 14px 0px #d1d1d1;
}
header .navbar-right .after-login
{
    padding: 12px 0px;
}
header .navbar-right img
{
    width: 40px;
    border-radius: 10px;
}
header .media-body
{
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}
header .navbar-right .dropdown-menu
{
    top: 50px;
    border-top: 2px solid #d21a24;
    left: 0px;
    right: -10px;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    border-radius: 0px;
    min-width: auto !important;
}

header .dropdown-menu
{
    opacity: 0;
    display: block !important;
    transition: all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
    position: absolute;
}
header .open > .dropdown-menu
{
    opacity: 1;
}
header .dropdown-menu > li > a:hover,header .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #d21a24;
}
header .navbar-right .dropdown-menu:before
{
    content: '';
    border-top: 7px solid #d21a2400;
    border-left: 7px solid transparent;
    border-right: 7px solid #bdb76b00;
    border-bottom: 7px solid #d21a24;
    position: absolute;
    left: 45%;
    top: -16px;
    text-align: center;
}
header .caret {
    margin-left: 10px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    margin-top: 15px;
}
header .language
{
    padding: 6px 12px;
}
header .dropdown-menu .icon
{
    font-weight:600;
    padding-right: 10px;
}
.checkbox-set
{
    margin: 0px 10px;
}
.checkbox-set .checkbox-btn
{
    width: 30px;
    height: 10px;
    background-color: #ff00004a;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -ms-transition:all 0.5s linear;
}
.checkbox-set .checkbox-btn:before
{
    background-color: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: -3px;
    left: 0px;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
}
.checkbox-set input[type="checkbox"]
{
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 30px;
}
.checkbox-set input[type="checkbox"]:checked + .checkbox-btn:before
{
    left: 15px;
}
.checkbox-section .checkbox-btn {
    position: relative;
    display: inherit;
    display: inline-block;
    width: 14px;
    height: 14px;
    top: 3px;
    margin-right: 5px;
}
.checkbox-section .checkbox-btn input[type="checkbox"] {
    position: absolute;
    left: 0px;
    opacity: 0;
    z-index: 9;
    margin: 0px;
}
.checkbox-section .checkbox-btn .check-box {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
    left: 0px;
    top: 0px;
    background-color: #fff;
}
.checkbox-section .checkbox-btn input[type="checkbox"]:checked + .check-box:before {
    content: '';
    position: absolute;
    background: #a09df4;
    width: 2px;
    height: 6px;
    top: 4px;
    left: 2px;
    transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    -moz-transform: rotate(-23deg);
    -ms-transform: rotate(-23deg);
    -o-transform: rotate(-23deg);
}
.checkbox-section .checkbox-btn input[type="checkbox"]:checked + .check-box:after {
    content: '';
    position: absolute;
    background: #a09df4;
    /* border: 1px solid #868686; */
    width: 9px;
    height: 2px;
    top: 5px;
    left: 3px;
    transform: rotate(-33deg);
    -webkit-transform: rotate(-33deg);
    -moz-transform: rotate(-33deg);
    -ms-transform: rotate(-33deg);
    -o-transform: rotate(-33deg);
}
.modal .form
{
    padding: 40px 20px;
}
/*header end*/
/*user-sign-up start*/
.main
{
    background-image: url("../images/dot.png");
    background-position: center center;
    position: relative;
    z-index: 0;
}
.user-signup-page .user-content .options {
    padding: 50px 0px;
}
.user-signup .bg-box
{
    overflow: hidden;
}
.user-signup .bg-box .box-left,.user-signup .bg-box .box-right,.box-bottom
{
    position: relative;
    width: 850px;
    height: 650px;
    /*transform: rotate(216deg);*/
    top: -200px;
    left: -350px;
    display: inline-block;
    background-color: #d21a24;
    border-radius: 50%;
    animation: bg-left 1.5s cubic-bezier(1,1,1,1);
    animation-iteration-count:1;
}
.user-signup .bg-box .box-right
{
    width: 350px;
    height: 350px;
    top: 250px;
    right: 0px;
    left: 70px;
    float: right;
    animation: bg-right 1.5s cubic-bezier(1,1,1,1);
}
.box-bottom
{
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -20px;
    top: initial;
    right: 0px;
    left: -95px;
    animation: bg-bottom 0.5s cubic-bezier(1,1,1,1);
}
@keyframes bg-left
{
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1,1);
    }
}
@keyframes bg-right
{
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
@keyframes bg-bottom
{
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
.user-signup
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}
.user-signup .dots
{
    position: absolute;
    top: 120px;
    right: 100px;
}
.user-signup .dots img
{
    width: 350px;
}
.user-content .logo
{
    padding: 50px 0px;
}
.user-content .logo img
{
    width: 150px;
}
.user-content .progaram-section
{
    background-image: none;
    padding: 0px 130px;
}
.user-content .progaram-section .box
{
    box-shadow: 0px 0px 6px 3px #0000001a;
    -moz-box-shadow:0px 0px 6px 3px #0000001a;
    -o-box-shadow:0px 0px 6px 3px #0000001a;
    -webkit-box-shadow:0px 0px 6px 3px #0000001a;
    -ms-box-shadow:0px 0px 6px 3px #0000001a;
}
.user-content .options
{
    padding: 50px 0px 20px;
}
.user-content .options .icon
{
    font-size: 60px;
}
.user-content .options .barcode
{
    margin: 20px 0px;
}
.reset .form
{

}
.user-content .options .barcode>span
{
    font-size: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 3px #0000001a;
    -moz-box-shadow:0px 0px 6px 3px #0000001a;
    -o-box-shadow:0px 0px 6px 3px #0000001a;
    -webkit-box-shadow:0px 0px 6px 3px #0000001a;
    -ms-box-shadow:0px 0px 6px 3px #0000001a;
    padding: 40px;
    display: inline-block;
}
.forget a:hover
{
    text-decoration: underline;
}
.forget
{
    display: inline-block;
    width: 100%;
}
.user-content .options .text
{
    padding: 0px 150px;
}
.user-content .options .form
{
    padding: 0px 70px;
}
.form .form-control
{
    box-shadow: none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    -ms-box-shadow:none;
    background-color: transparent !important;
    position: relative;
    z-index: 11;
    color: #9E9E9E;
}
.form .input-label span
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px 13px;
    text-align: left;    
    color: #9E9E9E;
    background-color: transparent;
    transition: all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    z-index: 0;
}
.form .form-group.typing span
{
    top:-27px;
    z-index: 111;
}
.form .form-group
{
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
}
/*user-sign-up end*/
/*after-sign-up start*/
.after-signup .user-signup .bg-box .box-left,
.after-signup .user-signup .bg-box .box-right, 
.after-signup .box-bottom
{
    background-color: #ec8024;
}
.after-signup .user-content .main-title
{
    padding: 50px 0px;
}
.after-signup .user-content .box
{
    padding: 0px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 8px 3px 0px #0000000a;
    -moz-box-shadow:0px 8px 3px 0px #0000000a;
    -o-box-shadow:0px 8px 3px 0px #0000000a;
    -webkit-box-shadow:0px 8px 3px 0px #0000000a;
    -ms-box-shadow:0px 8px 3px 0px #0000000a;
    background-color: #fff;
}
.after-signup .user-content .box .sub-header
{
    background-color: #f9f7f8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    color: #000;
    margin-bottom: 0px;
}
.after-signup .user-content .progaram-section .box .box-content
{
    padding: 20px;
    padding-bottom: 115px;
}
.after-signup .user-content .progaram-section .box .box-btn
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.after-signup .user-content .training,.after-signup .user-content .payment-details
{
    /*margin: 0px 100px;*/
}
.after-signup .user-content .training .box form ,
.after-signup .user-content .payment-details .box form 
{
    padding: 20px 100px;
}
.label-large
{
    font-size: 18px;
    font-weight: 600;
}
.after-signup .user-content .payment-details .box-details
{
        background-color: #f9f7f8;
    border: 1px solid #e8e8e8;
    padding:20px;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
}
.after-signup .user-content .payment-details .box-details .form-control
{
    border:0px;
    box-shadow: none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    -ms-box-shadow:none;
}
.after-signup .total-payment div
{
    margin-bottom: 10px;
}
.after-signup .border
{
    margin: 0px 30px 10px 0px;
}
.after-signup .total
{
    padding: 10px 20px;
}
/*after-sign-up end*/
/*home-page start*/
.banner
{
    background-image: url("../../images/home-banner.png");
    background-size: 100% 540px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 540px;
    position: relative;
    overflow: hidden;
}
.banner .container
{
    height: 100%;
    position: relative;
}
.banner .team-img
{
    position: absolute;
    bottom: 65px;
    left: 0px;
}
.banner .team-img img
{
    width: 600px;   
}
.banner .img-bg
{
    position: absolute;
    bottom: -170px;
    right: 0px;
}
.banner .img-bg img
{
    width: 500px;   
}
.banner .strip
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #d21a24;
    color: #fff;
    padding: 15px 40px;
    font-size: 25px;
}
.banner .student img
{
    width: 450px;   
}
.banner .student
{
    position: absolute;
    bottom: -1px;
    right: 50px;
    z-index: 1;
}
.progaram-section
{
    background-image: url("../../images/dot.png");
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    text-align: center;
}
section
{
    padding: 40px 0px 40px 0px;
}
.progaram-section .progaram
{
    padding: 0px 100px;
}
.title
{
    color: #d21a24;
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}
.box-list
{
    display: flex;
    justify-content: space-between;
}
.progaram-section .box-list
{
    padding: 40px 0px;
}
.progaram-section .box .icon
{
    font-size: 90px;
}
.progaram-section .box
{
    background-color: #fff;
    box-shadow: 0px 0px 6px 3px #f2f2f2;
    -moz-box-shadow:0px 0px 6px 3px #f2f2f2;
    -o-box-shadow:0px 0px 6px 3px #f2f2f2;
    -webkit-box-shadow:0px 0px 6px 3px #f2f2f2;
    -ms-box-shadow:0px 0px 6px 3px #f2f2f2;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
}
.progaram-section .box .text
{
    font-size: 16px;
    font-weight: 600;
        margin-bottom: 10px;
}
.video .dec-students
{
    background-color: #ec8024;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    display: flex;
    text-align: justify;
    margin: 0px 60px 0px 120px;
}
.video .dec-students .img
{
    position: relative;
    left: -100px;
}
.video .dec-students .img-box,.next-videos .img
{
    position: relative;
}
.video .dec-students .img-box span,.next-videos .img span
{
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
.video .dec-students .img-box span i,.next-videos .img span i
{
    margin: auto;
    font-size: 50px;
    color: #fff;
}
.video .dec-students .img img
{
    width: 300px;
}
.course-contents
{
    background-image: url("../../images/bg-contents.png");
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}
.course-contents .course-title span
{
    font-size: 18px;
}
.content-list ul li
{
    background-color: #fff;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px 3px #e2e2e2;
    -moz-box-shadow:0px 0px 10px 3px #e2e2e2;
    -o-box-shadow:0px 0px 10px 3px #e2e2e2;
    -webkit-box-shadow:0px 0px 10px 3px #e2e2e2;
    -ms-box-shadow:0px 0px 10px 3px #e2e2e2;
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.content-list ul li:first-child
{
    margin-top: 0px;
}
.course-contents .content-list ul li .box-list .left
{
    flex: 1;
}
.course-contents .content-list ul li .box-list .right
{
    flex: 1;
    text-align: right;
}
.content-list ul li .section
{
    flex: 1;
    padding: 20px 0px;
    color: #d21a24;
    font-weight: 600;
}
.content-list ul li .name
{
    flex: 6;
    padding: 20px 0px;
}
.content-list ul li .video-time
{
    flex: 2;
    padding: 20px 0px;
}
.content-list ul li .video-time span
{
    margin-left: 10px;

    cursor: pointer;
}
.content-list ul li i
{
    color: #d21a24;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
}
.content-list ul li .border-g i
{
    color: green;
}
.content-list p
{
    text-align: justify;
}
.content-list ul li .border-r i
{
    color: red;
}
.table > tbody > tr > td
{
    vertical-align: middle;
}
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    border-left: none !important;
    border-right: none !important;
    border:2px solid #f0f6fa;
    padding: 10px;
}
.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #fafcfd;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}
.table-striped > tbody > tr:hover
{
    background-color: #fce7e8;
    cursor: pointer;
}
.subscribe .box
{
    width: 48%;
}
.sub-header,.after-signup .user-content .progaram-section .box .box-btn p
{
    color: #d21a24;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 18px;
}
.subscribe .left-side .btn
{
    padding: 10px 40px !important;
}
.subscribe .left-side span
{
    margin: 0px 40px;
}
.subscribe .content-list ul li
{
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    -webkit-box-shadow:none;
    -ms-box-shadow:none;
}
.subscribe .content-list ul li a
{
    padding: 10px 0px;
    cursor: default;
}
.subscribe .content-list ul li .video-time
{
    flex: 2;
    text-align: right;
}
.subscribe .content-list ul li .name
{
    flex: 2;
}
/*home-page end*/
/*user-dashboard start*/
.user-dashboard-banner
{
    background-image: url("../../images/user-dashboard-banner.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position:top;
    height: 330px;
    position: relative;
    display: flex;
}
.user-dashboard-banner .overlay
{
    background-color: #d21a24;
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.user-dashboard-banner .header
{
    margin: auto;
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 0px 15px;
}
.user-dashboard-banner .header i
{
    font-size: 80px;
    margin-bottom: 20px;
    display: inline-block;
    color: #fff;
}
.user-dashboard-banner .banner-header
{
    background-color: #d21a24;
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    text-align: center;
}
/*user-dashboard end*/
/*video-viewing start*/
.content-box
{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 8px 3px 0px #0000000a;
    -moz-box-shadow:0px 8px 3px 0px #0000000a;
    -o-box-shadow:0px 8px 3px 0px #0000000a;
    -webkit-box-shadow:0px 8px 3px 0px #0000000a;
    -ms-box-shadow:0px 8px 3px 0px #0000000a;
}
.video-details .videos 
{
    width: calc(100% - 340px);
    display: inline-block;
}
.video-details .next-videos 
{
    width: calc(320px);
    float: right;
}
.video-details .content-box img
{
    width: 100%;
}
.video-details .content-box .left-side
{
    display: inline-block;
    padding: 7px 0px;
}
.video-details .content-box .icon
{
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
}
.morecontent span {
    display: none;
}
.more
{
    padding:15px 0px;
    overflow: hidden;
}
.continue-reading
{
    box-shadow: rgb(253, 253, 253) 0px -14px 79px 17px;
    -moz-box-shadow:rgb(253, 253, 253) 0px -14px 79px 17px;
    -o-box-shadow:rgb(253, 253, 253) 0px -14px 79px 17px;
    -webkit-box-shadow:rgb(253, 253, 253) 0px -14px 79px 17px;
    -ms-box-shadow:rgb(253, 253, 253) 0px -14px 79px 17px;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}
.video-details .content-box .submit-btn
{
    padding: 15px 0px;
}
.video-details .content-box .comments
{
    height: auto;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 8px 3px 0px #0000000a;
    -moz-box-shadow:0px 8px 3px 0px #0000000a;
    -o-box-shadow:0px 8px 3px 0px #0000000a;
    -webkit-box-shadow:0px 8px 3px 0px #0000000a;
    -ms-box-shadow:0px 8px 3px 0px #0000000a;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.video-details .content-box .comments .delete
{
    margin-top: 15px;
}
.video-details .content-box .comments .delete a
{
    font-size: 18px;
}
/*video-viewing end*/
/*my-cases start*/
.new-cases .drop-files
{
    min-height: 95px;
}
.new-cases .left-side
{
    float: left;
}
.new-cases .progress
{
    width: 500px;
    display: inline-block;
    position: relative;
    top: 30px;
    height: 7px;
    left: 50px;
}
.new-cases .table 
{
    border:1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    border-collapse: inherit;
    font-weight: 600;
}
.new-cases .table .icon
{
    font-size: 18px;
    position: relative;
    top: 3px;
    padding-left: 5px;
}
.new-cases .table a
{
    color: #000;
}
.new-cases .li-border
{
    border:1px solid #ddd;
}
.new-cases .table > thead > tr > th
{
    border-bottom:0px;
    background-color: #f2f2f2;
    border-radius: 5px 5px 0px 0px;
}
.new-cases-details
{
    clear: both;
    margin: 30px 0px 0px;
    display: inline-block;
    width: 100%;
}
.new-cases .total
{
    border:1px dashed #dbdbdb;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    left: 20%;
}
.new-cases .total span
{
    font-size: 20px;
    padding: 0px 5px;
    font-weight: 600;
}
.new-cases .progress .progress-bar
{
    width: 60%;
}
.new-cases.my-cases .drop-files .icon span
{
    font-size: 30px;
    padding: 10px 0px;
}
.new-cases.my-cases .drop-files .sub-header
{
    position: relative;
    top: -7px;
    color: gray !important;
    padding-left: 10px;
}
.add img
{
    width: 100%;
}
.my-cases li
{
    border-radius: 10px;
    padding: 15px;
    position: relative;
    margin: 10px 0px;
}
.my-cases li .icon span
{
    display: inline-block;
    font-size: 70px;
}
.my-cases li .left-side
{
    display: inline-block;
}
.my-cases li .icon-dd
{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 25px;
}
.cases .back-lr .icon-dd a
{
    color: red;
}
.cases .back-lg .icon-dd a
{
    color: green;
}
.cases .back-lg .icon-dd .btn
{
    background-color: green;
}
.cases .back-ly .icon-dd a
{
    color: #e9da0f;
}
.my-cases li .case-dec
{
    padding-left: 20px;
} 
.cases .icon-dd .down
{
    opacity: 1;
    position: relative;
    top: 4px;
}
.cases .icon-dd.remove .down
{
    opacity: 0;
}
.tooltip.top .tooltip-inner
{
    background-color: #fff !important;
    color: #000;
    box-shadow: 0px 0px 7px 0px #0000002e;
}
.tooltip.in
{
    opacity: 1 !important;
}
.tooltip.top .tooltip-arrow
{
    border-top-color:#fff !important;
}
.dwnld-file
{
    opacity: 1;
}
.remove .dwnld-file
{
    opacity: 0;
    transition: all 0.3s linear;
}
.cases .icon-dd .up
{
    position: absolute;
    top: 7px;
    right: 0px;
    opacity: 0;
    z-index: -1;
}
.cases .icon-dd .dwnld-file
{
    margin-right: 20px;
}
.cases .icon-dd.remove .up
{
    opacity: 1;
    z-index: 0;
}
.progress-indicator {
    margin: 0px 100px 0px 0px;
    padding: 0px ;
    font-size: 90%;
    display: flex;
    justify-content: space-between;
}
.lead-status ul li {
    width: 18%;
    text-align: center;
    font-family: axiforma-Medium;
}
.progress-indicator>li {
    list-style: none;
    text-align: center;
    width: 23%;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: var(--textgray-reguler);
    display: block;
}
.flexer-element, .progress-indicator>li {
    margin-top: 20px;
}
.progress-indicator>li .bubble {
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto .5em;
}
.progress-indicator>li:last-child .bubble:after, .progress-indicator>li:last-child .bubble:before {
    display: none;
}
.progress-indicator>li .bubble:before {
    left: 0;
}
.progress-indicator>li .bubble .progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before {
    display: block;
    position: absolute;
    top: 14px;
    width: 100%;
    margin-left: 57%;
    height: 2px;
    content: '';
    background-color: transparent;
    border :1px dashed gray;
}
.progress-indicator .timeline-details
{
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 40px;
    margin-top: 20px;
    min-height: 81px;
}
.timeline-details .icon span
{
    font-size: 50px !important;
}
.case-list
{
    border-bottom: 1px solid #c6d2c4;
    margin-bottom: 15px;
}
.case-list li
{
   padding-right: 40px;
    padding-left: 5px;
    font-weight: 600;
}
.group-btn a
{
    margin-right: 20px;
}
/*my-cases end*/
/*pr-landing start*/
.new-case
{
    background :transparent;
}
.pricing-turnaround
{
    background-color: #f2f2f2;
}
.pricing-turnaround .box
{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin-top: 20px;
}
.pricing-turnaround .box ul
{
    padding-left: 20px;
}
.pricing-turnaround .box ul li
{
    position: relative;
}
.pricing-turnaround .box ul li:before
{
    content: '';
    background-color: #d21a24;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position: absolute;
    left: -20px;
    top: 7px;

}
.PR-banner
{
    background-image: url("../../images/PR-banner.jpg");
}
.our-process .process
{
    display: flex;
    position: relative;
    padding: 100px 0px;
    overflow: hidden;
}
.process-modal
{
    margin: auto;
    border-radius: 50%;
    border:3px dotted #f6ad23;
    width: 200px;
    height: 200px;
}
.process-modal:before
{
    content: '';
    background-color: #ffffff;
    border-bottom: 3px dotted #ffffff;
    border-top: 3px dotted #f6ad23;
    border-left: 3px dotted #f6ad23;
    border-right: 3px dotted #fffffffc;
    position: absolute;
    top: 93px;
    left: 49%;
    bottom: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
}
.process .icon
{
    font-size: 70px;
    padding:0px 20px;
    display: inline-block;
}
.process .step
{
    position: absolute;
    width: 470px;
}
.process .step-1
{
    top: 0px;
    left: 45%;
    right: 0;
}
.process .step-2
{
    top: 25%;
    left: 58%;
    right: 0;
}
.process .step-3
{
    top: 62%;
    left: 56%;
    right: 0;
}
.process .step-4
{
    top: 62%;
    left: 2%;
    right: 0;
    width: 500px;
}
.process .step-5
{
    top: 25%;
    left: 2%;
    right: 0;
}
.process .media-body
{
    vertical-align: middle;
}
.process .left-sm
{
    float: right;
    display: inline-block;
}
.process .right-sm
    {
        padding: 20px 0px;
    }
/*pr-landing end*/
/*marketplace-user-step2 start*/
.marketplace-banner
{
     background-image: url("../../images/marketplace-banner.jpg");
}
.marketplace .box
{
    width: 100%;
    text-align: left;
}
.marketplace .box form
{
    padding: 20px !important;
}
.marketplace .box form .icon
{
    font-size: 50px;
}
.marketplace .box form .name
{
    display: inline-block;
}
.marketplace .box form .radio-button
{
    padding-left: 30px;
}
.marketplace .box form .radio-checked
{
    top: 24px;
}
.marketplace .input-label li 
{
    background-color: #f2f2f2;
    padding: 6px 12px;
    border-radius: 20px;
    display: inline-block;
    margin:0px 10px 10px 0px;
    cursor: pointer;
}
.date .single-datepicker
{
    border-right: 0px;
}
.input-group-addon
{
    background-color: transparent;
}
/*marketplace-user-step2 end*/













/*footer start*/
footer
{
    background-color: #202020;
    border-top:4px solid #d21a24;
    color: #fff;
    padding: 40px 0px;
    position: relative;
}
footer .list-section
{
    display: flex;
    justify-content: space-between;
}
footer .list-section li
{
    color: #d21a24;
    padding: 5px 0px;
}
footer .list-section .ttl
{
    font-weight: 600;
    font-size: 16px;
}
footer .list-section li a
{
    color: #fff;
}
footer .list-section .mail-input
{
    width: 100%;
    max-width: 370px;
}
footer .list-section .mail-input input
{
    width: calc(100% - 100px);
    display: inline-block;
    border-radius: 5px 0px 0px 5px;
}
footer .list-section .mail-input .btn
{
    width: 100px;
    float: right;
    border-radius: 0px 5px 5px 0px;
}
footer .sub-footer
{
    display: inline-block;
    width: 100%;
}
footer .sub-footer li a
{
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 10px;
    padding: 5px 0px;
    height: 30px;
    width: 30px;

}
footer .sub-footer li a:hover
{
    color: #000;
    background-color: #d21a24;
}
footer .sub-footer .social-text
{
    display: inline-block;
    padding: 5px 0px;
    float: left;
}
/*footer end*/
.package-table{
    display: none;
}
/*media query*/
@media screen and (max-width: 1199px)
{
    .banner .team-img img
    {
        width: 500px;
    }
    .banner .student img
    {
        width: 400px;
    }
    .banner .img-bg img
    {
        width: 450px;
    }
    .progaram-section .box,.video .dec-students
    {
        padding: 20px;
    }
    .content-list ul li .name
    {
        flex: 5;
    }
    .user-content .progaram-section {
        padding: 0px 70px;
    }
    .user-content .options .form {
        padding: 0px 20px;
    }
    .user-signup .bg-box .box-left
    {
        width: 72%;
    }
    .user-signup .bg-box .box-right
    {
        width: 265px;
        height: 265px;
    }
    .user-signup .dots {
        top: 170px;
    }
    .user-signup .dots img {
        width: 250px;
    }
    .user-content .options .text {
        padding: 0px 80px;
    }
    .after-signup .user-content .training .box form, .after-signup .user-content .payment-details .box form
    {
        padding: 20px 40px;
    }
    .after-signup .user-content .progaram-section
    {
        padding: 0px;
    }
    .process .step-1
    {
        left: 44%;
    }
    .process .step
    {
        width: 375px;
    }
    .process .step-4
    {
        width: 400px;
    }
    .process .step-3
    {
        left: 58%;
    }
    .progaram-section .progaram
    {
        padding:0px 50px;
    }
    .new-cases .progress
    {
        width: 400px;
    }
}
@media screen and (max-width: 1024px)
{
    /*.banner .student
    {
        right: 65px;
    }
    .banner .img-bg
    {
        right: 15px;
    }*/
    .user-signup .bg-box .box-right
    {
        width: 200px;
        height: 200px;
    }
    .user-signup .bg-box .box-left
    {
        width: 73%;
    }
}
@media screen and (max-width: 991px)
{
    .user-content .logo {
        padding: 25px 0px;
    }
    .user-content .progaram-section {
        padding: 0px 10px;
    }
    .user-content .options .barcode>span {
        font-size: 140px;
        padding: 30px;
    }
    .user-content .options .form {
        padding: 0px;
    }
    .user-content .options .text {
        padding: 0px 45px;
    }
    .user-content .options {
        padding: 20px 0px 20px;
    } 
    .after-signup .user-content .payment-details .box-details,.after-signup .border
    {
        margin: 10px 0px 20px 0px;
    }  
    .after-signup .radio-button
    {
        padding-left: 30px;
    }
    .after-signup .user-content .payment-details .border-right
    {
        border:0px;
    }
    .after-signup .user-content .progaram-section .box
    {
        width: 32%;
    }
    .banner
    {
        height: 400px;
        background-size: 100% 400px;
    }
    .banner .team-img
    {
        /*left: 5px;*/
        bottom: 57px;
    }
    .banner .team-img img {
        width: 400px;
    }
    .banner .img-bg {
        /*right: 5px;*/
        bottom: -120px;
    }
    .banner .img-bg img {
        width: 340px;
    }
    .banner .strip
    {
        font-size: 20px;
    }
    .banner .student {
        /*right: 55px;*/
    }
    .banner .student img {
        width: 285px;
    }
    .progaram-section .progaram {
        padding: 0px;
    }
    .progaram-section .box .icon {
        font-size: 60px;
    }
    .progress-indicator
    {
        margin: 0px;
    }
    .progress-indicator>li .bubble .progress-indicator>li .bubble:after, .progress-indicator>li .bubble:before
    {
        margin-left: 61%;
    }
    .case-list li
    {
        margin: 0px;
        padding-right: 15px;
        padding-bottom: 5px;
    }
    .progress-indicator .timeline-details
    {
        padding: 15px;
    }
    .content-list ul li .name
    {
        flex: 3;
    }
    .content-list ul li .video-time
    {
        flex: 2;
    }
    .video .dec-students .description p
    {
        text-align: justify;
    }
    .subscribe .left-side .btn
    {
        padding: 10px 20px !important;
    }
    .subscribe .left-side span
    {
        margin: 0px 20px;
    }
    .subscribe .content-list ul li .box-list
    {
        flex-direction: column;
        position: relative;
    }
    .subscribe .content-list ul li a
    {
        width: 100%;
        padding: 0px;
    }
    .subscribe .content-list ul li
    {
        padding: 10px;
    }
    .subscribe .content-list ul li .video-time
    {
        flex: none;
        display: inline-block;
        right: 0;
        width: auto;
        position: absolute;
    }
    .subscribe .content-list ul li .video-time .w-n
    {
        display: none;
    }
    .subscribe .content-list ul li i
    {
        padding-right: 0px;
    }
    .pricing-turnaround .box
    {
        width: 48%;
    }
    .new-cases .progress
    {
        width: 260px;
        left: 10px;
    }
    .new-cases .total
    {
        left: 4%;
    }
    footer .list-section
    {
        flex-direction: column;
        text-align: center;
    }
    footer .list-section li
    {
        display: inline-block;
        padding: 5px;
        position: relative;
    }
    footer .list-section li:after
    {
        content: '';
        height: 15px;
        width: 1px;
        background-color: #d21a24;
        position: absolute;
        right: -3px;
        top: 8px;
    }
    footer .list-section .ttl
    {
        display: block;
    }
    footer .list-section .ttl:after,footer .list-section li:last-child:after,footer .list-section li.email:after
    {
        display: none;
    }
    footer .list-section li.email
    {
        width: 100%;
    }
    footer .list-section .mail-input
    {
        width: 50%;
    }
    .video .dec-students
    {
        flex-direction: column;
        margin: 0px;
        text-align: center;
    }
    .video .dec-students .img
    {
        left: 0px;
        margin-bottom: 20px;
    }
    .video-details .videos,.video-details .next-videos 
    {
        width: 100%;
    }
    .our-process .process
    {
        padding: 50px 0px;
    }
    .process-modal
    {
        visibility: hidden;
        height: auto;
        width: auto;
    }
    .process .step
    {
        left: 0px !important;
        position: relative;
        width: auto;
    }
    .process .left-sm
    {
        float: left;
        display: inline-block;
    }
}
@media screen and (max-width: 767px)
{
    .logo img {
        width: 70px;
    }
    .btn
    {
        padding:2px 10px !important;
    }
    header .navbar-right img {
        width: 35px;
        border-radius: 10px;
    }
    header .after-login .name
    {
        font-size: 12px;
    }
    header .caret {
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    header .navbar-right .after-login {
        padding: 6px 0px;
    }
    .navbar .navbar-header
    {
        display: inline-block;
    }
    .navbar .navbar-right
    {
        float: right;
    }
    .navbar .navbar-right ul
    {
        padding: 17px 0px;
    }
    .navbar .navbar-right li
    {
        padding: 0px;
        margin-left: 5px;
    }
    .navbar .navbar-right a,header .language
    {
        padding: 3px 10px !important;
    }
    .banner .img-bg {
        right: 0;
        bottom: -100px;
        left: 0;
        text-align: center;
    }
    .banner .img-bg img {
        width: 400px;
    }
    .banner .student {
        right: 0;
        left: 0;
        bottom: 57px;
        text-align: center;
    }
    .after-signup .user-content .progaram-section .box
    {
        width: 60%;
    }
    .after-signup .user-content .training .box form, .after-signup .user-content .payment-details .box form
    {
        padding: 20px;
    }
    .user-content .progaram-section {
        padding: 0px 0px;
    }
    .user-content .logo img {
        width: 100px;
    }
    .main.user-signup-page .user-content
    {
        text-align: center;
    }
    .user-content .options .text {
        padding-bottom: 40px;
    }
    .user-content .options
    {
        padding-top: 0px;
    }
    .after-signup .user-content .progaram-section .box-list
    {
        padding: 20px 0px;
    }
    .after-signup .user-content .main-title
    {
        padding: 40px 0px 30px 0px;
    }
    .after-signup .payment-details .radio-button {
        width: 180px;
    }
    .sub-header
    {
        text-align: center;
    }
    .my-cases li .case-dec
    {
        padding-left: 0px;
        display: inline-block;
        width: 100%;
    }
    .my-cases li
    {
        padding: 10px;
    }
    .my-cases li .icon-dd
    {
        position: inherit;
        top: 0;
        width: 100%;
        display: inline-block;
        padding: 10px 0px 0px;
    }
    .cases .sub-header
    {
        text-align: left !important;
    }
    .new-cases .table
    {
        font-size: 13px;
    }
    .new-cases .table .icon
    {
        font-size: 16px;
        padding-left: 2px;
    }
    .cases .icon-dd .up
    {
        position: absolute;
        top: 10px;
        right: 10px;
        opacity: 0;
        z-index: -1;
    }
    .cases .icon-dd .down
    {
        opacity: 1;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .my-cases li .left-side
    {
        display: inline-block;
        position: absolute;
        left: 75px;
        top: 10px;
        margin-right: 30px;
    }
    section.our-process,.pricing-turnaround .title
    {
        text-align: center;
    }
    .our-process .center-sm
    {
        display: inline-block;
        float: none;
    }
    .process .right-sm
    {
        padding: 0px;
    }
    .our-process .process {
        padding: 20px 0px;
    }
    .new-cases .progress
    {
        left: 0px;
        top: 15px;
        width: 71%;
    }
    .my-cases li .icon span
    {
        font-size: 50px;
    }
    .pricing-turnaround .box-list
    {
        display: inline-block;
        width: 100%;
    }
    .pricing-turnaround .box
    {
        width: 100%;
    }
    .pricing-turnaround .box .sub-header
    {
        text-align: left;
    }
    .progaram-section .box
    {
        padding: 20px;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .progaram-section .box:last-child
    {
        margin-bottom: 0px;
    }
    .banner .student img {
        width: 300px;
    }
    .user-dashboard-banner
    {
        height: 240px;
    }
    .user-dashboard-banner .banner-header
    {
        padding: 10px 15px;
    }
    .user-dashboard-banner .header i
    {
        font-size: 70px;
    }
    .user-dashboard-banner.PR-banner
    {
        height: 300px;
    }
    .subscribe .box-list,.progaram-section .box-list
    {
        flex-direction: column;
    }
    .subscribe .box
    {
        width: 100%;
    }
    .subscribe .box.left-side
    {
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    footer .list-section .mail-input
    {
        width: 100%;
    }
    .course-contents .box-list
    {
        flex-direction: column;
    }
    .course-contents .content-list ul li a
    {
        padding:2px 0px;
    }
    .course-contents .box-list .left,.course-contents .box-list .right
    {
        display: inline-block;
        flex: none !important;
        margin: 0px;
    }
    .course-contents .box-list .box-list
    {
        flex-direction: row;
    }
    .course-contents .content-list li
    {
        padding: 10px;
    }
    .banner .team-img
    {
        display: none;
    }
    .banner .strip
    {
        text-align: center;
        padding: 15px;
    }
    footer .nav > li
    {
        float: left;
    }
    footer .navbar-nav
    {
        margin: 0px;
        float: none !important;
        display: inline-block;
        position: relative;
        top: 7px;
    }
    footer .sub-footer li a
    {
        height: 25px;
        width: 25px;
        padding: 4px 0px;
        margin: 0px 5px;
    }
    .sub-footer>.pull-right
    {
        float:none !important;
        display: inline-block;
        width: 100%;        
    }
    footer .sub-footer
    {
        text-align: center;
    }
    footer .sub-footer .social-text
    {
        float: none !important;
    }
    footer .list-section .mail-input .btn
    {
        padding: 6px 12px !important;
    }
    section.course-contents
    {
        padding: 40px 0px 20px 0px
    }
}
@media screen and (max-width: 480px)
{
    .video .dec-students .img img
    {
        width: 100%;
    }
    .banner {
        height: 300px;
        background-size: 100% 300px;
    }
    .banner .student
    {
        bottom: 48px;
    }
    .banner .student img {
        width: 200px;
    }
    .banner .strip {
        font-size: 14px;
        padding: 14px 0px;
    }
    .banner .img-bg img {
        width: 300px;
    }
    .title
    {
        font-size: 20px;
    }
    .label-large
    {
        font-size: 16px;
    }
    .view-pricing
    {
        display: inline-block;
        width: 100%;
    }
    .user-content .progaram-section
    {
        padding: 0px 10px;
    }
    .progaram-section .box
    {
        width: 100%;
    }
    .after-signup .user-content .progaram-section .box
    {
        width: 100%;
    }
    .subscribe .left-side .btn
    {
        padding: 6px 12px !important;
    }
    .program-label h2
    {
        font-size: 25px;
    }
    .user-dashboard-banner
    {
        height: 238px;
    }
    .pr-my-cases.user-dashboard-banner
    {
        height: 187px;
    }
    .PR-banner .header
    {
        margin:0 auto;
    }
    .PR-banner .header .title
    {
        font-size: 19px;
    }
    .user-dashboard-banner.PR-banner
    {
        height: 280px;
    }
    .user-dashboard-banner .header i
    {
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
    /*.user-dashboard-banner .header .title
    {
        padding: 0px 10px;
    }*/
    .user-dashboard-banner .banner-header
    {
        font-size: 15px;
        padding: 15px;
    }
}