/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 5 Dec, 2017, 3:57:40 PM
    Author     : Komal Kapadi <komal@creolestudios.com>
*/

.margin-10 {
    margin-top: 30px;
}

.has-error .help-block {
    color: #af3737;
}

div.Ntooltip {
    position: relative !important;
    /* es la posición normal */
    display: inline-block;
    top: -0.2em;
    left: 0.2em;
}

div.Ntooltip:hover {
    z-index: 1005;
    /* va a estar por encima de todo */
}

div.Ntooltip label {
    display: none !important;
    /* el elemento va a estar oculto */
    vertical-align: middle;
}

div.Ntooltip:hover label.error:not(.checked) {
    display: inline-block !important;
    /* se fuerza a mostrar el bloque */
    position: absolute;
    /* se fuerza a que se ubique en un lugar de la pantalla */
    left: 2em;
    /* donde va a estar */
    width: auto;
    /* el ancho por defecto que va a tener */
    padding: 5px;
    /* la separación entre el contenido y los bordes */
    background-color: #ff6611;
    /* el color de fondo por defecto */
    border: 3px coral solid;
    border-radius: 0.5em;
    color: white;
    opacity: 0.85;
}

div.errorImage {
    background: url("https://cdn.mscdirect.com/global/media/images/icons/error.png") no-repeat 0px 0px;
    display: inline-block !important;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}

label.checked+div.errorImage {
    background: url("https://shadow888.com/media/images/available_icon.png") no-repeat 0px 0px;
    display: inline-block !important;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}


/**
Author: Komal Kapadi
**/

.designer-my-uploads-popup .file-return {
    display: none !important;
}


/* Custom CSS... */

.resizeContainer {
    width: 100%;
    height: 500px;
}

.resizeArea {
    width: 98%;
    height: 400px;
    position: relative;
    resize: both;
    overflow: hidden;
    /*border: 1px solid #333;*/
    padding: 2px;
}

.cropArea {
    background: #E4E4E4;
    width: 50%;
    height: 90%;
    max-height: 350px;
}

.float {
    float: left;
}

.clear {
    display: block;
    clear: both;
}

.preview_container {
    width: 50%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 2px;
}


/* CSS FROM ng-img-crop.css.... */

img-crop {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

img-crop canvas {
    display: block;
    left: 50%;
    outline: medium none;
    position: absolute;
    top: 50%;
}

div[img-crop-result] {
    display: inline-block;
    position: relative;
    width: 200px;
}

div[img-crop-result] .imgCropResultContainer {
    overflow: hidden;
    padding-top: 0;
    position: relative;
    width: 100%;
}

div[img-crop-result] .imgCropResultContainer img {
    position: absolute;
}

.preview_container {
    display: none;
}


/* To remove background of canvas tag in file attachment in message board */

.file-progress-bar .file-extension {
    background: none !important;
}

.progress-bar {
    background-color: #67d54e !important;
}

.pointer-cursor {
    cursor: pointer;
}