body {
	font-family: 'Gotham Rounded Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #6e6e6e;
	background-color: #f4f4f4;
}
a {
	color: #7094f5;
	outline: none
}
a:hover {
	color: #7094f5;
}
.btn {
	outline: none
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #6e6e6e;
}
html, body {
	min-height: 100%;
	width: 100%;
	height: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
.m20 {
	margin-bottom: 20px;
}
.container {
	max-width: 1260px;
	width: 100%;
}
.body-div {
	overflow: hidden;
	min-height: 100%;
}
/*Button css Start*/
.uppercase {
	text-transform: uppercase;
}
.btn:focus {
	box-shadow: none !important;
}
.btn {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 40px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	outline: none !important;
	padding-left: 25px;
	padding-right: 25px;
}
.btn.btn-sm {
	height: 30px;
	line-height: 16px;
	font-size: 10px;
}
.btn-dark-gray {
	background: #636262 !important;
	color: #fff !important;
}
.btn-dark-gray:hover {
	background: #544c4c !important;
	color: #fff !important;
}
.btn-green {
	background: #1ba117 !important;
	color: #fff !important;
}
.btn-green:hover {
	background: #0d9308 !important;
	color: #fff !important;
}
.btn-white {
	background: #ffffff !important;
	color: #636262 !important;
}
.btn-white:hover {
	background: #ffffff !important;
	color: #636262 !important;
}
.btn-red {
	background: #f44b4b !important;
	color: #fff !important;
}
.btn-red:hover {
	background: #f44b4b !important;
	color: #fff !important;
}
/*Button css END*/


.second-header-menu {
	background: rgba(255, 187, 210, 0.5);
	padding: 20px 0;
	box-shadow: 0 10px 20px rgba(255, 187, 210, 0.2);
	background-repeat: repeat-x;
	margin-bottom: 40px;
}
.second-header-menu ul.menu-sm {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	font-size: 0;
	margin-top: 3px;
}
.second-header-menu ul.menu-sm li {
	display: inline-block;
	margin: 2px 10px;
	vertical-align: top;
}
.second-header-menu ul.menu-sm li a {
	font-size: 12px;
	background: #ffbbd2;
	text-align: center;
	padding: 8px 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #141414;
	text-decoration: none;
	height: 34px;
	display: block;
}
.second-header-menu ul.menu-sm li.active a, .second-header-menu ul.menu-sm li:hover a {
	background: #141414;
	color: #fff;
}
.page-title {
	font-size: 20px;
	color: #2c2c2c;
	margin-bottom: 30px;
}
.custom-select-dropdown {
	display: block
}
.custom-select-dropdown select {
	-webkit-box-shadow: none;
	appearance: none;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
}
.custom-select-dropdown {
	position: relative;
}
.custom-select-dropdown:after {
	content: "";
	position: absolute;
	right: 22px;
	top: 50%;
	margin-top: -2px;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	color: #141414;
}
.custom-select-dropdown select::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.form-control {
	height: 39px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #141414;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: none;
	border: solid 1px #e3e3e3;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #141414;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #141414;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #141414;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
 color: #141414;
}
.form-control:-moz-placeholder { /* Firefox 18- */
 color: #141414;
}
.display-table {
	display: table;
	width: 100%;
}
.display-table .table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none
}
.title-section {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: 2.1px;
	color: #6e6e6e;
	margin-bottom: 30px;
}
.white-block {
	background: #fff;
	padding: 30px 60px;
}
#main {
	padding: 45px 0;
}
/*Header Css   */

header {
	background: #fff;
	padding: 15px 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
}
header .h-mid {
	letter-spacing: 2.3px;
	color: #6e6e6e;
	font-size: 20px;
	line-height: 50px;
}
.dropdown.head-right-dropdown {
	float: right;
	width: 200px;
	margin-top: 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.dropdown.head-right-dropdown button {
	display: block;
	width: 100%;
	background: none;
	border: none;
	color: #141414;
	outline: none;
}
.dropdown.head-right-dropdown .caret {
	margin-left: 15px;
	border-top: 6px solid #d8d8d8;
	border-right: 6px solid transparent;
	border-bottom: 0 dotted;
	border-left: 6px solid transparent;
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.dropdown.head-right-dropdown.open .caret {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.dropdown.head-right-dropdown .dropdown-menu {
	margin: 0;
	min-width: 200px;
	padding: 0;
	margin-top: 22px;
	border-color: #eeeeee;
	-webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.09);
}
.dropdown.head-right-dropdown .dropdown-menu li {
	border-bottom: 1px solid #eeeeee;
}
.dropdown.head-right-dropdown .dropdown-menu li a {
	color: #141414;
	padding: 10px 20px;
	font-size: 12px;
	border-left: 3px solid #fff;
	position: relative
}
.dropdown.head-right-dropdown .dropdown-menu li.active a, .dropdown.head-right-dropdown .dropdown-menu li:hover a {
	background: #eeeeee;
	border-color: #141414;
}
.dropdown.head-right-dropdown .dropdown-menu li.language {
	padding: 10px 20px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span {
	display: inline-block;
	vertical-align: middle;
	color: #cfcfcf;
	font-size: 12px;
}
.dropdown.head-right-dropdown .dropdown-menu li.language span.active {
	color: #141414
}
.dropdown.head-right-dropdown .switch-btn {
	display: inline-block;
	vertical-align: middle
}
.dropdown.head-right-dropdown .dropdown-menu > li > a:hover, .dropdown.head-right-dropdown .dropdown-menu > li > a:focus {
	background: #eeeeee;
	border-color: #141414;
}
.dropdown.head-right-dropdown .alert-span {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 20px;
	height: 20px;
	background-color: #141414;
	font-size: 10px;
	display: block;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
/*Header Css End */ 
 
/*Categories CSS Start*/
.head-search-box {
	max-width: 990px;
	margin: 0 auto;
	position: relative;
}
.head-search-box .form-control {
	border: solid 1px #d0d0d0;
	height: 50px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size: 14px;
	padding-left: 70px;
}
.head-search-box .fa {
	color: #141414;
	position: absolute;
	left: 30px;
	top: 15px;
	font-size: 20px;
}
/*Categories CSS End*/

/*Tab CSS start*/
.tabs-div {
	padding: 20px 0;
	margin-bottom: 15px;
	font-size: 0;
}
.tabs-div .btn {
	text-transform: uppercase;
	position: relative;
	margin: 0 10px;
}
.tabs-div .btn.active {
	background-color: #636262 !important;
	color: #fff !important;
}
/*Tab CSS END*/
 

/* The switch - the box around the slider */
.switch-btn .switch {
	position: relative;
	display: block;
	width: 28px;
	height: 16px;
	margin: 0 10px;
}
/* Hide default HTML checkbox */
.switch-btn .switch input {
	display: none;
}
/* The slider */
.switch-btn .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #141414;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn .slider:before {
	position: absolute;
	content: "";
	height: 9px;
	width: 9px;
	left: 2px;
	bottom: 2px;
	background-color: #141414;
	-webkit-transition: .4s;
	transition: .4s;
}
.switch-btn input:checked + .slider {
	background-color: #fff;
}
.switch-btn input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
.switch-btn input:checked + .slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
}
/* Rounded sliders */
.switch-btn .slider.round {
	border-radius: 34px;
}
.switch-btn .slider.round:before {
	border-radius: 50%;
}
.switch-btn label {
	margin-bottom: 0
}
/*Table Listing CSS start*/
.table-div {
	overflow: auto
}
.table-div table {
	margin: 0;
	width: 100%;
	min-width: 900px;
}
.table-div table thead tr th {
	padding: 5px 0!important;
	height: 50px;
	line-height: 22px;
	vertical-align: middle;
	font-size: 14px;
	color: #141414;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.table-div table tbody tr td {
	height: 40px;
	vertical-align: middle;
	font-size: 12px;
	padding: 5px 0!important;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.table-div table th div, .table-div table td div {
	border-style: solid;
	border-color: #e3e3e3;
	border-width: 1px 0;
	/* now, here you can add the margin */
	margin-bottom: 0;
	/* just some nice padding, you don't really need this */
	padding: 10px;
	height: 100%;
}
.table-div table th:first-child div, .table-div table td:first-child div {
	/* just side borders on first and last elements */
	border-left-width: 1px;
}
.table-div table th:last-child div, .table-div table td:last-child div {
	/* just side borders on first and last elements */
	border-right-width: 1px;
	position: relative;
}
.table-div table td .btn {
	height: 23px;
	box-shadow: none;
	background: #ccc;
	font-size: 12px;
	padding: 3px;
	line-height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif;
}
.table-div table td .btn.success {
	background: rgba(126,211,33,0.2);
	color: #7ed321
}
.table-div table td .btn.failed {
	background: rgba(226,41,13,0.2);
	color: #e2290d
}
/*Table Listing CSS END*/
 

/*footer*/
footer {
	margin-top: 70px;
}
.footer-bg-repeat {
	background: url(../images/footer-bg.png) repeat-x;
	height: 110px;
}
.main-footer {
	background: url(../images/footer-repeat-bg.png) repeat;
	padding: 50px 0;
	font-size: 16px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.main-footer h3 {
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 16px;
	margin: 0;
	margin-bottom: 25px;
	color: #323232;
}
.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.main-footer ul li a {
	color: #323232;
	text-decoration: none;
	font-size: 14px;
	padding: 5px 0;
	display: block;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.footer-logo {
	margin-bottom: 25px;
}
.main-footer .bottom-div a {
	color: #8a75d0;
	text-decoration: none;
}
.main-footer .l-link a {
	color: #141414;
	text-decoration: none
}
.main-footer .bottom-div .copy {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.main-footer .h-div {
	height: 230px;
}
/*footer End*/



/*White panel Start*/

.white-panel-div {
	padding: 20px;
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 2px;
	color: #8d8d8d;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
}
.white-panel-div p:last-child {
	margin-bottom: 0
}
.white-panel-div p {
	margin-bottom: 10px;
}
.white-panel-div.mb10 {
	margin-bottom: 10px;
}
.white-panel-div h5 {
	font-size: 14px;
	color: #141414;
	margin: 0;
	margin-bottom: 5px;
}
.page-heading {
	margin-bottom: 30px;
}
.page-heading h2 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #6e6e6e;
	text-transform: uppercase;
}
/*White panel End*/




.c-file-upload-section {
	margin-bottom: 45px;
}
.c-file-upload-section .dropzone {
	min-height: inherit;
	border: dotted 2px #979797;
	color: #141414;
	font-size: 14px;
	text-align: center;
	padding: 15px;
}
.c-file-upload-section .dropzone .dz-message {
	text-align: center;
	margin: 0.5em 0 1em 0;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.c-file-upload-section .dropzone .dz-message .fa {
	font-size: 30px;
	margin-right: 10px;
	position: relative;
	top: 5px;
	color: #c1c6c8;
}
.c-file-upload-section .dropzone .dz-preview {
	min-height: inherit;
	margin: 5px 10px;
}
.c-file-upload-section .dropzone .dz-preview .dz-image {
	width: 80px;
	height: 80px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.c-file-upload-section .dropzone .dz-preview .dz-details {
	font-size: 10px;
	padding: 1.6em 1em;
	line-height: 164%;
}
.c-file-upload-section .dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 1em;
	font-size: 12px;
}
.cases-list {
	margin: 0;
	padding: 0;
	list-style: none
}
.cases-list.border>li {
	border: 1px solid #e3e3e3
}
.cases-list li {
	position: relative;
	padding: 15px 0;
	padding-right: 30px;
	margin-bottom: 10px;
	background: #fff;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.cases-list li .head-div {
	position: relative;
	padding-right: 85px;
}
.cases-list li .head-div table{width:100%;}
.cases-list li .head-div .btn {
	margin-top: 10px;
	text-decoration:none;
}
.cases-list li .head-div .right-btn{text-align:right}
.cases-list li .expand-content .right-btn{text-align:right}
.cases-list li .head-div .achieved-btn {
	color: #636262;
}
.cases-list li td {
	padding: 10px 20px;
	padding-right:15px;
}
.cases-list li td a {
	text-decoration: underline
}
.cases-list li td.icon-div {
	width: 90px;
	font-size: 34px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border-right: 3px solid #ccc;
}
.cases-list li.red td.icon-div {
	border-color: #fa7575;
	color: #fa7575;
}
.cases-list li.gray td.icon-div {
	border-color: #8d8d8d;
	color: #8d8d8d;
}
.cases-list li.blue td.icon-div {
	border-color: #2e8de6;
	color: #2e8de6;
}
.cases-list li.yellow td.icon-div {
	border-color: #e1d00e;
	color: #e1d00e;
}
.cases-list li.green td.icon-div {
	border-color: #1ba117;
	color: #1ba117;
}
.cases-list li h5 {
	margin-bottom: 10px;
	color: #141414;
}
.cases-list li p {
	margin-bottom: 3px;
}
.cases-list li p:last-child {
	margin-bottom: 0
}
.cases-list li .arrow-icon {
	position: absolute;
	right: 0;
	top: 20px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	display: block;
	text-align: center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-size: 25px;
	z-index:55;
}
.cases-list li .arrow-icon .fa {
	position: relative;
	top: 2px;
}
.cases-list li.open .arrow-icon {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.cases-list li.red .arrow-icon {
	color: #fa7575;
}
.cases-list li.gray .arrow-icon {
	color: #141414;
}
.cases-list li.blue .arrow-icon {
	color: #2e8de6;
}
.cases-list li.yellow .arrow-icon {
	color: #e1d00e;
}
.cases-list li.green .arrow-icon {
	color: #1ba117;
}
.cases-list .expand-content {
	padding: 30px 0;
	padding-left: 110px;
	display: none;
}
.cases-list li .expand-content.open {
	display: block
}
.cases-list .expand-content .box01 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
	display: table;
	height: 150px;
	width: 100%;
	position:relative;
	margin-bottom:30px;
}
.cases-list .expand-content .box01 .lg-icon {
	font-size: 50px;
}
.cases-list .expand-content .box01 .btn {
	margin-top: 15px;
}
.cases-list .expand-content h6 {
	color: #141414;
	font-size: 14px;
	border-bottom: 1px solid #d8d8d8;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.cases-list .expand-content .box01>div {
	display: table-cell;
	padding: 25px 10px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #8d8d8d;
}
.cases-list .expand-content .box01 h4 {
	margin-bottom: 15px;
	font-size: 14px;
	color: #141414;
}
.cases-list .expand-content .box-outer-div {
	margin-top:30px;
	margin-bottom: 0;
}
.cases-list .expand-content .box-outer-div  .dot-status{
	padding-top: 50px;
}
.cases-list .expand-content .dot-status:after {
	content: "";
	width: 30px;
	height: 30px;
	background-color: #ccc;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: 0;
	margin-left: -20px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.cases-list .expand-content .dot-status:before {
	content: "";
	position: absolute;
	border-bottom: 1px dotted #979797;
	display: block;
	width: 100%;
	height: 1px;
	left: 50%;
	top: 15px;
}
.cases-list .expand-content .dot-status:last-child:before {
	display: none
}
.cases-list .expand-content .dot-status.red:after {
	background-color: #fa7575;
}
.cases-list .expand-content .dot-status.blue:after {
	background-color: #2e8de6;
}
.cases-list .expand-content .dot-status.yellow:after {
	background-color: #e1d00e;
}
.cases-list .expand-content .dot-status.green:after {
	background-color: #1ba117;
}
.cases-list .expand-content .dot-status.gray:after {
	background-color: #636262;
}
.cases-list .expand-content .dot-status.red .box01 .lg-icon {
	color: #fa7575;
}
.cases-list .expand-content .dot-status.blue .box01 .lg-icon {
	color: #2e8de6;
}
.cases-list .expand-content .dot-status.yellow .box01 .lg-icon {
	color: #e1d00e;
}
.cases-list .expand-content .dot-status.green .box01 .lg-icon {
	color: #1ba117;
}
.cases-list .expand-content .dot-status.gray .box01 .lg-icon {
	color: #636262;
}
.cases-list .expand-content .case-d-list {
	margin: 0 -10px;
	margin-bottom: 25px;
	padding: 0;
	list-style: none;
	font-size: 0;
	color: #8d8d8d;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
}
.cases-list .expand-content .case-d-list li {
	display: inline-block;
	font-size: 12px;
	width: 20%;
	vertical-align: top;
	padding: 0 10px;
}
.cases-list .expand-content .bottom-btn {
	font-size: 0
}
.cases-list .expand-content .bottom-btn .btn {
	margin-right: 25px;
}
.cases-list .right-content-block {
	text-align: left
}
.cases-list .right-content-block .line {
	border-left: 1px solid #d8d8d8;
	min-height: 70px;
	padding-top: 10px;
}
/*Header With sidebar*/
.body-with-sidebar header {
	background: #e3e3e3;
	padding: 15px 0;
	box-shadow: none
}
.body-with-sidebar header .display-table {
	height: 65px;
}
.body-with-sidebar #main {
	padding: 20px;
}
.mob-menu-sidebar {
	display: none;
}
.close-sidebar-menu {
	position: absolute;
	right: 10px;
	font-size: 26px;
	top: 2px;
	color: #333;
}
.main-menu {
	padding-left: 40px;
	position:relative;
	z-index:99
}
.main-menu .navbar-brand {
	padding: 0;
	display: none
}
.main-menu .navbar-default {
	border: none;
	box-shadow: none;
	background: none
}
.main-menu .navbar {
	margin: 0;
	min-height: inherit
}
.main-menu .nav > li {
	margin-right: 15px;
}
.main-menu .nav > li > a {
	padding: 7px 15px;
	color: #141414;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	font-weight: 700;
	outline: none;
	text-shadow: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.main-menu .navbar-default .navbar-nav > .active > a, .main-menu .nav > li > a:hover {
	color: #141414;
	box-shadow: none;
	background: #fff;
}
.navbar-default .navbar-brand {
	display: none;
}
.body-with-sidebar .container {
	max-width: 100%;
	width: 100%;
}
.body-with-sidebar {
	padding-left: 210px;
}
.left-sidebar-menu {
	position: fixed;
	left: 0;
	top: 0;
	width: 210px;
	background: #fff;
	height: 100%;
	overflow: auto;
	z-index: 999
}
.left-sidebar-menu .logo {
	padding: 15px;
	text-align: center;
}
.left-sidebar-menu .menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 20px;
}
.left-sidebar-menu .menu-list li a {
	display: block;
	padding: 11px 15px;
	font-size: 14px;
	font-family: 'Gotham Rounded Medium', Arial, Helvetica, sans-serif !important;
	font-weight: 500;
	color: #141414;
	text-decoration: none;
	border-right: 5px solid #fff;
}
.left-sidebar-menu .menu-list li.active a, .left-sidebar-menu .menu-list li:hover a {
	background: #efefef;
	border-color: #dcdcdc;
	color: #141414;
}
/*Header With sidebar END*/


.open-cases-page .cases-list .expand-content .box01 {
	height: 150px;
	
}
.open-special-cases-page .sub-title {
	font-size: 18px;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif !important;
	letter-spacing: 2.1px;
	color: #6e6e6e;
	margin: 20px 0;
	padding: 0;
}
.open-special-cases-page .cases-list .expand-content .box01 {
	height: 170px;
}
.heading-right-filter {
	font-size: 0;
	text-align: right
}
.heading-right-filter .d-inline {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin: 0 10px;
}
.heading-right-filter .btn {
	margin-left: 15px;
}
.heading-right-filter select {
	min-width: 165px;
}
.cc-list-design {
	margin: 0;
	padding: 0;
	list-style: none
}
.cc-list-design li {
	position: relative;
	padding: 15px;
	margin-bottom: 10px;
	background: #fff;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	border: 1px solid #e3e3e3;
}
.cc-list-design li h5 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.cc-list-design li p {
	margin-bottom: 6px;
}
.cc-list-design li p:last-child {
	margin-bottom: 0
}
.cc-list-design li .line {
	border-left: 1px solid #d8d8d8;
	min-height: 70px;
	padding-top: 0;
}
.cc-list-design li .right-btn {
	text-align: center
}
.cc-list-design li .right-btn p {
	margin-top: 8px;
}
.circle-radio-btn {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default radio button */
.circle-radio-btn input {
	position: absolute;
	opacity: 0;
}
/* Create a custom radio button */
.circle-radio-btn .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #636262;
	border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.circle-radio-btn:hover input ~ .checkmark {
	border: 1px solid #636262;
}
/* When the radio button is checked, add a blue background */
.circle-radio-btn input:checked ~ .checkmark {
	border: 1px solid #636262;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.circle-radio-btn .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.circle-radio-btn input:checked ~ .checkmark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.circle-radio-btn .checkmark:after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #636262;
}
.cases-modal table.radio-btn {
	margin-top: 10px;
}
.cases-modal .form-control {
	height: 34px;
}
.cases-modal h4 {
	color: #141414;
	font-size: 14px;
	text-transform: uppercase;
}
.cases-modal .close {
	border: 1px solid #636262;
	opacity: 1;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
	outline: none;
}
.cases-modal .rmb-div {
	position: relative;
}
.cases-modal .rmb-div span {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	text-transform: uppercase;
	line-height: 32px;
	color: #8d8d8d;
	font-size: 12px;
	display: block;
	width: 70px;
	height: 100%;
	background-color: #d8d8d8;
	text-align: center;
	font-family: 'Gotham Rounded Bold', Arial, Helvetica, sans-serif;
}
.cases-modal .rmb-div input {
	padding-left: 80px;
}
.cases-modal .date-picker {
	position: relative;
}
.cases-modal .date-picker .fa {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 18px;
	color: #d8d8d8
}
.uppercase {
	text-transform: uppercase
}
.title-sub-section {
	font-size: 18px;
	letter-spacing: 2.1px;
	color: #6e6e6e;
	margin: 0;
	margin-top: 40px;
	margin-bottom: 25px;
}
.title-sub-section.mt0{margin-top:0}
.title-sub-section.padding-left-20 {
	padding-left: 20px;
}
.box-width-border {
	position: relative;
	padding: 15px;
	background: #fff;
	font-size: 12px;
	font-family: 'Gotham Rounded Book', Arial, Helvetica, sans-serif;
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
}
.accessor-account-info .media h5 {
	padding: 8px 0;
	margin: 0;
}
.accessor-account-info .media > .pull-left {
	margin-right: 20px;
}
.accessor-account-info .right-btn {
	float: right;
	margin-top: 15px;
}
.accessor-account-info .media h5 span.level {
	color: #8d8d8d;
	font-size: 12px;
}
.accessor-account-info .media p {
	margin-bottom: 5px;
}
.accessor-account-info .right-btn .btn {
	margin-left: 25px;
}
.accessor-more-info .payment-mode {
	margin-bottom: 15px;
}
.accessor-more-info .payment-mode .circle-radio-btn {
	display: inline-block;
	margin-left: 15px;
}
.accessor-more-info .left-form {
	padding-right: 150px;
}
.accessor-more-info label {
	display: block;
	margin-bottom: 10px;
	letter-spacing: normal;
	color: #8d8d8d;
}
.accessor-more-info .line {
	border-left: 1px solid #d8d8d8;
	min-height: 60px;
	padding-top: 5px;
}
.box-width-border.accessor-more-info {
	padding-top: 25px;
	padding-bottom: 20px;
}
.accessor-more-info .form-group {
	margin-bottom: 0
}
.transaction-distory-list table{
	min-width:500px;
}
.transaction-distory-list .table-div table tbody tr td:first-child div {
	border-left: 3px solid #ccc;
}
.transaction-distory-list .table-div table tbody tr.green td:first-child div {
	border-left-color: #30c109;
}
.transaction-distory-list .table-div table tbody tr.red td:first-child div {
	border-left-color: #fc565f;
}
.transaction-distory-list .table-div table tbody tr.green td.amount {
	color: #30c109;
}
.transaction-distory-list .table-div table tbody tr.red td.amount {
	color: #fc565f;
}
.accessor-my-job-page .cases-list.new-cases li .head-div {
	padding-right: 0
}
.accessor-my-job-page .cases-list.new-cases li .right-button {
	text-align: right
}
.accessor-my-job-page .cases-list.new-cases li .right-button p {
	margin-bottom: 0;
}
.accessor-my-job-page .cases-list.new-cases li .right-button .btn {
	min-width: 110px;
	margin-top: 5px;
}
.accessor-my-job-page .cases-list .expand-content .box01 {
	height: 142px;
}
.earnings-statastics-div .head-div .line {
	border-right: 1px solid #d8d8d8;
	min-height: 70px;
	margin-bottom: 5px;
	padding-top: 10px;
}
.earnings-statastics-div .head-div .line:last-child {
	border: none
}
.earnings-statastics-div .head-div h5 {
	color: #141414;
	font-size: 14px;
	margin: 0;
	margin-bottom: 15px;
}
.admin-team-list .table-div table tbody tr td {
	padding: 0 !important;
	border: 1px solid #e3e3e3;
}
.admin-team-list .table-div table tbody tr td div {
	border: none !important;
	height: auto
}
.update-profile-info {
	
}
.update-profile-info .img-div {
	width: 90px;
	height: 90px;
	background-size: cover;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin: 0 auto; 
}
.update-profile-info .upload-photo {
	padding:20px 0;
	

}
.update-profile-info .upload-photo .btn {
	max-width: 131px;
	overflow: hidden;
	position: relative
}
.update-profile-info .upload-photo .btn input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:33;
	opacity:0;
	cursor:pointer;
}

.update-profile-info .upload-profile{
		max-width:150px;
	margin:0 auto;
	text-align: center
}
.accessor-my-account-page .box-width-border{padding:30px;}
.modal-dialog{margin-top:70px;}