<section class="section cases special-cases pr-accessor-my-job">
    <div class="container">
        <div class="">
            <div class="title">
                ADMIN TEAM
            </div>
            <div class="pull-right">
                <a class="btn" data-target="#add-new" data-toggle="modal" id="add_new_btn_admin" ng-click="resetForm()">
                    <i class="sci-add">
                    </i>
                    Add New
                </a>
            </div>
        </div>
        <div class="team-info admin-team-table">
            <table class="table table-bordered back-white">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Date of Birth
                        </th>
                        <th>
                            Reporting Officer
                        </th>
                        <th>
                            System Access
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="admin in admins">
                        <td>
                            <div class="img">
                                <img ng-src="[[admin.image]]">
                                </img>
                            </div>
                            [[admin.first_name]] [[admin.last_name]]
                        </td>
                        <td valign="middle">
                            [[admin.email_address]]
                        </td>
                        <td>
                            [[admin.dob]]
                        </td>
                        <td>
                            [[admin.admins.first_name]] [[admin.admins.last_name]]
                        </td>
                        <td>
                            English Language Training
                        </td>
                        <td class="text-center text-red remove-underline">
                            <a <i="" class="sci-Delete-Icon" href="javascript:void(0)" ng-click="deleteAdmin(admin.id)">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--            <div class="pagination-section text-right">
                            <span class="">
                                <span class="status">
                                    <label class="margin-tp5">Showing 1 to 10 of 57 entries</label>
                                </span>
                                <ul class="pagination pager pull-right margin-zero">
                                    <li class=""><a href="javascript:void(0)"><i class="sci-arrow-left text-black"></i></a></li>
                                    <li class=""><a href="javascript:void(0)">1</a></li>
                                    <li class=""><a href="javascript:void(0)"><i class="sci-arrow-right text-black"></i></a></li>
                                </ul>
                            </span>
                        </div>-->
<pagination boundary-links="true" max-size="maxSize" ng-model="currentPage" total-items="admins.length">
</pagination>
<div class="modal fade admin-team" id="add-new">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">
                    Ã—
                </button>
                <h4 class="modal-title">
                    Add New Team Member
                </h4>
            </div>
            <div class="modal-body inline-block">
                <div class="upload-details">
                    <form class="" id="admin_form" name="vm.form" ng-submit="vm.submitAdminData()">
                        <div class="col-sm-2 text-center">
                            <div class="img">
                                <img class="img-responsive" ng-src="[[ADMIN_PROFILE_URL]]">
                                </img>
                            </div>
                            <div class="margin-tp20">
                                <div class="btn-file">
                                    <span class="btn btn-sm upload-btn">
                                        <span class="upload-file">
                                            <i class="sci-attache">
                                            </i>
                                            Browse Files
                                            <input type="file" valid-file id="image" name="image" ng-model="image" required="">
                                            </input>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            First Name :
                                        </label>
                                        <div class="">
                                            <input class="form-control" id="first_name" name="first_name" ng-model="first_name" required="" type="text">
                                            </input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Last Name :
                                        </label>
                                        <div class="">
                                            <input class="form-control" id="last_name" name="last_name" ng-model="last_name" required="" type="text">
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Email Address :
                                        </label>
                                        <div class="">
                                            <input class="form-control" id="email_address" name="email_address" ng-model="email_address" required="" type="email">
                                            </input>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Password :
                                        </label>
                                        <div class="">
                                            <input class="form-control" id="password" name="password" ng-model="password" required="" type="password">
                                            </input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Birth Date :
                                        </label>
                                        <div class="">
                                            <div class="date form-control" data-provide="datepicker">
                                                <input class="form-control" id="dob" name="dob" ng-model="dob" required="" type="text" value="10/24/1984">
                                                    <i class="sci-calendar">
                                                    </i>
                                                </input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Reporting Officer :
                                        </label>
                                        <div class="">
                                            <select class="form-control input-circle" ng-model="reporting_officer_id" required="">
                                                <option value="officer.first_name" ng-repeat="officer in reportingofficers">
                                                    [[officer.first_name]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">
                                            System Access :
                                        </label>
                                        <div class="margin-tp5">
                                            <span class="checkbox-content">
                                                <span class="checkbox-section">
                                                    <span class="checkbox-btn">
                                                        <input class="" name="modules[]" required="" type="checkbox" value="1" ng-model="systemaccess1">
                                                            <span class="check-box">
                                                            </span>
                                                        </input>
                                                    </span>
                                                </span>
                                                <span>
                                                    Proof Reading
                                                </span>
                                            </span>
                                            <span class="checkbox-content">
                                                <span class="checkbox-section">
                                                    <span class="checkbox-btn">
                                                        <input class="" name="modules[]" required="" type="checkbox" value="2" ng-model="systemaccess2">
                                                            <span class="check-box">
                                                            </span>
                                                        </input>
                                                    </span>
                                                </span>
                                                <span>
                                                    Video Language Training
                                                </span>
                                            </span>
                                            <span class="checkbox-content">
                                                <span class="checkbox-section">
                                                    <span class="checkbox-btn">
                                                        <input class="" name="modules[]" required="" type="checkbox" value="3" ng-model="systemaccess3">
                                                            <span class="check-box">
                                                            </span>
                                                        </input>
                                                    </span>
                                                </span>
                                                <span>
                                                    [['lbl_marketplace'|translate]]
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn back-green" ng-click="submitAdminData()" ng-disabled="disableButton(vm.form.$valid)" type="submit">
                        <i class="sci-add">
                        </i>
                        Add User [[vm.form.$valid]] [[disable]]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>