@media only screen and (max-width: 1400px) {
}
 @media only screen and (max-width: 1200px) {
.active-job-head li {
	width: 33.3%;
}
}
@media only screen and (max-width: 1199px) {
.lg-clearfix {
	clear: both;
}
.f-search-div {
	margin-top: 20px;
}
.filter-div table {
	margin-bottom: 15px;
}
.active-job-head li {
	width: 50%;
}
.main-menu .nav > li > a {
	padding: 7px 9px;
	font-size: 14px;
}
.quiz-manager-section .media {
	margin-bottom: 15px;
}
}
 @media only screen and (max-width:1050px) {
}
 @media only screen and (max-width:991px) {
   .subscription-block .bottom-btn{
     margin-bottom: 20px;
   }
.upload-content-section .label {
	display: block;
	padding-bottom: 15px;
	text-align: left;
}
.upload-content-section .tabcontent .btn {
	margin-top: 15px;
}
.upload-content-section .tabcontent .btn.btn-Browse {
	margin-top: 0
}
.quizzes-section .media {
	margin-bottom: 20px;
}
.main-menu {
	padding-left: 30px;
}
.main-menu .nav > li > a {
	padding: 7px 8px;
	font-size: 13px;
}
.col-md-clearfix {
	clear: both;
}
.post-info-list {
	padding-top: 20px;
}
.marketplace-designers-section .email {
	margin-bottom: 20px;
}
.left-sidebar-menu {
	left: -300px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.mob-menu-sidebar {
	width: 40px;
	height: 40px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	display: block;
	position: fixed;
	top: 28px;
	left: 10px;
	background: #f67599;
	text-align: center;
	z-index: 9999;
	padding-top: 7px;
}
.mob-menu-sidebar span {
	display: block;
	margin: 4px auto;
	background: #fff;
	height: 3px;
	width: 23px;
}
.left-sidebar-menu .logo {
	margin-top: 25px;
}
.body-with-sidebar.active::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.5);
}
.body-with-sidebar.active .left-sidebar-menu {
	left: 0;
}
.body-with-sidebar {
	padding-left: 0
}
}
 @media only screen and (max-width: 767px) {
   .create-new-quiz-section .cnq-form-div .image-fields .label{
     margin-bottom: 25px;
   }
.create-new-quiz-section .quiz-info-head .col-xs-4 {
	clear: both;
}
.quiz-manager-section .panel-heading .btn {
	margin-top: 10px;
}
.flax-table {
	display: block;
}
.upload-content-section .tab-div {
	margin-top: 8px;
}
.display-table {
	display: block;
	width: auto;
}
.display-table-cell {
	display: block;
}
.work-history-review-div .client-info-right-div {
	border: none;
	border-top: 2px solid #e3eefd;
	margin-top: 15px;
	padding-top: 20px;
}
.categories-section .cat-heading h3,  .categories-section .cat-heading {
	margin-bottom: 15px;
}
.chat-list li .msg-div {
	width: 90%;
}
.project-details-section .cancle-project-bottom .btn.btn-light-red {
	margin-top: 0;
}
.project-details-section .cancle-project-bottom .btn {
	margin-bottom: 5px;
}
.project-details-section .cancle-project-bottom p {
	margin-bottom: 15px;
}
.main-menu {
	padding-left: 0
}
.mob-menu-sidebar {
	top: 78px;
}
.navbar-default .navbar-brand {
	display: block;
	width: 114px;
	margin-bottom: 15px;
}
.all-jobs-section .btn-derect {
	margin-top: 15px;
}
.all-jobs-section .white-panel-div p.date-time-p {
	margin-bottom: 10px;
}
.all-jobs-section .b-left {
	border: none;
}
.table-cell {
	display: block;
}
.display-table {
	display: inline;
}
.main-menu .nav > li > a {
	font-size: 15px;
}
.navbar-toggle {
	margin-right: 0
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
	background: #8a75d0;
}
.navbar-collapse {
	border-bottom: 1px solid #fff;
}
.dropdown.head-right-dropdown {
	margin-top: 10px;
}
.marketplace-designers-section .post-info-list li, .marketplace-buyers-section .post-info-list li {
	width: 50%;
}
.BudgetTbl {
	margin-top: 15px;
}
.project-details-section .rating-info .overall-rating {
	border: none;
	border-top: 2px solid #eae9e9;
}
.project-details-section .rating-info table {
	width: 100%;
}
.create-new-quiz-section .cnq-form-div .custom-checkbox1{
  margin-bottom: 5px;
}
}
@media only screen and (max-width: 640px) {
.timeline-info-list li {
	padding: 10px 15px;
}
.marketplace-designers-section .post-info-list li:nth-child(6), .marketplace-designers-section .post-info-list li:nth-child(5), .marketplace-designers-section .post-info-list li:nth-child(4),  .marketplace-buyers-section .post-info-list li:nth-child(6), .marketplace-buyers-section .post-info-list li:nth-child(5), .marketplace-buyers-section .post-info-list li:nth-child(4) {
	margin-bottom: 10px;
}
.marketplace-designers-section .post-info-list li,  .marketplace-buyers-section .post-info-list li {
	width: 100%;
}
.all-jobs-section .tab-div {
	width: 100%;
}
.create-new-quiz-section .panel-heading .btn{
  margin-top:10px;
}
.all-jobs-section .btn {
	border: none;
	border-bottom: 1px solid #cdcdcd;
	width: 100%;
}
.all-jobs-section .Disputeslinks {
	margin-top: 15px;
}
.active-job-head li {
	width: 100%;
	padding: 6px 0;
}
.chat-list li.admin {
	padding-left: 42px;
	padding-right: 42px;
}
.project-details-section .designer-suggestions-div .col-xs-6 {
	float: none;
	width: 100%;
}
.fullWidth640 {
	width: 100%;
	float: none;
}
.quiz-manager-section .info-list li {
	width: 50%;
}
.create-new-quiz-section .form-group {
	margin-bottom: 10px;
}
}
 @media only screen and (max-width: 480px) {
   .create-new-quiz-section .cnq-form-div .new-option .btn{
     margin-right: 8px;
   }
.quiz-manager-section .media > .media-body {
	width: 100%;
	margin-top: 15px;
	float: left;
}
.upload-content-section .tabcontent .btn.btn-Browse {
	margin-top: 5px;
	position: static;
}
.upload-content-section .tab-div {
	display: block;
}
.custom-accordion .panel-heading {
	padding: 15px;
}
.custom-accordion .panel-body {
	padding: 15px;
}
.quizzes-section .page-heading h2 {
	margin-bottom: 15px;
}
.custom-accordion .panel-heading .right-icon {
	top: 0;
}
.custom-accordion .panel-heading .sm-text {
	float: none;
	display: block;
}
.quizzes-section .media > .media-body {
	width: 100%;
	margin-top: 15px;
	float: left;
}
.fullWidth480 {
	width: 100%;
	float: none;
}
.tab-div {
	display: block;
}
.file-progress-bar .file-extension {
	position: static;
}
.tab-div .btn {
	width: 100%;
	border: none;
	border-bottom: 1px solid #cdcdcd
}
.file-progress-bar h4 {
	font-size: 12px !important;
	padding-right: 90px;
}
.file-progress-bar {
	padding-left: 15px;
}
.chat-list li .msg-div {
	width: 100%;
}
.chat-list li.admin {
	padding: 0 0;
}
.ratings-mpd .title-label {
	display: block;
}
.post-info-list li {
	width: 100%;
}
.pagination-div {
	text-align: center;
}
}
@media only screen and (max-width: 380px) {
.create-new-quiz-section .cnq-form-div .new-option .btn {
	margin-bottom: 5px;
}
.full-width-320 {
	width: 100% !important;
	float: none !important;
}
}
