@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Modern Browsers */
  src: url('../fonts/GothamPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  /*src: url('GothamPro-Bold.svg#svgFontName') format('svg');*/ /* Legacy iOS */
  src: url('../fonts/GothamPro-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url('../fonts/GothamPro-Bold.ttf') format('truetype');
}
.ignite_text {
    text-decoration: none;
    color: #f17598 !important;
}
.ignite_text:hover {
    text-decoration: none;
    color: #f17598 !important;
}
.sixteen_text {
    text-decoration: none;
    color: #8a76d0 !important;
}
.sixteen_text:hover {
    text-decoration: none;
    color: #8a76d0 !important;
}
.our-partners,.our-partners > div
{
	display: flex;
	text-align: center;
}
p
{
	margin: auto;
}
.img
{
	width: 80%;
}
.margin_top_10{
    margin-top: 10px !important;
}
.margin_top_35{
    margin-top: 35px !important;
}
.ru_text ul li a{
  font-family: 'GothamPro-Bold'!important;
}
.our-product-section ul {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}
.pro-label {
  display: inline-block;
  vertical-align: top;
}
a.common-btn {
    font-size: 14px;
    color: #f17598;
    border: 1px solid #f17598;
    border-radius: 20px;
    padding: 10px 22px; 
    font-family: 'Gotham Rounded bold', 'Arial';
}
a.common-btn:hover {
  text-decoration: none;
}
.our-product-section h3 {
  margin-bottom: 40px;
}
.our-product-section .common-btn {
  margin-top: 40px;
  display: inline-block;
}
.programme-section {
  margin-top: 100px;
}
.programme-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.programme-section .box {
  margin-top: 20px;
  width: 33.33%;
  padding: 0 15px;
  position: relative;
}
.buzz-english-description {
  padding: 40px 27px;
  border-top: 0;
  display: flex;
  flex-wrap: wrap;
}
.buzz-english-div {
  border: 1px solid #F17598;
  border-radius: 10px;
}
.buzz-english-description p{
  margin: 0 0 60px;
}
.buzz-english-div {
  height: 100%;
}
.buzz-english-description .common-btn {
  margin: auto;
  margin-bottom: 0;
  left: 0;
  right: 0;
  width: 126px;
  position: absolute;
  bottom: 40px;
}
.buzz-english-image {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
.bg-pink {
  background-image: url(../../../images/corporate/pink-box.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: bottom center;
  margin-bottom: 100px;
}
.bg-white {
  background-color: #fff;
  margin-bottom: 60px;
  width: auto;
}
.english-pro .row {
  margin-bottom: 0 !important;
}
.buzz-english-image {
  margin: -1px -1px 0 -1px;
}
.programme-section .d-flex { display: flex;flex-wrap: wrap;justify-content: center;margin: 0 -15px; }
