<div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" height="310" ></video>    
      </div>
    </div>
  </div>
</div>
<section class="quizzes-section">
   <div class="white-panel-div mb10">
      <div class="page-heading">
         <div class="row">
           <div class="col-sm-6">
              <h2>All Videos & Quizzes</h2>
           </div>
           <!-- <div class="col-sm-4">
              <div class="tab-div">
                <button class="btn tablinks" id="quizType_[[content.id]]" ng-repeat="content in videoCategories track by $index" ng-click="filterData(content.id,page)" >[[content.category_name]]</button>
              </div>
           </div> -->
           <div class="col-sm-6 text-right">
             <a class="btn btn-pink" href="manage/ignite/new-content"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> New Content</a>
           </div>
         </div>
      </div>
   </div>
    <div class="white-panel-div mb10">
      <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="getSubjects(getAllData.zone)" ng-model="getAllData.zone">
              <option value="">Select Zone</option>
              <option ng-value="zone.id" ng-repeat="zone in zones">[[ zone.zone_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getcategories(getAllData.subject)" ng-model="getAllData.subject">
              <option value="">Select Subject</option>
              <option ng-value="subject.id" ng-repeat="subject in subjects">[[ subject.subject_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getsubcategories(getAllData.category, 1)" ng-model="getAllData.category">
              <option value="">Select Category</option>
              <option ng-value="category.id" ng-repeat="category in categories">[[ category.category_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div" ng-if="subCategoriesExist">
            <!-- <select class="form-control" ng-change="Getsubcategories(getAllData.subcategory, 0)" ng-model="getAllData.subcategory"> -->
            <select class="form-control" ng-change="Getsubcategories(getAllData.subcategory, 0)" ng-model="getAllData.subcategory">
              <option value="">Select Sub-category</option>
              <option ng-value="subcategory.id" ng-repeat="subcategory in subCategories">[[ subcategory.subcategory_name ]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row flax-table">
        <div class="col-sm-12 text-left">
          <button class="btn btn-pink" id="get_data_btn" ng-click="GetVideos(getAllData)">Get Data</button>
        </div>
      </div>
      </div> 
    </div> 
  <!-- <div class="tab-div">
    <button class="btn tablinks" id="contentType_[[ types.value ]]" ng-click="filterData([[ types.value ]])" ng-repeat="types in publishTypes">[[ types.name ]]</button>
  </div> -->
 <div class="panel-group custom-accordion">   
   <div class="panel" >
     <div class="panel-heading" ng-if="allData">
       <h4 class="panel-title"> 
        <a href="javascript:;" > [[allData.category_name]] 
        <span class="sm-text">[[allData.videos_count]] Videos & [[allData.quizzes_count]] Quizzes & [[allData.worksheets_count]] WorkSheets</span> 
        <!-- <span class="right-icon ">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </span>  -->
        </a> 
        </h4>
     </div>
     <div class="panel-collapse new-class-content" style="display: block;">
       <div class="panel-body sortable">
         <!--Row-->
         <h4 class="media-heading" ng-if="!allData">No data available</h4>
         <div class="ui-state-default" ng-repeat="details in allContent" data-id="[[{id:details.id,type: details.hasOwnProperty('VIDEO')? 'video':details.hasOwnProperty('QUIZ')?'quiz':'worksheet'}]]">           
           <div class="row thumb-block ">
             <div class="col-xs-12 col-md-6 col-lg-7">
               <div class="media">
                 <div class="pull-left" > 
                   <a ng-click="ShowVideo(details)" ng-if="details.hasOwnProperty('VIDEO')"> 
                    <i class="fa fa-play-circle" aria-hidden="true"></i> 
                    <img class="img-div thumbnail_custom" ng-src="[[current_domain=='net'?'https://cdn.sixclouds.net/assets':'public/uploads']]/video_thumbnails/thumbnail_mobile_128_72/[[details.thumbnail_128_72]]" alt="..."> 
                   </a> 
                   <a href="javascript:void(0);" ng-if="details.hasOwnProperty('QUIZ')">
                      <img class="img-div thumbnail_custom" src="resources/assets/images/ignite/quiz.png" alt="...">
                    </a> 
                    <a href="javascript:void(0);" ng-if="details.hasOwnProperty('WORKSHEET') && details.thumbnail_web == null"> 
                      <img class="img-div thumbnail_custom" src="resources/assets/images/ignite/worksheet.png" alt="...">
                    </a> 
                    <a href="javascript:void(0);" ng-if="details.hasOwnProperty('WORKSHEET') && details.thumbnail_web != null"> 
                      <img class="img-div thumbnail_custom" src="https://cdn.sixclouds.net/assets/worksheet_thumbnails/thumbnail_web/[[details.thumbnail_web]]" alt="...">
                    </a> 
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading">
                      <!-- <a href="manage/ignite/video-details/[[details.slug]]" ng-if="details.hasOwnProperty('VIDEO')">[[ details.video_urls[0].title ]]</a> -->
                      <a href="manage/ignite/edit-video/[[details.slug]]" ng-if="details.hasOwnProperty('VIDEO')">[[ details.title ]]</a>
                      <a href="manage/ignite/quiz-info/[[details.slug]]" ng-if="details.hasOwnProperty('QUIZ')">[[ details.title ]]</a>
                      <a href="manage/ignite/worksheet-info/[[details.slug]]" ng-if="details.hasOwnProperty('WORKSHEET')">[[ details.title ]]</a>
                   </h4>
                   [[ details.hasOwnProperty('VIDEO')?details.description:details.hasOwnProperty('QUIZ')?details.description:details.description ]]
                  </div>
               </div>
             </div>
             <div class="col-xs-8 col-md-4 col-lg-3 fullWidth480">
               <ul class="info-list">                                  
                 <li ng-if="details.hasOwnProperty('QUIZ')"><i class="fa fa-question-circle-o" aria-hidden="true"></i> [[ details.quizquestions_count]] Questions</li>                 
                 <li><i class="fa fa-calendar" aria-hidden="true"></i> [[ details.new_created_at ]]</li>
                 <li ng-if="details.hasOwnProperty('VIDEO')"><i ng-class="{'fa fa-unlock-alt':details.video_status_locked=='OPEN', 'fa fa-lock':details.video_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ details.video_status_locked ]]</li>
                 <li ng-if="details.hasOwnProperty('QUIZ')"><i ng-class="{'fa fa-unlock-alt':details.quiz_status_locked=='OPEN', 'fa fa-lock':details.quiz_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ details.quiz_status_locked ]]</li>
                 <li ng-if="details.hasOwnProperty('WORKSHEET')"><i ng-class="{'fa fa-unlock-alt':details.worksheet_status_locked=='OPEN', 'fa fa-lock':details.worksheet_status_locked=='LOCKED'}" aria-hidden="true"></i> [[ details.worksheet_status_locked ]]</li>
               </ul>
             </div>
             <div class="col-xs-4 col-md-2 fullWidth480">
               <div class="text-right free" ng-if="details.hasOwnProperty('VIDEO')" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ details.video_status_name]]</div>
               <div class="text-right free" ng-if="details.hasOwnProperty('QUIZ')" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ details.quiz_status_name]]</div>
               <div class="text-right free" ng-if="details.hasOwnProperty('WORKSHEET')" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ details.worksheet_status_name]]</div>
             </div>
           </div>
           <input type="hidden" plid="listId2" value="[[ details.id ]]">
            <div ng-if="details.hasOwnProperty('VIDEO')">
                <ul class="horizontal_video_details">
                  <!-- <li ng-repeat="videoDetails in details.video_urls"><span>[[videoDetails.video_language]]</span> : <span>[[videoDetails.video_duration]]</span></li> -->
                  <li ng-repeat="videoDetails in details.video_urls"><a href="manage/ignite/video-details/[[videoDetails.slug]]"><span>[[videoDetails.video_language]]</span></a></li>
                </ul>
            </div>
         </div>
          <!--Row-->
       </div> 


       <!-- <default-pagination currentpage="currentContentPaging" like="GetAllContentData({'categoryId':type, 'page': page},page)" paginate="paginate" range="rangeContentpage">
          </default-pagination> -->
     </div>
   </div>
 </div>
</section>
<script>
    $('.custom-accordion .panel-heading').click(function() {
      $(this).toggleClass('active');
      $(this).next('.panel-collapse').slideToggle();
  });
</script>
