<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-7">
          <h3 class="panel-title">Upload New Video</h3>
        </div>
        <div class="col-sm-5 text-right">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div id="" class="">
        <form id="newVideoForm">
            <!-- <div class="content-div">
              <div class="form-group">
              <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Video Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="title" id="title" name="title" placeholder="Video Title" class="form-control">
                  </div>
                </div>

              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description" id="description" name="description" class="form-control" rows="6" placeholder="Description"></textarea>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="content-div">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Zone(s)</label>
                  </div>
                  <div class="col-md-10 col-lg-10">
                    <span class="custom-radio3" ng-repeat="zone in zones">
                      <input type="radio" name="zoneName" id="[[zone.id]]" value="[[zone.id]]" name="video_for_zones" ng-model="selectedZones.selected" ng-change="getSubjects(1)" />
                      <label for="[[zone.id]]">[[zone.zone_name]]</label>
                    </span> 
                    <!-- <span ng-repeat="zone in zones">
                      <input ng-model="selectedZones[zone.id]" ng-click="Addvideolanguages()" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                      <input ng-model="selectedZones[zone.id]" name="zone" type="radio" ng-change="getSubjects()" id="zone_[[zone.id]]" ng-value="zone.id"/>
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2" ng-if="subjects">
                    <label class="label">Select Subject</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="" ng-repeat="subject in subjects">
                      <input type="radio" name="subject_id" id="[[subject.id]]" value="[[subject.id]]" ng-click="Loadcategoriesforsubject(subject.id)" />
                      <label for="[[subject.id]]">[[subject.subject_name]]</label>
                      <span style="color: red">
                        <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                        <label ng-repeat="zone in subject.otherZones">
                          <label ng-repeat="zon in zones">
                            <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                            <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                          </label>
                        </label>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                      <input type="radio" name="video_category_id" id="category_[[category.id]]" ng-value="[[category.id]]" ng-click="Loadprerequisites(category.id)" />
                      <label for="category_[[category.id]]">[[category.category_name]]</label>
                    </span>
                    <span ng-if="!videoCategories" class="custom-radio3">
                      <label class="label">Select Zone & Subject</label>
                    </span>
                  </div>
                </div>
              </div>
              <div ng-if="subCategories" class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Sub-Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                      <input type="radio" name="subcategory_id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" />
                      <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group displayNone">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Video Position</label>
                  </div>
                  <div class="col-md-6 col-lg-4">                  
                    <input type="text" numbers-only ng-model="video_ordering" id="video_ordering" name="video_ordering" placeholder="Video Position" class="form-control">
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Pre-requisite</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                      <select class="form-control prerequisites upper-space" name="prerequisites[]" id="prerequisites_[[prerequisitesCounter]]">
                        <option value="">Select</option>
                        <option ng-repeat="video in preRequisites" value="[[video]]">[[video.title]] -- ([[video.hasOwnProperty('VIDEO')? 'Video':'Quiz']]) </option>
                      </select>
                    <div id="prerequisitesDiv">
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-6"> <a class="btn btn-pink" ng-disabled="!showMoreDisable" ng-click="Addmoreprerequisites()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add More</a> </div>
                </div>
              </div> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Video Access</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> <span class="custom-radio3">
                    <input type="radio" name="video_status" id="video_status_paid" value="1" />
                    <label for="video_status_paid">Paid Subscribers</label>
                    </span> <span class="custom-radio3">
                    <input type="radio" name="video_status" id="video_status_free" value="2" />
                    <label for="video_status_free">Free Users</label>
                    </span> </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Video Thumbnail</label>
                  </div>
                  <div class="col-md-10 col-lg-10">
                    <input type="file" class="hide" id="video_thumbnail" name="video_thumbnail" accept="image/*">
                    <div style="background-image:url(resources/assets/images/up-img.png);" id="video_thumbnail_select" class="img-div thumbnail_custom">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">English Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title" name="title" type="text" placeholder="Video Title (English)">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">English Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description" name="description" rows="6" placeholder="Video Description (English)"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Mandrin Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title_chi" name="title_chi" type="text" placeholder="Video Title (Mandrin)">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Mandrin Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description_chi" name="description_chi" rows="6" placeholder="Video Description (Mandrin)"></textarea>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Russian Title</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <input class="form-control" id="title_ru" name="title_ru" type="text" placeholder="Video Title (Russian)">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2 marginTop">
                    <label class="label">Russian Description</label>
                  </div>
                  <div class="col-md-6 col-lg-4">
                    <textarea class="form-control" id="description_ru" name="description_ru" rows="6" placeholder="Video Description (Russian)"></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class=""> <a class="btn btn-pink" ng-click="Addvideolanguages()"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add Video</a> </div> -->
              <div ng-show="showVideoDiv" >
                <div class="form-group" ng-repeat="video in videos">
                  <hr>
                  <div class="row margin_bottom10">
                    <div class="col-md-2 col-lg-2">
                      <label class="label">[[video.language]] Video</label>
                    </div>
                    <div class="col-md-9 col-lg-5">
                      <div class="input-file-container">
                          <input type="hidden" name="file[file_name_[[$index]]][language]" value="[[video.language]]">
                          <input type="hidden" name="file[file_name_[[$index]]][language_id]" value="[[video.id]]">
                          <input type="file" class="input-file fl_input" id="my-file_[[$index]]" name="file[file_name_[[$index]]][video]">
                          <p><i class="fa fa-play-circle" aria-hidden="true"></i></p>
                          <p id="filereturn_[[$index]]">Drop video file here</p>
                       </div>
                       <table width="100%" cellpadding="0" cellspacing="0" >
                         <tr>
                           <td><label tabindex="0" for="my-file_[[$index]]" class="input-file-trigger"><em> Upload MP4, AVI & MOV files only.</em><span class="btn btn-Browse"><i class="fa fa-folder-open" aria-hidden="true"></i> Browse Files</span></label> </td>

                         </tr>
                         <tr>
                            <td><p class="file-return"></p></td>
                         </tr>
                       </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-div">
              <div class="form-group">
                <!-- <div class="row">
                  <div class="col-md-2 col-lg-2"> </div>
                  <div class=""> -->
                    <!-- <button class="btn btn-pink upload-new-video draft" ng-click="Uploadnewvideo(3,'draft')">Save As Draft</button> -->
                    <button class="btn btn-pink upload-new-video publish" ng-click="Uploadnewvideo(1,'publish')">Publish</button>
                  <!-- </div>
                </div> -->
              </div>
            </div>
        </form>
      </div>    
    </div>
  </div>
</section>
