<div aria-labelledby="myModalLabel" class="modal fade designer-my-uploads-popup" id="emailDistributorModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Email Distributor
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="sendEmailForm"  >
            <input type="hidden" name="hidDistributorId" id="hidDistributorId" value="[[distributorDetails.id ]]" class="hide">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Subject
                </label>
                <input class="fl_input form-control" id="email_subject" name="email_subject" ng-model="email_subject" required type="text">
                </input>
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap textarea " style="height: 250px;">
                <label class="" for="upload_description">
                  Message
                </label>
                <div id="editor"></div>
              </div>
            </div>
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="submit_bank btn btn-pink submit-btn btn-sm" ng-click="sendEmailToDistributor()"
                    type="button">Send</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div aria-labelledby="myModalLabelChangePassword" class="modal fade designer-my-uploads-popup" id="changePasswordModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">
      <div class="modal-header">
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            ×
          </span>
        </button>
        <h4 class="modal-title uppercase color-purple" id="myModalLabel">
          Change Password
        </h4>
      </div>
      <div class="modal-body">
        <div class="flowup-labels-form sign-up-form animated go">
          <form id="changePasswordForm">
            <input type="hidden" name="hidDistributorIdChangePassword" id="hidDistributorIdChangePassword" value="[[distributorDetails.id ]]" class="hide">
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Password
                </label>
                <input class="fl_input form-control" id="change_password" name="change_password" ng-model="change_password" required type="password">
                </input>
              </div>
            </div>
            <div class="form-group">
              <div class="fl_wrap">
                <label class="fl_label" for="rf_title">
                  Confirm Password
                </label>
                <input class="fl_input form-control" id="change_confirm_password" name="change_confirm_password" ng-model="change_confirm_password" required type="password">
                </input>
              </div>
            </div>           
            <div class="clear-fix"></div>
            <div class="form-bottom-btn">
              <div class="row">
                <div class="col-sm-12">
                  <button class="change_password btn btn-pink submit-btn btn-sm" ng-click="changeDistributorPassword()"
                    type="button">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="distributors-Info-A_Info-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">Distributors</h3>
        </div>
        <div class="col-sm-6 text-right">
          <div class="tab-div">
            <button class="btn tablinks active" onclick="openCity(event, 'OfflineTab')" id="defaultOpen">Offline (6)</button>
            <button class="btn tablinks" onclick="openCity(event, 'OnlineTab')">Online (16)</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <a href="manage/ignite/edit-distributor/[[distributorDetails.slug ]]" class="btn btn-pink pull-right">Edit</a>      
        <div class="lg-text"> [[distributorDetails.company_name ]]</div>
      </div>
    </div>
  </div>
  <div id="OfflineTab" class="tabcontent">
    <div class="panel-group custom-accordion">
      <div class="panel">
        <div class="panel-heading active">
          <h4 class="panel-title">
            <a> Distributor Info
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse" style="display:block">
          <div class="panel-body">
            <section class="D-Info-A_Info-form">
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Name</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.company_name ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Email</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.email_address ]] </strong>                   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Address</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.locality]][[', ' + distributorDetails.city.name]][[', ' + distributorDetails.state.name]][[',
                      ' +distributorDetails.country.name]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Phone Number</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>+[[distributorDetails.phonecode]] [[distributorDetails.contact]]</strong>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Total Subscribers</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.distributor_referrals_count ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Team Size</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[distributorDetails.distributor_team_members_count ]]</strong>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Total Earnings</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong ng-if="current_domain == 'net'">S$ [[distributorDetails.total_earnings ]]</strong>
                    <strong ng-if="current_domain == 'cn'">¥ [[distributorDetails.total_earnings ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Renewal
                      <br> Commissions
                    </label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[distributorDetails.renewal_commission_percentage ]] &#x25;</strong>
                    <!-- <strong ng-if="current_domain == 'net'">S$ [[distributorDetails.outstanding_commissions ]]</strong>
                    <strong ng-if="current_domain == 'cn'">¥ [[distributorDetails.outstanding_commissions ]]</strong> -->
                    <!-- <a href="" class="reload">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">New Sales Commissions</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[distributorDetails.commission_percentage ]] &#x25;</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Distributor Code</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[distributorDetails.referal_code ]]</strong>
                    <a href="" class="reload" ng-click="RegenerateReferalCode(distributorDetails.slug,'Distributors')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                  </div>                  
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Link</label>
                  </div>
                  <div class="col-sm-8"> :                  
                    <strong class="unique-link-class"> [[distributorDetails.unique_link ]]</strong>                    
                     <a href="" class="reload" ng-click="RegenerateUniqueLink(distributorDetails.slug,'Distributors')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                  </div>                                    
                </div>
              </div> 
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Qr Code</label>
                  </div>
                  <div class="col-sm-8"> :                                       
                    <img ng-src="[[distributorDetails.qrcode_file_path]]" ng-if="distributorDetails.qrcode_file_path" width="250" height="250" class="qr-code-class" ng-click="DownLoadQrCodeFile(distributorDetails.qrcode_file_name)">
                     <a class="reload-new" ng-click="RegenerateQRCode(distributorDetails.slug,'Distributors')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                  </div>                                    
                </div>
              </div>    
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Phone Number</label>
                  </div>
                  <div class="col-sm-8"> :                                       
                    <strong class="unique-link-class"> [[distributorDetails.status==0?'Unverified':'Verified' ]]</strong>
                    </a>
                  </div>                                    
                </div>
              </div>           
            </section>
            <div class="bottom-btn">
              <button class="btn btn-red" ng-disabled="distributorDetails.outstanding_commissions > 0" ng-click="suspendAccount(distributorDetails.id)">
                Suspend Account</button>
              <button class="btn btn-pink" ng-click="EmailDistributor(distributorDetails.id)"> Email Distributor</button>
              <button class="btn btn-pink" ng-click="changePassword(distributorDetails.id)"> Change Password</button>
              <a href="manage/ignite/distributor-commissions/[[distributorDetails.slug]]" class="btn btn-pink" > Commissions</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Team
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body ">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th width="80">Sr. No</th>
                  <th width="200">Salesperson Name</th>
                  <th width="150">Joined</th>
                  <th width="100">Last Activity</th>
                  <th class="text-center" width="150">Total Subscribers</th>
                  <th class="text-center" width="100">QR Code</th>
                  <th class="text-center" width="100">Salesperson Code</th>
                  <!-- <th class="text-center" width="100">Unique Link</th> -->
                  <th class="text-center" width="100">Status</th>
                  <th class="text-center" width="100">Action</th>
                </tr>
                <tr ng-repeat="member in allMembers track by $index">
                  <td>[[ $index + 1]]</td>
                  <td>
                    <a href="#" ng-click="Showteammemberinfo(member.id)">[[member.first_name]] [[member.last_name]]</a>
                  </td>
                  <td>[[member.joining_date]]</td>
                  <td>2 day ago</td>
                  <td class="text-center">[[member.distributor_referrals_count]] ([[member.distributor_referrals_text_count]] Text | [[member.distributor_referrals_barcode_count]]
                    Barcode)
                  </td>
                  <td class="text-center">
                    <a href="javascript:;" ng-click="viewQRCodeModal(member.qrcode_file_name)">View</a>
                  </td>
                  <td class="text-center">[[member.referal_code]]
                  </td>
                  <!-- <td class="text-center"><div class="break-word">[[member.unique_link]]</div>
                  </td> -->
                  <td class="text-center">[[member.status==1?'Active':'Suspended by Admin' ]]
                  </td>
                  <td class="text-center" ng-if="member.status==1"><button class="btn btn-red btn-sm team_action_type[[member.id]]" ng-click="teamAccountAction(member.id,'suspend')" type="button">Suspend Account</button>
                  </td>
                  <td class="text-center" ng-if="member.status==3"><button class="btn btn-pink btn-sm team_action_type[[member.id]]" ng-click="teamAccountAction(member.id,'activate')" type="button">Re-Activate Account</button>
                  </td>
                  <td class="text-center" ng-if="member.status==4"><button class="btn btn-pink btn-sm team_action_type[[member.id]]" ng-click="teamAccountAction(member.id,'activate')" type="button">Phone Not Verified</button>
                  </td>
                  <td class="text-center" ng-if="member.status==5"><button class="btn btn-pink btn-sm team_action_type[[member.id]]" ng-click="teamAccountAction(member.id,'activate')" type="button">Pending To Update Details</button>
                  </td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="currentMemberPaging" like="GetDistributorMembers({'distributorId':distributorDetails.id},page)"
              paginate="paginate" range="rangeMemberspage">
            </default-pagination>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="javascript:;"> Subscribers
              <span class="right-icon ">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <div class="tbl-list-no-border">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <th width="80">User ID</th>
                  <th>Subscriber User Name</th>
                  <th width="200">Joined</th>
                  <th class="text-center" width="150">Last Activity</th>
                  <th class="text-center" width="150">Salesperson</th>
                </tr>
                <tr ng-repeat="referall in allReferalls">
                  <td>[[ referall.id]] </td>
                  <td>
                    <!-- <a href="#">[[ referall.referal_user_name]]</a> -->
                    <a href="manage/ignite/ignite-subscriber-details/[[ referall.referal_user.slug ]]">[[ referall.referal_user.first_name ]] [[ referall.referal_user.last_name ]]</a>
                  </td>
                  <td> [[ referall.joining_date]]</td>
                  <td class="text-center">2 day ago</td>
                  <td class="text-center" ng-if="referall.distributor_member">[[ referall.distributor_member.first_name ]] [[ referall.distributor_member.last_name ]] </td>
                  <td class="text-center" ng-if="!referall.distributor_member">Self</td>
                </tr>
              </table>
            </div>
            <default-pagination currentpage="currentReferallsPaging" like="GetDistributorReferalls({'distributorId':distributorDetails.id},page)"
              paginate="paginateReferals" range="rangeReferallspage">
            </default-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="OnlineTab" class="tabcontent">
    No Data
  </div>
</section>
<!-- team member detail modal : start -->
  <div class="modal fade my-team-pupup" id="show_team_detail_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Sales Person - [[teamMemberDetail.first_name]] [[teamMemberDetail.last_name]]</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <section class="D-Info-A_Info-form team_member_modal">
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Name</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMemberDetail.first_name]] [[teamMemberDetail.last_name]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Email</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMemberDetail.email_address ]] </strong>                   
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Address</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMemberDetail.city.name]][[', ' + teamMemberDetail.state.name]][[',
                      ' +teamMemberDetail.country.name]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Phone Number</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>+[[teamMemberDetail.phonecode]] [[teamMemberDetail.contact]]</strong>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row ">
                  <div class="col-sm-2">
                    <label class="label">Total Subscribers</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong>[[teamMemberDetail.subscriberCount ]]</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Referal Code</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[teamMemberDetail.referal_code ]]</strong>
                    <a href="" class="reload" ng-click="RegenerateReferalCode(teamMemberDetail.slug,'DistributorsTeamMembers')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                  </div>    
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">New Sales Commissions</label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[teamMemberDetail.commission_percentage ]] &#x25;</strong>
                  </div>
                  <div class="col-sm-2">
                    <label class="label">Renewal
                      <br> Commissions
                    </label>
                  </div>
                  <div class="col-sm-4"> :
                    <strong> [[teamMemberDetail.renewal_commission_percentage ]] &#x25;</strong>
                    <!-- <strong ng-if="current_domain == 'net'">S$ [[distributorDetails.outstanding_commissions ]]</strong>
                    <strong ng-if="current_domain == 'cn'">¥ [[distributorDetails.outstanding_commissions ]]</strong> -->
                    <!-- <a href="" class="reload">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a> -->
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Link</label>
                  </div>
                  <div class="col-sm-8"> :                  
                    <strong class="unique-link-class"> [[teamMemberDetail.unique_link ]]</strong>
                    <a href="" class="reload" ng-click="RegenerateUniqueLink(teamMemberDetail.slug,'DistributorsTeamMembers')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                  </div>                                    
                </div>
              </div> 
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-2">
                    <label class="label">Qr Code</label>
                  </div>
                  <div class="col-sm-8"> :                                       
                    <img ng-src="public/uploads/distributor_qr_codes/team/[[teamMemberDetail.qrcode_file_name]]" width="250" height="250" class="qr-code-class">
                  <a href="" class="reload" ng-click="RegenerateQRCode(teamMemberDetail.slug,'DistributorsTeamMembers')">
                      <i class="fa fa-refresh" aria-hidden="true"></i>
                  </a>                                  
                  </div>  
                </div>
              </div>          
            </section>
          </div>
        </div>
        <div class="modal-footer"> 
          <button type="button" class="btn btn-pink btn-default btn-sm" data-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>
<!-- team member detail modal : end -->
<div class="modal fade my-team-pupup" id="viewQRCode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">QR</h4>
      </div>
      <div class="modal-body text-center"><br />
        <br />
                <img alt="" ng-src="public/uploads/distributor_qr_codes/team/[[qrfilename]]" /><br/>
        <br />
      </div>
      <div class="modal-footer"> 
        <button type="button" class="btn btn-pink btn-sm" data-dismiss="modal">Close</button> 
      </div>
    </div>
  </div>
</div>
<script>
  function openCity(evt, jobsStatus) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(jobsStatus).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
<script>
  $('.custom-accordion .panel-heading').click(function () {

    $(this).toggleClass('active');
    $(this).next('.panel-collapse').slideToggle();
  });

</script>