<section class="distributors-list-admin-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
      	<div class="col-sm-6">
            <h3 class="panel-title">Distributors</h3>
          </div>
          <div class="col-sm-6 text-right">
            <a class="btn btn-pink" href="manage/ignite/add-new-distributor"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Create New Distributor</a>
            <div class="tab-div">
             <button class="btn tablinks active" onclick="openCity(event, 'OfflineTab')" id="defaultOpen">Offline (6)</button>
             <button class="btn tablinks" onclick="openCity(event, 'Online  Tab')">Online (16)</button>
           </div>
          </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="head-filter-div">
           <div class="row">
             <div class="col col-sm-6  col-md-6 col-lg-6">
               <span class="custom-search-box">
                  <input type="text" placeholder="Search by name, referral, address etc" class="form-control" ng-model="search" >
               </span>
             </div>
             <div class="col col-sm-0 col-md-1 col-lg-3">

             </div>
             <div class="col col-sm-6 col-md-5 col-lg-3">
              <table cellpadding="0" cellspacing="0" width="100%">
              	<tr>
                  	<th width="70">Sort By :</th>
                      <td>
                        <span class="custom-select">
                          <select class="form-control" ng-model="sort" >
                            <option value="referralAsc">Subscribers Low to High</option>
                            <option value="referralDesc">Subscribers High to Low</option>
                            <option value="teamAsc">Team Size Low to High</option>
                            <option value="teamDsc">Team Size High to Low</option>
                          </select>
                        </span>
                      </td>
                  </tr>
              </table>
             </div>
           </div>
           <button class="btn btn-pink" ng-click="filterData(sort,search)" >Search</button>
         </div>
      </div>
      <div class="content-div">
        <div class="tb-padding">
          <!--row-->
          <div ng-repeat="distributor in allDistributors">
            <div class="row">
              <div class="col-sm-5 col-lg-7">
                  <h4><a class="anchor_decoration_none" href="manage/ignite/ignite-distributor-details/[[ distributor.slug ]]">[[ distributor.company_name ]]</a></h4>
                  <p>
                    <span class="black">Address :</span><br>
                    [[distributor.locality]][[', ' + distributor.city.name]][[', ' + distributor.state.name]][[', ' +distributor.country.name]] 
                  </p>
                 </div>
                 <div class="col-sm-7 col-lg-5">
                   <div class="row">
                     <div class="col-sm-4">
                       <ul class="info-list-with-icon">
                          <li><i class="fa fa-th-large" aria-hidden="true"></i> Total Subscribers : [[ distributor.distributor_referrals_count ]]</li>
                          <li><i class="fa fa-users" aria-hidden="true"></i> Team Size : [[ distributor.distributor_team_members_count ]]</li>
                        </ul>
                     </div>
                     <div class="col-sm-4">
                       <ul class="info-list-with-icon">
                          <li><i class="fa fa-calendar" aria-hidden="true"></i> Joined : [[ distributor.joining_date ]]</li>
                          <li> <i class="fa fa-clock-o" aria-hidden="true"></i> Last Subscriber : [[ distributor.last_referal_time ]]</li>
                        </ul>
                     </div>
                     <div class="col-sm-4">
                       <ul class="info-list-with-icon">
                          <li><i class="fa fa-info" aria-hidden="true"></i> Type : [[  distributor.online_offline_status==1?'Online':'Offline' ]]</li>
                          <li><i class="fa fa-info" aria-hidden="true"></i> Phone Number : [[ distributor.status==0?'Unverified':'Verified' ]]</li>
                        </ul>
                     </div>
                   </div>
                 </div>
             </div>
             <hr>
          </div>             
        </div>
        <!-- Pagination -->        
  <default-pagination currentpage="currentDistributorsPaging" like="GetallDistributorData({'sort':sort,'search':search},page)" paginate="paginate" range="rangeDistributorspage">
  </default-pagination>
      </div>
    </div>
  </div>

</section>

<script>
  function openCity(evt, jobsStatus) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // document.getElementById(jobsStatus).style.display = "block";
      evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
