<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-10">
          <h3 class="panel-title">Edit Distributor</h3>
        </div>
      </div>
    </div>   
    <div class="panel-body">
      <form id="editDistributorForm" novalidate="">
      <input type="hidden" name="hidDistributorId" id="hidDistributorId" value="[[distributorData.id]]" class="hide">
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Company Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="distributorData.company_name" id="company_name" name="company_name" placeholder="Company Name" class="form-control" required>
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Last Name</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="distributorData.last_name" id="last_name" name="last_name" placeholder="Last Name" class="form-control" required>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Email Address</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="email" ng-model="distributorData.email_address" id="email_address" name="email_address" placeholder="Email Address" class="form-control"
                  required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Contact Number</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <input type="text" numbers-only ng-model="distributorData.phonecode" id="phonecode" name="phonecode" placeholder="Phone Code" class="form-control">
                  </div>
                  <div class="col-md-9 col-lg-10">
                    <input type="text" numbers-only ng-model="distributorData.contact" id="contact" name="contact" placeholder="Contact Number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">New Sales Commissions</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="number" ng-model="distributorData.commission_percentage" id="commission_percentage" name="commission_percentage" placeholder="New Sales Commissions (%)" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Renewal Commissions</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="number" ng-model="distributorData.renewal_commission_percentage" id="renewal_commission_percentage" name="renewal_commission_percentage" placeholder="Renewal Commissions (%)" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Country</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="country_id" id="country_id">
                  <option value="">Select Country</option>
                  <option ng-selected="[[ distributorData.country_id == country.id ]]" ng-repeat="country in countrycitydata.country" value="[[country.id]]">[[country.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Province</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="state_id" id="state_id">
                  <option value="">Select Province</option>
                  <option  ng-selected="[[ distributorData.state_id == state.id ]]" ng-repeat="state in states" value="[[state.id]]">[[state.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">City</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <select class="form-control upper-space" name="city_id" id="city_id">
                  <option value="">Select City</option>
                  <option  ng-selected="[[ distributorData.city_id == city.id ]]" ng-repeat="city in cities" value="[[city.id]]">[[city.name]]</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Locality</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <textarea ng-model="distributorData.locality" id="locality" name="locality" class="form-control" rows="6" placeholder="locality"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Distributor Type</label>
              </div>
              <div class="col-md-10 col-lg-10"> 
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" id="no_discount" ng-value="2"/>
                  <label for="no_discount">None</label>
                </span>
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" id="percent_discount" ng-value="0"/>
                  <label for="percent_discount">Percent Discount</label>
                </span>
                <span class="custom-radio3">
                  <input type="radio" name="discount_type" ng-model="discount_type" id="flat_discount" ng-value="1"/>
                  <label for="flat_discount">Flat Discount</label>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="discount_type==0||discount_type==1">
            <div class="row">
              <div class="col-md-2 col-lg-2">
                <label class="label">Discount Of</label>
              </div>
              <div class="col-md-9 col-lg-5">
                <input type="text" ng-model="price.discount_of" id="discount_of" name="discount_of" placeholder="Discount Of" class="form-control"
                  required>
              </div>
            </div>
          </div>
        </div>
        <div class="content-div">
          <div class="form-group">
            <div class="row">
              <div class="col-md-2 col-lg-2"> </div>
              <div class="col-md-10 col-lg-10">
                <button class="btn btn-pink edit-distributor" ng-click="editDistributor()">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>