<section class="create-new-quiz-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Quiz</h3>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="quiz-info-head">
          <h3>Quiz Info</h3>
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <label>Total Questions</label>
            </div>
            <div class="col-xs-8 col-sm-3">: <strong>[[quizData.quizquestions_count]]</strong> </div>
            <div class="col-xs-4 col-sm-2">
              <label>Quiz Status</label>
            </div>
            <div class="col-xs-8 col-sm-4">: <strong>[[quizData.quiz_publish_status_name]]</strong> </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-3">
              <label>Question Type</label>
            </div>
            <div class="col-xs-8 col-sm-3">: 
              <strong ng-repeat="option in quizData.quizquestions">
                <strong ng-if="option.question_title">Text |</strong>
                <strong ng-if="option.question_image">Image |</strong>
                <strong ng-if="option.question_audio">Audio |</strong>
              </strong>
            </div>
            <div class="col-xs-4 col-sm-2">
              <label>Last Edited</label>
            </div>
            <div class="col-xs-8 col-sm-4">: <strong>[[quizData.last_updated_at]]</strong> </div>
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="quiz-info-head">
          <h3>Edit Details</h3><br>
          <form id="edit_form">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4">
                  <label class="label">Select Zone(s)</label>
                </div>
                <div class="col-sm-8 pink_checkbox">
                  <!-- <span class="custom-checkbox" ng-repeat="zone in quizData.zones">
                    <input ng-model="selectedZones[zone.id]" ng-checked="zone.selected==1" ng-click="Addvideolanguages()" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                    <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                  </span> -->
                  <div class="col-md-10 col-lg-10 pink_checkbox"> 
                    <span class="custom-radio3" ng-repeat="zone in quizData.zones">
                      <input ng-checked="zone.selected" ng-click="getSubjects(zone.id, 1)" type="radio" name="video_for_zones[]" id="zone_[[zone.id]]" ng-value="[[zone.id]]"/>
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-sm-3">
                  <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <div class="row" style="width: 1450px;">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Select Subject</label>
                </div>
                <!-- <div class="col-sm-8"> -->
                  <div class="col-md-10 col-lg-10 pink_checkbox">
                    <span class="" ng-repeat="subject in subjects">
                      <input type="radio" name="subject_id" id="subject_id" value="[[subject.id]]" ng-checked="quizData.subject_id==subject.id" ng-click="Loadcategoriesforsubject(subject.id); setVariables(subject.id)" />
                      <label for="[[subject.id]]">[[subject.subject_name]]</label>
                      <span style="color: red">
                        <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                        <label ng-repeat="zone in subject.otherZones">
                          <label ng-repeat="zon in quizData.zones">
                            <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                            <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                          </label>
                        </label>
                      </span>
                    </span>
                  </div>
                <!-- </div> -->
                <!-- <div class="col-sm-3">
                  <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-4" ng-if="videoCategories">
                  <label class="label">Select Category</label>
                </div>
                <div class="col-sm-8">
                  <div class="col-md-12 col-lg-12">
                    <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                      <input type="radio" name="category_id" id="category_[[category.id]]" ng-value="[[category.id]]" ng-checked="quizData.category_id==category.id" ng-click="Loadprerequisites(category.id)" />
                      <label for="category_[[category.id]]">[[category.category_name]]</label>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-sm-3">
                  <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <div class="row" ng-if="subCategories">
                <div class="col-sm-4">
                  <label class="label">Select Sub-Category</label>
                </div>
                <div class="col-sm-8">
                  <div class="col-md-10 col-lg-10">
                    <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                      <input type="radio" name="subcategory_id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" ng-checked="quizData.subcategory_id==subcategory.id" ng-click="setSubCategory(subcategory.id)" />
                      <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-sm-3">
                  <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                </div> -->
              </div>
            </div>

            <!-- <div class="" ng-repeat="language in quizData.quizlanguages">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">[[language.language]] Title</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <input type="text" ng-model="worksheet_title" id="title_[[language.language]]" name="details[ [[$index]] ][title]" placeholder="[[language.language]] WorkSheet Title" class="form-control">
                    <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">[[language.language]] Description</label>
                  </div>
                  <div class="col-md-9 col-lg-5">
                    <textarea ng-model="description" id="description_[[language.language]]" name="details[ [[$index]] ][description]" class="form-control" rows="6" placeholder="[[language.language]] Description"></textarea>
                  </div>
                </div>
              </div>
            </div> -->
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="label">English Title</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <!-- <input type="text" class="form-control" value="[[language.title]]" id="title_[[language.language]]" name="details[ [[$index]] ][title]" placeholder="[[language.language]] WorkSheet Title">
                      <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                      <input type="text" ng-model="quizData.title" class="form-control" id="title" name="title" placeholder="Quiz Title (English)">
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                  </div> -->
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label>English Description</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <textarea class="form-control remove_height_custom" rows="6" placeholder="Quiz Description (English)" id="description" name="description" ng-model="quizData.description"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="label">Mandrin Title</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <!-- <input type="text" class="form-control" value="[[language.title]]" id="title_[[language.language]]" name="details[ [[$index]] ][title]" placeholder="[[language.language]] WorkSheet Title">
                      <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                      <input type="text" class="form-control" ng-model="quizData.title_chi" id="title_chi" name="title_chi" placeholder="Quiz Title (Mandrin)">
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                  </div> -->
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label>Mandrin Description</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <textarea id="description_chi" class="form-control remove_height_custom" rows="6" placeholder="Quiz Description (Mandrin)"  name="description_chi" ng-model="quizData.description_chi"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label class="label">Russian Title</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <!-- <input type="text" class="form-control" value="[[language.title]]" id="title_[[language.language]]" name="details[ [[$index]] ][title]" placeholder="[[language.language]] WorkSheet Title">
                      <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                      <input type="text" class="form-control" ng-model="quizData.title_ru" id="title_ru" name="title_ru" placeholder="Quiz Title (Russian)">
                    </div>
                  </div>
                  <!-- <div class="col-sm-3">
                    <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit Title</a>
                  </div> -->
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4">
                    <label>Russian Description</label>
                  </div>
                  <div class="col-sm-8">
                    <div class="col-md-10 col-lg-10">
                      <textarea id="description_ru" class="form-control remove_height_custom" rows="6" placeholder="Quiz Description (Russian)"  name="description_ru" ng-model="quizData.description_ru"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                <div class="col-sm-4">
                  <label class="label">Quiz Access</label>
                </div>
                <div class="col-sm-8">
                  <div class="col-md-10 col-lg-10">
                    <span class="custom-radio3">
                      <input ng-checked="quizData.quiz_status==1" type="radio" name="quiz_status" id="qa1" ng-model="quiz_status" value="1"/>
                      <label for="qa1">Paid Subscribers</label>
                      <input ng-checked="quizData.quiz_status==2" type="radio" name="quiz_status" id="qa2" ng-model="quiz_status" value="2"/>
                      <label for="qa2">Free Users</label>
                    </span> 
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <a href="#" id="quizTitle" ng-click="Createquiztitle()" class="btn btn-pink">Edit</a>
                </div>
              </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  <form class="hide panel ui-state-default custom-accordion" id="questionform">
      <div class="panel ui-state-default" id="question_[[newQuestion]]">
        <div class="panel-heading ">
          <h4 class="panel-title"> <a href="javascript:;">Question #[[newQuestion]] <i id="checkcircle_[[newQuestion]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
             <!-- <span class="sm-text">4 Options : 1 Answer</span> --> <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> </a> </h4>
        </div>
        <div class="panel-collapse" >
          <div class="panel-body">
            <div class="cnq-form-div">
              <div class="form-group">
                <div class="row question_spacing">
                  <div class="col-sm-3">
                    <label class="label">Question</label>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control question_spacing" name="question_title" placeholder="Question here">
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <label class="label">Question Image</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group ui-state-default" id="questionImage">
                      <div class=" image-fields">
                        <div class="ui-state-default"> 
                          <input type="file" class="hide" id="questionImage_[[newQuestion]]" name="question_image" accept="image/*">
                          <div style="background-image:url(resources/assets/images/up-img.png);" id="clickquestionImage_[[newQuestion]]" class="img-div clickquestionImage"> 
                            <a href="javascript:;" id="removequestionImage_[[newQuestion]]" class="icon question_remove_image hide">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-3">
                    <label class="label">Question Audio</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="form-group ui-state-default" id="questionAudio">
                      <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                          <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                          <span class="fileinput-new">Select file</span>
                          <span class="fileinput-exists disable_color">Change</span>
                          <input type="file" id="questionAudio_[[newQuestion]]" name="question_audio" accept="audio/*">
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists disable_color" data-dismiss="fileinput">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="" id="optionList_[[newQuestion]]">
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <label class="label">New Option</label>
                  </div>
                  <div class="col-sm-9">
                    <div class="new-option"> 
                      <a class="btn text_option" id="text_[[newQuestion]]"><i class="fa fa-file-text-o" aria-hidden="true"></i> Text</a> 
                      <a class="btn image_option" id="image_[[newQuestion]]"><i class="fa fa-picture-o" aria-hidden="true"></i> Image</a> 
                      <a class="btn audio_option" id="audio_[[newQuestion]]"><i class="fa fa-volume-up" aria-hidden="true"></i> Audio Clip</a> 
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                    <label class="label">Correct Answer(s)</label>
                  </div>
                  <div class="col-sm-9" id="correctAnswer_[[newQuestion]]">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-3">
                      <a href="#" id="saveQuestion_[[newQuestion]]" class="btn btn-pink savequestion">Save Question</a>
                  </div>
                  <div class="col-sm-9">
                    <div class="btn-div">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </form>
  <div class="panel-group" id="questionbank">
    <form class="panel ui-state-default custom-accordion " ng-repeat="questions in quizData.quizquestions" id="questionform_[[questions.id]]">
        <input type="hidden" name="quiestionId" value="[[questions.id]]">
        <div class="panel ui-state-default" id="question_[[$index+1]]">
          <div class="panel-heading toggledirective">
            <h4 class="panel-title"> 
              <a href="javascript:;">Question #[[$index+1]] <i id="checkcircle_[[questions.id]]" class="hide fa fa-check-circle" aria-hidden="true"></i>
                <span class="sm-text">[[questions.quizquestionsoptions.length]] Options</span> 
                <span class="right-icon "><i class="fa fa-plus" aria-hidden="true"></i></span> 
                <!-- <span class="right-icon "><i class="fa fa-trash" aria-hidden="true"></i></span>  -->
              </a> 
            </h4>
          </div>
          <div class="panel-collapse" >
            <div class="panel-body">
              <div class="cnq-form-div">
                <div class="form-group">
                  <div class="row question_spacing">
                    <div class="col-sm-3">
                      <label class="label">Question</label>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="form-control question_spacing" name="question_title" value="[[questions.question_title]]" placeholder="Question here">
                    </div>
                  </div>

                  <div class="row" >
                    <div class="col-sm-3">
                      <label class="label">Question Image</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group ui-state-default" id="questionImage">
                        <div class=" image-fields">
                          <div class="ui-state-default"> 
                            <input type="file" class="hide" id="questionImage_[[$index+1]]" name="question_image" accept="image/*">
                            <div ng-if="questions.question_image" style="background-image:url(public/uploads/Quiz_options/[[questions.question_image]]);" id="clickquestionImage_[[$index+1]]" class="img-div quiz_image_option clickquestionImage"> 
                              <a href="javascript:;" id="removequestionImage_[[$index+1]]" class="icon question_remove_image">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </div>
                            <div ng-if="!questions.question_image" style="background-image:url(resources/assets/images/up-img.png);" id="clickquestionImage_[[$index+1]]" class="img-div clickquestionImage"> 
                              <a href="javascript:;" id="removequestionImage_[[$index+1]]" class="icon question_remove_image hide">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">Question Audio</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="fields" id="questionAudioSourceParentDiv_[[questions.id]]" ng-if="questions.question_audio">   
                        <audio controls>
                          <source ng-src="public/uploads/Quiz_options/[[questions.question_audio]]" type="audio/mpeg">
                          Your browser does not support the audio element.
                        </audio>
                        <a href="javascript:;" id="removequestionAudio_[[$index+1]]" class="icon question_remove_audio">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </div>
                      <div  class="form-group ui-state-default [[!questions.question_audio?'':'hide']]" id="questionAudioSelectParentDiv_[[questions.id]]">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                          <div class="form-control" data-trigger="fileinput">
                            <span class="fileinput-filename"></span>
                          </div>
                          <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">Select file</span>
                            <span class="fileinput-exists disable_color">Change</span>
                            <input type="file" id="questionAudio_[[$index+1]]" name="question_audio" accept="audio/*">
                          </span>
                          <a href="#" class="input-group-addon btn btn-default fileinput-exists disable_color" data-dismiss="fileinput">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="" id="optionList_[[$index+1]]">
                  <div class="optionDiv" id="divNumber_[[questions.id]]_[[$index+1]]" ng-repeat="options in questions.quizquestionsoptions track by $index">
                        <div class="form-group ui-state-default"> 
                          <div class="row">
                            <div class="col-sm-3">
                              <label class="label">Option # [[ $index + 1]] </label>
                            </div>
                            <div class="col-sm-9" ng-if="options.options_type == 1">                        
                              <div class="fields" >
                                  <input type="hidden" value="[[ $index + 1]]" class="form-control" name="option[ [[$index + 1]] ][order]">
                                  <input type="hidden" value="text" class="form-control" name="option[ [[$index + 1]] ][type]">
                                  <input type="hidden" value="old" class="form-control" name="option[ [[$index + 1]] ][which]">
                                  <input type="hidden" value="[[options.id]]" class="form-control" name="option[ [[$index + 1]] ][id]">
                                  <input type="text" class="form-control" value="[[options.options_value]]" name="option[ [[$index + 1]] ][text]" placeholder="Option text">
                                  <a href="javascript:;" class="icon">
                                    <i class="fa fa-trash-o remove_option_text" id="textremove_[[questions.id]]_[[$index+1]]" aria-hidden="true"></i>
                                  </a>
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-9 ui-state-default" ng-if="options.options_type == 2"> 
                              <div class="image-fields" >
                                  <input type="hidden" value="image" class="form-control" name="option[ [[$index + 1]] ][type]">
                                  <input type="hidden" value="old" class="form-control" name="option[ [[$index + 1]] ][which]">
                                  <input type="hidden" value="[[options.id]]" class="form-control" name="option[ [[$index + 1]] ][id]">
                                  <div style="background-image:url(public/uploads/Quiz_options/[[ options.options_value ]]);" id="imageuploadclick_[[ $index + 1]]_[[questions.id]]" class="img-div quiz_image_option">
                                    <a href="javascript:;" id="imageremove_[[questions.id]]_[[$index+1]]" class="icon remove_option_image">
                                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                  </div>
                              </div>
                            </div>
                            <div class="col-sm-9" ng-if="options.options_type == 3"> 
                              <div class="fields">  
                                  <audio controls>   
                                    <source ng-src="public/uploads/Quiz_options/[[ options.options_value ]]" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                  </audio>
                                  <input type="hidden" value="audio" class="form-control" name="option[ [[$index + 1]] ][type]">
                                  <input type="hidden" value="old" class="form-control" name="option[ [[$index + 1]] ][which]">
                                  <input type="hidden" value="[[options.id]]" class="form-control" name="option[ [[$index + 1]] ][id]">
                                    <a href="javascript:;" class="icon">
                                      <i class="fa fa-trash-o remove_option_audio" id="audioremove_[[questions.id]]_[[$index+1]]" aria-hidden="true"></i>
                                    </a>
                              </div>                                                                       
                            </div>
                          </div>
                        </div>
                  </div> 
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">New Option</label>
                    </div>
                    <div class="col-sm-9">
                      <div class="new-option"> 
                        <a class="btn text_option" id="text_[[$index+1]]"><i class="fa fa-file-text-o" aria-hidden="true"></i> Text</a> 
                        <a class="btn image_option" id="image_[[$index+1]]"><i class="fa fa-picture-o" aria-hidden="true"></i> Image</a> 
                        <a class="btn audio_option" id="audio_[[$index+1]]"><i class="fa fa-volume-up" aria-hidden="true"></i> Audio Clip</a> 
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                      <label class="label">Correct Answer(s)</label>
                    </div>
                    <div class="col-sm-9" id="correctAnswer_[[$index+1]]">
                      <div id="correctoption_[[questions.id]]_[[$index+1]]" class="custom_checkbox_div" ng-repeat="optionsCheckbox in questions.quizquestionsoptions track by $index">
                        <input type="checkbox" name="correctAnswers[ [[$index+1]] ][value]" value="[[optionsCheckbox.id]]" ng-checked="optionsCheckbox.correct_answer==1" id="answer_[[optionsCheckbox.id]]_[[questions.id]]" />
                        <span class="custom_checkbox_span"></span>
                        <span class="text">Options #[[$index+1]]</span>
                        <input type="hidden" name="correctAnswers[ [[$index+1]] ][which]" value="old">
                      </div>

                      <!-- <span class="custom-checkbox1" id="correctoption_[[questions.id]]_[[$index+1]]" ng-repeat="optionsCheckbox in questions.quizquestionsoptions track by $index">
                        <input type="checkbox" name="correctAnswers[ [[$index+1]] ][value]" value="[[optionsCheckbox.id]]" ng-checked="optionsCheckbox.correct_answer==1" id="answer_[[optionsCheckbox.id]]_[[questions.id]]" />
                        <label for="answer_[[optionsCheckbox.id]]_[[questions.id]]">Options #[[$index+1]]</label>
                        <input type="hidden" name="correctAnswers[ [[$index+1]] ][which]" value="old">                        
                      </span> -->

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3">
                        <a href="#" id="saveQuestion_[[questions.id]]" class="btn btn-pink savequestionOld">Save Question</a>
                    </div>
                    <div class="col-sm-9">
                      <div class="btn-div">                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="last-btn question_spacing">
    <a class="btn btn-pink" ng-click="Addnewquestion(quizData.quizquestions)"><i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i> Add New Question</a>
  </div>
  <div class="panel ui-state-default" ng-if="quizData.quiz_published_status == 1">
    <div class="panel-heading">      
      <a href="#" id="draft-ready-to-publish" ng-click="ChangeQuizStatus(quizData.id,3,'draft-ready-to-publish', 'Ready To Publish')" class="btn btn-pink">Ready To Publish</a>
      <!-- <a href="#" id="draft-save" ng-click="ChangeQuizStatus(quizData.id,1,'draft-save', 'Save')" class="btn btn-pink">Save</a> -->
    </div>
  </div>
  <div class="panel ui-state-default" ng-if="quizData.quiz_published_status == 3">
    <div class="panel-heading">      
      <a href="#" id="un-published-save" ng-click="ChangeQuizStatus(quizData.id,3,'un-published-save', 'Save')" class="btn btn-pink">Save</a>
      <a href="#" id="publish-edit-save" ng-if="quizData.category_id != 0" ng-click="ChangeQuizStatus(quizData.id,2,'publish-edit-save', 'Publish')" class="btn btn-pink">Publish</a>
    </div>
  </div>
  <div class="panel ui-state-default" ng-if="quizData.quiz_published_status == 2">
    <div class="panel-heading">
      <a href="#" id="publish-unpublish" ng-click="ChangeQuizStatus(quizData.id,3,'publish-unpublish', 'Un Publish')" class="btn btn-pink">Un Publish</a>
    </div>
  </div>
</section>
