<section class="create-new-quiz-section upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <h3 class="panel-title">Edit WorkSheet</h3>
    </div>
    <form id="EditWorkSheetForm">
    <input type="hidden" name="hidWorkSheetId" id="hidWorkSheetId" value="[[workSheetData.id]]" class="hide">
    <div class="panel-body">
      <!-- <div class="content-div">
        
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label class="label">Title</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <input type="text" class="form-control"  value="[[workSheetData.title]]" id="workSheetTitleText" name="workSheetTitleText" placeholder="WorkSheet Title" ng-disabled="workSheetData.status == 1">
            </div>             
          </div>
          <div class="row bottom-class">
            <div class="col-md-3 col-lg-2">
              <label class="label">Description</label>
            </div>
            <div class="col-md-9 col-lg-6">
              <textarea  ng-model="workSheetData.description" id="description" name="description" class="form-control" rows="6" placeholder="Description" ng-disabled="workSheetData.status == 1" >[[workSheetData.description]]</textarea>
            </div>             
          </div>          
         
      </div> -->
      <div class="content-div">             
              <!-- <div class="form-group"> -->
                <div class="row bottom-class">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Zone(s)</label>
                  </div>
                  <div class="col-md-10 col-lg-10 pink_checkbox"> 
                    <!-- <span class="custom-checkbox" ng-repeat="zone in workSheetData.zones">
                      <input ng-model="selectedZones[zone.id]" ng-checked="zone.selected==1" type="checkbox" name="video_for_zones[]" id="zone_[[zone.id]]" value="[[zone.id]]"/>
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span> -->
                    <span class="custom-radio3" ng-repeat="zone in workSheetData.zones">
                      <input ng-checked="zone.selected" ng-click="getSubjects(zone.id, 1)" type="radio" name="video_for_zones[]" id="zone_[[zone.id]]" ng-value="[[zone.id]]"/>
                      <label for="zone_[[zone.id]]">[[zone.zone_name]]</label>
                    </span>
                  </div>
                </div>
              <!-- </div> -->
              <!-- <div class="form-group"> -->
                <div class="row bottom-class">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Subject</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3" ng-repeat="subject in subjects">
                      <input type="radio" name="subject_id" id="[[subject.id]]" value="[[subject.id]]" ng-checked="workSheetData.subject_id==subject.id" ng-click="Loadcategoriesforsubject(subject.id); setVariables(subject.id)" />
                      <label for="[[subject.id]]">[[subject.subject_name]]</label>
                      <span style="color: red">
                        <label ng-if="subject.otherZones.length>=1">This subject is also available in </label>
                        <label ng-repeat="zone in subject.otherZones">
                          <label ng-repeat="zon in workSheetData.zones">
                            <label ng-if="zon.id==zone && subject.otherZones.length==1">[[zon.zone_name]]</label>
                            <label ng-if="zon.id==zone && subject.otherZones.length>1">[[zon.zone_name]], </label>
                          </label>
                        </label>
                      </span>
                    </span>
                  </div>
                </div>
              <!-- </div> -->
              <!-- <div class="form-group"> -->
                <div ng-if="videoCategories.length > 0" class="row bottom-class">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span ng-if="videoCategories" class="custom-radio3" ng-repeat="category in videoCategories">
                      <input type="radio" name="worksheet_category_id" id="category_[[category.id]]" ng-checked="workSheetData.worksheet_category_id==category.id" ng-value="[[category.id]]" ng-click="Loadprerequisites(category.id)" />
                      <label for="category_[[category.id]]">[[category.category_name]]</label>
                    </span>
                    <span ng-if="!videoCategories" class="custom-radio3">
                      <label class="label">Select Subject</label>
                    </span>
                  </div>
                </div>
              <!-- </div> -->
              <!-- <div ng-if="subCategories" class="form-group"> -->
                <div ng-if="subCategories" class="row bottom-class">
                  <div class="col-md-2 col-lg-2">
                    <label class="label">Select Sub-Category</label>
                  </div>
                  <div class="col-md-10 col-lg-10"> 
                    <span class="custom-radio3" ng-repeat="subcategory in subCategories">
                      <input type="radio" name="subcategory_id" ng-checked="workSheetData.subcategory_id==subcategory.id" id="subcategory_[[subcategory.id]]" value="[[subcategory.id]]" ng-click="setSubCategory(subcategory.id)" />
                      <label for="subcategory_[[subcategory.id]]">[[subcategory.subcategory_name]]</label>
                    </span>
                  </div>
                </div>
              <!-- </div> -->
              <!-- <div class="row bottom-class">
                <div class="col-md-3 col-lg-2">
                  <label class="label">Select Category</label>
                </div>
                <div class="col-md-9 col-lg-6"> 
                  <span class="custom-radio3" ng-repeat="category in videoCategories">
                    <input type="radio" name="worksheet_category_id" id="WorkSheet[[category.id]]" value="[[category.id]]" ng-checked="workSheetData.category.id == category.id"  ng-click="Loadprerequisites(category.id)" ng-disabled="workSheetData.status == 1" />
                    <label for="WorkSheet[[category.id]]">[[category.category_name]]</label>
                  </span>
                </div>
              </div> -->            
              <div class="row bottom-class displayNone">
                <div class="col-md-2 col-lg-2 marginTop">
                  <label class="label">Position</label>
                </div>
                <div class="col-md-6 col-lg-6">                  
                  <input type="text" numbers-only ng-model="workSheetData.worksheet_ordering" id="worksheet_ordering" name="worksheet_ordering" placeholder="Work Sheet Position" class="form-control" ng-disabled="workSheetData.status == 1">
                </div>
              </div>   
              <div class="">
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">English Title</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <input type="text" class="form-control" value="[[workSheetData.title]]" id="title_[[language.language]]" name="title" placeholder="WorkSheet Title (English)">
                      <!-- <input type="hidden" ng-model="workSheetData.title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                    </div>
                  </div>
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">English Description</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <textarea id="quizDescriptionText" class="form-control remove_height_custom" rows="6" placeholder="Worksheet Description (English)" id="description_[[language.language]]" name="description" ng-model="workSheetData.description"></textarea>
                    </div>
                  </div>
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">Mandrin Title</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <input type="text" class="form-control" value="[[workSheetData.title_chi]]" id="title_[[language.language]]" name="title_chi" placeholder="WorkSheet Title (Mandrin)">
                      <!-- <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                    </div>
                  </div>
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">Mandrin Description</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <textarea id="quizDescriptionText" class="form-control remove_height_custom" rows="6" placeholder="Worksheet Description (Mandrin)" id="description_[[language.language]]" name="description_chi" ng-model="workSheetData.description_chi"></textarea>
                    </div>
                  </div>
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">Russian Title</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <input type="text" class="form-control" value="[[workSheetData.title_ru]]" id="title_[[language.language]]" name="title_ru" placeholder="WorkSheet Title (Russian)">
                      <!-- <input type="hidden" ng-model="worksheet_title" id="language_[[language.language]]" name="details[ [[$index]] ][language]" value="[[language.language]]"> -->
                    </div>
                  </div>
                  <div class="row bottom-class">
                    <div class="col-md-3 col-lg-2 marginTop">
                      <label class="label">Russian Description</label>
                    </div>
                    <div class="col-md-9 col-lg-6">
                      <textarea id="quizDescriptionText" class="form-control remove_height_custom" rows="6" placeholder="Worksheet Description (Russian)" id="description_[[language.language]]" name="description_ru" ng-model="workSheetData.description_ru"></textarea>
                    </div>
                  </div>
                </div>
              <div class="row bottom-class">
                <div class="col-md-2 col-lg-2">
                  <label class="label">Worksheet Access</label>
                </div>
                <div class="col-md-6 col-lg-6"> <span class="custom-radio3">
                  <input type="radio" name="worksheet_status" id="qa1" ng-model="workSheetData.worksheet_status"  ng-value="1"/>
                  <label for="qa1">Paid Subscribers</label>
                  </span> <span class="custom-radio3">
                  <input type="radio" name="worksheet_status" id="qa2" ng-model="workSheetData.worksheet_status" ng-value="2" />
                  <label for="qa2">Free Users</label>
                  </span> 
                </div>
              </div>         
              <div class="row bottom-class">
                <div class="col-md-2 col-lg-2">
                  <label class="label">WorkSheet File</label>
                </div>
                <div class="col-md-9 col-lg-10">
                  <div class="form-group ui-state-default" id="worksheetFile" ng-if="showFileBox">
                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                      <div class="form-control" data-trigger="fileinput">
                        <span class="fileinput-filename"></span>
                      </div>
                      <span class="input-group-addon btn btn-default btn-file">
                        <span class="fileinput-new">Select file</span>
                        <span class="fileinput-exists disable_color">Change</span>
                        <input type="file" name="worksheet_file" onchange="angular.element(this).scope().setFile()" ng-model="worksheet_file" accept="pdf/*" id="worksheet_file">
                      </span>
                      <a href="#" class="input-group-addon btn btn-default fileinput-exists disable_color" data-dismiss="fileinput">Remove</a>
                    </div>
                  </div>
                  <div class="form-group inlinedisplay">
                    <div class="work-sheet-file-div inlineDisplayBlock" ng-if="workSheetData.file_name && !hideFileBox"> 
                      <span class="left-icon"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span> [[workSheetData.original_file_name]] 
                        <a class="download-btn student_id_proof" ng-click="downloadWorksheetfile(workSheetData.file_name,workSheetData.original_file_name)">
                            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        </a>                        
                      <div class="clearfix"></div>
                    </div>
                    <a href="" ng-if="!hideFileBox" ng-click="removeOldFile()">
                      &nbsp;&nbsp;
                      <img class="height60" src="resources/assets/images/ignite/delete@2x.png">
                    </a>
                  </div>
                </div>
              </div>
                                                                 
          </div>
           <div class="content-div" ng-if="workSheetData.status == 3">
            <div class="form-group">
              <div class="row bottom-class marginLeft">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8">
                  <button class="btn btn-pink upload-new-work-sheet" id="draft-ready-to-publish" ng-click="Editworksheet(2, 'Ready To Publish', 'draft-ready-to-publish')">Ready To Publish</button>
                  <!-- <button class="btn btn-pink upload-new-work-sheet" id="draft-save-as-draft" ng-click="Editworksheet(3, 'Save As Draft', 'draft-save-as-draft')">Save As Draft</button> -->
                </div>
              </div>
            </div>
          </div>
          <div class="content-div" ng-if="workSheetData.status == 2">
            <div class="form-group">
              <div class="row bottom-class marginLeft">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8">
                  <button class="btn btn-pink upload-new-work-sheet" id="unpublish-publish" ng-click="Editworksheet(1,'Publish', 'unpublish-publish')">Publish</button>
                  <button class="btn btn-pink upload-new-work-sheet" id="unpublish-save" ng-click="Editworksheet(2, 'Save', 'unpublish-save')">Save</button>
                </div>
              </div>
            </div>
          </div>
           <div class="content-div" ng-if="workSheetData.status == 1">
            <div class="form-group">
              <div class="row bottom-class marginLeft">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-8 col-lg-8">
                  <!-- <button class="btn btn-pink upload-new-work-sheet" ng-click="Editworksheet(1)">Save</button>  -->
                  <button class="btn btn-pink upload-new-work-sheet" id="publish-unpublish" ng-click="UnpublishWorkSheet(2)">Un Publish</button>                 
                </div>
              </div>
            </div>
          </div>
    </div>
    </form>
  </div> 
</section>