<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">[[promoCode]]</h3>
        </div>
        <div class="col-sm-6 text-right">
            <span ng-if="promoCodeStatus==1" class="btn tablinks active tab_custom_status">Live</span>
            <span ng-if="promoCodeStatus==2" class="btn tablinks active tab_custom_status">On Hold</span>
            <span ng-if="promoCodeStatus==3" class="btn tablinks active tab_custom_status">Expired</span>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="tbl-list-no-border">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th class="text-center" width="80">S/N</th>
              <th class="text-center" width="80">Subscriber</th>
              <th class="text-center" width="100">Date</th>
              <th class="text-center" width="100">Category</th>
            </tr>
            <tr ng-repeat="promo in promoContent track by $index">
              <td class="text-center">[[$index+1]]</td>
              <td class="text-center"><a href="manage/ignite/ignite-subscriber-details/[[promo.user_detail.slug]]">[[promo.user_detail.display_name]]</a></td>
              <td class="text-center">[[promo.date]]</td>
              <td class="text-center">[[promo.video_category_name]]</td>
            </tr>
          </table>
          <div>
          <default-pagination currentpage="currentPromoPaging" like="getData(page)" paginate="paginate" range="rangePromopage">
          </default-pagination>
        </div>
      </div>    
      <label class="label bold"><a class="back_custom_link" href="manage/ignite/promo-codes/[[promoCodeStatus]]">Back to Promo</a></label>
    </div>
  </div>
</section>
