<section class="upload-content-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6 margin_top_5">
          <h3 class="panel-title">Tax Rate</h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
           <!-- <div class="row">
             <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="taxrate" id="taxrate" placeholder="Tax Rate(%)" ng-model="taxrate" ng-click="getDisable()">
                  </div>
                  <div class="col-sm-3 margin_top_5">
                    <button class="btn btn-pink custom-class-buyerexportbutton" ng-click="getTaxrate(taxrate)" ng-disabled="!checkButton">Update</button>
                  </div>
                </div>
             </div>
           </div> -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-3">
                <label class="label">Tax Rate (X%):</label>
              </div>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="taxrate" id="taxrate" placeholder="Tax Rate(%)" ng-model="taxrate" ng-click="getDisable()">
                  </div>
                </div>
              </div>  
            </div>
            <div class="col-md-6">
              <div class="col-lg-3">
                <label class="label">GST Number:</label>
              </div>
              <div class="col-lg-5">
                <input type="text" class="form-control" name="gst_number" id="gst_number" ng-model="gst_number">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label class="label"><u>Tax rate applicable from:</u></label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="col-lg-3">
                <label class="label">Date:</label>
              </div>
              <div class="col-lg-5">
                <div class="row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" name="date" id="date" ng-model="date">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="col-sm-3 margin_top_5">
                <button class="btn btn-pink custom-class-buyerexportbutton" ng-click="getTaxrate(taxrate,date,gst_number)" ng-disabled="!checkButton">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-div">
        <div class="tbl-list-no-border">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <th class="text-center hand-cursor" width="80">S/N</th>
              <th ng-click="ordersort('tax_rate')" class="text-center hand-cursor">Tax Rate(%)</th>
              <th class="text-center hand-cursor">Email Address</th>
              <th class="text-center hand-cursor" ng-click="ordersort('applicable_from')">Applicable From</th>
              <th ng-click="ordersort('date')" class="text-center hand-cursor">Applicable To</th>
            </tr>
            <tr ng-repeat="transaction in transactions">
              <td class="text-center">[[$index+1]]</td>
              <td class="text-center">[[transaction.tax_rate]]% </td>
              <td class="text-center">[[transaction.admin.email_address]]</td>
              <td class="text-center">[[transaction.applicable_from]]</td>
              <td class="text-center">[[transaction.date]]</td>
            </tr>
          </table>
          <default-pagination currentpage="currentTransactionsPaging" like="GetAllTaxRate(page)" paginate="paginateTransactions" range="rangeTransactionspage">
          </default-pagination>
        </div>
      </div>    
    </div>
  </div>
</section>
