<div class="modal fade designer-my-uploads-popup" id="showVideoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content no-radius">      
      <div class="modal-body">        
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                
          <video id="videoTag" controls width="540" height="310" ></video>    
      </div>
    </div>
  </div>
</div>
<section class="quiz-manager-section">
  <div class="panel panel-block">
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-6">
          <h3 class="panel-title">WorkSheet Manager</h3>
        </div>
        <div class="col-sm-6 text-right">
          <a class="btn btn-pink" href="manage/ignite/create-new-worksheet">
            <i class="fa fa-plus-circle lg-icon" aria-hidden="true"></i>Create New WorkSheet
          </a>
        </div>
      </div>
    </div>
    <div class="panel-heading">
      <div class="row flax-table">
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-model="getWorksheets.zone" ng-change="getSubjects(getWorksheets.zone)">
              <option value="">Select Zone</option>
              <option ng-value="zone.id" ng-repeat="zone in zones">[[ zone.zone_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getcategories(getWorksheets.subject)" ng-model="getWorksheets.subject">
              <option value="">Select Subject</option>
              <option ng-value="subject.id" ng-repeat="subject in subjects">[[ subject.subject_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div">
            <select class="form-control" ng-change="Getsubcategories(getWorksheets.category, 1)" ng-model="getWorksheets.category">
              <option value="">Select Category</option>
              <option ng-value="category.id" ng-repeat="category in categories">[[ category.category_name ]]</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="tab-div custom_tab_div" ng-if="subCategoriesExist">
            <select class="form-control" ng-change="Getsubcategories(getWorksheets.subcategory, 0)" ng-model="getWorksheets.subcategory">
              <option value="">Select Sub-category</option>
              <option ng-value="subCategory.id" ng-repeat="subCategory in subCategories">[[ subCategory.subcategory_name ]]</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row flax-table">
        <div class="col-sm-12 text-left">
          <button class="btn btn-pink" ng-click="GetVideos(getWorksheets)">Get Worksheets</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="content-div">
        <div class="tab-div">
          <button class="btn tablinks" id="quizType_[[ types.value ]]" ng-click="filterData(types.value,page)" ng-repeat="types in publishTypes">[[ types.name ]]</button>
        </div>
        <div id="PublishedQuizzesTab" class="tabcontent">
          <ul class="listing-line">
            <li ng-repeat="worksheet in allWorksheetContent track by $index">
              <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-5">
                  <div class="media">
                    <div class="pull-left">                      
                      <a href="#" ng-if="worksheet.worksheet.thumbnail_web == null ">
                        <img class="quiz_banner" src="resources/assets/images/ignite/worksheet.png" alt="...">
                      </a>
                      <a ng-if="worksheet.worksheet.thumbnail_web != null ">
                        <img class="quiz_banner" src="https://cdn.sixclouds.net/assets/worksheet_thumbnails/thumbnail_web/[[worksheet.worksheet.thumbnail_web]]" alt="..."> 
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">
                        <a class="anchor_decoration_none" href="manage/ignite/worksheet-info/[[worksheet.worksheet.slug]]">[[worksheet.worksheet.title]]</a>
                      </h4>                       
                      [[ worksheet.worksheet.description]]
                    </div>
                  </div>
                </div>
                <div class="col-xs-8 col-md-9 col-lg-5 fullWidth640">
                  <ul class="info-list">
                    <li><i class="fa fa-list-alt" aria-hidden="true"></i> [[ worksheet.worksheet.category.category_name]]</li>
                    <li><i class="fa fa-shopping-cart" aria-hidden="true"></i> [[ worksheet.worksheet.worksheet_status==1?'Paid':'Free']]</li>
                    <!-- <li ng-if="worksheet.file_name" ng-click="downloadWorksheetfile(worksheet.file_name)" ><i class="fa fa-download" aria-hidden="true"></i> Download File</li> -->
                    <li><a class="download-btn student_id_proof" href="public/uploads/worksheet_files/[[worksheet.worksheet.file_name]]" target="_blank" download="[[worksheet.worksheet.original_file_name]]">
                      <i class="fa fa-download" aria-hidden="true"></i> Download File
                    </a></li>
                  </ul>
                </div>
                <div class="col-xs-4 col-md-3 col-lg-2 fullWidth640 text-right">
                  <a ng-if="worksheet.worksheet.status!=1" class="btn btn-pink" href="manage/ignite/edit-worksheet/[[ worksheet.worksheet.slug]]">
                    <i class="fa fa-edit lg-icon" aria-hidden="true"></i> Edit</a>
                  <a ng-if="worksheet.worksheet.status==1" class="btn btn-pink" href="manage/ignite/worksheet-info/[[ worksheet.worksheet.slug]]">
                    <i class="fa fa-info-circle lg-icon" aria-hidden="true"></i> View Info</a>
                </div>
              </div>
            </li>
          </ul>
          <default-pagination currentpage="currentWorksheetPaging" like="GetAllWorkSheetData(getWorksheets,page)" paginate="paginate" range="rangeWorksheetpage">
          </default-pagination>
        </div>
      </div>
    </div>
  </div>
</section>