<div class="main after-signup">
    <div class="box-bottom">
    </div>
    <div class="user-signup">
        <div class="bg-box">
            <div class="box-left">
                <div class="addbox">
                </div>
            </div>
            <div class="dots pull-right">
                <img src="resources/assets/images/dots.png">
                </img>
            </div>
            <div class="box-right">
            </div>
        </div>
    </div>
    <div class="user-content">
        <div class="container">
            <div class="text-center margin-tp40 main-title">
                <h2 class="title text-black">
                    [['lbl_eng_tra_annu_plan'|translate]]
                </h2>
                <span>
                    [['lbl_select_plan'|translate]]
                </span>
            </div>
            <div class="sub-header text-black">
                [['lbl_annu_sub_plan'|translate]]
            </div>
            <div class="progaram-section">
                <div class="box-list select-plan">
                    <div class="box">
                        <div class="sub-header">
                            BASIC
                        </div>
                        <div class="box-content">
                            <p>
                                An all round access to the entire catalog of videos from the training program.
                            </p>
                            <p>
                                Email support for all your technical queries.
                            </p>
                        </div>
                        <div class="margin-bt20 box-btn">
                            <p class="text-black margin-bt25">
                                ¥ 100 per year
                            </p>
                            <a class="btn">
                                <i class="sci-Submit">
                                </i>
                                [['lbl_select'|translate]]
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="sub-header">
                            PREMIUM
                        </div>
                        <div class="box-content">
                            <p>
                                An all round access to the entire catalog of videos from the training program.
                            </p>
                            <p>
                                Access to participate in the expert webinars.
                            </p>
                            <p>
                                Email support for all your technical queries.
                            </p>
                        </div>
                        <div class="margin-bt20 box-btn">
                            <p class="text-black margin-bt25">
                                ¥ 200 per year
                            </p>
                            <a class="btn">
                                <i class="sci-Submit">
                                </i>
                                [['lbl_select'|translate]]
                            </a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="sub-header">
                            ADVANCED
                        </div>
                        <div class="box-content">
                            <p>
                                An all round access to the entire catalog of videos from the training program.
                            </p>
                            <p>
                                Access to participate in the expert webinars.
                            </p>
                            <p>
                                Accessto one-on-one councelling sessions.
                            </p>
                            <p>
                                Email support for all your technical queries.
                            </p>
                        </div>
                        <div class="margin-bt20 box-btn">
                            <p class="text-black margin-bt25">
                                ¥ 200 per year
                            </p>
                            <a class="btn">
                                <i class="sci-Submit">
                                </i>
                                [['lbl_select'|translate]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="training margin-bt30">
                <div class="box">
                    <div class="sub-header">
                        [['lbl_elt'|translate]]
                    </div>
                    <form class="css-form" name="signupform" novalidate="">
                        <div class="margin-bt20">
                            <label class="control-label label-large">
                                [['lbl_you_regi_as'|translate]]:
                            </label>
                            <div class="margin-tp20 form-group label-large">
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                        [['lbl_a_parent'|translate]]
                                    </input>
                                </label>
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                        [['lbl_a_parent'|translate]]
                                    </input>
                                </label>
                            </div>
                        </div>
                        <div class="form typing-effect">
                            <label class="control-label label-large">
                                [['lbl_provide_kid_detail'|translate]]:
                            </label>
                            <div class="margin-tp20">
                                <div class="form-group input-label">
                                    <input class="form-control" name="first_name" ng-model="user.fname" required="" type="text">
                                        <span>
                                            [['lbl_fnm'|translate]]
                                        </span>
                                    </input>
                                </div>
                                <div ng-show="signupform.$submitted || signupform.first_name.$touched">
                                    <div ng-show="signupform.first_name.$error.required">
                                        Tell us your name.
                                    </div>
                                </div>
                                <div class="form-group input-label">
                                    <input class="form-control" name="" type="">
                                        <span>
                                            [['lbl_lnm'|translate]]
                                        </span>
                                    </input>
                                </div>
                                <div class="form-group input-label">
                                    <input class="form-control" name="uEmail" type="">
                                        <span>
                                            [['lbl_email_address'|translate]]
                                        </span>
                                    </input>
                                </div>
                                <!--                                <div ng-show="form.$submitted || form.uEmail.$touched">
                                                                    <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                                                                    <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                                                                </div>-->
                                <div class="form-group input-label">
                                    <div class="input-group date" data-provide="datepicker">
                                        <input class="form-control input-label single-datepicker" type="text">
                                            <div class="input-group-addon">
                                                <i class="sci-Dete-of-Birth">
                                                </i>
                                            </div>
                                        </input>
                                    </div>
                                </div>
                                <div class="form-group input-label">
                                    <input class="form-control" name="" type="">
                                        <span>
                                            [['lbl_school_name'|translate]]
                                        </span>
                                    </input>
                                </div>
                                <div class="form-group input-label">
                                    <input class="form-control" name="" type="">
                                        <span>
                                            [['lbl_eng_proficiency'|translate]]
                                        </span>
                                    </input>
                                </div>
                                <div class="label-large view-pricing">
                                    <label class="control-label">
                                        [['lbl_regi_now_freebie'|translate]]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="payment-details margin-bt30">
                <div class="box">
                    <div class="sub-header">
                        [['lbl_payment_details'|translate]]
                    </div>
                    <form>
                        <div class="margin-bt20 label-large">
                            <label class="control-label ">
                                [['lbl_payment_options'|translate]]:
                            </label>
                            <div class="margin-tp20 form-group">
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                    [['lbl_credit_card'|translate]]
                                    </input>
                                </label>
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                        [['lbl_debit_card'|translate]]
                                    </input>
                                </label>
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                        [['lbl_pay_via_wechat'|translate]]
                                    </input>
                                </label>
                                <label class="radio-inline radio-button">
                                    <input name="optradio" type="radio" value="0">
                                        <div class="radio-checked">
                                        </div>
                                        [['lbl_pay_via_alipay'|translate]]
                                    </input>
                                </label>
                            </div>
                        </div>
                        <div class="user-payment">
                            <div class="row">
                                <div class="col-md-6 border-right">
                                    <label class="control-label label-large">
                                       [['lbl_payment_details'|translate]]:
                                    </label>
                                    <div class="box-details ">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-sm-4">
                                                    [['lbl_card_number'|translate]]:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" name="" placeholder="000 000 000 000 " type="">
                                                    </input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-sm-4">
                                                    [['lbl_name_on_card'|translate]]:
                                                </label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" name="" type="">
                                                    </input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-3 cals col-xs-6">
                                                    <label class="control-label ">
                                                        [['lbl_expiry'|translate]]:
                                                    </label>
                                                    <span>
                                                        <span class="select-dropdown">
                                                            <select class="form-control">
                                                                <option selected="" value="volvo">
                                                                    MM
                                                                </option>
                                                                <option value="">
                                                                    01
                                                                </option>
                                                                <option value="">
                                                                    02
                                                                </option>
                                                                <option value="">
                                                                    03
                                                                </option>
                                                                <option value="">
                                                                    04
                                                                </option>
                                                                <option value="">
                                                                    05
                                                                </option>
                                                                <option value="">
                                                                    06
                                                                </option>
                                                                <option value="">
                                                                    07
                                                                </option>
                                                                <option value="">
                                                                    08
                                                                </option>
                                                                <option value="">
                                                                    09
                                                                </option>
                                                                <option value="">
                                                                    10
                                                                </option>
                                                                <option value="">
                                                                    11
                                                                </option>
                                                                <option value="">
                                                                    12
                                                                </option>
                                                            </select>
                                                            <span class="caret">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4 cals col-xs-6">
                                                    <label class="control-label " style="opacity: 0">
                                                        [['lbl_expiry'|translate]]:
                                                    </label>
                                                    <span>
                                                        <span class="select-dropdown">
                                                            <select class="form-control">
                                                                <option selected="" value="">
                                                                    YYYY
                                                                </option>
                                                                <option value="">
                                                                    12
                                                                </option>
                                                                <option value="">
                                                                    13
                                                                </option>
                                                                <option value="">
                                                                    14
                                                                </option>
                                                                <option value="">
                                                                    15
                                                                </option>
                                                                <option value="">
                                                                    16
                                                                </option>
                                                                <option value="">
                                                                    17
                                                                </option>
                                                                <option value="">
                                                                    18
                                                                </option>
                                                                <option value="">
                                                                    19
                                                                </option>
                                                                <option value="">
                                                                    20
                                                                </option>
                                                            </select>
                                                            <span class="caret">
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-sm-5 col-xs-12">
                                                    <label class="control-label ">
                                                        [['lbl_cvv'|translate]]:
                                                    </label>
                                                    <input class="form-control" name="" type="">
                                                    </input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="border">
                                        <div class="pd-20 total-payment">
                                            <div class="label-large">
                                                [['lbl_total_payment'|translate]]:
                                            </div>
                                            <div class="">
                                                <span>
                                                    Yearly subscription of English Learning Training
                                                </span>
                                                <span class="pull-right">
                                                    ¥ 100
                                                </span>
                                            </div>
                                            <div class="">
                                                <span>
                                                    Your Credit Balance
                                                </span>
                                                <span class="pull-right">
                                                    - ¥ 50
                                                </span>
                                            </div>
                                        </div>
                                        <div class="border-tp total">
                                            <span class="label-large">
                                                [['lbl_total_amount'|translate]]
                                            </span>
                                            <span class="pull-right">
                                                ¥ 50
                                            </span>
                                        </div>
                                    </div>
                                    <div class="">
                                        <span>
                                            <a class="btn">
                                                <i class="sci-Submit">
                                                </i>
                                               [['lbl_pay_and_submit'|translate]]
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>