<section class="banner pd-zero">
    <div class="container">
        <div class="team-img">
            <img src="resources/assets/images/team.png">
        </div>
        <div class="img-bg">
            <img src="resources/assets/images/img-bg.png">
        </div>
        <div class="student">
            <img src="resources/assets/images/student.png">
        </div>
    </div>
    <div class="strip">
        <div class="container">
            <span>[['lbl_etlv'|translate]]</span>
        </div>
    </div>
</section>
<section class="progaram-section">
    <div class="container">
        <div class="progaram">
            <h2 class="title">[['lbl_sixcloud_reward_program'|translate]]</h2>
            <div class="box-list">
                <div class="box">
                    <div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
                    <div class="text">INVITE</div>
                    <p>your friends & family and get a Referral when they join</p>
                </div>
                <div class="box">
                    <div class="icon"><span class="sci-earn"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
                    <div class="text">EARN </div>
                    <p>credits when a friend you referred signs up for the first time</p>
                </div>
                <div class="box">
                    <div class="icon"><span class="sci-connection"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span></div>
                    <div class="text">REDEEM</div>
                    <p>your earned credits while buying subscription plans, to get your document proof read or to post a job in Sixteen</p>
                </div>
            </div>
            <div class="program-label">
                <h2 class="margin-bt0">[['lbl_video_lot_more'|translate]]</h2>
                <span>[['lbl_help_your_el'|translate]]</span>
            </div>
        </div>
    </div>
</section>
<section class="bg-red video">
    <div class="container">
        <div class="dec-students">
            <div class="img">
                <div class="img-box">
                    <img src="resources/assets/images/students-video.jpg">
                    <span>
                        <i class="sci-play-circle"></i>
                    </span>
                </div>
            </div>
            <div class="description text-white">
                <h2 class="title margin-bt10">[['lbl_sixcloud_reward_program'|translate]]</h2>
                <p class="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
</section>
<section class="course-contents">
    <div class="container">
        <div class="course-title text-center">
            <h2 class="title margin-bt10">[['lbl_course_contents'|translate]]</h2>
            <span>The videos are categorized into 7 sections as follows:</span>
        </div>
        <div class="content-list margin-tp40">
            <ul class="list-unstyled panel-group accordion" id="accordion1">
                <li class="panel">
                    <div class="box-list accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-target="#content-details" data-parent="#accordion1">
                        <a href="" class="box section">
                            SECTION #[[section.id]]
                        </a>
                        <a href="" class="box name text-black">
                            [[section.category_name]]
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> [[section.total_video_count]] VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> [[section.total_video_duration]]
                                </span>
                            </div>
                        </a>
                    </div>
                    <div id="content-details" class="panel-collapse collapse">
                        <div class="divider"></div>
                        <p>[[section.description]]</p>
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered">
                                <tbody>
                                    <tr class="border-g" ng-repeat="video in section.videos">
                                        <td width="10%" class="text-center">
                                            [[video.id]]
                                        </td>
                                        <td width="35%">
                                            [[video.title]]
                                        </td>
                                        <td width="20%">
                                            <a href="elt-video/[[video.slug]]"><i class="sci-video-player"></i> Watch Video</a>
                                        </td>
                                        <td width="15%">
                                            <i class="sci-time"></i> [[video.video_duration]]
                                        </td>
                                        <td class="15%">
                                            <i class="sci-music-folder"></i>[[video.video_size]]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-target="#content-details1" data-parent="#accordion1">
                        <a href="" class="box section">
                            SECTION #2
                        </a>
                        <a href="" class="box name text-black">
                            PARTS OF SPEECH
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 7 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:36:00
                                </span>
                            </div>
                        </a>
                    </div>
                    <div id="content-details1" class="panel-collapse collapse">
                        <div class="divider"></div>
                        <p>In this section, we'll be covering the basic parts of speech that constitute the basis of English Grammar. Using these parts of speech, you'd be able to frame your sentences and begin using the language. Parts of speech, as the name suggests, are the backbone of the English language. There are 7 parts of speech in the English Language and each one of them serves a definite purpose. </p>
                        <table width="100%" class="table table-striped table-bordered">
                            <tbody>
                                <tr class="border-g">
                                    <td width="10%" class="text-center">
                                        1
                                    </td>
                                    <td width="55%">
                                        Nouns
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-g">
                                    <td width="10%" class="text-center">
                                        2
                                    </td>
                                    <td width="55%">
                                        Adjectives
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        3
                                    </td>
                                    <td width="55%">
                                        Verbs
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        4
                                    </td>
                                    <td width="55%">
                                        Adverbs
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        5
                                    </td>
                                    <td width="55%">
                                        Pronouns
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        6
                                    </td>
                                    <td width="55%">
                                        Conjunctions
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                                <tr class="border-r">
                                    <td width="10%" class="text-center">
                                        7
                                    </td>
                                    <td width="55%">
                                        Prepositions
                                    </td>
                                    <td width="15%">
                                        <i class="sci-video-player"></i> Watch Video
                                    </td>
                                    <td width="10%">
                                        <i class="sci-time"></i> 05:50
                                    </td>
                                    <td class="10%">
                                        <i class="sci-music-folder"></i> 34 MBs
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #3
                        </a>
                        <a href="" class="box name text-black">
                            FIGURES OF SPEECH
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 27 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 2:36:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #4
                        </a>
                        <a href="" class="box name text-black">
                            ENGLISH COMPOSITION & VOCABULARY
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 19 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:43:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #5
                        </a>
                        <a href="" class="box name text-black">
                            IDIOMS & PHRASES
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 35 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 5:14:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #6
                        </a>
                        <a href="" class="box name text-black">
                            CLAUSES & SENTENCE STRUCTURING
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 19 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 1:42:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="panel">
                    <div class="box-list">
                        <a href="" class="box section">
                            SECTION #7
                        </a>
                        <a href="" class="box name text-black">
                            INFLUENCE OF FOREIGN LANGUAGES
                        </a>
                        <a href="" class="box video-time text-black">
                            <div class="box-list">
                                <span class="box left">
                                    <i class="sci-video-player"></i> 35 VIDEOS
                                </span>
                                <span class="box right">
                                    <i class="sci-time"></i> 5:14:00
                                </span>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="subscribe">
    <div class="container">
        <div class="text-center">
            <div class="left-side">
                <div class="sub-header">
                    SUBSCRIBE NOW! YEARLY PLANS START FROM RMB100
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been there.</p>
                <div class="margin-tp40 text-center">
                    <a href="#" class="btn"><i class="sci-view"></i>[['lbl_view_plans'|translate]]</a>
                    <span class="text-red"> OR </span>
                    <a href="#" class="btn"><i class="sci-subscribe-now"></i>[['lbl_subscribe_now'|translate]]</a>
                </div>
            </div>
        </div>
    </div>
</section>