<section class="">
    <div class="flowup-labels-form sign-up-form " style="margin: 59px auto !important;">
        <form class="FlowupLabels" enctype="multipart/form-data" id="videoUploadform" method="post" name="videoUploadform">
           <!--  <div class="form-group">
                <div class="fl_wrap active" style="height:auto">
                    <label class="fl_label" for="id_proof">
                        Upload video
                    </label>
                    <div class="input-file-container">
                        <input class="" id="video_upload" name="video_upload3" type="file">
                        </input>
                        <label class="fl_label" for="id_proof">
                            Video Title
                        </label>
                        <input type="text" class=""  name="video_title" value="">
                        <button class="signup_btn btn btn-purple submit-btn uppercase mts-btn" ng-click="submitForm()">
                            Submit
                        </button>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="fl_wrap">
                      <label class="" for="rf_Province">Upload video</label>
                      <input class="form-control" id="video_upload" name="video_upload3" type="file"></input>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="fl_wrap">
                        <label class="" for="rf_Province">Video Title</label>
                        <input type="text" class="form-control"  name="video_title" value="">
                    </div>
                    </div>
                </div>
            </div>
            <div class="form-bottom-btn" style="margin: 11px 0 !important;">
              <div class="row">
                  <div class="col-sm-12">
                    <button class="signup_btn btn btn-purple submit-btn uppercase mts-btn" ng-click="submitForm()"> Submit</button>
                  </div>
              </div>
            </div>
        </form>
    </div>
</section>

